[2019-09-25 23:11] adrianknight89 commented on #1015
@dlemstra I'm having another issue with colors. I call

`DrawText(this IImageProcessingContext source, TextGraphicsOptions options, string text, Font font, Color color, PointF location);`

extension method to draw a white letter. This used to work, but when I updated my packages, the letter is no longer drawn in white. It looks pink. I used to pass `Rgba32.White`. I changed it to `Color.White`, an

[2019-09-26 00:02] antonfirsov commented on #1015
@adrianknight89 can you do us a favor and open a new issue for this, having the template filled + providing a minimalistoc repro?

[2019-09-28 03:08] adrianknight89 commented on #1015
@antonfirsov I tried to reproduce this issue outside of my application without luck. If I can reproduce it, I'll open a ticket. Thanks.

[2019-09-29 14:10] supcry commented on #996
I have exactly the same problem but in another environment.

GNU/Linux, 32GB RAM, .Net Core v3.0.

[2019-09-29 14:20] supcry commented on #996
#805

[2019-09-29 17:21] antonfirsov commented on #996
It's a duplicate issue indeed, therefore it will be closed so we can keep our issue set clean. But first, a question!
@piranha771 @supcry it would be a very useful information for us if you could tell a bit more about your use-cases. What problem does your app/code try to solve? Is it desktop or server? Thanks!

[2019-09-29 19:08] supcry commented on #996
I have big continuous pictures in jpeg-format from customer with typical sizes 500-1000 MB and dimensions 30000x60000px. My task is to process them (read jpeg, random read pixels, resize, etc) for machine learning. Yes, I can split them manually in blocks by GIMP and then process through pipe of batches, but it would be great to do this through .net-code.

I've tried work with such big pictures th

[2019-09-29 19:20] dlemstra commented on #996
Have you tried Magick.NET? That library will swap to disk when necessary and should work in your situation.

[2019-09-29 20:08] supcry commented on #996
It works! Thanks!

[2019-09-30 14:56] Sheyne opened #1016 "PNG Gray16 Decode(Encode(x)) not an identity"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2019-09-30 23:18] JimBobSquarePants commented on #1016
You’re encoding the png as `Rgba32`. If you use the encoding options to set the correct pixel format you will get the correct result

[2019-09-30 23:19] JimBobSquarePants commented on #1016
Ps. Thanks for filling in the issue template. It makes triaging issues much easier and we really appreciate it! :+1:

[2019-10-01 09:14] Sheyne commented on #1016
This fixes my issue. Thanks for the quick response!

Does it make sense to use reflection on the type parameter to detect the expected encoding type? That might make the API more discoverable to a new user of the API like myself. It could be made efficient by caching the various type parameters we expect receive.

[2019-10-01 10:49] antonfirsov commented on #1016
@JimBobSquarePants ignoring the implementation difficulties, and purely from usability POV:
Shouldn't we set the default values of `PngEncoder.ColorType` and `PngEncoder.BitDepth` based on the pixel type of the encoded `Image` instance?

[2019-10-01 11:41] JimBobSquarePants commented on #1016
@Sheyne I wouldn't use reflection to do that no, a simple switch probably works over the type of `TPixel`.

@antonfirsov That's actually easier than you think. Since the two properties are nullable we can simply switch through the `TPixel` type in the encoder and if it's `Rgba32` compatible make an educated guess.

[2019-10-02 14:51] kleisauke commented on #996
@supcry Alternatively, you can try [NetVips](https://github.com/kleisauke/net-vips), the C# binding for [libvips](https://libvips.github.io/libvips/). This is a streaming image processing library, so rather than manipulating huge objects in memory, it builds pipelines and then runs them in parallel, streaming images in a series of small regions.

It has an `fetch` feature that is useful for machin

[2019-10-03 09:46] WrongBit commented on #807
Well... any progress, guys?
I also have similar task: grayscale image I want to save as JPEG/8-bit depth.
Maybe somebody already implement it? I feel it's not so hard task.

[2019-10-03 09:53] JimBobSquarePants commented on #807
PRs are welcome!

[2019-10-03 15:48] antonfirsov commented on #807
Yeah, core team handles this with priority, but community PR-s are welcome.

The feature request is tracked under #808. All discussions should happen under that issue, please don't reply here.

[2019-10-04 04:59] JimBobSquarePants commented on #996
Let's please focus on removing constraints within this library.

[2019-10-04 08:02] antonfirsov commented on #994
Thanks for the fix!

[2019-10-04 08:02] #994 closed

[2019-10-04 23:18] JimBobSquarePants commented on #1014
Fixed by the amazing @brianpopow !

[2019-10-04 23:18] #1014 closed

[2019-10-05 00:37] zappyzhao commented on #1015
Also making a PR for updating in System.Drawing.Common: https://github.com/dotnet/corefx/pull/41561

[2019-10-06 08:19] toolgood opened #1022 "Can ImageSharp support netstandard2.1 and .net core 3.0?"
Can ImageSharp support netstandard2.1 and .net core 3.0?

[2019-10-08 10:51] JimBobSquarePants commented on #1022
It doesn't specifically target those frameworks (yet) but supports anything from netstandard 1.3 upwards.

[2019-10-08 10:51] #1022 closed

[2019-10-09 06:12] #1015 closed

[2019-10-09 16:01] marcopoloIR opened #1023 "difference in dev mode and release mode"
i use sixlabors in my web application.
in local and dev mode, everything is ok,
but when publish, i get this erros:

**Could not load file or assembly 'SixLabors.ImageSharp.Drawing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'. Format of the executable (.exe) or library (.dll) is invalid.**

[2019-10-09 21:20] JimBobSquarePants commented on #1023
Please fill in the provided issue template

[2019-10-11 09:40] JimBobSquarePants opened #1024 "Licensing Community Discussion"
This issue exists for the community to discuss planned licensing changes in the ImageSharp Release Candidate.

For reference here is the statement we published back in [January 2019](https://sixlabors.com/blog/beta-six-labors/#licensing-plans).

**This has not changed and we intend to continue with our plans, however we want to clarify what this means to existing OSS projects that have already tak

[2019-10-11 18:00] brianpopow commented on #629
I would like to add support for TGA. Seems pretty similar to bitmap. I already have a branch where decoding for most of the TGA variations works with imagesharp. It just needs some refinement and unittests.

[2019-10-12 07:46] sandorfr commented on #1024
I think you could add a bit more background as to why you move away from Apache to switch to a  agpl+commercial model.

Looking at open collective I can see that it’s unfortunately not generating any significant revenues. Generally speaking, Apache/MIT basically means you work for free and people expect free support on top of that.

So I imagine it all stems from that. I’d be curious to hear more

[2019-10-12 10:22] x2bool commented on #1024
But can you legally do this?

In my understanding there were 84 developers that contributed their code under Apache 2.0 into this repository. IANAL but don't you have to ask all 84 devs to relicense their code under AGPL?

[2019-10-12 10:39] JimBobSquarePants commented on #1024
@sandorfr It's a mixture of different things but the tl;dr version is that we are passionate about these libraries and we want to be able to work on them full-time to provide the best solution we can to the developer community. We cannot do this without continuous, reliable, funding though, and, as you've seen, alternative approaches (donations, attempting to secure corporate sponsorship) we have

[2019-10-12 13:54] GeraudFabien commented on #1024
Can't you also make service to monetize? Like prioritize a merge request &/ issue buy paying. This way you can keep a permissive license, gain money and allow enterprise to have a real way to fix there costly issue without a more costly fork.
There is so much project on github that are used a lot but who die because no one want to pay. Open source become a cimetary where project start, people inve

[2019-10-12 15:44] Sergio0694 commented on #1024
I have a question about future contributions to the projects: don't you guys worry that having to pay for a license could drive away contributors? I'll use my case as an example (see note above): I've worked on a PR for a few months that took a lot of work, and resulted in a brand new feature (the bokeh blur effect) being added to the library. Now, since I'm using the library in one of my paid app

[2019-10-12 16:28] Ryder25 commented on #1024
If I have a library that's licensed under MIT and references ImageSharp, does that mean closed source projects could no longer freely use my library unless they pay for ImageSharp?

[2019-10-12 18:38] daveaglick commented on #1024
This plan seems more than fair. Between the permissive compatibility you’re planning to add to the AGPLv3 terms and the amnesty to allow continued use of Apache 2.0, there’s clearly an effort to reduce the impact on open source consumers.

I do have some general thoughts...

One of the things I’ve been learning recently is that many developers have a _very strong opinion_ of exactly what “open sou

[2019-10-12 21:13] antonfirsov commented on #1024
@Ryder25 my understanding:
If your library already exists and references ImageSharp, you are a subject of the Apache 2.0 exception. => The users of your library can reference ImageSharp for free (since it's being licensed under Apache in your project).

@JimBobSquarePants looks like a back door wide open.

[2019-10-12 21:24] antonfirsov commented on #1024
@daveaglick thanks a lot for the valuable feedback!

Pragmatic approach, personally, I agree 100%. Helps avoiding useless debate and focus on the topic. (Although I also _"think it should apply 🤐"_)

Can you refer to a direct (less direct) statement on this? All information I was able to find on DNF website seems useless to clarify this question.

[2019-10-12 21:39] Ryder25 commented on #1024
@antonfirsov Thanks for the reply. I understand the exception. I'm wondering about the case for new FOSS libraries.

[2019-10-12 21:40] antonfirsov commented on #1024
@Sergio0694 I totally see your points, and personally, I would consider donating free licenses to indie contributors. But nothing is simple in this licensing topic. I guess it may have side effects.

Also: In some cases, an external contribution may result in [intensive maintainer effort](https://github.com/libjpeg-turbo/libjpeg-turbo/issues/199#issuecomment-404602229).

[2019-10-12 22:20] antonfirsov commented on #1024
@Ryder25 sorry, it wasn't clear for me from your question!

It's a much harder topic (at least for me). I think if we will apply the same [exception clause](https://github.com/ServiceStack/ServiceStack/blob/master/license.txt#L32) as ServiceStack, you won't be allowed to utilize ImageSharp from a new FOSS lib. I wonder if there are any alternatives to formulate that clause [considering it's purpos

[2019-10-13 01:21] kmgallahan commented on #1024
My only comment for now is that it has been ~9 months since the licensing announcement and the only pricing information available is still:

- "cheap licenses for indie developers"
- "cheap, almost painfully so"
- "less than most people would spend on coffee per year" ~Reddit ($0 for me, $5 x 5 days x 52 weeks = $1,300 / year for some)

"Indie developers" and those using (or thinking about using)

[2019-10-13 04:05] JimBobSquarePants commented on #1024
@Ryder25 @antonfirsov

I think I should clarify here. **GPL licenses are [FOSS](https://en.wikibooks.org/wiki/FOSS_A_General_Introduction/Intellectual_Property_Rights_and_Licensing)**.

In answer to your question. If you are developing a new FOSS library or SDK you must use either [AGPL or GPLv3](https://www.gnu.org/licenses/license-list.en.html#GPLCompatibleLicenses).

From the GNU documentation

[2019-10-13 04:28] sandorfr commented on #1024
I don’t think commercial project belong in dotnet foundation just because they offer a AGPL (which has basically no use beyond academic and maybe research). I don’t think it aligns with the rest of the project including .net core. It would be misleading. This is just an opinion ofc.

Given the additional details I completely understand/support the move otherwise. Especially given your pricing mode

[2019-10-13 04:41] jongalloway commented on #1024
@JimBobSquarePants I'm going to need to find out how to go about this from the .NET Foundation side. I'll need to start by asking the legal counsel, then possibly the board would need to vote on it. The copyright is held by the .NET Foundation, and contributions since joining have been under the .NET Foundation CLA , so the foundation definitely needs to be involved in the change to the license. I

[2019-10-13 06:09] tthiery commented on #1024
In our company we investigate product dependency trees with regards to their licenses. If we see a permissive licensed library X depending on an AGPL licensed library Y, the library X is immediately removed. Why? No company loves AGPL with an exception which is not court proved. And we engineers all know how commercial licensing works: we ask for it and management does not want to deal with the ve

[2019-10-13 06:58] JimBobSquarePants commented on #1024
@sandorfr

I'm sure if that was a possibility Microsoft would have already approached the team.

@jongalloway

That's not actually true. We chose to contribute the project source code under an open source license not assign copyright to the .NET Foundation.

![image](https://user-images.githubusercontent.com/385879/66712030-6dada880-ede2-11e9-9c6f-f7df98389e40.png)

@tthiery

I'd love to see your

[2019-10-13 07:54] antonfirsov commented on #1024
@JimBobSquarePants I should have been used the term "permissive FOSS" to avoid these semantic questions. @daveaglick has a good point:

I think using the community-s Lest Common Denominator in our communication would be beneficial for us, and help focusing on the topic.

*My **personal** opinion/story:*
As an OSS consumer working for large bureaucratic corporates, I deeply empathize with @tthiery,

[2019-10-13 08:38] samsosa commented on #1024
Now that CoreCLR 3.0 has been released there is a new competitor: System.Drawing!
Sure, that's no comparison to your great image processing library called ImageSharp.

... but so far CoreCLR 2.x didn't provide a real way to handle image data. Now it
is (again) possible to perform simple image processing with the standard tools of
the .NET/CoreCLR 3.x framework. I'm pretty sure that as soon as Imag

[2019-10-13 10:38] JimBobSquarePants commented on #1024
Sure, that's no comparison to your great image processing library called ImageSharp.

Thanks for your support @samsosa I appreciate that but I'd like to clarify the facts around System.Drawing. It has actually has been available since .NET Core 2.0

https://www.nuget.org/packages/System.Drawing.Common/

It still, however, comes with a [warning](https://docs.microsoft.com/en-us/dotnet/api/system.dr

[2019-10-13 15:36] jkulubya commented on #1024
Hi
I agree with all the comments above about how great your work is, and don’t really have an issue with the licensing specifically - it’s your work, and you get to choose what to do with it.

I just wanna make a point on the pricing. There are places in the world where $99 is a princely sum. And even when it’s an easily achievable amount of money, one might struggle to pay it due to no access to

[2019-10-13 18:18] samsosa commented on #1024
That's right, I was wrong. It was the change from .NET Framework to CoreCLR 1.x where there was no suitable library for image editing. Since this change from System.Drawing to ImageSharp (the transition vom .NET Framework to Core) there have been no major important changes. The change from CoreCLR 1.x to CoreCLR 2.x was just a setting in the compiler options. However, CoreCLR 3.x brings some impro

[2019-10-13 18:36] tthiery commented on #1024
Regards the library transitive license situation and AGPL: you will not see any evidence.  For that the library is too popular and without choice.

Companies are unreasonable afraid of GPL and even worse the AGPL. Only few understand them well. Take the sample of the .NET Core members discussing LGPL vs MIT with signs indicating that they just understood LGPL (no disrespect, licensing is hard).

I

[2019-10-14 07:02] castholm commented on #1024
@JimBobSquarePants Pardon my ignorance, but does the wording "end user applications" here mean that dependent libraries that are licensed under a permissive license (for example, [PdfSharpCore](https://github.com/ststeiger/PdfSharpCore)) will not be able to make use of this exception clause and must change their license to an AGPLv3-compatible one if they intend to continue to depend on later rele

[2019-10-14 10:27] JimBobSquarePants commented on #1024
@castholm Your first quote explains what this means for PDFSharpCore. They have taken ImageSharp as a dependency while it still has it's Apache 2.0 license. They will continue to use it (and future versions) under that license.

[2019-10-14 11:31] castholm commented on #1024
@JimBobSquarePants But if your statement that the exception clause would only apply to end-user applications carries the same implications as the ServiceStack license (linked earlier in the thread), projects such as PdfSharpCore would not be able to make use of it since they are libraries intended for use by software developers and not end-user applications.

I would appreciate some clarity on whe

[2019-10-14 11:36] x2bool commented on #1024
That exception does not make any sense to be honest. In theory someone could make a tiny Apache 2.0 library that references ImageSharp and continue using newer versions of this lib.

Also I have nothing against commercial software, but I hope .NET Foundation excludes projects like this from the foundation, because apparently people cannot rely on open source licenses anymore: you have to study whe

[2019-10-14 11:58] tthiery commented on #1024
Why not creating a new major version with a commercial/agpl license. Existing software can use the old major and new software can jump on the new major. That would avoid creating a commit based exception.

[2019-10-14 12:04] JimBobSquarePants commented on #1024
@castholm
I think you are getting yourself mixed up.

That is what I said in the [opening statement](https://github.com/SixLabors/ImageSharp/issues/1024#issue-505748462). If a library has taken ImageSharp as a dependency **before** the RC then ImageSharp will continue to be licensed to them under Apache 2.0.

@x2bool

The exception is part of the AGPLv3 license planned for the RC. **It has nothing

[2019-10-14 12:09] JimBobSquarePants commented on #967
I've started working on exposing the pixel blenders. The lack of method documentation is a chore though!

[2019-10-14 12:17] castholm commented on #1024
Then what is preventing a bad faith actor from (right at this very moment, since the project is still licensed under Apache 2.0) creating a permissively licensed library that is effectively a wrapper around ImageSharp with an identical API and continuing to keep it updated as ImageSharp moves beyond RC1?

Or as a less blatantly malicious example, say someone were to today create a library dependin

[2019-10-14 12:21] JimBobSquarePants commented on #1024
Nothing. That's why I said we are opening up ourselves to exploitation.

You did read my opening statement above?

[2019-10-14 13:00] castholm commented on #1024
Apologies if I come off as stubborn, but the reason I wanted you to clarify the exception clause is because what you wrote in [this reply](https://github.com/SixLabors/ImageSharp/issues/1024#issuecomment-541384193) about it only applying to end-user applications contradicts what was written in the opening statement.

As a related follow-up question, what will happen if a project that are subject o

[2019-10-14 13:06] Sergio0694 commented on #1024
To be honest, the "proxy library exploit" (the one mentioned by @x2bool) was the first thing I thought would happen at some point, after reading about @JimBobSquarePants' "trusting the community" idea. Which, don't get me wrong, is absolutely admirable, but it's also very risky.
And as expected, it didn't take long before someone described the same exploit in here, and I'd really not be surprised

[2019-10-14 13:36] JimBobSquarePants commented on #1024
Ok. I’m locking this discussion now as it’s becoming increasingly obvious that nothing productive is to be gained. I encourage certain individuals in this thread to read before they comment on future threads here and elsewhere.

[2019-10-14 14:11] antonfirsov commented on #967
Great news! I will be available for reviews in the next days.

[2019-10-14 22:03] devedse commented on #1014
Can confirm this is now fixed!
https://ci.appveyor.com/project/devedse/deveimageoptimizer/builds/28106287

[2019-10-15 09:15] odalet opened #1027 "PNG Encoder produces too huge images and different sizes in Linux and Windows"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2019-10-15 09:34] odalet commented on #1027
OK, at least, I now understand why compression levels 1 to 5 and 6 to 9 give the same results and I now suspect the issue is indeed inside .NET's implementation of `DeflateStream`:

https://github.com/SixLabors/ImageSharp/blob/master/src/ImageSharp/Formats/Png/Zlib/ZlibDeflateStream.cs#L94

By the way for levels 6 to 9, my repro app gives the same results as Linux when targeting net472 under Windo

[2019-10-16 11:47] JimBobSquarePants commented on #1027
@odalet Thanks for raising this and adding so much detail. 👍

I spoke to a member of the MS team last night and he said we should raise an issue against CoreFX. If you could do that and reference this issue hopefully we can figure out why the difference is so dramatic for the zlib instances and get them to provide a fix. Maybe we can convince them to expose the proper compression levels also!

[2019-10-16 12:05] #1023 closed

[2019-10-17 14:00] tomahawk1277 commented on #164
This bug still exists in 1.0.0-beta0007. The following code to Threshold an image works on Windows and Linux, but removing the commented line breaks (only) Linux with a "Parameter not valid" exception getting thrown on the final "return new Bitmap...":

[code]

[2019-10-17 20:13] JimBobSquarePants commented on #164
Why are you mixing ImageSharp and System.Drawing?

The bug is in your code not ours. You’re calling `stream.ToArray()` which is where any issues will occur before calling our `Load` method. Which is hugely wasteful btw.

[2019-10-17 20:49] tomahawk1277 commented on #164
Thanks for the reply, JimBob-- I am mixing the two types because System.Drawing is used elsewhere in my application (.Net Core 3, which natively supports it) but had to crossover into ImageSharp types to use its image filters. This was the way I found that worked, but may not be ideal.

You're correct about my not disposing of resources properly... the code posted was simply meant to show somethin

[2019-10-17 22:13] JimBobSquarePants commented on #164
No worries. You’d have to take up the position issue with Microsoft. Like I said before you’re passing us the array not the stream, whatever action has taken place that requires the position change happens before you use our APIs

Regarding interop. We have some code in our unit tests that could be refactored to convert between the two.

[2019-10-18 18:02] solenark commented on #605
Theres a native C# method from the Rectangle class that calculates the intersection between two rectangle areas (wich will be helpful to prevent cropping out of bounds) : https://docs.microsoft.com/pt-br/dotnet/api/system.drawing.rectangle.intersect?view=netframework-4.8

[2019-10-18 22:34] JimBobSquarePants commented on #605
@solenark Thanks yeah, we have our own equivalent.

https://github.com/SixLabors/Core/blob/9ad17874f6e1473c954422ada4d2c531782ec8d1/src/SixLabors.Core/Primitives/Rectangle.cs#L209

We're explicitly throwing here by choice rather than silently producing incorrect results.

[2019-10-18 23:41] Sheyne opened #1029 "Error reading image from TCP NetworkStream"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2019-10-19 02:40] benaadams commented on #1029
`Image.Load<Gray16>(stream)` is waiting for the end of the stream; however the stream never ends; because the client's stream remains open:

`var stream = client.GetStream();`

Can change it to
[code]
Or call
[code]

It works with MemoryStream as the MemoryStream as defined above has an end.

Aside: The memoryStream is too big as its set to the size of the array; not the size of what was read from

[2019-10-22 00:36] Sheyne commented on #1029
What if I want to transmit several images on the same stream? Is this possible?

[2019-10-22 01:01] benaadams commented on #1029
You'd likely want to specify a length at the start; read that then wrap the network stream in a new stream that forwards the read/readasync calls to the underlying stream, but only up to that maximum length and then returns -1. So it acts a smaller stream, then pass that to `.Load`; when it returns you can then read the next length etc.

[2019-10-22 09:24] JimBobSquarePants commented on #1029
Thanks for chipping in here @benaadams very much appreciated! 👍

I'll close this off now @Sheyne since we've been able to determine there isn't an issue with the library.

[2019-10-22 09:24] #1029 closed

[2019-10-22 13:10] antonfirsov commented on #164
@tomahawk1277 test code for wrapping an existing memory buffer as `Image<T>` without doing copies, could be found [here](https://github.com/SixLabors/ImageSharp/blob/master/tests/ImageSharp.Tests/Image/ImageTests.WrapMemory.cs#L111). This is a rather advanced use case though, you have to be familiar with the System.Memory library.
A bit simpler but still fast solution: pin the image data using [Lo

[2019-10-22 13:36] tomahawk1277 commented on #164
Thank you, @antonfirsov -- I will use one of these methods instead in order to speed things up. Better yet, I'll probably just convert everything over to ImageSharp from the very get-go and abandon System.Drawing in .NET Core 3 since I need ImageSharp for the image utilities.
Thanks again.

[2019-10-23 06:36] tomuxx commented on #793
I just ran into this myself with Azure Functions. Had to reset stream position back to 0 and it worked with both PNG and JPEG files.

[code]

Maybe reset passed stream to zero automatically inside Load() method?

[2019-10-23 06:37] JimBobSquarePants commented on #793
There’s already an overload that allows you to choose that behaviour. It’s not the default for good reason as we cannot predict the position of an image in a stream.

[2019-10-24 14:00] antonfirsov commented on #1002
I have two competing proposals for reorganizing our GitHub repositories. (Ignoring ImageSharp.Web, since it will be kept as-is.)

### A, 2 Repositories 2 NuGet packages

- SixLabors.ImageSharp
  - Fully internalizing SixLabors.Core
  - Excluding Drawing

- New repository SixLabors.ImageSharp.Drawing
  - Including SixLabors.Fonts, SixLabors.Shapes and Drawing
  - Continue current line of NuGet pack

[2019-10-24 14:24] JimBobSquarePants commented on #1002
I vote for A to keep maintenance costs down.

[2019-10-24 16:19] tocsoft commented on #1002
I feel SixLabors.Fonts should still be kept a separate repo there is definitely scope there to be a much more useful project standalone from the rest of the projects.

However I feel shapes and drawing should be merged into a single project/repo and just label it SixLabors.ImageSharp.Drawing.

We should inline core into imagesharp and just expose them so that drawing and shapes can depend on them

[2019-10-24 16:47] antonfirsov commented on #1002
@tocsoft your point is probably valid, since SixLabors.Fonts has [more downloads](https://www.nuget.org/packages/SixLabors.Fonts/1.0.0-beta0009) than [SixLabors.Shapes.Text](https://www.nuget.org/packages/SixLabors.Shapes.Text/1.0.0-beta0009) or [SixLabors.ImageSharp.Drawing](https://www.nuget.org/packages/SixLabors.ImageSharp.Drawing/1.0.0-beta0007). However, a "standalone" font library depending

[2019-10-24 17:04] tocsoft commented on #1002
Fonts doesn't have any dependencies on ImageSharp... there might possibly be currently a couple of dependencies on some of the point primitives but we can just switch them out to different classes or just Vector2 directly.

[2019-10-24 17:08] tocsoft commented on #1002
The internals of Fonts definitely have no dependencies on core anyway. Like i said we can just switch the public API to return Vector2.

However I am not opposed to retaining SixLabors.Core as a package inside the ImageSharp repo and versioned inline with the main ImageSharp package if it makes the public apis & interop between fonts and drawing/core cleaner.

[2019-10-24 17:11] antonfirsov commented on #1002
It also uses `RectangleF`, but I can't see anything more. So we can remove the dependency by defining a (not so nice) `FontRectangle` struct or similar.

Are font internals memory intensive, or not at all? (=> Is custom memory management a possible optimization enabler?)

[2019-10-24 17:17] tocsoft commented on #1002
Its been a while since I've been diving deeply into fonts internals but I doubt the memory manager would give us much benefit and in fact would probably end up complicating stuff making maintenance more difficult so I think memory management should probably just be left in ImageSharp and left out of core.

[2019-10-24 19:36] jvitkauskas opened #1037 "Infinite recursion in ShapeRegionTests"
It seems like FindIntersections method (the one with 4 parameters) never returns.

[2019-10-24 22:09] tocsoft commented on #1037
@jvitkauskas can you please fill in the issue template you and provide sample code for us to reproduce what you are seeing

[2019-10-24 22:10] #1037 closed

[2019-10-24 22:44] antonfirsov commented on #1002
Okkay, how about this (let's call it **option Z**):
- Keep Core as a separate repository, but move Memory Management back to ImageSharp
- Keep Fonts as is
- Merge Shapes into the new Drawing repository
  - Note: Shapes already depends on Memory Management, since shapes could be heavy (eg. a tessellated Glyph)
![image](https://user-images.githubusercontent.com/6835152/67530718-48f9e080-f6c0-11e9-93

[2019-10-24 22:59] JimBobSquarePants commented on #1002
Ok, I've had a dig around in the repositories and that plan makes sense. Fonts is not memory intensive and does not require memory management.

[2019-10-24 23:47] #373 closed

[2019-10-24 23:51] JimBobSquarePants commented on #805
if we can get this in the roadmap for V1 It would be really good. I'd hate to have to break the APIs in the future.

[2019-10-24 23:51] JimBobSquarePants commented on #996
Closing as a duplicate of #805

[2019-10-24 23:51] #996 closed

[2019-10-24 23:52] #1024 closed

[2019-10-24 23:58] antonfirsov commented on #805
I think we can make it. It would be much easier to experiment when #1002 is done.

[2019-10-25 00:00] JimBobSquarePants commented on #944
Since 2.0 is now out of support and  .NET Core 3.0 is released @brianpopow [confirmed ](https://github.com/SixLabors/ImageSharp/issues/944#issuecomment-518026615) the problem to be gone there I'm going to close this issue.

[2019-10-25 00:00] #944 closed

[2019-10-25 00:05] JimBobSquarePants commented on #621
I'm closing this since steps 1 and 2 have been completed.

[2019-10-25 00:05] #621 closed

[2019-10-25 05:24] dlemstra commented on #1002
Do we really need the Core package in option Z? And I do understand that it would make sense to have a separate Font package but I wonder if people would use it without the Drawing library. Having two libraries would simplify things.

[2019-10-25 05:30] JimBobSquarePants commented on #1002
It's there so Fonts can reuse the primitives.

[2019-10-25 05:48] dlemstra commented on #1002
Will need to take a good look at the code but a tiny bit of duplication might not be bad here.

[2019-10-25 06:55] tocsoft commented on #1002
I think I agree with Dirk lets just drop the Core package and duplicate the 1/2 small structs what we need for Fonts it will simplify the dependency tree.

[2019-10-25 07:02] JimBobSquarePants commented on #1002
Are there any public API crossover points? I’m thinking handling conversion between structs.

[2019-10-25 07:52] tocsoft commented on #1002
don't think so, not that can't be replaced by switching usages of `PointF` to `Vector2` which already has implicit conversion to `PointF`

[2019-10-25 09:47] antonfirsov commented on #1002
@dlemstra I also very curious about those independent use cases of SixLabors.Fonts. But based on NuGet stats, it's clear that we have such users.

[2019-10-25 10:10] dlemstra commented on #1002
@antonfirsov When you go to https://www.nuget.org/packages/SixLabors.Fonts/1.0.0-beta0009 there is a `GitHub Usage` block and that shows only 2 repos.

[2019-10-25 10:26] antonfirsov commented on #1002
@dlemstra those are only OSS consumers, and only top repositories are listed.

What I mean is that SixLabors.Fonts has [more downloads](https://www.nuget.org/packages/SixLabors.Fonts/1.0.0-beta0009) than [SixLabors.Shapes.Text](https://www.nuget.org/packages/SixLabors.Shapes.Text/1.0.0-beta0009) or [SixLabors.ImageSharp.Drawing](https://www.nuget.org/packages/SixLabors.ImageSharp.Drawing/1.0.0-bet

[2019-10-25 13:06] erikarenhill commented on #12
Any updates to this issue, what's left to do, in need of more help?

[2019-10-25 13:53] JimBobSquarePants commented on #757
@dmanning23 Finally managed to have a proper look at this. Roughly a 10x speedup in error diffusion coming soon.

[2019-10-25 13:56] JimBobSquarePants commented on #12
@IldarKhayrutdinov Over to you... 😄

[2019-10-25 14:04] IldarKhayrutdinov commented on #12
@erikarenhill @JimBobSquarePants At the moment, I have local changes and continue working, not fast, but I continue :slightly_smiling_face: If you wish, you can add support for example Jpeg (Technote 2), I think, our code will not be difficult to merge into one

[2019-10-25 14:15] equinox2k opened #1040 "Gradient with opacity not working..."
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2019-10-25 14:16] equinox2k commented on #1040
@jongleur1983

[2019-10-25 15:09] dmanning23 commented on #757
Awesome! Yeah I saw your tweet this morning, looks cool. I'll check out the changes soon.

[2019-10-25 17:09] antonfirsov commented on #757
Are we sure error diffusion is the only bottleneck here? (I will profile the encoding in the next few days.)

[2019-10-25 21:04] Sheyne commented on #1029
Thanks everyone

[2019-10-25 21:13] omariom commented on #1029
@Sheyne [Nerdbank.Streams](https://github.com/AArnott/Nerdbank.Streams/blob/master/doc/Substream.md) has what you need.

[2019-10-25 21:21] JimBobSquarePants commented on #757
It’s the difference between minutes and seconds so big enough for me to focus on.

[2019-10-26 13:31] JimBobSquarePants commented on #757
@dmanning23 Spoke too soon. Wasn't pushing the error to below pixels properly so pixels were getting skipped.

I've managed a minor speedup and halved the memory usage.

I don't think I can make it any faster as error diffusion is a cache mess as it touches offset and previous pixels per pixel and cannot be made parallel.

If anyone reading this does fancy profiling gif encoding with and without e

[2019-10-29 18:55] jongleur1983 commented on #1040
@equinox2k not exactly sure how if I can reproduce it correctly. Could you provide reference output and actual (wrong) output for some sample please? e.g. just a opaque red image and how it should look like would be great.

[2019-10-31 14:47] equinox2k commented on #1040
@jongleur1983, Here is the expected result...

![expected](https://user-images.githubusercontent.com/655939/67957226-870c6e00-fbb2-11e9-8110-8c70caf30189.png)

And actual...

![actual](https://user-images.githubusercontent.com/655939/67957227-870c6e00-fbb2-11e9-8e60-59737047b7f8.png)

[2019-10-31 14:48] equinox2k commented on #1040
Code used from above and actual image created using...
[code]

[2019-11-01 20:55] jongleur1983 opened #1044 "Weird wrong colors in gradients"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2019-11-01 21:42] jongleur1983 commented on #1044
added unit test to reproduce the issue at https://github.com/jongleur1983/ImageSharp/tree/jongleur1983/1044-wrongPixelsInPathGradients

[2019-11-02 09:06] jongleur1983 commented on #1044
investigations:
- errors don't occur when disabling parallelization
- when adding a debug output line in the this[x,y] accessor of the PathGradientBrushApplicator reduces wrong pixels dramatically, but doesn't solve all. I guess this is due to accidently limiting parallelization due to the System.Console access.
- Even though in my test with a debug output line per pixel access there's much less e

[2019-11-05 00:04] #757 closed

[2019-11-05 00:30] JimBobSquarePants commented on #1044
I can't spot anything in our code that specifically that would cause thread safety issues, however, `IEnumerable<T>` is not thread safe. I would assume read operations would be ok but without digging I cannot be sure. My advice would be to remove any Linq usage from the code (It must perform horribly anyway) and use an array instead of a list for `PathGradientBrushApplicator<TPixel>.edges`.

[2019-11-05 07:42] warheat1990 opened #1045 "DrawText result is pixelated and have inconsistent result"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2019-11-05 18:51] jongleur1983 commented on #1044
I'll try, thanks.

[2019-11-05 19:56] jongleur1983 commented on #1044
Looks like there are some more relatively easy performance and memory improvements possible while removing Linq.
Working on it...

[2019-11-05 20:06] jongleur1983 commented on #1044
@JimBobSquarePants removing LINQ and using arrays/for-loops doesn't solve the issue itself, yet.
Should be faster though, so I commited the changes to the branch nevertheless.

[2019-11-05 22:07] JimBobSquarePants commented on #1044
Very odd. I couldn’t see any other potential areas where multi threading would be an issue.

[2019-11-05 22:14] jongleur1983 commented on #1044
You're welcome @JimBobSquarePants - as long as it could have been my "fault", at least I wanted to make sure it's not ;)
Now it's a challenge to solve it, so let's see.

[2019-11-06 22:55] EelhandsMcCoy opened #1047 "PNG from web url fails to load or identify."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2019-11-06 23:12] JimBobSquarePants commented on #1047
Try the following:

[code]

It looks to me like you're having the same issue as https://github.com/SixLabors/ImageSharp/issues/1029#issuecomment-544061230

[2019-11-07 14:52] EelhandsMcCoy commented on #1047
Switched to the suggested code, same issue. ImageFormatException: Image stream is not valid.

[2019-11-08 06:15] JimBobSquarePants commented on #1044
Ignore the above commit message, it doesn't relate to this issue.

[2019-11-08 11:35] xhafan opened #1049 "Exception when resizing an image (Unable to cast object of type 'System.UInt32[]' to type 'System.UInt32')"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2019-11-10 13:58] antonfirsov commented on #1002
Posted an update in the issue description summarizing the final plans and the steps to achieve them.

[2019-11-11 04:22] JimBobSquarePants commented on #1049
![612664395a40232133447d33247d383335343639373137](https://user-images.githubusercontent.com/385879/68560827-1ceba700-0497-11ea-85f8-16f7fc2b7029.jpg)

[2019-11-11 04:30] JimBobSquarePants commented on #1049
Looks like another EXIF issue. @dlemstra I'd really like to revisit this API to make it typesafe.

[2019-11-11 10:36] JimBobSquarePants commented on #1049
@dlemstra I had a look at the updated code in the your Magick.NET version of the EXIF profile (Much better btw!) and as I understand the code your changes pretty much eradicate issues such as this.

I have an idea that would make getting and setting values type safe also.

Consider the following methods, they remove any guesswork and ambiguity from the API:

[code]
Instead of using `ExifTag` enum

[2019-11-11 12:05] JimBobSquarePants commented on #1047
What happens when you copy your input stream to a memorystream and load via that? Something is causing your stream not to flush.

[2019-11-12 03:41] Calx-Takeno opened #1051 "how to make tiling watermark by ImageSharp simply?"
I have done this effect but not very good I think so.
I am using DrawText method and pre-calculate every text watermark point to do.
But I haven't found how to roate this text watermark when DrawText.
I want to make every text watemark rotate 45-degree angle. Like below image effect
Wolud you have another simple way to do this？
![preview](https://user-images.githubusercontent.com/22338989/68639979

[2019-11-12 18:25] jongleur1983 opened #1052 "Support different Gradient modes for Color gradient brushes"
In general Gradients from colorA to colorB can have different styles, e.g. gradienting around the color-wheel (clockwise, counter-clockwise), gradienting in a straight line in the color cube or something else.
A sample for that can be seen in Gimp, that has the following options (condensed to those relevant for ImageSharp Gradients):
![image](https://user-images.githubusercontent.com/2063360/68461

[2019-11-12 20:57] JimBobSquarePants commented on #1040
Fixed in #1046

[2019-11-12 20:57] #1040 closed

[2019-11-12 21:51] Sergio0694 opened #1053 "Easy to use API for inline pixel-shader-like processors"
### API description
An easy to use API to apply custom pixel-shader-like effects to images of any type. By pixel-shader-like I mean an effect that applies a given transformation to all pixels in an image independently, with no need to have information about surrounding pixels.

Such an API could be structured like this:

[code]

Behind the scenes, `ImageSharp` would create an instance of a dedicat

[2019-11-13 00:43] JimBobSquarePants commented on #1052
@jongleur1983 We don't actually calculate the intermediate color that way anymore.

https://github.com/SixLabors/ImageSharp/blob/133d90879b17577032a4cc165014915c0829540e/src/ImageSharp.Drawing/Processing/GradientBrush.cs#L121

[2019-11-13 02:16] JimBobSquarePants commented on #1027
@odalet

I've been experimenting with a managed `DeflateStream` port that is yielding promising results.

53.9KB using Adaptive filtering at Compression level 9. Results will be identical cross platform.

![compress-9](https://user-images.githubusercontent.com/385879/68727007-53503000-0617-11ea-9476-1501c2a51efb.png)

I't's still very much a work in progress though as I have to do a lot of optimiz

[2019-11-13 12:11] jongleur1983 commented on #1052
thanks @JimBobSquarePants changed the description accordingly. Did not meant to close this issue, sorry for that. Not sure how to undo the stuff the automation did as a result...

[2019-11-15 14:10] odalet commented on #1027
Thanks for working on this subject! There is no urgency on my side for this to be implemented quickly; and even if there was, I would of course never dare put any pressure on you; I'm simply pleased to notice improvements are on their way!

[2019-11-19 03:47] scleaver commented on #1006
I am seeing the same issue in my site which is using ImageSharp but not always when dropping to a small image.

https://www.kast.io/media/concepts/group-ideas.jpg?width=1920&height=832&rmode=crop
https://demo.kast.io/media/groups-demo/family-groups2.jpg?width=408&height=316&rmode=crop

[2019-11-19 03:49] JimBobSquarePants commented on #1006
@scleaver  Can you include the source images directly in this issue please, Just in case they get removed or updated on your servers. Thanks!

[2019-11-19 04:08] scleaver commented on #1006
I think the issue is caused by the size of the source image.

![group-ideas](https://user-images.githubusercontent.com/2867511/69115838-da991a00-0ad5-11ea-9a00-5d29768eee8a.jpg)
![family-groups2](https://user-images.githubusercontent.com/2867511/69115843-dd940a80-0ad5-11ea-90a3-19b89f6609d1.jpg)

[2019-11-19 04:11] JimBobSquarePants commented on #1027
@odalet My pleasure!

I think my PR is about as good as I can get it now. If anyone else fancies a look though please do.

[2019-11-19 04:57] JimBobSquarePants commented on #1006
Thanks @scleaver

@antonfirsov one for you I think. Let me know if you need a second pair of eyes.

[2019-11-19 04:57] JimBobSquarePants commented on #1052
@jongleur1983 Don't worry about it mate. I closed another one with a commit message the other day by accident!

[2019-11-19 08:28] netwavebe commented on #1006
I'm having the same issue. This is the top (zoomed in) of a very large image scaled to 480 x 600:
![CGPW460_2018](https://user-images.githubusercontent.com/3008547/69129587-f806bd80-0aae-11ea-83c4-05a4d6274f96.jpg)

[2019-11-19 08:40] odalet commented on #1027
I just had a quick look at the PR and it seems that moving to this implementation of zlib has the additional benefit of really using the compression level. Great!

[2019-11-19 17:19] EelhandsMcCoy commented on #1047
Same thing happens.

[2019-11-20 02:23] JimBobSquarePants commented on #1047
Thanks for the extra info, I appreciate it.

I have done some investigation and confirmed your findings. However we are attempting to read the crc data from those images and throwing an error whether they are critical or not. I will work on a fix asap.

[2019-11-20 10:39] JimBobSquarePants commented on #1006
@netwavebe Please do. Thanks!

[2019-11-20 11:47] netwavebe commented on #1006
Original image is 1980 x 5520:

![CGPW460_2018](https://user-images.githubusercontent.com/3008547/69236242-68870a80-0b93-11ea-91a7-1b392eda304e.jpg)

This image cropped to 480 x 600:

![CGPW460_2018_cropped_480x600](https://user-images.githubusercontent.com/3008547/69236263-70df4580-0b93-11ea-9cb1-d97414b2e9f5.jpg)

The top distortion is probably very visible here because we're cropping a lot in t

[2019-11-20 11:51] JimBobSquarePants commented on #1006
@netwavebe I'm assuming you're simply passing the new width and height with `ResizeMode.Crop` yeah?

[2019-11-20 12:34] netwavebe commented on #1006
@JimBobSquarePants Yes, exactly!

[2019-11-20 22:11] #1047 closed

[2019-11-21 23:08] dlemstra commented on #1049
This issues also occurs in the Magick.NET library and I just pushed a patch there to resolve this.

I like your idea but I am not sure about the naming and implementation yet. Will do some experiments to figure out what would work the best.

[2019-11-22 03:54] JimBobSquarePants commented on #1049
Great! Looking forward to it.

[2019-11-22 08:12] siddharthyadav01 opened #1056 "How to add an image watermark"
Hi,
  The code being used to create image using SixLabors.ImageSharp(1.0.0-beta0006) nuget is as below

[code]

I also want to add an image watermark on the current image being saved with some opacity. I tried several ways but was unable to do it. Please let me know how this can be done.

[2019-11-24 05:05] utsabshrestha opened #1057 "How to use ImageSharp in .net core3."
You should not create an issue but use Gitter instead: https://gitter.im/ImageSharp/General

You should not create an issue but use Gitter instead: https://gitter.im/ImageSharp/General

You should not create an issue but use Gitter instead: https://gitter.im/ImageSharp/General

You should not create an issue but use Gitter instead: https://gitter.im/ImageSharp/General

[2019-11-24 05:06] #1057 closed

[2019-11-25 10:25] JimBobSquarePants commented on #1056
As indicated by the template guide we highlighted (you deleted) when creating the issue we do not answer questions in the issue tracker. We have a [Gitter channel](https://gitter.im/ImageSharp/General) specifically for that purpose.

[2019-11-25 10:25] #1056 closed

[2019-11-27 10:50] #1027 closed

[2019-11-28 06:53] richardtallent commented on #158
I was looking for this tonight for a little tool I'm making to interlace images to produce lenticular prints. In my use case, I'd just want the ability to load a PSD into separate `Image<Rgba32>` objects for each layer. Blend modes, masks, transparency, etc. would be "nice to have" access to, but really I'm just looking for a stack of individual layers.

[2019-12-03 09:55] habedi77 commented on #432
this still does not answer how to get format From Image<Rgba32> when that's only what you have and your method didn't call the load.

[2019-12-03 09:56] JimBobSquarePants commented on #432
What? This makes no sense.

[2019-12-03 12:01] habedi77 commented on #432
Assume a function takes an "Image\<Rgba32\>" as input.
How can that function figure out the format of the image?

[2019-12-03 12:12] JimBobSquarePants commented on #432
OK I understand now. Thanks.

At some point in your code you will have to load the image. That is when you capture the input format and pass it along to any other methods. We don't capture and hold the `IImageFormat` because it is a shared reference across all images and does more than the System.Drawing `ImageFormat` class which is basically a static class containing predefined identifiers.

A Sy

[2019-12-03 12:14] habedi77 commented on #432
I see.
Thank you.

[2019-12-03 12:19] JimBobSquarePants commented on #432
No problem, happy to help.

[2019-12-05 03:04] JimBobSquarePants commented on #1006
@netwavebe Here's the output following my fix. @patrikwlund @scleaver Your images will resize correctly once merged. Thanks for your patience. 👍

![CanResizeLargeImageWithCropMode_Rgba32_issue1006-incorrect-resize](https://user-images.githubusercontent.com/385879/70200250-e6d4d680-1767-11ea-8073-3c747e510055.png)

[2019-12-05 07:26] netwavebe commented on #1006
@JimBobSquarePants : Awesome! 👍
@scleaver : Once there is a new version, we need to update Orchard Core dev!

[2019-12-05 18:23] brianpopow commented on #629
@JimBobSquarePants i think this can be closed now.

[2019-12-06 13:54] brutaldev commented on #738
In the meantime you can use my Strong-Name signer to do it for you: https://github.com/brutaldev/StrongNameSigner/

[2019-12-06 17:54] jakubmisek commented on #738
it works for executable projects right? not the libraries

[2019-12-07 04:55] brutaldev commented on #738
@jakubmisek It works against compiled assemblies (managed executables are also assemblies). You can point it at your "packages" directory and let it sign anything that isn't already signed as well as fixing references to any unsigned dependencies.

[2019-12-08 04:45] #1006 closed

[2019-12-08 11:12] Solokiller-GH commented on #629
I assume this is in reference to #1026? I can close it for you if you want.

[2019-12-08 11:13] SamVanheer commented on #629
I assume this is in reference to #1026? I can close it for you if you want.

[2019-12-08 11:58] brianpopow commented on #629
@SamVanheer yes that's what im referring to.

[2019-12-08 12:50] SamVanheer commented on #629
Alright, closing this issue.

[2019-12-08 12:50] #629 closed

[2019-12-09 11:07] jakubmisek commented on #738
@brutaldev right, so I cannot provide a library depending on ImageSharp because I would have to instruct users of my library to use StrongNameSigner

[2019-12-09 14:10] brutaldev commented on #738
@jakubmisek That really depends. Any project that is strong-name signed is required to only reference other strongly-named assembles. If you provide a NuGet package that is signed you wouldn't be able to reference a non-signed package like ImageSharp anyway. What the tool provides is the ability for people that have strong-named projects to use non-signed libraries but signing those incompatible a

[2019-12-12 22:50] xfischer commented on #204
Thanks @vanhouc, more direct answer :
[code]

[2019-12-14 22:30] JadaVonRuth opened #1063 "Support for keeping aspect ratio and using dimensions parameters when resizing as max dimensions"
It would be ideal if no other computation regarding dimensions would necessary to place despite it is not anything hard, but in terms of usability it would be more benefitial.

[2019-12-14 23:25] tocsoft commented on #1063
you can do this today just pass `Max` as the resize mode in while resizing.
The various options are detailed here
https://docs.sixlabors.com/api/ImageSharp/SixLabors.ImageSharp.Processing.ResizeMode.html#fields

[2019-12-14 23:25] #1063 closed

[2019-12-15 04:02] antonfirsov opened #1064 "Analysis & Discussion: Jpeg & Resize processing pipelines, improvement opportunities"
## Introduction
Apart from the API simplification, the main intent of #907 was to enable new optimizations: it's possible to eliminate a bunch of unnecessary processing steps from the most common YCbCr Jpeg thumbnail making use-case. As it turned out in #907, simply changing the pixel type to `Rgba24` is not sufficient, we need to implement the processing pipeline optimizations enabled by the [.NE

[2019-12-15 10:29] JimBobSquarePants commented on #1064
Thanks for taking the time writing all of the above, it's very informative. 🤯

Focusing on Jpeg decoding optimization for now I would advocate for being as radical as possible.

I propose redefining the entire JpegPostProcessor pipeline as three separate implementations based on an integer pipeline. This includes Dequantization, IDCT, Subsampling, and Colorspace transforms.

1. Scalar. (Old framew

[2019-12-15 13:03] antonfirsov commented on #1064
Now the bitter pill: the total amount of work is huge. Think of least 2-3 man-weeks of **full time** work, assuming that we know exactly what we are doing (I wouldn't dare to say so about myself). I make these estimations based on my own experiences and by lurking in `@dcommander`'s [comments](https://github.com/libjpeg-turbo/libjpeg-turbo/issues/199#issuecomment-380890818) in libjpeg-turbo, espec

[2019-12-15 13:19] JimBobSquarePants commented on #1064
If you truly believe this then I'm with you all the way and we'll do it your way. You are, by far and away, the performance expert here.

[2019-12-16 00:08] #10 closed

[2019-12-19 03:27] antonfirsov commented on #1053
@Sergio0694 we need a better (probably more verbose) name than `ApplyProcessor`, but otherwise, feel free to grab it!

[2019-12-19 10:24] Sergio0694 commented on #1053
@antonfirsov Aweso, great! And yeah I agree, that name for the API was just a temporary placeholder, we might want to pick a better and more self descriptive name there. I'll get started with some groundwork then and open a draft PR we can use to track this then! 😊

[2019-12-19 18:41] antonfirsov commented on #1027
Sorry in advance for chatting under closed issues, I'm reusing this discussion to avoid noise under the related dotnet BCL issue.

@odalet can you post some details about your use-case (where do your images come from)? I want to use it as an argument, when posting an issue against Intel-Zlib.

[2019-12-20 16:23] odalet commented on #1027
You'll find attached one of the images generated once with .NET Core 2.2 and another time with .NET 4.7.2 (both times on Windows). The generation app depends on ImageSharp 1.0.0-beta0007.
Both images are identical at the pixel level, but the .NET Core version is more than 3x as huge as the .NET fx-generated one.

![net472](https://user-images.githubusercontent.com/79333/71267890-f6e5dc00-234b-11ea

[2019-12-20 18:45] antonfirsov commented on #1027
@odalet thank you, this helps a lot!

[2020-01-03 13:04] antonfirsov commented on #1051
@Calx-Takeno you can draw the text along a straight line as an `IPath`. Here is a sample for a more complex case:
https://github.com/SixLabors/Samples/blob/master/ImageSharp/DrawingTextAlongAPath/Program.cs

Does this help?

[2020-01-06 03:59] #1049 closed

[2020-01-06 09:22] JimBobSquarePants commented on #1053
Fixed with #1065

[2020-01-06 09:22] #1053 closed

[2020-01-06 09:33] JimBobSquarePants commented on #936
Fixed by #1067

[2020-01-06 09:33] #936 closed

[2020-01-06 09:53] ErcinDedeoglu commented on #121
Watching.

[2020-01-06 13:17] brianpopow commented on #121
I am working on support for webp. So far decoding of lossless images is almost done. I will continue with decoding lossy after that. Its still alot of work to do, though. We have a gitter subchannel `Formats`, where i post regular updates on this.

[2020-01-07 00:27] #650 closed

[2020-01-08 03:33] JimBobSquarePants commented on #805
@antonfirsov

If we don't get the opportunity to use `ReadOnlySequence<T>` I propose moving our backing store to `int` or `long` and dropping the `IManagedByteBuffer.Array` property in favor of polyfilling Read/Write with `Span<byte>` for streams.

The polyfills are easy enough to do. (source)[https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/Common/src/CoreLib/Sys

[2020-01-08 09:31] antonfirsov commented on #805
It turns out I terribly misunderstood the purpose of `ReadOnlySequence<T>` 😅 We need to define our own primitive, since there is no standard solution for what we need as far as I'm aware. The primitive type itself doesn't seem too hard actually, the consequences of the integration process are more difficult.

I'm afraid it won't help too much, apart from replacing `ArgumentOutOfRangeException` wit

[2020-01-08 13:53] silmon27 opened #1073 "Missing ToList in CloningImageProcessor?"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-01-08 22:22] JimBobSquarePants commented on #1073
Thanks for raising this @silmon27

Can you do two things for me please?

1. Fill in the issue template we provide so that we can track versions/os etc
2. Provide a little more detail in the form of any graphs, reports related to the memory issue

I'm really keen to investigate this issue so that would be really helpful

[2020-01-08 23:00] silmon27 commented on #1073
Sorry, I don't have any graphs or anything of the kind.
I figured the above out by logging all allocations and deallocations (MemoryAllocator) and a found mismatch of 2 after resizing a jpeg image. I think the cause of this should be easy to spot if you take a look at [CloningImageProcessor{TPixel}.cs#L177](https://github.com/SixLabors/ImageSharp/blob/master/src/ImageSharp/Processing/Processors/Cl

[2020-01-09 00:30] JimBobSquarePants commented on #1073
Thanks @silmon27 that's enough to go by. I've just pushed a PR #1074 to fix this.

[2020-01-09 00:58] silmon27 commented on #1073
Even better. Thanks.

[2020-01-09 03:56] #1073 closed

[2020-01-09 13:57] JimBobSquarePants commented on #967
These APIs are basically the last two methods I think we should expose. They're not currently used in Drawing but I think would be very useful elsewhere.

I'm definitely going to rename anything **Helper to **Utils for the sake of my sanity anyway.

https://github.com/SixLabors/ImageSharp/blob/06bf7ace63cf5ed4e7576895f27fb66b9c35fe90/src/ImageSharp/Advanced/ParallelUtils/ParallelHelper.cs#L85

[2020-01-09 15:14] timyboy12345 opened #1076 "Bad sampling factor when using SaveAsJpeg"
### Description
I am using ImageSharp to upload/download images from the web, and save them locally. Almost all images are downloaded succesfully, but a few give the error "Bad sampling factor". One of these images is [this image of a table](http://photos.hotelbeds.com/giata/original/14/144095/144095a_hb_r_001.jpg). I have no idea why these fail and what's different about the failing images compar

[2020-01-09 16:05] dlemstra commented on #1076
The sampling factor of that example image is `4x1,1x1,1x1` and that is not allowed (not sure about supported) by ImageSharp.

[2020-01-10 05:10] JimBobSquarePants commented on #1076
We can actually handle the subsampling factor. The check is leftover from old code and should only check for 0. I'll push a fix tonight.

https://github.com/SixLabors/ImageSharp/blob/06bf7ace63cf5ed4e7576895f27fb66b9c35fe90/src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegComponent.cs#L28

[2020-01-10 06:08] define-private-public opened #1077 "Incompatible with `netcoreapp3.1` framework"
I tried grabbing the latest release of ImageSharp for a website I'm trying to make.  When adding the package, I got the error message

    error:   - Found 7 version(s) in nuget.org [ Nearest version: 1.0.0-beta0007 ]
    error: Package 'SixLabors.ImageSharp' is incompatible with 'all' frameworks in project `MyProject.csproj`

Right now my target framework is `netcoreapp3.1`.  Will this be support

[2020-01-10 09:23] brianpopow commented on #1077
yes ImageSharp works with target framework `netcoreapp3.1`, there must be something else wrong with your project file. Without knowing how your project file looks, its hard to tell.

[2020-01-10 10:59] JimBobSquarePants commented on #1077
[ImageSharpCompatibilityDemo.zip](https://github.com/SixLabors/ImageSharp/files/4045249/ImageSharpCompatibilityDemo.zip)
Yup. Works perfectly. I've attached a working website here.

P.S Please use the issue template when raising issues. It's important for us to be able to effectively triage.

[2020-01-10 10:59] #1077 closed

[2020-01-10 14:09] JimBobSquarePants commented on #1044
@jongleur1983 I had another look at this and I've figured it out.

This buffer which is created once when the edges are created during initialization of the applicator
https://github.com/SixLabors/ImageSharp/blob/7332e985d95a6cb54a619949709339c41df74ab3/src/ImageSharp.Drawing/Processing/PathGradientBrush.cs#L136

Is updated during every call to `FindIntersection`
https://github.com/SixLabors/Image

[2020-01-10 15:21] define-private-public commented on #1077
That's my .csproj file.  Is it possible there's a dependency that's blocking the use for ImageSharp?

[code]

[2020-01-10 18:43] jongleur1983 commented on #1044
Cool...
Regarding the StackAlloc: I'm not sure how the PathGradientBrush is used exactly. but I don't think it will be a problem in typical situations.

Trying to construct a worst-case example though it could be a big one:
Let's consider someone who wants to draw a color-circle and creates two PathGradientBrushes, each filling a region of half a circle.
1st stop is the circles center point in Whi

[2020-01-10 22:30] #1076 closed

[2020-01-10 22:46] JimBobSquarePants commented on #1044
Thanks @jongleur1983 that's really useful!

Lets leave it using a pooled buffer for now then just in case. There's a lot of room for improvement performance-wise in the entirety of drawing code so I can revisit the solution when we start tackling that.

[2020-01-11 18:52] #1044 closed

[2020-01-12 02:18] UkooLabs opened #1080 "Expose members so can subclass Image"
Please change from internal so I can subclass Image the following methods...

 Accept
 EnsureNotDisposed

Doing so will allow me to create a MipMap class based off of Image for the ImageSharp.Textures library

[2020-01-12 18:24] brianpopow commented on #1077
@define-private-public i have just tried this project file and it compiles just fine with a ImageSharp reference `1.0.0-beta0007`

[2020-01-13 05:49] define-private-public commented on #1077
Okay.  When I tried to add `ImageSharp`.  I didn't specify the `--version`.  doing that works for me.

[2020-01-15 00:05] antonfirsov commented on #1080
As always, I strongly oppose allowing `Image<T>` to be subclassed. [Composition Over Inheritance](https://en.wikipedia.org/wiki/Composition_over_inheritance) approach leads to better solutions on consumer side.

Is `MipMap` indeed an Image according to the rules of the [Liskov Substitution Principle](https://en.wikipedia.org/wiki/Liskov_substitution_principle)?

As far as I understand the answer i

[2020-01-15 00:06] JimBobSquarePants commented on #1080
@antonfirsov Was hoping you'd have a look at this 👍

[2020-01-15 01:32] UkooLabs commented on #1080
Maybe I can achieve same desired goal using decorator pattern.

[2020-01-17 13:55] dimi3tron commented on #738
Couldn't get it to work at first glance using @brutaldev's solution. I'll revisit this when I have a bit more time. Pointers are welcome.

I can't seem to find a ballpark date for the RC. I found this: https://myget.org/gallery/imagesharp-latency but it seems unofficial and it's over two years old.

Can we expect an RC soon, or should I forge ahead trying to self sign? I'm in the middle of POC and

[2020-01-17 14:11] jakubmisek commented on #738
@dimi3tron we'll probably fork, sign the build and upload signed nugets by ourselves ... this is ridiculous :)

[2020-01-17 15:56] dimi3tron commented on #738
@jakubmisek sounds like a safe bet.

I see you're peachpie contributor, so I hope you're planning to include the fork in the next release because that is exactly what I need them for.

[2020-01-17 20:59] JimBobSquarePants commented on #738
There’s a dated RC1 milestone in the repo. Please read before calling things ridiculous.

[2020-01-17 21:24] antonfirsov commented on #738
@jakubmisek @dimi3tron there is an ongoing repository+package structure consolidation (#1002), which will be finished soon, after that strong naming gets high priority.

[2020-01-18 01:04] antonfirsov commented on #130
Closing this, since the topics are too generic now. Most problems have been addressed by today, and we need specific issues for the rest. Octree perf is still worth an investigation.

[2020-01-18 01:04] #130 closed

[2020-01-18 01:17] antonfirsov commented on #120
Parallelism has been made [configurable](https://github.com/SixLabors/ImageSharp/blob/master/src/ImageSharp/Configuration.cs#L62) for all algorithms. We have integrated parameters controlling the level of parallelism into our [most important benchmarks](https://github.com/SixLabors/ImageSharp/blob/master/tests/ImageSharp.Benchmarks/Samplers/Resize.cs#L73).

The effects of [false sharing](https://w

[2020-01-18 01:17] #120 closed

[2020-01-18 01:22] antonfirsov commented on #183
@dannyrb is this something you are still interested in?

[2020-01-18 01:30] antonfirsov commented on #282
I don't think the library should expose internals outside of the scope of it's main purpose. The thinner the API, the easier to maintain.

Closing as part of a general issue cleanup, if someone disagrees - feel free to reopen.

[2020-01-18 01:30] #282 closed

[2020-01-18 01:35] antonfirsov commented on #426
`PixelBlender<T>` and `PixelOperations<T>.GetPixelBlender()` have been made public in #1028.

[2020-01-18 01:35] #426 closed

[2020-01-20 10:28] #1002 closed

[2020-01-20 21:11] #1080 closed

[2020-01-21 13:09] jakubmisek commented on #738
@JimBobSquarePants @antonfirsov thank you! looking forward to it :)
"Ridiculous" is the library cannot be used on .NET Framework for 3 years already while the fix is a single line of XML .. I won't be crying over it anymore :)

[2020-01-21 14:31] PureKrome commented on #738
![](https://media.giphy.com/media/14aUO0Mf7dWDXW/giphy.gif)

Ridiculous is the fact that MS are still fricking thrashing this legacy "strong-naming" crap around in 2020. This 💩 should have long been turfed when .NET core was born.

"Line in the sand" and all...

Sorry @JimBobSquarePants and krew for having to put up with this crap, still 😢

[2020-01-22 00:18] StevenGann opened #1088 "Looking for methods to Plot Single Pixel"
### Description
Attempting to use the following code results in a compile-time error:

[code]

Error message:

[code]

- ImageSharp 1.0.0-beta0007 from Nuget
- .NET Core 2.5
- Windows 10

All I need is a way to plot greyscale pixels onto an image in .NET Core. How am I supposed to plot individual pixels with ImageSharp?

[2020-01-22 00:41] JimBobSquarePants commented on #1088
As indicated by the issue template. Please do not ask questions in the issues tracker.

_(This is your first issue though so I can understand and appreciate an honest mistake)_

So to answer your question. `Image` is a pixel agnostic abstraction of your pixel buffer that allows operating on pixel data via the processing pipeline without being concerned by the pixel format. If you look at our readm

[2020-01-22 17:14] StevenGann commented on #1088
I mean, this is less a question and more a bug report, but I'll post it to gitter instead. I thought gitter was a chat room, not an issue tracker.

[2020-01-22 17:35] StevenGann commented on #1088
Just as well, the `Span<Rgba32>` has a similar problem:

`CS1061	'Image<Rgba32>' does not contain a definition for 'GetPixelRowSpan' and no accessible extension method 'GetPixelRowSpan' accepting a first argument of type 'Image<Rgba32>' could be found`

[2020-01-22 18:51] tocsoft commented on #1088
closing as its a question raised due to not knowing how to use the APIs and where to find them not because APIs in ImageSharp are broken.

[2020-01-22 18:51] #1088 closed

[2020-01-22 21:04] StevenGann commented on #1088
No, I know where the APIs are. The package distributed through NuGet does not implement the APIs as documented. The issue is that the code presented by @JimBobSquarePants does not work.

It's not a question. It's an error message. If you struggle with the English language I can understand but I feel like critical thought should transcend linguistic differences. If you could provide a demonstration

[2020-01-22 21:09] StevenGann commented on #1088
`CS1061 'Image<Rgba32>' does not contain a definition for 'GetPixelRowSpan' and no accessible extension method 'GetPixelRowSpan' accepting a first argument of type 'Image<Rgba32>' could be found`

Now, if you can step off your enormous ego and consider that maybe compiler errors in your own code could possibly be because you've made a mistake, please review your own docs:

https://docs.sixlabors.c

[2020-01-22 21:20] JimBobSquarePants commented on #1088
You owe everyone here an apology for your incredibly unprofessional behavior. The working code attached here is a copy/paste from the sample I posted [above](https://github.com/SixLabors/ImageSharp/issues/1088#issuecomment-576954752).

[ISPixelDemo.zip](https://github.com/SixLabors/ImageSharp/files/4100001/ISPixelDemo.zip)

[2020-01-22 21:29] StevenGann commented on #1088
1. My original ticket was quite polite. The maintainers of this library have been extraordinarily rude and ignore the actual content of messages, responding instead with ego and spite.

2. As for the code listed above, please see the error message from Visual Studio:

`CS1061	'Image<Rgba32>' does not contain a definition for 'GetPixelRowSpan' and no accessible extension method 'GetPixelRowSpan' ac

[2020-01-22 21:33] StevenGann commented on #1088
But, to be sure there's no hard feelings, I apologize to @tocsoft and @JimBobSquarePants for reporting a possible issue with their NuGet package and/or docs on GitHub instead of posting it on gitter first.

[2020-01-22 21:36] StevenGann commented on #1088
Though, perhaps I was too subtle with my title. I should have explicitly stated that I was referencing issue #458 and had found that the prescribed approach provided in that ticket was not working, hence the issue coming back. Maybe I should have commented on that issue instead of creating a new one, but live and learn.

[2020-01-22 23:16] JimBobSquarePants commented on #1088
Here's a working (compiled, run) version of the example application targeting NET Core 2.1

[ISPixelDemo_2_1.zip](https://github.com/SixLabors/ImageSharp/files/4100516/ISPixelDemo_2_1.zip)

[2020-01-23 01:57] dolkensp commented on #1088
As an outsider looking in - @JimBobSquarePants answered you quite professionally by directing you to the correct place to receive the support you needed, and *still* attempted to help you in here.

Not only that, but you're citing #458 as the your reference issue, and the exact same message is provided there: For Q&A, use Gitter, for bugs, use Github.

To be honest, the only ego I really saw here

[2020-01-23 06:57] merarischroeder commented on #1088
I wonder, is "incorrect" documentation considered a bug by the maintainers here? I suggest that clarification of this will help others in the future.

That will help the maintainers and newcomers alike.

[2020-01-23 07:20] tocsoft commented on #1088
@merarischroeder  yes it is I we welcome a docs issues being pointed out.

Thing we consider official documentation however is limited to our docs website (https://docs.sixlabors.com), the README files on our repos and our xml code comments (as they get presented in visual studio).

[2020-01-23 07:23] tocsoft commented on #1088
Something I would like to clarify on this particular issue is we believe at no point have we been presented with an identified issue with the docs. i.e. a link pointing a a piece of our official documentation that is incorrect. What we were provided with was a code snippet from the developers own code that would not able to be compiled directly as it was missing core code (the `tree.Get()` stuff)

[2020-01-23 10:30] JimBobSquarePants commented on #967
I think we can close this since ImageSharp.Drawing is now in an external repository with no internal access.

[2020-01-23 10:30] #967 closed

[2020-01-23 16:58] dolkensp commented on #1088
For reference @StevenGann, @merarischroeder - the documentation for the method in question is here:

https://docs.sixlabors.com/api/ImageSharp/SixLabors.ImageSharp.Advanced.AdvancedImageExtensions.html

    public static Span<TPixel> GetPixelRowSpan<TPixel>(this Image<TPixel> source, int rowIndex)
    where TPixel : struct, IPixel<TPixel>

Visual Studio will generally suggest the required includes

[2020-01-24 00:32] neilebrown opened #1091 "EXIF tag LensInfo = 0xA432 is treated as Rational but it is actually Rational[4]"
When reading EXIF data ImageSharp tries to read the tag LensInfo = 0xA432 as a Rational but fails. The LensInfo is actually an array of Rational with size 4 according to

https://exiftool.org/TagNames/EXIF.html

and

https://www.exiv2.org/tags.html

and the image files I have.

To reproduce the issue:

1. In the method ExifReader.TryReadValue put a break point in the places where the method return

[2020-01-24 00:47] JimBobSquarePants commented on #1091
Thanks for raising this, I've confirmed it in the specification - should be a simple fix.

We should rename the property to LensSpecification to match the specification also.

[2020-01-24 08:35] neilebrown commented on #1091
Great, thank you.

[2020-01-24 15:03] UkooLabs opened #1092 "expose ToRgba64 + add GetConfiguration to image frame"
was trying to do a copy of ImpageCompare code in ImageSharp.Textures however noticed ToRgba64 is internal and only ToVector4 is available, could you please make public...

Example use of ToRgba64

PixelOperations<TPixelA>.Instance.ToRgba64(configuration, aSpan, aBuffer);

Additionally Image has a GetConfiguration() however there is no equivalent for ImageFrane

[2020-01-26 02:08] #1091 closed

[2020-01-26 02:16] JimBobSquarePants commented on #738
If we implement the shared-infrastructure props as defined here, I see no reason why we cannot start signing our nightlies before the RC1 release.

https://github.com/SixLabors/ImageSharp/issues/867#issuecomment-520515225

[2020-01-27 03:08] lofcz commented on #121
@brianpopow any updates? Really looking forward this

[2020-01-27 14:11] brianpopow commented on #121
@lofcz so far lossless decoding works fine now. Im in the middle of implementing decoding lossy images. Im making progress every day, but its hard to estimate when it will be done.  I guess i have 50% done for decoding lossy images so far.

After that there is still the encoding part which i need to tackle. This will also take some time.

[2020-01-27 22:02] JimBobSquarePants commented on #1016
Fixed by #1019

[2020-01-27 22:02] #1016 closed

[2020-01-28 10:39] #1092 closed

[2020-01-29 11:07] vpenades opened #1097 "Creating a new Image<TPixel> by Wrapping Memory<byte>"
As discussed in gitter:

With the current API, it is possible to create a new image in two ways:
- LoadPixelData: which accepts a Span<Byte> , but it makes an internal copy of the source data.
- WrapMemory: which requires a Memory<TPixel> to wrap user memory.

The problem is that in many cases, the source data is provided as a plain byte array. this is specially true when dealing with devices at l

[2020-01-29 13:27] bds8510 opened #1098 "GIF Repeatcount is lost when loading a gif"
**Prerequisites**
- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both DEBUG and RELEASE mode
- [x] I have searched open and closed issues to ensure it has not already been reported

**Description**
When loading a GIF which repeats all its frames only once (RepeatCount = 1), we not

[2020-01-29 13:38] JimBobSquarePants commented on #1098
@bds8510 Can you please use the provided issue template.

[2020-01-29 13:46] HarelM opened #1099 "Problem with drawing documentation"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-01-29 13:52] bds8510 commented on #1098
@JimBobSquarePants done

[2020-01-29 13:57] JimBobSquarePants commented on #1098
Thanks. We might have already fixed this in the nightlies but I'll have a look tomorrow.

[2020-01-29 14:01] bds8510 commented on #1098
Sounds promising!
Thanks for the quick feedback.

[2020-01-30 07:04] jayrajmishra opened #1101 "unable to process .jxr, .webP, .jpg extension images in SixLabours Version 1.0.0-beta0007 in .NET Core"
Unable to process .jxr, .webP, .jpg images using SixLabors.ImageSharp pulgin - Version 1.0.0-beta0007. It throws error. Is there any solution to fix the issue beside GIF,PNG,JPEG,BMP format images.

Error Message :

Image cannot be loaded. Available decoders:

GIF : GifDecoder
PNG : PngDecoder
JPEG : JpegDecoder
BMP : BmpDecoder

[2020-01-31 00:49] antonfirsov commented on #1101
@jayrajmishra you mentioned 3 different formats/file extensions:
- **.jpg**is another extension is for format JPEG it should work. Do you have issues opening a specific jpeg file? If you can you provide a working repro (image+code) for that, please free to open another issue with that information provided & **template filled in**. If you have questions, we can help in our [gitter channel](https://

[2020-01-31 00:49] #1101 closed

[2020-01-31 01:07] antonfirsov commented on #1097
I edited the title, since `byte[]` could be implicitly converted to `Memory<byte>` (same type). We need to add the following method:

[code]

[2020-01-31 03:25] #1098 closed

[2020-01-31 04:29] JimBobSquarePants commented on #1098
Fixed in the latest nightlies.

[2020-01-31 04:40] JimBobSquarePants commented on #1101
Asked also on Stack Overflow.

https://stackoverflow.com/questions/59751572/unable-to-process-jpg-images-using-sixlabors-imagesharp-in-c-sharp-version-1/59771703?noredirect=1#comment106075468_59771703

[2020-01-31 08:42] vpenades commented on #1097
Yes, that's exactly what I would need. But I'm wondering how would you implement it.

It's certainly non trivial to cast a Memory<byte> to a Memory<TPixel> and if there's an API for that I would gladly want to know...

So I pressume ImageSharp would need to do some work under the hood.

[2020-01-31 09:26] bds8510 commented on #1098
@JimBobSquarePants , ok, thank you for the feedback!

Will this fix be included in the next prerelease (1.0.0-beta0008)?
Also, when is the ETA of this prerelease?

[2020-01-31 10:05] JimBobSquarePants commented on #1098
There won't be a beta0008 release. The next release is RC1 which I have scheduled hopefully for the beginning of March.

For now I recommend grabbing a nightly build from our MyGet feed.

Those releases are actually super stable (despite saying unstable in the name) and go through the same rigorous testing as the betas. They're much closer to the final API also.

[2020-01-31 13:11] HarelM opened #1103 "Add Color.FromHtml"
It would be extremely useful for migration from `System.Drawing` to this library to have the `FromHtml` equivalent.
The `FromHtml` takes a string which can be a color name or hex string and converts it to the relevant color.
As a side note, there are 3.5 million downloads to this library, I think it can be released instead of being a pre-release...
Can also be called `Color.FromString`.

[2020-01-31 14:12] JimBobSquarePants commented on #1103
Nearly there. Got a few API updates to make and we'll be ready for the RC1 release. You'd be amazed how much churn there has actually been getting this correct.

[2020-02-01 06:40] jayrajmishra commented on #1101
I am unable to get the proper solution of this issue, unable to process the .jpg image.

[2020-02-01 07:31] JimBobSquarePants commented on #1101
You need to provide the image. It's impossible for us to help you without it.

[2020-02-01 10:36] jayrajmishra commented on #1101
This two images are not been processed with SixLabours pulgin in .NET Core
**.jpgImage** - https://www.dropbox.com/s/2218dray4uwwm2r/Image1.jpg?raw=1
**.jxr Image** - https://www.dropbox.com/s/0p60vqz1sox0gms/Image2.jxr?raw=1

[2020-02-01 11:27] JimBobSquarePants commented on #1101
@jayrajmishra

I was able to open the **.jpg** image without issue with the **1.0.0-beta0007**

Here is your image, loaded and altered to have it's edges detected by our edge detection method.

![1101](https://user-images.githubusercontent.com/385879/73591302-0f4b3800-4541-11ea-951a-8619b81f75f7.jpg)

So if you are having issues, they are occurring, elsewhere in your codebase and have nothing to d

[2020-02-02 23:09] Inumedia opened #1105 "CloneAs fails with dimensions 374x209 and MaxDegreeOfParallelism=16"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp (ImageSharp@v1.0.0-unstable0542)
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+

[2020-02-03 00:32] JimBobSquarePants commented on #1105
I can't reproduce this. The following code:

[code]

Creates two identical images.

Original

![test](https://user-images.githubusercontent.com/385879/73618027-94853880-4678-11ea-8480-f0f3ecc24fb9.png)

Clone

![test-clone](https://user-images.githubusercontent.com/385879/73618030-9c44dd00-4678-11ea-8d13-7e1171770b36.png)

[2020-02-03 02:52] Inumedia commented on #1105
@JimBobSquarePants With your code example, it still throws an exception at the `CloneAs`.

Here's my `dotnet --info` FYI:

[code]

[2020-02-03 02:53] Inumedia commented on #1105
Here's the stack trace for the exception:

[code]

![image](https://user-images.githubusercontent.com/856822/73622068-60712f80-4606-11ea-9c9d-e7bd70c91e6a.png)

[2020-02-03 02:57] antonfirsov commented on #1105
@Inumedia what is your `Configuration.Default.MaxDegreeOfParallelism`?

[2020-02-03 02:59] JimBobSquarePants commented on #1105
Yeah, it looks like there's gonna be a rounding problem in `DivideCeil`

[2020-02-03 03:20] Inumedia commented on #1105
@antonfirsov As far as I know, it should be the default. I haven't changed anything globally, and I've posted the entire solution for the reproduction

[2020-02-03 08:12] JimBobSquarePants commented on #1105
@Inumedia It'll be your `Environment.Processor` count

[2020-02-03 10:26] antonfirsov commented on #1105
Yeah, `Environment.ProcessorCount` is the only variable factor here, so it's important.

[2020-02-03 12:49] Inumedia commented on #1105
On Windows 10 Pro x64, 8 physical cores, 16 threads / logical cores. AMD 2700 (https://www.newegg.com/amd-ryzen-7-2700/p/N82E16819113498?Item=N82E16819113498 )

On Linux / Docker, Intel 2x E5645, which is 2x (6 physical cores, 12 logical cores) = 12 physical cores, 24 logical cores ( 2x https://ark.intel.com/content/www/us/en/ark/products/48768/intel-xeon-processor-e5645-12m-cache-2-40-ghz-5-86-gt

[2020-02-03 19:10] antonfirsov commented on #1105
I was able to reproduce this, by setting `Configuration.MaxDegreeOfParallelism = 16`. The pixel data is irrelevant, only the image dimensions are important.

@Inumedia until we fix the bug, you can manually alter `MaxDegreeOfParallelism` to a smaller value as a workaround.

[2020-02-04 11:46] #1103 closed

[2020-02-04 11:50] JimBobSquarePants commented on #1103
@HarelM I've added two new methods to the API, you can grab them from the nightlies now.

`void Color.Parse(string input)` and `bool Color.TryParse(string input, out Color result)`

[2020-02-04 11:55] HarelM commented on #1103
Cool! Thanks for the quick implementation!
Let me know when a new version is released.

[2020-02-05 01:36] #1105 closed

[2020-02-05 01:45] JimBobSquarePants commented on #1103
There's a download available right now from our MyGet feed. It's very close to what our RC1 build will be so I recommend it.

[2020-02-05 15:24] HarelM commented on #1103
Any chance for a pre-release on global Nuget? I prefer not to add MyGet source to my build CI machine/code if possible :-)

[2020-02-06 02:30] antonfirsov commented on #1103
Personally, I understand your concern (a few weeks ago we lost the whole history by mistake :disappointed:  ), put publishing to nuget is a big chore. Having proper release notes is an absolute minimum to do, and it's already a lot of work.

The more frequently we do this, the less time we have to do actual features and bugfixes, so we prefer to stick to our milestones, unless we miss the original

[2020-02-09 18:19] antonfirsov commented on #738
@JimBobSquarePants I don't think #862 is a blocker, since everything is in the ImageSharp repo now. We can add the necessary changes at ImageSharp's props/targets/csproj level, and consolidate later. (probably when adapting stuff to Drawing)

I would prioritize this, and do it in the next few weeks.

[2020-02-09 19:34] antonfirsov opened #1110 "Document exceptions correctly"
- [x] `Image.Load` overloads are marked as throwing `UnknownImageFormatException` however when the image content is incorrect, we throw `ImageFormatException` instead. We should consider defining, utilizing and documenting a new `InvalidImageContentException` for these cases. Alternatively we can just make the xmldocs to refer to `ImageFormatException`, as an easier solution, but having a separate

[2020-02-10 07:31] jayrajmishra commented on #1101
Ok, Is the Feature has been developed for .jxr, .webP file Image. @JimBobSquarePants

[2020-02-11 14:53] stevetemple commented on #121
This would be super useful for us, thanks @brianpopow for tackling it

[2020-02-11 14:56] antonfirsov commented on #121
@stevetemple @lofcz @martonx and everyone else watching this issue:
what is more important to you, saving or loading WebP files?

[2020-02-11 14:57] stevetemple commented on #121
I'm interested in converting to WebP so saving/encoding for me

[2020-02-11 14:59] lofcz commented on #121
Loading for me as I'm able to serialize to webp already via other tools. @antonfirsov

[2020-02-11 15:27] ststeiger commented on #121
@antonfirsov: Fundamentally, loading would be more important.
Because if a user uploads a webp-image, I have to be able to handle it.
However, users rarely use webp, since Windows does not support it.

Entirely practically, you'll only ever need it to dynamically save toWebP, because WebP offers 25 – 35% smaller file sizes than jpeg at the exact same quality. Also, it's a nice format for animated

[2020-02-11 15:29] claunia commented on #121
My particular need is to take TIFF photos and convert them to WebP for web serving, so I need the ability to save, in both lossy and lossless.

[2020-02-11 15:31] ststeiger commented on #121
@claunia: Does that mean WebP also supports the kind of paging like tiff ?
Or do you just save it into multiple webp images ?

[2020-02-11 15:38] claunia commented on #121
@ststeiger the TIFFs I intend to import are single images from scanners or DSLRs (and these can have wide color gamuts). I don't know if WebP supports multi image (contrary to animation) like HEIF and AVIF do, but they're definitively not my worry in the near future.

[2020-02-12 00:49] Sergio0694 opened #1111 "Update type constraints and other optimizations"
_This follows from a conversation with @JimBobSquarePants on gitter._

## Overview

There are parts of the `ImageSharp` codebase that were written before C# 7.3 came out, so in particular there are two missing features: the `unmanaged` type constraint, and the `readonly` modifier for `struct` types, or `struct` members.

We should consider doing a polishing pass around the codebase, including:

-

[2020-02-16 15:06] bfistein commented on #738
May I ask how this will work for OSS projects in relation to your upcoming license change? NuGet only supports one license AFAIK, so I assume your package will be licensed under GPL. Is the intention for projects with a dependency on ImageSharp to use a previous version under Apache 2.0 and sign it themselves? Or do you have another solution in mind?

[2020-02-16 17:24] onepiecefreak3 opened #1115 "Pixel remapping/Swizzling"
This feature is implemented in many graphics hardwares at least of most gaming consoles. Adding this feature would enable ImageSharp to natively allow for these specifications of graphics hardware to be supported out of the box.

As per OpenCV naming and implementation this feature is most likely known as "Remapping" or "Point remapping". So as the naming goes, it should incorporate either one.

P

[2020-02-17 08:58] SimonCropp commented on #738
NuGet supports SPDX, which allows for compound expression https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#packagelicenseexpression

[2020-02-20 01:12] antonfirsov opened #1116 "DenseMatrix<T>.GetHashCode is incorrect"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-02-20 01:33] antonfirsov commented on #1115
As far as I remember our discussion, remapping should actually alter the image. This could be implemented easily in a single `ImageProcessor` that consumes `IImageSwizzle`-like interface as a parameter.

[2020-02-20 03:03] jayrajmishra commented on #1101
.**webP**  file is not been process in SixLabours

URL : https://www.dropbox.com/s/3ui7hxdrczcjw5i/4-color-2.webp?raw=1

Error Message: Image cannot be loaded. Available decoders:
 - BMP : BmpDecoder
 - JPEG : JpegDecoder
 - GIF : GifDecoder
 - PNG : PngDecoder

   at SixLabors.ImageSharp.Image.Load(Configuration config, Stream stream, IImageFormat& format)

Now does SixLabors support .jxr file?

[2020-02-20 03:12] JimBobSquarePants commented on #1101
@jayrajmishra Can you please stop spamming this issue tracker. We have told you on several occasion that those formats are not supported. If you continue to spam closed issues you will be banned.

[2020-02-20 03:22] JimBobSquarePants commented on #1116
What do you mean by this. I don't understand.

[2020-02-20 04:45] #1116 closed

[2020-02-21 11:55] #805 closed

[2020-02-21 11:55] #898 closed

[2020-02-22 15:22] antonfirsov opened #1121 "Speed up JPEG Decoder color conversion"
Let's finally beat System.Drawing on the JPEG Load->Resize->Save scenario!

As discussed in #1064, it's finally possible thanks to the Intel SIMD intrinsics in .NET Core 3.1. Opening an issue so we can track this work, and hopefully get some help & feedback from the community.

/cc @Sergio0694 @saucecontrol

# Current pipeline
Summary of steps currently done  by [`ConvertColorsInto`](https://githu

[2020-02-22 15:35] antonfirsov commented on #1121
@brianpopow is such packing logic useful for other codecs?

[2020-02-22 19:04] saucecontrol commented on #1121
You can get a nice easy win just by using the intrinsics for your float->byte conversions, because the float->int instructions include rounding, and the packing instructions are saturated so you can skip the clamping step.  That's as simple as this:

https://github.com/saucecontrol/PhotoSauce/blob/a9bd6e5162d2160419f0cf743fd4f536c079170b/src/MagicScaler/Magic/Processors/ConvertersFloat.cs#L451-L50

[2020-02-22 19:14] Sergio0694 commented on #1121
Unrelated: @saucecontrol your repo is seriously impressive, incredible work there! 👏

I have a couple questions:

1. What version of `ImageSharp` did you use to make those benchmarks? I'm particularly impressed by the very high memory usage it has compared to other libs, especially in the parallel benchmark (**207x** compared to `System.Drawing`? Am I missing something here? 😶).
2. If you have tim

[2020-02-22 19:22] saucecontrol commented on #1121
Thanks!  I did those benchmarks with the current dev at the time (1.0.0-dev003181).  I did a quick run yesterday with 1.0.0-unstable0806, and GC allocations were way down but speed was a bit worse.  I see @JimBobSquarePants has a new PR that improves perf.  Hopefully that gets merged this weekend?  I plan on re-running the whole suite since I've got a new MagicScaler version releasing today.  Woul

[2020-02-22 19:34] saucecontrol commented on #1121
Those numbers will always be misleading because System.Drawing is just a thin wrapper around native code (GDI+).  That's why I threw in a more comprehensive test that also measured unmanaged memory allocations.

[2020-02-22 23:51] antonfirsov commented on #1121
@saucecontrol thanks for the suggestions! Introducing a `System.Runtime.InteropServices` AVX2 path for our `float` -> `byte` conversion is definitely a long hanging fruit. If we could base our implementation on your code it would be super easy.

For Y'CbCr -> RGB, we already have [a SIMD path](https://github.com/SixLabors/ImageSharp/blob/master/src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorC

[2020-02-23 00:35] saucecontrol commented on #1121
You're certainly welcome to borrow any of my code you find useful.  My Y'CbCr conversion is here:

https://github.com/saucecontrol/PhotoSauce/blob/master/src/MagicScaler/Magic/PlanarConversionTransform.cs#L119-L225

You'll notice the scalar float version reads/writes directly to/from the buffers rather than going through a `Vector4`.  Setting the individual fields of `Vector4` is always slow becau

[2020-02-23 12:38] use191 commented on #1115
For a  green  hand,it's  difficult  to  operate,as  i  don't  know  the  mean  of  this.

[2020-02-23 12:52] Sergio0694 commented on #1115
This also seems a pretty good candidate to use the value delegate trick (for those unfamiliar, I mean using a `struct` type implementing an interface and making the method generic with the `T : struct, ISomeInterface` constraint, instead of taking an actual delegate like a `Func<...>`), since if I'm reading that linked OpenCV correctly, you'd basically have to invoke two custom functions to map th

[2020-02-23 12:59] use191 commented on #1115
so,i can  use  it  to  do  what

[2020-02-23 15:19] Mrbo80 opened #1123 "Issu empty folder"
You should first discuss the feature on Gitter: https://gitter.im/ImageSharp/General

You should first discuss the feature on Gitter: https://gitter.im/ImageSharp/General

You should first discuss the feature on Gitter: https://gitter.im/ImageSharp/General

You should first discuss the feature on Gitter: https://gitter.im/ImageSharp/General

[2020-02-23 15:19] Mrbo80 commented on #1123
Please help me

[2020-02-23 15:20] Mrbo80 commented on #1123
Please

[2020-02-23 15:21] dlemstra commented on #1123
Please don't spam our issues. You can ask for help here: https://gitter.im/ImageSharp/General

[2020-02-23 15:21] #1123 closed

[2020-02-24 04:30] louisdonat opened #1125 "make money"
You should first discuss the feature on Gitter: https://gitter.im/ImageSharp/General

You should first discuss the feature on Gitter: https://gitter.im/ImageSharp/General

You should first discuss the feature on Gitter: https://gitter.im/ImageSharp/General

You should first discuss the feature on Gitter: https://gitter.im/ImageSharp/General

[2020-02-24 05:16] #1125 closed

[2020-02-24 07:12] Mahiar7 commented on #1115
It was very helpful

[2020-02-24 09:49] louis126 commented on #1115
Good ideas.

[2020-02-24 10:16] rhysstubbs opened #1126 "System.ArgumentOutOfRangeException thrown during Metadata.Profiles.Icc.IccDataReader.ReadDateTime()"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-02-24 10:28] antonfirsov commented on #1126
@rhysstubbs that would be helpful! We hardly can reproduce codec-related issues without them.

[2020-02-24 10:30] rhysstubbs commented on #1126
Just to add to my comment "I can easily skip and forget" - I am fine with this, however, I have just tested with a much larger set of images and 674 failed with only 68 succeeding. All the failures were due to the above issue. @antonfirsov I will attach a few now.

[2020-02-24 10:34] rhysstubbs commented on #1126
I have attached 4 images, all `.jpg`s, 2 working and 2 failures.

[2020-02-24 10:37] antonfirsov commented on #1126
@rhysstubbs thanks!

[2020-02-25 18:36] brianpopow commented on #1121
WebP lossy format is similar to JPEG as in the image is also represented with YUV and split up into macroblocks. The difference is, that the DCT coefficients are represented as byte rather than float. All the decoding is done with integer operations.

For the other formats we currently have, i also can not see this applied. Unfortunately this optimization looks rather specific to JPEG at the momen

[2020-02-25 20:09] QuantumToasted opened #1127 "Image.Load() will throw ImageFormatException despite the image appearing to contain a proper data chunk"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-02-25 20:14] brianpopow commented on #1126
@rhysstubbs i have tried to reproduce your issue, but the images you provided are loading fine with ImageSharp v1.0.0-beta0007.

It seems neither `75145578-7e0f5180-56f9-11ea-8b19-490d7fed9139.jpg` nor `75145581-7f407e80-56f9-11ea-8e56-8c13bd21cbb2.jpg` have actually a Icc profile.

[2020-02-25 23:47] JimBobSquarePants commented on #1127
See the comment in #1029

https://github.com/SixLabors/ImageSharp/issues/1029#issuecomment-544061230

The decoder is waiting for the end of the stream which remains open. You should be `using` your stream.

`using var stream = await response.Content.ReadAsStreamAsync();`

[2020-02-25 23:56] QuantumToasted commented on #1127
Hello, thank you for the response.
I noted in the comments that I omitted my using statements as I was pasting a simplified version of the code. Here is the actual code as it is used:
[code]

[2020-02-26 01:50] JimBobSquarePants commented on #1127
Ah right.... The HttpClient bit is a red herring. Looks like we're unable to decode that png, I suspect because of the presence of the unhandled `bkGD` chunk

I'll see if I can get a fix out asap.

[2020-02-26 06:36] #1127 closed

[2020-02-26 18:04] tocsoft commented on #1126
@brianpopow Github can mess with the images when they are uploaded. @rhysstubbs can you please upload the images inside a zip to prevent github being "helpful"

[2020-02-26 21:10] antonfirsov opened #1129 "Expose ImageComparer API"
The image comparison logic implemented in [`TolerantImageComparer`](https://github.com/SixLabors/ImageSharp/blob/master/tests/ImageSharp.Tests/TestUtilities/ImageComparison/TolerantImageComparer.cs) might be interesting for users, eg. for testing purposes.

We should expose a similar feature from the core library.

The current `ImageComparer` API returns a list of detected [pixel differences](http

[2020-02-26 21:26] johanbenschop commented on #1129
I would be very interested in this feature. What I'm currently looking for is the ability to compare a known good image with one that was just generated in a unit test and look whether they're the same or at least close enough. I would prefer a percentage of how much difference there is (like a summary of what PixelDifference is now).

A difference image would be useful to see what changed I suppo

[2020-02-26 21:42] antonfirsov commented on #1129
You can call `differnceImage.Save(...)` to save it for manual analysis. In our test infrastructure we have a `.DebugSave(...)` extension method to save images to a dedicated artifact folder locally which is super useful, even without the difference image. On CI that method is a [NOP](https://github.com/SixLabors/ImageSharp/blob/master/tests/ImageSharp.Tests/TestUtilities/TestImageExtensions.cs#L67

[2020-02-27 07:24] rhysstubbs commented on #1126
@tocsoft Good point, here are the same images in a `zip`
[failed-images.zip](https://github.com/SixLabors/ImageSharp/files/4260047/failed-images.zip)

[2020-02-27 13:40] antonfirsov commented on #738
The strong naming fix is on the way!

Re licensing:
@SimonCropp the how does SPDX work with the licensing model we plan to introduce?

#1024 TLDR:
[code]

[2020-02-27 23:05] #1111 closed

[2020-02-29 00:24] #738 closed

[2020-02-29 18:35] brianpopow commented on #1126
@rhysstubbs: i still have problems reproducing the issue. The images you have provided in the failed-images zip file: `example-3.jpg` and `example-4.jpg` can be loaded with ImageSharp v1.0.0-beta0007.
They both do **not** contain an ICC profile, so i guess they are not the ones which are failing.

[2020-02-29 23:41] Jeremy0Pace opened #1135 "Error CS0012 when I call the Image.Load function."
### Prerequisites

- [✔️ ] I have written a descriptive issue title
- [✔️ ] I have verified that I am running the latest version of ImageSharp
- [❌ ] I have verified if the problem exists in both `DEBUG` and `RELEASE` mode
- [ ✔️] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to en

[2020-02-29 23:44] antonfirsov commented on #1135
@Jeremy0Pace that OpenTK sample code seems to be outdated. There were some small API changes in beta 7:
https://sixlabors.com/blog/beta-7/

[2020-02-29 23:57] Jeremy0Pace commented on #1135
What's the part that's outdated? I can't really find or think of anything that's different!

[2020-03-01 00:05] JimBobSquarePants commented on #1135
Shouldn’t this issue be raised on the OpenTK docs tracker? They should verifying everything works as expected if documenting a third party library.

[2020-03-01 00:11] Jeremy0Pace commented on #1135
That's true.

[2020-03-01 00:35] Jeremy0Pace commented on #1135
Well, I tried using one of the examples in the readme and it still shows the same errors when I compile it.

[2020-03-01 00:38] antonfirsov commented on #1135
@Jeremy0Pace check out the blog post. `Image.Load` no longer returns a generic type. I also think you might have some compilation errors from dependency issues not related to ImageSharp.

I suggest to create and build dummy project first. Doing something like `SixLabors.ImageSharp.Image img = null` in `Program.cs` and see if that builds.

[2020-03-01 00:40] Jeremy0Pace commented on #1135
Okay, I'll try that.

[2020-03-01 00:48] Jeremy0Pace commented on #1135
Yeah, I  tried that, it still showed the same errors.

[2020-03-01 01:04] antonfirsov commented on #1135
@Jeremy0Pace it indicates that something is wrong with your project setup. Looks like you are using mono, I would google for mono-related build issues if I was you.

This clearly has nothing to do with ImageSharp:

[2020-03-01 01:09] Jeremy0Pace commented on #1135
Okay, thanks for the help I guess.

[2020-03-01 01:09] #1135 closed

[2020-03-01 23:32] boxofyellow opened #1136 "Some operations on cloned images appear to be lost when performed in Parallel.For"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp **using 1.0.0-beta0007**
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode  **I have only observed this using the nuget package and does reproduce in both debug and release builds of test app**
- [x] I have searched [open](https://gi

[2020-03-02 15:41] boxofyellow opened #1137 "Some operations on cloned images appear to be lost when performed in Parallel.For"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp **using 1.0.0-beta0007**
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode  **I have only observed this using the nuget package and does reproduce in both debug and release builds of test app**
- [x] I have searched [open](https://gi

[2020-03-07 07:42] AwsomeCode commented on #828
@MattWhilden Hi, I am getting below error on my UWP build for release mode with ImageSharp Only.
After removing ImageSharp its building find.

Min SKD Build : 16299
Microsoft.NETCore.UniversalWindowsPlatform : 6.2.9
Using Setting in csproj file : `<Use64Bitcompiler>true</Use64Bitcompiler>`

Error		ILT0005: 'C:\Program Files (x86)\Microsoft SDKs\UWPNuGetPackages\runtime.win10-x86.microsoft.net.nati

[2020-03-07 09:41] AwsomeCode commented on #828
@MattWhilden & @JimBobSquarePants
Just to update the progress Its building fine for x64 Release mode but not for the x86 Release mode

[2020-03-07 19:50] onepiecefreak3 commented on #1115
@Sergio0694 Of course having 2 delegates calling for each coordinate x and y could hit performance in the situation you described. That's why I also included a sample from Kanvas, where a Point struct is just taken in, modified, and then returned. That might at least reduce the delegate count to one. But however you want to implement it, is of course the decision of this team here. I just gave my

[2020-03-08 22:40] antonfirsov opened #1141 "QuantizedFrame should use MemoryGroup/Buffer2D internally"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-03-13 01:20] antonfirsov commented on #1110
Also noticed many `Image.Load` overloads and other public methods, where we are not validating the input at all.

[2020-03-13 20:05] antonfirsov opened #1144 "Add Image.Identify(string path, ...) overloads"
See:
https://github.com/saucecontrol/PhotoSauce/pull/39#discussion_r392410253

[2020-03-15 01:47] #1144 closed

[2020-03-20 14:09] Tekkharibo opened #1148 "Gif creation FrameDelay = 1 (10ms)"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-03-20 14:42] Tekkharibo commented on #1148
After multiples test with online tools and other library, I think the gif with 10ms delay within frame not work

Proposition : Can you add this information on your documentation ?

[2020-03-20 14:42] #1148 closed

[2020-03-23 13:27] jimn-purecars opened #1149 "Image Resize results in shearing distortion"
# Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it ha

[2020-03-23 13:45] jimn-purecars commented on #1149
Notably, this issue does not occur with 1.0.0-beta0005, the version we were using previously.

[2020-03-23 13:52] JimBobSquarePants commented on #1149
@jimn-purecars Have you tried the [latest version of ImageSharp - `1.0.0-unstable0961`](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp)?

[2020-03-23 14:03] JimBobSquarePants commented on #1149
@jimn-purecars Looks like we've already fixed.it.

![1149](https://user-images.githubusercontent.com/385879/77324339-82398980-6d0e-11ea-98d8-04e174068861.png)

Despite the name, the "unstable" builds are actually rock solid and I would recommend switching to them while we ready the RC1 release.

Thanks for taking the time and filling in the issue template. Much appreciated!

[2020-03-23 14:03] #1149 closed

[2020-03-23 17:18] godshades opened #1150 "wrong image width height in linux"
### Description
Hi, my project running .net core 2.0 and lastest ImageSharp 4.7.0
I use ImageSharp to get width heigh of image
It's running fine in window pc, but when I publish to aws server it's alway return wrong size
I try publish many times but not work
Does someone have same problem ?
( I was used System.common dll from MS but aws can't install gdiplus so not work...)

### Steps to Reproduce

[2020-03-23 17:26] JimBobSquarePants commented on #1150
Hi @godshades

Please use the issue template we provided when raising issues. The information you have provided to us is insufficient and incorrect and we cannot act upon it. For example, there is no such thing as ImageSharp 4.7.0

Please also provide basic, relevant additional information such as...

- The image used
- The expected dimensions
- The returned dimensions

Thanks

[2020-03-24 02:21] godshades commented on #1150
@JimBobSquarePants sorry, here is my image: https://internal.codenet.fointl.com/product/f.o.online/V249070/V249070_sub01_2.jpg

Right dimensions: 750x750
Linux return: 1800x1800

[2020-03-24 02:30] antonfirsov commented on #1150
@godshades thanks for the update! We are still missing important information needed for efficient investigation. Can you please fill the issue template? (The default content you see when opening a new issue.)

[2020-03-24 02:38] godshades commented on #1150
@antonfirsov hi, I have updated first comment

[2020-03-24 03:24] antonfirsov commented on #1150
@godshades what is ImageSharp version: 4.7.0? We have only beta's on [NuGet](https://www.nuget.org/packages/SixLabors.ImageSharp/1.0.0-beta0007) and nightly builds on MyGet. Can you check and what version are you actually using?

[2020-03-24 03:42] godshades commented on #1150
@antonfirsov sorry for wrong number. I'm using 1.0.0-beta0007 get from nuget

[2020-03-24 08:58] stoppiNeobiz opened #1151 "How to set the quality image on save?"
You should not create an issue but use Gitter instead: https://gitter.im/ImageSharp/General

You should not create an issue but use Gitter instead: https://gitter.im/ImageSharp/General

You should not create an issue but use Gitter instead: https://gitter.im/ImageSharp/General

You should not create an issue but use Gitter instead: https://gitter.im/ImageSharp/General

[2020-03-24 09:18] #1151 closed

[2020-03-24 15:15] JimBobSquarePants commented on #1150
@godshades That image you provided is 1800x1800 pixels. I have loaded it in a Windows environment and it correctly reports the same value.

I'm closing this as it appears there is no issue to fix.

[2020-03-24 15:15] #1150 closed

[2020-03-24 15:35] godshades commented on #1150
@JimBobSquarePants sorry, i understand where is the problem
this link above only return image when access at ip X, and my server IP Y cannot access this
so it return 1800x1800 xD

[2020-03-28 22:52] echiabra opened #1159 "Image.SaveAsPng doesn't fill Stream variable"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-03-29 06:17] brianpopow commented on #1159
you are assigning null to the stream yourself.

here is a example howto use it:

[code]

Those kind of questions can be asked in our gitter channel: https://gitter.im/ImageSharp/General

[2020-03-29 06:17] #1159 closed

[2020-03-29 06:51] JimBobSquarePants commented on #1159
I really, really don’t recommend exposing ActionResults like this. You’re essentially creating a DDOS entry point. If you want to resize images in ASP.NET Core use our ImageSharp.Web middleware.

[2020-03-29 07:45] ewhoambra commented on #1159
@brianpopow my apologies. Then, shouldn't a NullReferenceException be thrown?

@JimBobSquarePants thanks for the kind advice.

[2020-03-29 08:51] dlemstra commented on #1159
I am doing the following inside Magick.NET:

[code]

Maybe we could add something similar here to improve the error reporting?

[2020-03-29 10:16] JimBobSquarePants commented on #1159
I actually think the code is running as expected. `Stream.Null` is designed to return on write.

[2020-03-29 17:44] #1141 closed

[2020-03-30 06:59] finnagrab opened #1162 "Failed NuGet installation: Unable to resolve dependency 'SixLabors.ImageSharp'."
### Description
I'm trying to install this package, but Visual Studio 2019 gives the error "Unable to resolve dependency 'SixLabors.ImageSharp'."

### Steps to Reproduce
1. Open Visual Studio 2019
2. Create new C# console application
3. Install this package through the built-in NuGet package manager

- ImageSharp version: 4.7.0
- Other ImageSharp packages and versions:
- Environment (Operating sys

[2020-03-30 07:57] JimBobSquarePants commented on #1162
There is no such thing as ImageSharp 4.7.0

[2020-03-30 12:36] antonfirsov commented on #1159
@ewhoambra `Stream.Null != null`. It's a [special stream](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.null), there are no `null` references.

[2020-03-30 18:33] saucecontrol commented on #1162
Ha, probably Veldrid.ImageSharp, which is the first match when you search in VS without the prerelease checkbox checked

![image](https://user-images.githubusercontent.com/7929102/77948268-02fe0580-727a-11ea-9850-03a2f24c030f.png)

[2020-03-30 23:19] JimBobSquarePants commented on #1162
@saucecontrol Yeah that make sense, thanks!

@finnagrab Can you confirm? If so you need to get the SixLabors.ImageSharp library. The Veldrid one is a plugin for another system.

[2020-04-04 07:14] jogibear9988 opened #1163 "System.ArgumentOutOfRangeException from Image Constructor (large image)"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-04-04 09:35] JimBobSquarePants commented on #1163
@jogibear9988 This should be fixed in the nightly builds on MyGet. Please install the package from there and let us know how you get on.

[2020-04-04 16:19] antonfirsov opened #1164 "Improve accessability of Span<T> methods on Image<T> / ImageFrame<T>"
## Problems

We have two, somewhat related issues to address:
1. `AdvancedImageExtensions.GetPixelSpan` is now obsolete, and there is no convenient way to get a single pixel span for memory interop use-cases
2. Keeping the pixel span methods in `AdvancedImageExtensions` leads to poor discoverability. With all the Roslyn analyzers we have today, to detect `Span<T>` misuse, I no longer consider them

[2020-04-05 13:24] JimBobSquarePants opened #1166 "Remove Microsoft.Net.Compilers.Toolset"
According to the [Nuget documentation](https://www.nuget.org/packages/Microsoft.Net.Compilers.Toolset/).

We're explicitly violating support there so should rely on the VS/SDK minimum versions instead.

[2020-04-05 13:47] tocsoft commented on #1166
we shouldn't need to explicitly remove the dependency from our toolchain.. we should however be making sure we mark it as `PrivateAssets='All'` to prevent it being introduced into our external package deps

[2020-04-05 20:03] jogibear9988 commented on #1163
This one is solved, I now get another exception...

[2020-04-05 20:03] #1163 closed

[2020-04-05 20:09] jogibear9988 opened #1167 "IndexOutOfRange Exception in newest myget package"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-04-05 20:12] JimBobSquarePants commented on #1167
What is the size of the image and what are x and y when the exception is thrown?

[2020-04-05 20:20] jogibear9988 commented on #1167
size is 80000x40000

point is 0 and 20000 so it means x is zero and y is 2

[2020-04-05 20:27] JimBobSquarePants commented on #1167
And what are the dimensions of the `im1` image?

[2020-04-05 20:46] JimBobSquarePants commented on #1167
Ok....

I'm able to reproduce the issue with the following code.

[code]

The stack trace is different but the final exception location is the same. I don't believe `DrawImage` or any pixel manipulation is relevant.

[code]

@antonfirsov one for you perhaps?

[2020-04-05 23:05] antonfirsov commented on #1167
Yeah, I'll look into it.

[2020-04-06 10:53] Yanayaya opened #1168 "ImageSharp hanging and giving me errors about file types in my ASP.NET Core application"
I've recently started using ImageSharp but I'm struggling to get it to work. I have two problems:

1. When I upload an image, it's submitted to my controller and then it hangs. No errors are reported, the application doesn't break and browser console doesn't report any errors. The record is never created in the database either.
2. On other files which are of .jpg the format I get the error of:

[2020-04-06 17:25] JimBobSquarePants commented on #1168
You timeout issue I believe caused by `BlobContainerClient` trying to read from the end of the stream. This would happen irrespective of the stream contents.

When you save to a `MemoryStream` you need to reset the position back to `0` for subsequent reading.

[code]

As far as your input issues are concerned I cannot tell you without seeing a failing image to test.

[2020-04-06 18:03] JimBobSquarePants commented on #1162
Closing through lack of activity.

[2020-04-06 18:03] #1162 closed

[2020-04-09 20:50] #1166 closed

[2020-04-11 20:33] JimBobSquarePants commented on #854
I think we've pretty much covered most cases in the code base now. Anything further can be dealt with on a case by case basis.

[2020-04-11 20:33] #854 closed

[2020-04-12 09:06] JimBobSquarePants commented on #1168
Closing as relevant [Stack Overflow question](https://stackoverflow.com/q/61062906/427899) has been marked as answered.

[2020-04-12 09:06] #1168 closed

[2020-04-13 14:23] #1164 closed

[2020-04-15 12:33] fatihsokmen commented on #926
We've having the same problem, anybody solved this or any workaround?

[2020-04-15 12:34] JimBobSquarePants commented on #926
Version number, image?

[2020-04-15 21:47] rrasho commented on #926
I am seeing this with azure functions V3 (3.0.13139.0). Resizing book covers from large jpgs to smaller png.

I do not see the issue when running locally on my Mac, or in my parallels install of windows 10.

What my image should look like (resized locally):
![M](https://user-images.githubusercontent.com/8754709/79391766-2397b200-7f40-11ea-9024-f75ca1824781.png)

What it looks like resized by azure

[2020-04-15 22:18] JimBobSquarePants commented on #926
You need to let us know the ImageSharp version. We can do nothing without it

[2020-04-15 22:19] JimBobSquarePants commented on #926
Code samples also to replicate the issue.

[2020-04-15 22:23] fatihsokmen commented on #926
I used 1.0.0-beta0007. I have same issue as @rrasho has

[2020-04-15 22:25] JimBobSquarePants commented on #926
Can you try the latest build from our MyGet package source?

[2020-04-15 22:27] JimBobSquarePants commented on #926
Also try copying the input stream to a MemoryStream then resetting the position before using it to load the image.

[2020-04-15 22:34] JimBobSquarePants commented on #926
@rrasho @fatihsokmen does the issue only happen when saving to png? Only when resizing? or does simply loading/saving a jpeg cause the issue?

[2020-04-16 03:57] rrasho commented on #926
I am also using 1.0.0-beta007, downloaded from nuget.org. I will try the version from the myget source.

The code works fine for the same image when run locally as seen above. It also works for most of our images in when they run through our azure function.

[code]

[2020-04-16 15:00] JimBobSquarePants commented on #926
@rrasho Could you please also check to see whether you can reduce the sample to help us identify the issue? Thanks!

[2020-04-16 15:48] JimBobSquarePants commented on #926
I mean a reduced code sample. We can't tell if the issue happens only when resizing, or simply simply when encoding to a png.

[2020-04-16 16:39] JimBobSquarePants commented on #926
How much memory are you allowing with your Azure Functions?

[2020-04-16 17:00] rrasho commented on #926
3.5 GB

I see. Here is my code to simply save as png (results in distortion):
[code]

And here is the code to do the same resizing, but save as jpeg (still results in distortion):
[code]

Finally, I have copied my input Stream into a MemoryStream and resized as jpeg as shown below. This has resolved the distortion. It appears that loading an image from a Stream was the issue. The input stream is p

[2020-04-16 18:31] fatihsokmen commented on #926
Copying from blob stream to memory stream seems to fixed the issue on our side. Thanks

[2020-04-16 19:08] JimBobSquarePants commented on #926
I thought that might be the case. Could you please both let me know what the type of the input stream is. I’d like to do some deeper investigation to see if I can make the experience better.

[2020-04-16 20:08] fatihsokmen commented on #926
We use Azure blob trigger to generate thumbnails. Azure provides an abstract **Stream** which I believe stream implementation is not suitable for ImageSharp api.  So, copying blob stream into a MemoryStream worked.

[2020-04-19 23:32] atruskie commented on #1129
I would be interested in this. I have had long had my own functions to do this and suffice to say, they are not that great.

RE difference image, I did a similar thing. I made a "DeltaImageProcesser" which my image comparer method uses. It is not a true difference image, but I've found it be diagnostically more useful, especially for very small differences. It boils down to:

- return gray if pixe

[2020-04-19 23:56] #1051 closed

[2020-04-20 07:43] brianpopow commented on #860
closed with #1174

[2020-04-20 07:43] #860 closed

[2020-04-20 13:30] claustsen opened #1177 "PngDecoder omits reading CRC, resulting in ImageFormatException"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-04-20 20:51] JimBobSquarePants commented on #1177
@claustsen Thanks for raising the issue and the suggested fix. It seems sensible to me so we will double check it and run the full suite of tests to check.

Can I safely assume that the image at https://assets-cylindo-com.s3.amazonaws.com/1535/2700525/1/small.png will trigger the issue and that it is not going away before we have the chance to test?

[2020-04-21 06:17] claustsen commented on #1177
The two referenced images should trigger the error and they will stay there for the foreseeable future.

[2020-04-21 19:43] #1177 closed

[2020-04-21 20:08] JimBobSquarePants commented on #867
I'm gonna close this. We've got strong naming and we've made many infrastructural changes to the build since this was raised. Any specific issues can be raised again in the future.

[2020-04-21 20:08] #867 closed

[2020-04-22 07:08] #1167 closed

[2020-04-22 07:10] #1110 closed

[2020-04-22 07:13] JimBobSquarePants commented on #633
I forgot we'd added this functionality. Closing now.

[2020-04-22 07:13] #633 closed

[2020-04-22 17:38] omatrot opened #1183 "Xamarin AOT compiler error for 32 bit"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-04-22 21:11] antonfirsov commented on #1183
I'm afraid we can't do anything about this:
there's no Xamarin dev / Apple expert on the board, and we won't be able to reduce the code size of the lib.

A [quick google search](https://www.google.com/search?q=%22can%27t+be+AOT-compiled+for+32-bit+architectures+because+the+native+code+is+too+big+for+the+32-bit+ARM+architecture%22) gives me several hits resolving this on configuration / IDE side. A

[2020-04-23 05:39] omatrot commented on #1183
I've also [reported the problem](https://developercommunity.visualstudio.com/content/problem/1002520/mtouch-error-mt5107-the-assembly-sixlaborsimagesha.html) to Microsoft.
Wait and see what they think about it.

[2020-04-23 10:53] JimBobSquarePants commented on #1183
@omatrot  I don't think the Visual Studio tracker is the best place to report the issue. I would recommend going straight to the source.

https://github.com/xamarin/xamarin-macios/issues/6925#issuecomment-556040544

[2020-04-24 06:27] yangy9593 opened #1185 "PNG GIF how to set quality?"
PNG GIF how to set quality?

[2020-04-24 07:31] JimBobSquarePants commented on #1185
As indicated in our issue template we require all users to not use the issue tracker for questions. Please use our [Gitter]([url](https://gitter.im/ImageSharp/General)) channel instead.

[2020-04-24 07:31] #1185 closed

[2020-04-24 11:03] #966 closed

[2020-04-24 12:21] JimBobSquarePants commented on #1126
Since we've been unable to replicate the issues with the supplied images I'm going to close this.

@rhysstubbs feel free to request that we reopen it once you have identified the problematic images.

[2020-04-24 12:21] #1126 closed

[2020-04-24 14:09] omatrot commented on #1183
I'm currently evaluation the following [workaround](https://github.com/xamarin/xamarin-macios/issues/8448#issuecomment-619024294).

The build error has gone, Hope that everything will be fine at runtime.

[2020-04-24 14:19] JimBobSquarePants commented on #1183
@omatrot please let us know if there are runtime issues. We can try to ensure that all the used code is detected properly via https://github.com/SixLabors/ImageSharp/blob/2320f16274fe126acc560a8d331a9eeb870bc540/src/ImageSharp/Advanced/AotCompilerTools.cs#L26

[2020-04-24 15:31] omatrot commented on #1183
So far so good :)

[2020-04-24 15:47] brianpopow commented on #320
I think this issue can be closed. We support all relevant bitmap variants now.

There are some exotic variants we do not support, like BMP files with embedded JPEG and PNG images (which are for printers). Or some OS/2 icon bitmap variants. It would be just a solely academic exercise to add support for those, as i really doubt that those can be found in the wild.

[2020-04-24 15:49] JimBobSquarePants commented on #320
Sounds good to me @brianpopow 👍

[2020-04-24 15:49] #320 closed

[2020-04-24 22:50] Stryxus commented on #121
This is the only thing holding up the development of my projects web optimization/delivery app.

I put images into my website (preferably uncompressed) and then the app converts/compresses them down to WebP. I do this because im trying to optimize my projects website as much as possible on a small as possible budget. Sadly i cant find any alternatives for this operation.

[2020-04-27 17:43] Flarescape commented on #121
@Stryxus In the meantime have a look at googles libwebp.
https://developers.google.com/speed/webp
I've made a simple service that uses the cwebp.exe with parameters to convert my images to webp files and it works really fast and well.
It's well documented and you have the option for very specific settings.

[2020-04-28 06:48] Stryxus commented on #121
@Flarescape Iv been trying to stay away from it but i might have to at this point. Thnx though.

[2020-04-28 13:48] ststeiger commented on #121
@Stryxus: You could try with C++.NET.
Maybe that works for you.

[2020-04-28 14:10] Stryxus commented on #121
@Flarescape  Luckily, a friend provided some wrapper code after asking around some more. It was old but i updated it a little. Will be using that until its available here.

[2020-04-28 14:49] ststeiger commented on #121
@Stryxus: If you copy just in the right moment, you might get it before the license switches to AGPL.

[2020-04-28 17:48] JimBobSquarePants commented on #1183
Ok... Closing this for now then. Any  other issues please let us know.

[2020-04-28 17:48] #1183 closed

[2020-05-01 14:07] omatrot commented on #1183
I encountered this issue today:

[code]

[2020-05-01 23:36] AlexDenton opened #1195 "Images 2 pixels wide can not be resized"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-05-01 23:51] JimBobSquarePants commented on #1195
Hi @AlexDenton I'm sorry but I don't quite understand. Are you saying that your input image is 2px wide? What is the height?

[2020-05-02 00:56] antonfirsov commented on #1183
@omatrot looks like a subcase of #946, so it's better to move further conversation to that issue. If you used beta7, can you try RC1?

[2020-05-02 07:45] omatrot commented on #946
@antonfirsov Following #1183 I have the same problem with RC1.

[2020-05-02 11:01] brianpopow commented on #946
@omatrot  could you please provide the image which is failing for you? I have tried to reproduce this with mono as described here [mono aot](https://www.mono-project.com/docs/advanced/aot/), but all the png work fine with RC1. My guess is you really need to run that on an iOS device to get this error.

[2020-05-02 11:58] omatrot commented on #946
@brianpopow Here it is.
![profile_pic](https://user-images.githubusercontent.com/4366356/80863472-e68c2900-8c7c-11ea-81f3-2ac98944bc5e.png)

[2020-05-02 15:17] AlexDenton commented on #1195
If the input image has a dimension of either width or height that is less than 2 pixels you will get this exception.

[2020-05-02 16:05] JimBobSquarePants commented on #1195
Perfect. Thanks for the detail, should be a simple enough fix.

[2020-05-10 16:36] #1195 closed

[2020-05-12 10:21] next100years opened #1199 "SixLabors.ImageSharp Final Stable Versione When?"
Hi
Now the SixLabors.ImageSharp package is RC1, when the final stable version?

thanks

[2020-05-12 10:39] JimBobSquarePants commented on #1199
Some time within the NEXT 100 YEARS..... (I'm sorry, I couldn't help myself)

We've not set a concrete date for the for v1.0.0 final. We'd like to ship it hopefully within the next 3 months but it depends on how much time (and funding) is available.

That said the RC1 release has full go-live support so you can use it safely in a production environment with our blessing and support.

I hope that i

[2020-05-12 10:39] #1199 closed

[2020-05-15 10:14] john-h-k commented on #1121
I'll give this a shot. A couple of questions:
- what is the default behaviour?
- For RGB32, does it just assume alpha value of 1?

[2020-05-15 12:06] JimBobSquarePants commented on #1121
Awesome! Not sure I understand what you mean by the first question but `Rgba32` would use an alpha of `255`.

[2020-05-15 13:00] john-h-k commented on #1121
@JimBobSquarePants i get the 32/24 behaviour but not sure what it means by default impl

Silly me, was thinking of floating point max alpha 😁

[2020-05-15 13:06] JimBobSquarePants commented on #1121
Ah right.... So we have a "default" PixelOperations<T> class which we then override with implementations specific to individual pixel formats.

The default version will use vectors and the various members of `IPixel` interface
https://github.com/SixLabors/ImageSharp/tree/b720219bb5d01f8443408819574444cc19baf595/src/ImageSharp/PixelFormats

Whereas the explicit versions contain optimizations that t

[2020-05-15 16:44] antonfirsov commented on #1121
In other words: the default implementation contains generic code, that utilizes the `IPixel<T>` interface thanks to the constraints:
https://github.com/SixLabors/ImageSharp/blob/b720219bb5d01f8443408819574444cc19baf595/src/ImageSharp/PixelFormats/PixelOperations%7BTPixel%7D.Generated.cs

However instead of extending that interface (more codebloat for low benefits), I suggest to convert `TPixel` fr

[2020-05-17 12:15] tocsoft opened #1202 "Unable to create new Image<TPixel> from VB.NET due to the unmanaged constraint"
There is a user on Stack Overflow
Image sharp as an issue at the moment where its not possible to new up a new `Image<TPixel>` or call any of our `TPixel` based APIs from VB.NET as all our `TPixel` APIs have the `unmanaged` constraint and that is not (and apparently[ will not be supported in VB.NET](https://github.com/dotnet/vblang/issues/300))

We need to come up with a solution to this.

### Rel

[2020-05-17 12:18] tocsoft commented on #1202
First thought for a quick win create a static `Image.Create(width, height)` set of APIs that will new up the the class on behalf of the user and return it to them in the unconstrained `Image` base class form.

That would unblock most APIs except direct pixel access.

[2020-05-17 14:19] hansmbakker commented on #435
It would be very helpful if this was provided out of the box like SkiaSharp does:
https://github.com/mono/SkiaSharp/blob/master/source/SkiaSharp.Views/SkiaSharp.Views.UWP/UWPExtensions.cs

[2020-05-22 14:10] Sergio0694 opened #1204 "ImageSharp-rc1 fails to build on UWP Release ARM"
### Possibly related to #987 and #828

### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3A

[2020-05-22 15:20] americanslon opened #1205 "SixLabors.ImageSharp.UnknownImageFormatException: Width or height cannot be 0"
### Description
I am getting the above error on ` using (var image = Image.Load(inStream))`

### Steps to Reproduce
[code]

### System Configuration
Blazor WASM.
The image is coming from https://www.matblazor.com/FileUpload.

- ImageSharp version: **1.0.0-beta0008**
- Environment (Operating system, version and so on): **Win 10**
- .NET Framework version: **netstandard 2.1**

[2020-05-22 16:17] JimBobSquarePants commented on #1205
Hi @americanslon

Just checking. That's **ImageSharp.Drawing 1.0.0-beta0008** yeah which is referencing the **ImageSharp 1.0.0-rc0001** release?

Is there a way to access the underlying data from the `IMatFileUploadEntry` to check the contents and copy it rather than using the in built method. The error suggests to me we're not receiving all the data.

[2020-05-22 17:29] 13xforever opened #1206 ".DrawText() overload with Brush and Pen throws IndexOutOfRangeException"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-05-22 19:00] americanslon commented on #1205
Yeah that's SixLabors.ImageSharp.Drawing 1.0.0-beta0008

I am not really sure to be honest. This stream/image processing stuff not something I deal with usually so I am just trying to cobble up some basic resizing functionality from examples. I know that the uploader generally works fine as I have been using it to capture and turn the file into base64 string for a some time now with no problems.

[2020-05-22 19:41] JimBobSquarePants commented on #1205
Are you able to share the image? if not does it work in a non asynchronous environment?

[2020-05-22 19:59] americanslon commented on #1205
Just a random screenshot form PC.

![2020-05-20](https://user-images.githubusercontent.com/10237524/82705152-1cea1200-9c45-11ea-8b99-f896c37f4acc.png)

[2020-05-26 17:26] MattWhilden commented on #1204
Thanks for tagging me. I've opened an issue with the optimizer team and they should take a look at it in the near future. The ID in our internal DB is 1130988 in case that's useful when talking to other .NET folks.

[2020-05-26 17:29] MattWhilden commented on #1204
Oh, forgot to mention. I haven't played with it but I'd be surprised if you couldn't work around the issue by disabling compiler optimizations. It's hard to narrow down what's problematic immediately but something like this in Properties\Default.rd.xml might get you unstuck:
[code]

[2020-05-26 17:46] Sergio0694 commented on #1204
Hey @MattWhilden - that's great, thank you for looking into this! 😊

I tried your `.rd.xml` fix and it did in fact build successfully! If it helps, I got this output:

[code]

In particular, that warning sounds interesting:

At this point I think I'll just drop the ARM builds entirely for now though, as they're not really used anywhere anyways (there are no Windows 10 ARM32 devices, as far as I kn

[2020-05-26 20:59] MattWhilden commented on #1204
Ah, maybe I misremembered which binaries get pulled in. Might be a completely spurious. :-D

[2020-05-26 22:43] kroymann opened #1207 "UnknownImageFormatException when trying to load certain JPEG images"
### Description
While reviewing logs from my company's image processing server, I recently discovered a handful of JPEG images that are failing with the following exception:

[code]

All of the images processed by our system are generated by the same encoder (the JPEG encoder built into the Unity game engine), so I'm not sure what is special about these images.  A sample of three such images can b

[2020-05-26 22:55] kroymann commented on #1207
More info on some of these files:
- Trying to open them in MS Paint, paint.net, Image Magick or the Photos app in Windows all fails.
- Irfanview is able to open them just fine (according to one of my co-workers who is testing this remotely)

[2020-05-26 23:43] JimBobSquarePants commented on #1207
They're not valid jpegs. There's two bytes of data before the `SOI` marker `FF` `D8`

![image](https://user-images.githubusercontent.com/385879/82960393-46db6580-9fb2-11ea-9375-f078918ddbda.png)

If you remove them then the images decode just fine.
![68279749d40046e582fd97e382108fe6](https://user-images.githubusercontent.com/385879/82960632-ea2c7a80-9fb2-11ea-8cde-16644f83427d.jpg)

If those two b

[2020-05-27 00:16] kroymann commented on #1207
Thanks for the quick response!  Given that we've had tens of millions of images successfully processed through this pipeline, I don't think you should bother adding anything to the ImageSharp codebase to handle this particular form of corruption.

In looking at those two bytes that shouldn't be there, I just realized that they are the ASCII encoding of CR-LF.  And given that these images are uploa

[2020-05-27 00:16] #1207 closed

[2020-05-27 05:24] programatix opened #1208 "TGA format conflict with J2K format"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-05-27 05:58] YuanfanHu opened #1209 "Could not load file or assembly 'System.Numerics.Vectors, Version=4.1.3.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies."
Hello I was using 4.7.1 framework but I receive {"ErrorDetails":"Could not load file or assembly 'System.Numerics.Vectors, Version=4.1.3.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)"}
I am pretty sure that I have updated the version to 4.1.4.0.

[2020-05-27 07:55] brianpopow commented on #1208
Because the file header of a tga file does not contain a magick byte sequence like all the other image formats its hard to tell from the first few bytes if its really a tga. The current approach can lead to false positive, if the first 3 bytes are valid for a tga file.

As far as i know tga is the only image format which does not have a magick bytes sequence at the start. The J2K file should start

[2020-05-27 07:56] JimBobSquarePants commented on #1209
Please use the template for future issues.

[2020-05-27 07:56] #1209 closed

[2020-05-27 08:01] programatix commented on #1208
J2K has "jP" as the magic byte sequence (see https://www.file-recovery.com/jp2-signature-format.htm). However, its first 3 bytes are "00"s, which causes the current TGA detector to identify it as a TGA format. Since I'm registering my J2K encoder/decoder as an add-on, TGA take precedent causing the exception during TGA decoding.

[2020-05-27 08:08] JimBobSquarePants commented on #1208
A potential fix would be to order our format by header length upon load for reading. Since jpeg2k would be longer it would always match first.

[2020-05-27 08:26] programatix commented on #1208
J2K magic string would be 8 bytes, where TGA format header declared is 18 bytes.

[2020-05-27 08:31] brianpopow commented on #1208
i think i can improve the heuristic of detecting a TGA file a bit. If the second byte (color map type) is zero, the color map specification bytes should also be zero.

[2020-05-27 12:01] JimBobSquarePants commented on #1208
The format detector should really only be declaring a length of the byte span it is checking. The Tga one is declaring 18 but only checking two.

[2020-05-27 12:02] JimBobSquarePants commented on #1207
I think you might have hit the nail on the head there.

[2020-05-27 12:03] JimBobSquarePants commented on #1204
@Sergio0694 That binary shouldn't exist now!

[2020-05-27 12:27] tocsoft commented on #1208
how popular is TGA? could we not just make it so that we never auto detect from headers for that format and change it to require manually specifying the decoder/format for decoding them?

We can then improve our `Image.Load('FileName.tga')` path to fallback (if we failed to detect from headers) to looking up a format from the file extension and using that instead?

[2020-05-27 17:31] #1208 closed

[2020-05-28 02:04] YuanfanHu commented on #1209
I am using version rc-0001.Indeed I checked in appconfig with following version.But I got error while deploying
<dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" /></dependentAssembly>

[2020-06-02 22:17] greg-dickie commented on #946
@antonfirsov I'm getting this error when compiling my Xamarin Forms/iOS app after adding the ImageSharp NuGet package: error MT3001: Could not AOT the assembly '/Users/gregdickie/Library/Caches/Xamarin/mtbs/builds/Forms.Mobile.iOS/3888efad18065936af5713c2f604b75c/obj/iPhone/Debug/mtouch-cache/3-Build/SixLabors.ImageSharp.dll'.

Any ideas what could be causing this?

[2020-06-03 14:22] antonfirsov commented on #946
@greg-dickie you have a compile-time error, any chance it's rather related #1183?

Since it's unrelated to the "seeding" concerns addressed by this issue, I suggest to move the discussion to our [gitter channel](https://gitter.im/ImageSharp/General), it has better visibility there. Do you have more info in your compiler output?

[2020-06-05 15:10] wagich opened #1211 "Re-saving interlaced PNG results in corrupt image"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-06-05 16:24] JimBobSquarePants commented on #1211
Thanks @wagich

There's actually nothing in the specifications that says we shouldn't support all filter methods; we were just forgetting to swap some buffers after each pass.

I have a PR #1212 ready to test and once it's approved you can download the nightly package from the MyGet feed lined in our readme.

[2020-06-06 11:47] #1211 closed

[2020-06-08 18:22] arakis opened #1218 "ArgumentOutOfRangeException: Parameter "bufferAlignment" (System.Int32) must be greater than or equal to 0, was -2147483643"
Today, I got a bug report from a user of my open source project:

![image](https://user-images.githubusercontent.com/1831942/84065661-01149900-a9c5-11ea-9310-88b342fe6ffd.png)

[code]

SixLabors.ImageSharp: 1.0.0-rc0001
SixLabors.ImageSharp.Drawing: 1.0.0-beta0008

Because this issue don't happen on my own device, I have no idea what could be the problem.

[2020-06-09 09:27] eelke-at-bolt opened #1221 "Identify fails on image that can be loaded without error"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-06-09 15:11] JimBobSquarePants commented on #1218
@arakis I'm going to transfer this issue to the ImageSharp.Drawing repository.

The value passed to the allocator is determined by  the `IPath` bounds. Something must be wrong there in order to cause the integer overflow.

[2020-06-09 15:28] JimBobSquarePants commented on #1205
This is definitely an issue with the stream contents not being completely flushed before we attempt to load it. I was able to load the given image without issue.

I suggest you raise an issue in that repository to track how streams are buffered/written.

[2020-06-09 17:13] ajamaeen commented on #933
Make sure the stream position is zero before loading from it.

stream.Position = 0;

[2020-06-09 23:07] JimBobSquarePants commented on #1205
@americanslon We've just added an asynchronous API to our development builds. Please check them out (in about 12 minutes once they finish building). The link to the MyGet feed is in our readme.

This may make the problem go away.

[2020-06-10 17:20] sn4k3 opened #1224 "System.NullReferenceException when attempt to Mutate.Draw on a new created Image<L8>"
### Description

**What i'm trying to do:** Resize white pixels but keep original image Width & Height

Error: newImage=error CS0103: The name 'newImage' does not exist in the current context

![image](https://user-images.githubusercontent.com/113281/84296971-bc177080-ab44-11ea-9e95-05237de00968.png)

void Resize() is called under a Task
this[layerIndex].Image; // Creates a new Image<L8> that load

[2020-06-12 00:06] andrei-m-code commented on #121
@brianpopow Thanks for working on this! I'm still looking forward for the support of webp. I have to go through crazy workarounds only for this specific format. Are there any updates? Do you need help?

[2020-06-12 21:46] #1221 closed

[2020-06-13 16:13] hishamco opened #1228 "PNG encoder throws an exception on x64"
Seems there's a lake on supporting this on 64 bit, for more details, please refer to https://github.com/OrchardCMS/OrchardCore/issues/6414

[2020-06-14 15:32] brianpopow commented on #121
@andrei-m-code At the moment decoding lossy and lossless webp images work so far.

Im working since quite some time now on decoding lossless webp. I made good progress with it, but its not done yet.
I would estimate i have done 80% so far, so i think i get a first version done soon, but there are still quite a few TODO's left.

When lossless encoding is done, i would need help to test different im

[2020-06-15 11:27] antonfirsov commented on #1228
@hishamco to make it actionable for us, can you please:
1. Fill the issue template, making sure you include:
  - The exact type of your CPU
  - .NET Core version
  - OS version
2. Provide the PNG you are trying to resize. Note: based on stack trace, the issue is in the PNG encoder.

[2020-06-15 12:05] ArieGato commented on #1228
### Steps to Reproduce
fire the following request to OrchardCore: https://my.domain/media/myimage.png?width=100

### System Configuration

- ImageSharp version:
SixLabors.ImageSharp 1.0.0-rc0002

- Other ImageSharp packages and versions:
SixLabors.ImageSharp.Web 1.0.0-rc0003

- Environment (Operating system, version and so on):

Published the web site in devops
[code]

windows server 64 bit.
.net

[2020-06-15 12:08] JimBobSquarePants commented on #1228
Throwing line is here.

https://github.com/SixLabors/ImageSharp/blob/0890bca63e9843ae36abf1dd8ad29a8ab4fe228a/src/ImageSharp/Formats/Png/Zlib/Adler32.cs#L133

The fix should be simple. I'm checking for `Sse3` not the correct supplementary `Ssse3` support.

[code]

[2020-06-15 14:58] TheMisir opened #1230 "context.BackgroundColor throws Object reference not set to an instance of an object."
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-06-15 17:16] sebastienros commented on #1228
Would this happen on any Windows machine or does it depend on the cpu ?

[2020-06-15 17:18] JimBobSquarePants commented on #1228
@sebastienros depends on the CPU. Many (most) likely support Ssse3

https://en.m.wikipedia.org/wiki/SSSE3

[2020-06-15 23:23] #1228 closed

[2020-06-16 12:34] Sergio0694 commented on #1202
Whoops, I think this is my fault 😅

See https://github.com/SixLabors/ImageSharp/pull/1122.

[2020-06-16 13:19] JimBobSquarePants opened #1233 "CI Generates Wrong Version Number."
This is a tracking issues for https://github.com/GitTools/GitVersion/issues/2329

Our build system is reusing old version numbers for "unstable" builds. This effectively rewrites history and make discovery of incremental fixes almost impossible for the consumer.

[2020-06-16 14:08] FransBouma commented on #814
Isn't this a 9 tap tent filter, as described by Smith? https://pdfs.semanticscholar.org/cdf7/1f6ea2178cfa210a30c5870c235f3acdc42a.pdf

[2020-06-16 20:23] JimBobSquarePants commented on #1230
What do you mean by this, Is the issue intermittent? What environmental factors trigger a difference in result.

[2020-06-16 21:43] TheMisir commented on #1230
I really don't know what triggers the issue. Might be because of multithreaded process or something else. In case you're interested here's source code of the project: [Program.cs:288](https://github.com/TheMisir/dropmaker/blob/master/src/Program.cs#L288). There might be some sort of low level issue which caused this code to throw an exception.

[code]

Yes, I'm using ImageSharp to process thousand

[2020-06-16 22:26] JimBobSquarePants commented on #1230
Thanks @TheMisir that's correlates with my findings. If got a fix in motion. #1234

[2020-06-16 22:39] JimBobSquarePants commented on #1224
I think this might be related to #1230 @sn4k3 if you can provide a stack trace that would be really useful.

[2020-06-16 22:42] sn4k3 commented on #1224
System.NullReferenceException
  HResult=0x80004003
  Message=A referência de objecto não foi definida como uma instância de um objecto.
  Source=mscorlib
  StackTrace:
   at System.Collections.Generic.Dictionary`2.Insert(TKey key, TValue value, Boolean add)
   at SixLabors.ImageSharp.GraphicOptionsDefaultsExtensions.GetGraphicsOptions(Configuration configuration)
   at SixLabors.ImageSharp.Graphic

[2020-06-16 22:43] JimBobSquarePants commented on #1224
@sn4k3 Perfect. Yep, definitely the same issue. I've got #1234 waiting for review to fix this.

[2020-06-16 22:46] JimBobSquarePants commented on #1205
@americanslon Try the Async API from this build please.

https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp/1.0.0-unstable0052

[2020-06-17 08:07] #1230 closed

[2020-06-17 08:27] #1224 closed

[2020-06-17 12:18] #856 closed

[2020-06-17 15:50] americanslon commented on #1205
I added to `https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp/1.0.0-unstable0052` to NuGet package sources but when I go into NuGet screen to update the package the latest version is the same as in regular NuGet package source 1.0.0 - beta0009

How do I import the unstable package?

[2020-06-17 15:51] JimBobSquarePants commented on #1205
Why are you updating? Use the source versions as specified.

[2020-06-17 15:51] americanslon commented on #1205
What do I do with that source?
Latest version showing up in nuget is beta009

[2020-06-17 15:54] JimBobSquarePants commented on #1205
It’s MyGet not NuGet. You’re adding a specific ImageSharp version NOT ImageSharp.Drawing

[2020-06-17 16:01] americanslon commented on #1205
Yes I noticed is MyGet. I don't know what that is. Googling suggested that the way you add MyGet packages in VS is adding the myge url  you provided as a new package source.

I am not sure what you are referring to as SDK style package. The only thing I do is import stuff with nuget. I don't know how to import the specific version, if it's now showing up in package manager and the unstable version

[2020-06-17 16:05] americanslon commented on #1205
FYI is just run `Install-Package SixLabors.ImageSharp -Version 1.0.0-unstable0052 -Source https://www.myget.org/F/sixlabors/api/v3/index.json`

I get a fail and

`The 'Source' parameter is not respected for the transitive package management based project(s) Web. The enabled sources in your NuGet configuration will be used. `

[2020-06-17 16:22] JimBobSquarePants commented on #1205
Then why say NuGet? They are two entirely different package sources.

SDK style projects/packages are the new csproj format used by .NET Core. https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#sdk-attribute

They use the csproj file to manage packages rather than the old `packages.config` file, since we have established that you have the reference in the file we can safely say that you are

[2020-06-17 18:33] americanslon commented on #1205
Yep, thanks!
All  I needed is a bit less attitude and a bit more of this `https://www.myget.org/F/sixlabors/api/v3/index.json`. The original link you sent was to the package itself just like you are saying. That threw me off. You have to remember that those of us that don't write packages for public consumption don't know intricacies of all that off the top of our heads. All I care about for my pr

[2020-06-17 20:06] JimBobSquarePants commented on #1205
Ah... I think we've got our wires crossed here. You should now be able to use our Asynchronous API to load the image.

[code]

[2020-06-17 20:31] americanslon commented on #1205
Same thing unfortunately :(

`Error: SixLabors.ImageSharp.UnknownImageFormatException: Image cannot be loaded`

[2020-06-17 20:33] JimBobSquarePants commented on #1205
Hmmm... try resets the position of `inStream` to 0 before loading

[2020-06-17 20:49] americanslon commented on #1205
That worked!

Any general idea when this functionality is making it's way to the general/beta branch?

[2020-06-18 14:53] Ziriax opened #1237 "System.MissingMethodException: Method not found: 'System.Numerics.Vector4 SixLabors.ImageSharp.PixelFormats.Bgra32.ToVector4()'"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-06-18 16:00] gsfreema opened #1238 "Opening and saving jpeg using CMYK color space drastically changes image's color"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-06-18 16:02] JimBobSquarePants commented on #1237
Hi @Ziriax

The issue you are seeing is not actually exclusive to ImageSharp. It happens with certain assemblies when reference by NET Framework applications.

There's a fantastic writeup here describing the problem and workarounds.

https://nickcraver.com/blog/2020/02/11/binding-redirects/#the-fix-if-youre-using-net-framework

[2020-06-18 16:21] JimBobSquarePants commented on #1238
Yeah, that's expected. We don't have methods to correctly translate the CMYK color information. As you can see, many browsers do the same.

See previous related issues
https://github.com/SixLabors/ImageSharp/issues/129
https://github.com/SixLabors/ImageSharp/issues/74

And related Work-In-Progress PR.
https://github.com/SixLabors/ImageSharp/pull/273

[2020-06-18 16:35] gsfreema commented on #1238
Thanks for the quick response. I searched for CMYK and I had seen the other issue about ICC Profiles but I wasn't sure it was the same given that I thought I selected to not save the ICC profile when generating the image. I thought I limited it to just using CMYK and was semi-proud of myself since I am far from experienced with image processing 😄 .

[2020-06-18 17:35] #1237 closed

[2020-06-18 20:55] JimBobSquarePants commented on #1205
There you go!

https://www.nuget.org/packages/SixLabors.ImageSharp/1.0.0-rc0003

[2020-06-18 20:55] #1205 closed

[2020-06-18 20:56] JimBobSquarePants commented on #1238
Be proud. Image processing is hard! Hopefully we'll make it a little bit easier for all.

[2020-06-24 05:46] provegard opened #1246 "The pricing page is broken"
I just went there to see the commercial licensing options, and got:

![image](https://user-images.githubusercontent.com/795010/85505467-ae56f600-b5ee-11ea-9300-eb740afa7f5c.png)

[2020-06-24 11:22] JimBobSquarePants commented on #1246
Thanks @provegard

Azure had a hiccup. All fixed now.

[2020-06-24 11:22] #1246 closed

[2020-06-29 04:12] douglasg14b commented on #121
RIP.

We have TONS of webp assets, and just ran into this problem in test. Made the incorrect assumption that pmuch all common image types would work out of the box.

Mistakes where made.

[2020-06-29 12:11] JimBobSquarePants commented on #121
@douglasg14b You can help! The more people we get looking at and working on the code the better.

[2020-06-30 17:28] sescandell commented on #926
Worked for me too! (on an app deployed on an App Service getting stream from a Blob)

Thanks for this usefull help!

[2020-06-30 17:32] JimBobSquarePants commented on #926
You can now use the asynchronous API in RC3 which should avoid the copy.

[2020-07-01 10:09] sescandell commented on #926
So nice !

Sure I will !

Many thanks,

[2020-07-01 12:26] sescandell commented on #926
Hi @JimBobSquarePants just moved on the RC3 and async without copy: issue comes back.

I'm using the LoadWithFormatAsync() method (don't know if it is important or not).
Using the MemoryStream between my Blob Stream and ImageSharp works as expected.

I can help for tests or... anything else if in need of additional information.

[2020-07-01 12:27] JimBobSquarePants commented on #926
What do you mean “issue comes back” the issue at the top of this thread?

[2020-07-01 12:31] sescandell commented on #926
Yes: part of the bottom's image is broken.
Original:
![image](https://user-images.githubusercontent.com/1559970/86243944-7f6cf100-bba7-11ea-955e-b6b788550989.png)

Resized:
![image](https://user-images.githubusercontent.com/1559970/86243840-4fbde900-bba7-11ea-95cf-28afa46e489a.png)

[2020-07-01 12:42] JimBobSquarePants commented on #926
Can you paste a complete code sample please and I’ll look into it.

[2020-07-01 16:24] JimBobSquarePants commented on #411
Gonna close this. We have fairly good docs now and can maintain them without a tracking issue

[2020-07-01 16:24] #411 closed

[2020-07-01 21:21] JimBobSquarePants opened #1251 "Add Source Link and Deterministic Builds"
We need these for .NET Foundation compliance plus they're great to have.

Source Link is a language- and source-control agnostic system for providing first-class source debugging experiences for binaries.
https://github.com/dotnet/sourcelink
https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/sourcelink

Deterministic builds are important as they enable verification that the resultin

[2020-07-02 11:47] sescandell commented on #926
I'll do

[2020-07-02 13:01] JimBobSquarePants commented on #1233
https://rehansaeed.com/the-easiest-way-to-version-nuget-packages/#minver
MinVer might be a better replacement. https://github.com/adamralph/minver

[2020-07-03 07:44] Int32Overflow opened #1253 "Loading 1bit bitmap from byte array"
Hello,

I have a 1bit bitmap which is stored in a byte array. That means 1 byte has 8 pixels. How can I load this array as an image?

[2020-07-03 08:07] #1253 closed

[2020-07-03 22:02] i-to opened #1254 "Exception while loading PNG image from FileStream"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-07-03 22:53] JimBobSquarePants commented on #1254
Hi @i-to

It's not a png file, its a bmp and you're trying to load it with the wrong decoder.

You don't need to specify the decoder when loading a file, ImageSharp will automatically detect the correct decoder to use.

![image](https://user-images.githubusercontent.com/385879/86500322-2b6d3280-bd88-11ea-9c56-0fb8ad8a9280.png)

[2020-07-03 22:53] #1254 closed

[2020-07-04 12:31] i-to commented on #1254
Thanks for clarification.

[2020-07-06 09:28] #1233 closed

[2020-07-06 09:28] #1251 closed

[2020-07-10 07:08] 3400442579 commented on #121
support  encoder?

[2020-07-10 07:20] JimBobSquarePants commented on #121
@3400442579 PR?

[2020-07-10 11:48] pekspro opened #1268 "Decoding failes on slow streams"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-07-10 12:54] JimBobSquarePants commented on #1268
Ah @pekspro you legend!

That is something we most certainly do not take into consideration. We should be able to write an `EnsureRead` extension which guarantees the amount.

[2020-07-10 14:00] JimBobSquarePants commented on #1268
I have an idea, based around something I've been tinkering in another branch that might solve this.

[2020-07-10 14:07] 3400442579 commented on #121
https://github.com/SixLabors/ImageSharp/tree/webp
support  WebPEncode?

[2020-07-10 14:35] Jogai commented on #121
https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/
@3400442579 make pull request?

[2020-07-10 14:41] brianpopow commented on #121
What i said in my last post still stands. Lossless encoding is almost done (i did not push the changes yet since its not ready yet). Unfortunately i could not find time over the last weeks to continue. I hope i can continue next week again, but as i said before: lossy encoding is not even started yet and this will be a big task.

[2020-07-10 14:51] JimBobSquarePants commented on #121
@brianpopow let’s open up a new WIP PR and hopefully people will be able to both help and better track progress.

[2020-07-13 19:36] DTTerastar opened #1273 "Race condition on GraphicOptionsDefaultsExtensions.GetGraphicsOptions"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-07-13 19:38] JimBobSquarePants commented on #1273
What version are you using? You’ve checked the “I’m using the latest” box but that doesn’t reflect the possible stack trace for that feature

[2020-07-13 19:53] JimBobSquarePants commented on #1273
See https://github.com/SixLabors/ImageSharp/pull/1234

[2020-07-14 11:17] DTTerastar commented on #1273
Sorry, Forgot that stupid Include Prereleases checkbox.  I was on rc001, I'll try rc0003.

[2020-07-14 11:17] #1273 closed

[2020-07-14 12:14] JimBobSquarePants commented on #1273
Easy mistake to make 😄 RC0003 will have your fix in it.

[2020-07-14 13:06] peter-bozovic opened #1275 "JpegEncoder producing incorrect output on windows-arm (was working on beta0005)"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-07-14 13:45] JimBobSquarePants commented on #1275
@Sergio0694  @MattWhilden This um... This looks right up your street.

[2020-07-14 13:56] Sergio0694 commented on #1275
@peter-bozovic Well for one it's weird that you're seeing this both in `DEBUG` and `RELEASE` modes on UWP, as those use two completely different runtimes (UWP-flavored .NET Core 2.1-like runtime in `DEBUG` vs. .NET Native in `RELEASE`). First thing, what I would suggest is to first try to isolate the issue a bit more, eg.:

- You haven't specified this, I assume you did check to be using the lates

[2020-07-14 14:24] TedStryker opened #1276 "Image.Load and Image.LoadAsync is slow for network shares"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-07-14 14:58] JimBobSquarePants commented on #1276
I don't think this is a fair comparison...

Your version is a single read to a buffer from the file then loading the image via that buffer.
Our version will involve several incremental reads from a filestream which will involve a lot more OS overhead.

I'd like to see a proper benchmark doing the same operation in BenchmarkDotNet before taking this any further.

[2020-07-14 15:15] TedStryker commented on #1276
@JimBobSquarePants
Maybe you're right, my apologies if I'm on the wrong track.
Perhaps I miss too much what the result of a Load(Async) is.
Feel free, to close this issue then.

My use case is to read a picture, resize it, and send it to some browser.
So I thought it would be better to hand over the stream handling to ImageSharp.
But that seems not to be the trick for my use case then.

But to cla

[2020-07-14 15:43] peter-bozovic commented on #1275
Yes, it's weird and sorry for such specific configuration where I found it :(

About the Relase, I'm building it without the "Compile with .NET native tool chain", so it's probably not using the .NET Native. I don't know if it's the limitation of the Windows IoT Core, or the ARM architecture, but with that option, the app doesn't build.

I don't know where to check the .NETCore-UWP ? I'm using the

[2020-07-14 15:55] Sergio0694 commented on #1275
Mh, that kinda sounds similar to https://github.com/SixLabors/ImageSharp/issues/1204, in fact I've had to drop the ARM arch in my UWP app as well as I just couldn't get it to work fine with .NET Native using the latest RC builds of ImageSharp. I wonder if these two issues are somewhat related 🤔

As for the .NETCore-UWP package, you need to open the NuGet packages window for your UWP app and check

[2020-07-14 16:12] peter-bozovic commented on #1275
Ah yes, didn't see it in the list since it was filtered with "ImageSharp", daaah !
It's 6.2.10 :)

Sorry about the #1204, I just found for you the ARM32 architecture with Windows :D

And guess what, when I removed ImageSharp from our main solution, it's building for relase with .NET native !
ImageSharp was the culprit ...
Not good for those who really wants .NET native, but good to know there's wo

[2020-07-14 16:16] JimBobSquarePants commented on #1275
Well no... No it wasn't. A bug/limitation in the compiler is responsible for any issues, not this library.

I'd really like to see issues like this fixed upstream. We can only build upon what the framework(s) provide us.

[2020-07-14 16:17] Sergio0694 commented on #1275
Yes that's the same thing I noticed, there's something in ImageSharp that's causing issues with the .NET Native compiler. I mean, that's not all that surprising considering the huge amount of heavily generic code that ImageSharp uses, that's one of the most difficult things to handle for a fully AOT compiler, in fact we've already had similar issues in the past (though those have been resolved tha

[2020-07-14 16:33] tocsoft commented on #1275
@peter-bozovic can you please try saving out your test case in alternative formats, i.e. save as png/bmp too... just to verify that it is definitely the encoder and not the decoder that's at fault.

[2020-07-14 16:35] peter-bozovic commented on #1275
Saving to PNG was working fine

[2020-07-14 17:40] antonfirsov commented on #1276
@JimBobSquarePants I think it's a valid user concern if our out of box async version is significantly slower than the sync variant.

If that is the root cause of the slowdown, we may consider increasing the buffer size when copying the stream.

[2020-07-14 18:03] JimBobSquarePants commented on #1276
@antonfirsov You mean when copying to our internal buffer in the buffered reader? It's sitting at 8192 bytes just now. wasn't sure how big I could go with it.

Old Implementation
https://github.com/SixLabors/ImageSharp/blob/c0594f7031e76ac862ea5f077d707df76ed6560b/src/ImageSharp/IO/DoubleBufferedStreamReader.cs#L22

New implementation.
https://github.com/SixLabors/ImageSharp/pull/1269/files#diff-3

[2020-07-15 14:19] JimBobSquarePants commented on #1275
I'll be something to do with the way we translate from `Rgbr32` to `Rgb24`. I'm curious. @peter-bozovic Does using `Image<Rgb24>` work with jpeg?

[2020-07-16 04:46] Scr34mik commented on #14
Hello, i cant seem to find .Blend() extension for "Image". I'm currently working with xamarin.mac project. Is there any replacement ?

[2020-07-16 04:47] Scr34mik commented on #32
Hello, i cant seem to find .Blend() extension for "Image". I'm currently working with xamarin.mac project. Is there any replacement ?

[2020-07-16 07:29] JimBobSquarePants commented on #14
`DrawImage`. We have [API docs](https://docs.sixlabors.com/api/ImageSharp/SixLabors.ImageSharp.Processing.DrawImageExtensions.html#methods).

[2020-07-16 07:31] JimBobSquarePants commented on #32
@Scr34mik Don't ever spam our forums please.

[2020-07-16 07:33] Scr34mik commented on #14
thanks, ive ended up doing it like this :
img.Mutate(x => x.DrawImage(logo, new Point(1,1), opacity: 0.5f));

[2020-07-16 07:37] JimBobSquarePants commented on #14
We have a samples repo, thousands of reference unit tests and a discussions channel for asking and answering such questions.

You however chose to ignore all of the above and spam an old closed issue instead. Maybe if you took the time time and effort to actually read you would be better off.

[2020-07-16 11:30] antonfirsov commented on #1276
@JimBobSquarePants based on your comment, I mean more this line:
https://github.com/SixLabors/ImageSharp/blob/dd4835f77ce5bcd56a57301822097577f486c1d8/src/ImageSharp/Image.FromStream.cs#L717

I would say, let's keep this open, since there is likely a perf issue that is solvable, but doesn't seem like a critical thing blocking V1.0.

@TedStryker if you could make  us BenchmarkDotNet benchmarks comp

[2020-07-16 11:33] antonfirsov opened #1280 "Add public API changes necessary for cancellation support for LoadAsync/SaveAsync"
See discussion #1267. Want to address the minimum needed to avoid public API changes post V1. Will investigate this and report more details.

[2020-07-16 14:29] peter-bozovic commented on #1275
If you ment trying Image<Rgba32>.Load and Image<Rgb24>.Load then I'm getting the same result

[2020-07-16 18:15] JimBobSquarePants commented on #1275
Thanks, that cuts down some of the options.

[2020-07-18 10:39] SibeeshVenu opened #1281 "'IImageProcessingContext' does not contain a definition for 'ApplyScalingWaterMark'"
### Description
I am running the latest version and I am getting the error as preceding.

When I run the code below.
[code]

Already added the using statements.

[code]
What am I missing here? Is this an issue with latest version?

[2020-07-18 10:42] JimBobSquarePants commented on #1281
There’s no such method. Where did you get the name from?

[2020-07-18 10:46] dlemstra commented on #1281
Seems to be a custom extension method in this issue: #484?

[2020-07-18 10:51] JimBobSquarePants commented on #1281
Thanks @dlemstra It'll require updating to `IImageProcessingContext` instead of IImageProcessingContext<TPixel> then.

Not a bug though @SibeeshVenu , this should have been added to the Help section of our Discussions forum. I'll transfer it now.

[2020-07-18 10:51] #1281 closed

[2020-07-19 08:30] TedStryker commented on #1276
@antonfirsov Yes, I'll try. Have to familiarize myself with BenchmarkDotNet first, though.

[2020-07-19 15:36] TedStryker commented on #1276
Wow, that one wasn't too easy. I've learned things... :-)

A BDN console app project was easy to develop.
That one showed no differences anymore! "Can't be!" I thought, and digged deeper.
Finding: Stopwatch is "accurate" in Debug and Release config concerning the configs, showing noticeably relative timing differences.
I opened this issue probing around with my ASP.NET Core project.
So my next try

[2020-07-22 03:10] MRSessions commented on #121
I noticed that the PR is up for this. I haven't followed ImageSharp for long, so not sure the workflow for PRs is. What is pending for this to be completed? This is something we are looking forward to implementing in a project I'm working on.

[2020-07-22 06:52] JimBobSquarePants commented on #121
@MRSessions I'm assuming reading wasn't on your list of things to do today?

[2020-07-22 08:18] #1268 closed

[2020-07-22 09:10] JimBobSquarePants commented on #1276
Thanks @TedStryker we really appreciate you making the effort.

Here's my understanding of the results....

No idea at all. Could be background tasks running, anything. Microbenchmarks are incredibly susceptible to their environment.

Now to the rest of it... The rest of the results appear to support my initial understanding.

For each example the loads are passed through the sync pipeline without

[2020-07-22 11:12] antonfirsov commented on #1276
Just to make 100% sure I understand the problem correctly: in the NAS case you are opening a (seekable) `FileStream` from an SMB share?

In that case @JimBobSquarePants's analysis is likely correct. People are hitting [similar findings](https://stackoverflow.com/questions/14587494/writing-to-file-using-streamwriter-much-slower-than-file-copy-over-slow-network) by comparing `StreamReader` performan

[2020-07-22 16:33] TedStryker commented on #1276
@antonfirsov @JimBobSquarePants

Yes, the pics were accessed through a SMB share on my QNAP NAS. And it makes sense for me, that the SMB overhead could be the root cause.

"@TedStryker since you have the infrastructure in place, are you interested making the experiment and the PR?"

Yeah, sure! I'm so glad to use your library in my little hobby project, I want to give something back.
It will take

[2020-07-23 09:56] JimBobSquarePants commented on #1276
@TedStryker if it's easier, I can smash together the PR and you could test it by building the PR locally?

[2020-07-23 17:23] TedStryker commented on #1276
@JimBobSquarePants
Yeah, that would be great and would save everybody'ss time coz your repo is not some random repo. It has strict rules for a good reason for a PR and teaching me my mistakes could be an avoidable effort ;-)

[2020-07-24 00:22] JimBobSquarePants commented on #1276
@TedStryker PR is in place now.

[2020-07-26 01:45] JD1337 commented on #251
Did you end up making any progress for this? Was looking for this exact thing now and came across this.

[2020-07-26 13:52] tocsoft commented on #1275
Ok been trying to/managed reproduce this one.

First some goodish news (may actually be bad news) if I take a dependency on the source directly it doesn't corrupt and seems to work fine. However it does break when using the nuget dependency. I wonder if it chooses different targets for package reference vs project reference.

[2020-07-26 14:33] JimBobSquarePants commented on #1275
Oh wow @tocsoft that's progress! So what is the underlying target framework being used by UWP in the failing instance?

[2020-07-26 14:35] tocsoft commented on #1275
it seems to be using the netstandard1.3 build

[2020-07-26 14:43] Sergio0694 commented on #1275
Wait a second, that's weird - UWP should be using the .NET Standard 2.0 target, no? 🤔
I mean, when using an SDK >= 16299, like in this case.

[2020-07-26 14:43] JimBobSquarePants commented on #251
@JD1337 No, it's marked as a future milestone as it's low priority and we have limited resources. Happy to review and accept any potential PRs though.

[2020-07-26 14:45] JimBobSquarePants commented on #1275
@Sergio0694 I have no idea so any guidance on how we can get it to fail locally would be great.

[2020-07-26 14:49] Sergio0694 commented on #1275
I'm 100% positive that UWP on SDK >= 16299 should pick the .NET Standard 2.0 target.
@tocsoft to rule out weird things, could you try double checking whether it's actually picking up the 1.3 target for you?
And if so, can you confirm that the UWP project you setup as a test is using the SDK 16299 (or above) as minimum target?

[2020-07-26 14:52] tocsoft commented on #1275
will check once I stop debugging .. though I'm note sure it actually matters too much in this case because the code part of the code where we we seems to be having issues will be identical for both targets.

[2020-07-26 14:53] tocsoft commented on #1275
oh btw I can get it to fail locally against source now btw... just needs ImageSharp to be in release mode

[2020-07-26 15:26] tocsoft commented on #1275
ok we end up with a difference in the encoding  after the first execution of
https://github.com/SixLabors/ImageSharp/blob/ef5e21bb2774b82edfbb9c67286a99861f6e3b4a/src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs#L1003-L1024

[2020-07-26 15:27] antonfirsov commented on #1275
@tocsoft can you check if there any tests failing?

[2020-07-26 15:28] tocsoft commented on #1275
not really no way to get the tests over to the external device... well not without a significant amount of rebuilding/refactoring

[2020-07-26 16:35] tocsoft commented on #1275
from this point forward there too much pointer magic going on for me to follow/track down the exact point values start to change at the moment.

Doesn't help that its only a release build issue makes it a nightmare half the local just seem to get optimised away half the time so you can't even easily inspect half for the stuff I'm trying to debug, that's before you start adding in all the pointer m

[2020-07-26 16:47] JimBobSquarePants commented on #1275
That pointer code is likely a relic of the first color converter I put together years ago. I’m confident we have language features available now that we can use to to avoid using them.

[2020-07-26 21:40] JimBobSquarePants commented on #1275
@tocsoft I don't know if this will help but I made a branch with about 90% of the pointer stuff removed.

https://github.com/SixLabors/ImageSharp/tree/js/simplify-jpeg-encoder

[2020-07-26 21:40] #1276 closed

[2020-07-27 09:48] antonfirsov commented on #1275
@JimBobSquarePants worth a try, but I'm afraid it's more likely that the issue is other way around: GC-references are more prone to runtime bugs, than basic pointers. I suspect this code, since we already had similar issues with `Rgb24` refs before:
https://github.com/SixLabors/ImageSharp/blob/493e42248920b7aef0cf4ba297984f1f66c3e35e/src/ImageSharp/Formats/Jpeg/Components/Encoder/YCbCrForwardConve

[2020-07-27 09:54] antonfirsov commented on #1275
Another idea: do a diff between beta5 and todays code and look for changes in code being invoked from `Encode420` involves `Unsafe.Add` and/or `Vector4` trickery.

[2020-07-27 10:44] JimBobSquarePants commented on #1275
@antonfirsov Yeah possibly.... The changes in the branch should make it a lot easier to debug though.

Last time we "fixed" on Linux ARM the issue was here.

https://github.com/SixLabors/ImageSharp/pull/915

My money is the inlining in combination with Unsafe code in the caller. I would try removing it and testing on both ARM platforms if possible.

[2020-07-28 21:54] JimBobSquarePants commented on #1275
@peter-bozovic @tocsoft Can you do me a favor and please run your application with a build from this branch?

https://github.com/SixLabors/ImageSharp/tree/js/simplify-jpeg-encoder

I've done a fair amount of rewriting to reuse paths we know work on the decoder. It removes a LOT of the `Unsafe.XXX` code but does not sacrifice performance. (_I'm actually pretty impressed with the speed of our encode

[2020-07-29 08:57] molinch commented on #121
@JimBobSquarePants would using bindings around webp library be an acceptable solution?
Using bait and switch we could provide a webp library for linux/windows/other

[2020-07-29 09:12] JimBobSquarePants commented on #121
@molinch We're actually making fantastic progress with the managed implementation.

https://github.com/SixLabors/ImageSharp/pull/1271#issuecomment-664004585

@brianpopow has gotten a bit of help from @stevetemple and am sure would appreciate any more.

Bindings, on the surface look like a reasonable solution but don't allow us the flexibility we require to work with multiple pixel formats in a per

[2020-07-29 09:17] stevetemple commented on #121
I was planning on finishing up the bits I've started tonight and that should get us pretty close to having a working lossless encoder that matches the reference implementation in size of file produced. It'll need a bunch of refactoring and tests. Lossless is a bit further off by the looks of it, but good progress is being made.

[2020-07-29 10:33] brianpopow commented on #1275
@JimBobSquarePants works on linux + ARM. I just did load the `matrix.png` and then save it with `image.SaveAsJpeg`. As far as i understood this is how this should happen.

[2020-07-29 10:40] JimBobSquarePants commented on #1275
Thanks @brianpopow that's reassuring. I really hope it clears up the Windows issues now. Indexing and assignment during colorspace transform is a lot more conventional now.

[2020-07-29 10:46] antonfirsov commented on #1275
@brianpopow does the issue actually reproduce on Linux? I thought that platform is not affected.

@JimBobSquarePants I still put my bet on the code in `YCbCrForwardConverter`.

[2020-07-29 10:50] brianpopow commented on #1275
sorry maybe i was unclear: I was able to load and save the image without any issue on linux + ARM.

[2020-07-29 11:20] JimBobSquarePants commented on #1275
@antonfirsov That and the `RgbToYCbCrTables` code has  rewritten in my branch.

https://github.com/SixLabors/ImageSharp/compare/js/simplify-jpeg-encoder

I've made a point of refactoring the code to use the indexers and methods we use successfully during decoding.

I wanted @brianpopow to check that there were no regressive issues caused by my changes.

[2020-07-29 14:07] antonfirsov commented on #1275
@JimBobSquarePants the change is quite small, wouldn't be sufficient I'm afraid. For the sake of investigation I would rather suggest testing out more aggressive changes:

0. (The changes already in place)
1. Wire out `.AsSpanUnsafe()` and `PixelOperations<TPixel>.Instance.ToRgb24()` doing dumb manual safe & slow conversion
2. Remove all `Unasafe.*` trickery from `LoadAndStretchEdges`
3. Even cons

[2020-07-29 14:27] JimBobSquarePants commented on #1275
@antonfirsov I'd like to get 0 tested first before attempting anything else.

[2020-08-04 11:11] #1280 closed

[2020-08-05 09:24] jonasnordlund commented on #371
HEIC support already ought to be available from the Windows Imaging Component (WIC) framework and in .NET via the `Windows.Graphics.Imaging` namespace in case Microsoft's HEIF Image Extensions is installed. I'm not sure if ImageSharp supports automatically gathering encoding and decoding support from this API but I think it would be pretty nice and sensible if it did. This would both allow ImageSh

[2020-08-05 09:39] JimBobSquarePants commented on #371
That’s too Windows centric a solution.

[2020-08-05 13:32] tocsoft commented on #1024
For future people that find this issue this decision was reverses and ImageSharp is licenced un Apache-2

[2020-08-05 13:44] EngRajabi opened #1306 "image draw utf-8 text on image"
Write text in an image when the text is utf8. Broken is shown

[2020-08-05 13:54] tocsoft commented on #1306
Drawing text is part of our Drawing library please raise your issue over at https://github.com/SixLabors/ImageSharp.Drawing making sure you fill in the template provided in full with special attention to reproduction steps and expected results.

[2020-08-05 13:54] #1306 closed

[2020-08-06 15:10] JimBobSquarePants commented on #1275
@tocsoft How did you get the issue to replicate locally?

I'm running via Visual Studio in Release mode x86 and cannot get my custom branch to replicate.

I can try deploying to the Pi I bought to fix this but I'd rather work locally if I can.

[2020-08-06 15:48] tocsoft commented on #1275
I had to deploy to the pi to replicate, you can just set the PI as a remote debug target for UWP apps and debug that way, its still should still just be an F5 debug experience

[2020-08-06 16:22] JimBobSquarePants commented on #1275
Ok thanks!

Should I be targeting x86? I assumed ARM64 since the issue title specifically mentions ARM and you can't build ARM32 but that didn't allow me to install.

Also what folder did you load/save the images to? I'm attempting to use the following but I don't want to keep getting it wrong as building the app takes a lifetime.

[code]

[2020-08-06 16:38] tocsoft commented on #1275
To be fair I didn't save the image to disk I cheated and just rendered to as an image to the screen. This is what I used to reproduce https://github.com/tocsoft/ImageSharpUwpArmIssueRepro it has an image control on the screen and I just render/display it in the constructor

I can't remember exactly what settings I ended up with, I just chose the device using the debug dropdown, I think I chose rem

[2020-08-06 16:50] JimBobSquarePants commented on #1275
![image](https://user-images.githubusercontent.com/385879/89559105-1bc08e00-d80d-11ea-80cf-674ed868cf73.png)

This is the result of an attempted installation with ARM with "Compile with .NET native tool chain" turned off.

OK... I'm stumped. I need idiot proof instructions for how to get this on my device.

[2020-08-06 17:28] tocsoft commented on #1275
I am confused on how you are trying to run it... all I did was was hit debug from VS I never tried 'installing' it or anything like that just ran from VS targeting the PI and it just work. I might have had to run it from right clicking the project and starting it from there but nothing too unusual.

[2020-08-06 17:54] JimBobSquarePants commented on #1275
I've been trying to do it via Visual Studio but I keep hitting the following issue.

[2020-08-06 19:39] JimBobSquarePants commented on #1275
Ok... I'm up and running and can replicate. I'll see what I can do....

[2020-08-06 20:49] JimBobSquarePants commented on #1275
Ok.... Looks like I've fixed it. Tested both `Rgba32` and `Rgb24` and everything is working.

I'm going to open a PR using the branch I've been testing with which quite a few changes to the encoder which make it easier to debug.

I only bought the one Raspberry PI (I'm gonna get another) so @brianpopow will need to double check my fix on Linux.

[2020-08-07 10:51] brianpopow commented on #1275
I have just tested it on Linux + ARM. Works fine, no problems.

[2020-08-07 12:25] #1275 closed

[2020-08-14 02:41] ericwood8 opened #1315 "Is there an equivalent to ExtractAssociatedIcon()?"
Is there an equivalent to ExtractAssociatedIcon()?

[2020-08-17 19:28] ryanackley opened #1318 "ImageSharp.Drawing transformations are unintuitive"
If you're coming from any other graphics API, ImageSharp's transformations are unintuitive because they behave a little strangely in comparison. Look at this code

[code]
Coming from OpenGL, GDI+, Javascript Canvas, etc., you would expect this code to apply the transformation to `DrawText `. What it actually does is apply the transformation to what's already been drawn. This makes it impossible to

[2020-08-17 19:40] JimBobSquarePants commented on #1318
Please do not open non-issues in the issue tracker. There is a template (that you deleted) for a reason.

I will transform this to the correct repository (drawing) and move it to the correct discussions channel (ideas) so that any conversation can continue there.

[2020-08-20 20:29] maxvoxel8 opened #1323 "Unable to load image from DeflateStream."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-08-20 20:59] JimBobSquarePants commented on #1323
I was waiting for someone to report this 👍 .

#1316 will fix it.

It's critical so we'll do an official release as soon as it's merged.

[2020-08-25 12:24] unamed000 commented on #946
I tried 1.0.1 version today and it seem to be an issue when rotating gif images.
The weird problem is it's only occur on an heavy gif, if i just use a small size gif, it doesn't throw this error.
And it's only the case when build in an ios device. Not on simulator.
 Here is the stack trace:

`2020-08-25 19:23:50.967 AulaNative.iOS[729:179997] Unhandled managed exception: Attempting to JIT compile

[2020-08-25 13:16] antonfirsov commented on #946
@unamed000 this sounds crazy, Xamarin AOT is really weird if this is true. What happens if decoding a large gif is preceeded by decoding a small one?

As far as I understand, gif decoding is [properly seeded](https://github.com/SixLabors/ImageSharp/blob/master/src/ImageSharp/Advanced/AotCompilerTools.cs#L95).

[2020-08-25 13:23] unamed000 commented on #946
@antonfirsov i will try that tomorrow and let you know.

But i tried to clone the project and embedded the ImageSharp directly into my project. And i did some Seeding of my own for Decode method of GifDecoderCore. This time, it does not throw JIT error anymore, it just dies silently without throwing anything? Which is also the case for the large gif.

[2020-08-25 13:29] JimBobSquarePants commented on #946
Thanks @unamed000 that stacktrace is really useful.

I don't think rotation is the issue here the first line indicates the method. Why it only happens with large gifs (how big btw?) I don't know.

[code]

We've not done any work on AOT compilation in a long time because we simply don't have the tools and resources to do any investigation into potential issues, we rely purely on individual cases ra

[2020-08-25 13:34] unamed000 commented on #946
@JimBobSquarePants
Yes, it does not relate anything to the rotate but in the Image.Load method only.
I tried that on an iPhone 8, which is fairly strong (bot flagship but its pretty ok), and i tried with a gif image around 4 megabytes and 2 megabytes before (both crashes with this same issue). Then i tried it with a 25kb and 100kb, these are not crashing.

[2020-08-25 13:37] JimBobSquarePants commented on #946
Sorry, I meant unencoded dimensions not file size.

Any help would be really useful, thanks! I can experiment with my seed idea (if everyone thinks it is sound) and get you to test is when you are able.

[2020-08-25 19:27] antonfirsov commented on #946
@JimBobSquarePants I like the idea.

@unamed000 any chance you can build the library from source, and try if the experiment works out?

[2020-08-26 03:08] unamed000 commented on #946
@antonfirsov  yes, if you put in a branch, with some changes, i can try it out. I tried your idea today about uploading the small gif before uploading a large gif, the issue is still there.

@JimBobSquarePants Here are the 2 gif that i used to upload
![EC9BF060-FCB8-4B11-B7CD-FE43B696AEF6](https://user-images.githubusercontent.com/10647722/91250767-042d5300-e784-11ea-927d-1a94904867b2.gif)
![gif](