[2017-09-01 23:39] JimBobSquarePants commented on #321
@fahadabdulaziz

Can you please not spam our issue tracker. If you want a `GetBytes()` method please follow the instructions in the [Contribution Guidelines](https://github.com/SixLabors/ImageSharp/blob/68e6897c155a8668bb9da2a73670bc2d2df8e6f2/.github/CONTRIBUTING.md#do-you-intend-to-add-a-new-feature-or-change-an-existing-one) and start a conversation on Gitter. We can then move on to raising an

[2017-09-01 23:39] #321 closed

[2017-09-01 23:41] fahadabdulaziz commented on #321
@JimBobSquarePants I didn't spam your tracker I'm not the issue creator ?!

[2017-09-01 23:48] JimBobSquarePants commented on #321
@fahadabdulaziz You interrupted an open issue with incorrect information and then requested a feature. It's considered poor etiquette to do so.

And yes, the original issue should have been raised as a question on [Gitter](https://gitter.im/ImageSharp/General) (@ChristopherRobinSuperStar please take note of that in future)

I'm not trying to come across as harsh, it's just I (and the rest of the t

[2017-09-01 23:59] ChristopherRobinSuperStar commented on #321
Oh, thank you! But why WebP it's a dead end?

[2017-09-02 00:00] ChristopherRobinSuperStar commented on #321
Oh, thank you! But why WebP it's a dead end?

[2017-09-02 00:07] JimBobSquarePants commented on #321
@ChristopherRobinSuperStar There's multiple issue with the format. They're described by a chap on Hacker News who is known as an authority on image compression.

https://news.ycombinator.com/item?id=13021845

[2017-09-02 19:15] devedse opened #323 "BMP with 8-bit pixel depth and RLE won't load"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-09-02 23:38] dlemstra commented on #323
Your bitmap is compressed with RLE and we don't support that at the moment. That is why you got the NotSupportedException.

[2017-09-03 11:13] ChristopherRobinSuperStar opened #324 "async await with ImageSharp"
Will there be async await support?
And second question: what is a the simplest way to convert Image<Rgba32> to System.Drawing.Bitmap?

### Prerequisites

- [ ] I have written a descriptive issue title
- [ ] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/

[2017-09-03 11:14] tocsoft commented on #324
@ChristopherRobinSuperStar please direct questions to https://gitter.im/ImageSharp/General the issue tracker is for issues only.

[2017-09-03 11:14] #324 closed

[2017-09-08 04:36] AmadeusW commented on #265
I also ran into confusion because of a non-void return type. I ended up having to open the image twice for two courses of action.
Hows #275 going? I see it's still open but looks finished. Do you need contributors?

[2017-09-08 05:21] JimBobSquarePants commented on #265
Hi @AmadeusW

We've actually merged those changes into #299 as part of our beta1 launch. We've got one thing we're trying to work out regarding the best fit for our image frame API and we'll be set to launch that.

As far as contributors go, yes, always. We'd love to have you help out. There's a lot of up-for-grabs issues currently open.

Cheers

James

[2017-09-08 19:37] HasanAyan opened #325 "ImageSharp buffers take up too much memory space"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-09-09 04:41] JimBobSquarePants commented on #325
Can you supply a code sample please so we can replicate?

[2017-09-09 16:21] HasanAyan commented on #325
Sure.

I need to correct something; it doesn't add a new buffer object each time. It creates 5 when I run it first, adds another one on the second run and it seems to preserve the count for the continuing runs (I tested 4 consequetive runs)

This is the first part of my code, where I basically change the size and try to minimize the size. In my test
I run this for two different images (~720kb each

[2017-09-09 21:04] antonfirsov commented on #325
@hasanayan this is default `ArrayPool` behaviour. The pools are retaining the arrays for future reuse. This will actually result in more optimal memory usage and better performance. We had several discussions on the pros and contras regarding this topic (see #123 #151 #224). If this is really an issue for you, #225 should provide a solution.

[2017-09-14 10:48] pkese commented on #74
Jim's branch had been merged back in May.

Is there anything more to do, or can this ticket be closed?

[2017-09-14 10:54] JimBobSquarePants commented on #74
@pkese  We still don't have conversion using those classes in our jpeg decoder. Once we have them I'll close this.

[2017-09-14 17:18] #265 closed

[2017-09-14 17:18] #159 closed

[2017-09-14 17:18] #214 closed

[2017-09-14 17:18] #178 closed

[2017-09-14 19:37] JBildstein commented on #74
ICC conversion is tracked here: https://github.com/SixLabors/ImageSharp/pull/273
I have written about half of the unit tests for the calculation bits (not pushed yet) and hope to do the rest soon. Work's keeping me a bit busy at the moment so it's going slower than I'd like.

[2017-09-14 21:19] larssb commented on #311
Finally did it. My process for others landing here:

1) Build CoreFX Microsoft repo. Make sure to do the 'release' version.
2) Build the SixLabors.Core repo (https://github.com/SixLabors/Core).
3) Copied the System.Memory.dll and the System.Runtime.CompilerServices.Unsafe.dll plus the SixLabors.Core.dll as well as the ImageSharp.dll to the **same folder** under my PowerShell project.
4)
- `Add-Typ

[2017-09-14 21:19] #311 closed

[2017-09-14 23:07] JimBobSquarePants commented on #74
@JBildstein No worries there, we've got time 😄 . If there's anything I can help with please let me know.

[2017-09-14 23:08] JimBobSquarePants commented on #311
Nice work! I'm glad you figured it out. 👍

[2017-09-15 00:44] ahsonkhan opened #327 "Question: Why use SpanHelper.Copy instead of Slice and CopyTo on Span?"
### Prerequisites

- [x] I have written a descriptive issue title
- [ ] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-09-15 01:01] antonfirsov commented on #327
@ahsonkhan the main reason is that the copy implementation of slow span [did not look optimized](https://github.com/AtsushiKan/corefx/blob/d551c71f9f79bb59a0c699968caf322945b443c5/src/System.Memory/src/System/Span.cs#L261) when we added it to the library. However, [it looks promising now](https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SpanHelpers.cs#L62), so we may revis

[2017-09-15 01:09] antonfirsov commented on #327
TBH - after having a second look - I think even the current (slow) `Span<T>.CopyTo()` implementation won't outperform `Buffer.MemoryCopy()`.

[2017-09-15 05:23] dlemstra commented on #311
And thanks for letting us know how you solved it.

[2017-09-15 06:36] JBildstein commented on #74
@JimBobSquarePants good to know ^^ but I think it should definitely be done by 1.0
thanks, I'll need some help (or some pointers) for integration and I'd love some feedback on the design. I'm not entirely happy about it yet. But I'll give you a ping on gitter when I'm ready.

[2017-09-15 06:42] JimBobSquarePants commented on #74
Good man, no worries

[2017-09-15 22:23] ahsonkhan commented on #327
I see, that makes sense. Thanks!
I wanted to make sure it wasn't an API related workaround (i.e. a need for a Copy method that must take count).

**Regarding optimization/performance:**
The fast Span seems to be just as good since it too uses Buffer.MemoryCopy (well, Memmove, which MemoryCopy uses as well). https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Span.NonGeneric.cs

[2017-09-15 23:31] antonfirsov commented on #327
@ahsonkhan great benchmarks! 👍 And thanks for taking the time for reviewing our stuff! 😄

I believe a cross platform library should be fast on old platforms as well, so I think we should not depend on Fast Span only perf features. This makes `SpanHelper.Copy` stay for a while, because it's still faster for small to mid sizes.

Re additional `count` argument: it's just an occasional result of our `

[2017-09-16 00:03] antonfirsov commented on #224
@mhamri If you are still using ImageSharp, check out the beta, the Jpeg decoder uses much less memory now! Let me know if the situation is still critical for you!

[2017-09-16 00:05] antonfirsov commented on #151
@DeCarabas @BrianJThomson If you are still using ImageSharp, check out the beta (on NuGet!), the Jpeg decoder uses much less memory now! Let me know if the situation is still critical for you!

[2017-09-16 00:16] antonfirsov commented on #155
@sgjsakura our Jpeg accuracy has been improved a lot with `beta-1` (now available on NuGet). Do you find the results good enough now?

[2017-09-16 14:47] AlexByte opened #332 "Was it okay to delete old versions from MyGet?"
### Prerequisites

- [x] I have written a descriptive issue title
- [ ] I have verified that I am running the latest version of ImageSharp
- [x]  I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it has not already been reported

In projects using deleted versions, there are

[2017-09-16 14:57] JimBobSquarePants commented on #332
Hi @AlexByte

Please use Gitter for questions. The issue tracker is for issues only.

Cheers

James

[2017-09-16 14:57] #332 closed

[2017-09-16 15:23] AlexByte opened #333 "Add link to nuget"
After all, there are https://www.nuget.org/packages/SixLabors.ImageSharp/1.0.0-beta0001

[2017-09-16 17:34] #333 closed

[2017-09-18 15:43] AndreasTruetschel opened #338 "StreamExtensions.Skip may skip less bytes than specified"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-09-18 16:29] tocsoft commented on #338
the stream by that point can always be seeked. Thus in our current code path should always skip the correct amount.

but we should fix it incase we ever make changes that makes seeking not required.

[2017-09-18 19:16] #338 closed

[2017-09-18 23:01] ahsonkhan commented on #327
The CopyTo API is just as fast for your scenarios for both slow and fast span (structs without reference types and primitive type spans).

How would you deal with overlapping spans?

**Regarding the use of Unsafe.CopyBlock:**
Unsafe.CopyBlock is a thin wrapper around cpblk IL instruction. The spec for cpblk IL instruction explicitly says “The behavior of cpblk is unspecified if the source and dest

[2017-09-19 08:11] tocsoft opened #340 "Clone/Extract frames from image"
Provide 2 new public methods on `Image<TPixel>` called `CloneFrame` and `ExtractFrame`.

## `CloneFrame`
### Methods signature
`public Image<T> CloneFrame(int frameIndex);`
### Expected behavior
A new `Image<TPixel>` instance is created with a clone of the frame at index `frameIndex` as its `RootFrame`.
Throws `IndexOutOfRangeException` if `frameIndex` >= `ImageFrameCollection.Count` or `frameInde

[2017-09-19 09:40] tocsoft commented on #340
_updated name ExportFrame -> CloneFrame_

[2017-09-19 09:52] tocsoft opened #341 "Remove Frame Specific metadata from ImageMetadata"
`ImageMetadata` currently implemented `IFrameMetadata` remove the interface from class and remove the properties that are frame specific.

Update gif encoder to make sure its reading the correct metadata from the `ImageFrame`s metadata property and not the images one.

See https://gitter.im/ImageSharp/General?at=59c0c557bc46472974500ed1

[2017-09-19 09:59] tocsoft commented on #340
this will enable scenarios where a user want to save and individual from from an animated gif

An example of the desired api would be

[code]
or if we don't mind a destructive operation where the source image will be left empty of all but one frame.
[code]

https://gitter.im/ImageSharp/General?at=59c0c18cc101bc4e3ae484be

[2017-09-19 18:14] tocsoft commented on #340
@SixLabors/core
should we instead of calling the clone method `CloneFrame` instead add on overload to our current clone APIs that accept a `frameIndex` to clone from?

👎  so instead of  :
`image.Clone()` => returns clone of image and all frames
`image.CloneAs<TPixel2>()` => returns clone of image and all frames and converts pixel type
`image.CloneFrame(int frameIndex)` => returns clone of image an

[2017-09-19 19:45] antonfirsov commented on #340
Like the API-s and the naming!

[2017-09-19 22:43] #341 closed

[2017-09-20 06:14] devedse commented on #340
I personally wouldn't add the "ExtractFrame" method. I'd rather add a seperate function to remove frames in the image.Mutate(t => t.RemoveFrame(i)) or something.

[2017-09-20 06:31] tocsoft commented on #340
To just remove a frame you can currently just call `image.Frames.RemoveAt(index)`

The reason to have an extract call as well is to prevent unwanted pixel buffers being created.. basically calling extract should be significantly faster that clone frame because it doesn't need to create a second buffer and copy all the pixel data over to it.

[2017-09-20 06:42] tocsoft commented on #340
now I think about it we could do with rethinking the whole API around imageframes. At the moment it's very easy to remove frames and it not be obvious that you need to dispose of them. we also have a second issue where it's difficult to mutate individual frames thus making it difficult to interact with them that way.

[2017-09-20 07:17] devedse commented on #340
But why should "Extract" have the side effect to also remove it from the original then?

[2017-09-20 07:54] tocsoft commented on #340
because that's what extract means? to extract something from something else is to pluck/take/remove it.

What I'm currently thinking is we rework the the api surface of `ImageFrameCollection` into this:

|Member|Return Type| Description|
|---|---|---|
|`CloneFrame(int index)`| `Image<TPixel>`|creates an image<t> with a copy of the pixel data from that frame on it|
|`RemoveFrame(int index)`| `Image

[2017-09-20 09:07] JimBobSquarePants commented on #340
I like this. @tocsoft . Only a few changes.

I would:

- Reverse the order of the parameters in a few operations e.g. `InsertFrame(int index, ImageFrame<T> source)` to put it more inline with things like `List<T>`.
- Rename `RemoveFrame(int index)` to `ExportFrame(int index)`.
- Rename `DeleteFrame(int index)` to `RemoveFrame(int index)`
- Change the `AddFrame` variants and `InsertFrame` to be sim

[2017-09-20 10:10] tocsoft commented on #340
The reason I think we want to remove IDisposable is to prevent users disposing of the frame or the collection without disposing of the image basically the lifetime of the pixel data withing the frames should be controlled by the lifetime of the image not when someone sees `Dispose()` on the collection and tries to Dispose of it early.

[2017-09-20 10:47] JimBobSquarePants commented on #340
True that, good point.

[2017-09-20 13:36] awyl opened #345 "PngDecoder System.IndexOutOfRangeException"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-09-21 06:30] #345 closed

[2017-09-21 11:40] #340 closed

[2017-09-21 12:50] tocsoft commented on #216
closing this as Imagesharp.Web is now in its own repository

See SixLabors/ImageSharp.Web#5 for a copy of the initial issue

[2017-09-21 12:50] #216 closed

[2017-09-21 12:54] tocsoft commented on #7
closing as ImageSharp.Web now lives in own repository https://github.com/SixLabors/ImageSharp.Web

[2017-09-21 12:54] #7 closed

[2017-09-26 12:30] JimBobSquarePants commented on #267
@tocsoft I've assigned this to you since you're by far and away the expert here.

[2017-09-26 12:44] MaddoScientisto commented on #267
Updated reproducible code for latest beta:
[code]

Reference image:
![ann_0975](https://user-images.githubusercontent.com/816014/30860885-209f9e92-a2c9-11e7-948d-66a3144401f6.JPG)

[2017-09-26 15:11] prw56 opened #353 "Aliasing the using directive causes missing methods"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-09-26 22:52] JimBobSquarePants commented on #353
Hi @prw56

Are you sure you're using the latest version? `GuassianBlur` etc do not live on the image class in beta1.

Could you provide version numbers?

[2017-09-27 09:50] carcer commented on #248
We have ran into this issue on Windows.  We had previously ran into this issue: #290, so we upgraded from 1.0.0-alpha9-00175 to 1.0.0-alpha9-00194.  We're not able to share the image publicly as it is under NDA with a client, but can do so privately if you are able to supply an email address for us to send to.

**Stacktrace**
System.OutOfMemoryException: Exception of type 'System.OutOfMemoryExcept

[2017-09-27 09:53] JimBobSquarePants commented on #248
@carcer What about the latest build?

[2017-09-27 12:29] carcer commented on #248
We didn't notice there was a beta on nuget.org, apologies.  Testing this now.

[2017-09-27 13:04] carcer commented on #248
@JimBobSquarePants Issue persists with beta0001

`System.OutOfMemoryException: Exception of type 'System.OutOfMemoryException' was thrown.
   at System.Buffers.DefaultArrayPool`1.Rent(Int32 minimumLength)
   at SixLabors.ImageSharp.Formats.Png.PngDecoderCore.ReadChunkData(PngChunk chunk)
   at SixLabors.ImageSharp.Formats.Png.PngDecoderCore.ReadChunk()
   at SixLabors.ImageSharp.Formats.Png.PngDec

[2017-09-27 13:43] JimBobSquarePants commented on #248
Great. It's very late here now so I'll have a look tomorrow.

[2017-09-27 23:40] JimBobSquarePants commented on #248
@carcer I've tested against the image you sent (thanks for that) using the latest code and everything is decoding correctly for me.

Silly question but.... You're disposing of your images yeah?

[2017-09-29 11:14] carcer commented on #248
@JimBobSquarePants Fair question, I double checked and every thing looks.  We've been using the alpha for a while now and haven't had an issues, saving the image as a JPG and processing it works fine.  Still, it does point to something we might be doing.  I will look into it some more over the weekend. :+1:

[2017-09-29 11:53] JimBobSquarePants commented on #248
Good man, let me know how you get on. 😄

[2017-09-29 13:23] FelixLeChat opened #355 "Converting Png to Jpg give a color background and not white (Asp.Net Core)"
### Description
My goal is to generate renditions (thumbnail, and other size of the image) from an uploaded image (IFormFile, png or jpg).

When uploading a .png with transparency, the resulting image has a background of a color in the image and not a default white one.

### Steps to Reproduce
[code]
From :
![2553905512_listing_logo](https://user-images.githubusercontent.com/8709465/31017762-a7dde

[2017-09-29 13:59] JimBobSquarePants commented on #355
Hi @FelixLeChat ,

The transparent sections of the image are not actually fully transparent, rather only the alpha component of the pixels is set to zero.

You'll need to manually set the background color.

[code]

Cheers

James

[2017-09-29 16:00] tocsoft commented on #355
I feel we should be doing this by default when encoding into formats that don't support alpha channels.

I think we should add a `NormalizeBackground` property onto `JpegEncoder`  that, if enabled (defaulted to `true`), will do the background color fixes as it encodes each pixel.

[2017-09-30 04:27] JimBobSquarePants commented on #355
I disagree. The encoding overheads in my opinion are too high and it's technically incorrect.
Adding the method to the consumers pipeline code is trivial. Consumers should know what they are operating on.

[2017-09-30 04:29] #355 closed

[2017-10-03 12:25] #262 closed

[2017-10-03 12:34] JimBobSquarePants commented on #284
Your wish is granted! :smile:

The latest builds on MyGet now allow exporting of frames

[code]

[2017-10-03 12:34] #284 closed

[2017-10-03 12:36] JimBobSquarePants commented on #353
Hello?!

[2017-10-03 12:38] JimBobSquarePants commented on #223
@TodesBrot Did you ever get a chance to re-investigate this?

[2017-10-03 14:42] prw56 commented on #353
Sorry, I was using whatever the default version distributed by nuget is. The only version I see listed on the nuget page is 1.0.0-beta0001, so I assume it is that one.

[2017-10-03 15:21] antonfirsov commented on #284
@JimBobSquarePants what does `.Select((f, i) => (f, i))` do in your sample code? Or is it just a typo?

[2017-10-03 20:10] JimBobSquarePants commented on #284
I just copy/pasted the surrounding code above to be honest. It doesn't do anything now I look at it.

[2017-10-03 20:17] JimBobSquarePants commented on #353
No worries, like I said, those methods are not members of the image class anymore. You need to use the `Mutate` or `Clone` methods to access them.

[2017-10-04 00:57] prw56 commented on #353
I think I actually tried 2 different versions, because I remember initially using Mutate, then switching to using GaussianBlur. I think the problem still existed for both versions though, any methods defined in partial classes were not visible.

[2017-10-04 00:59] JimBobSquarePants commented on #353
Would it be possible for you to upload a replicable sample, please? I don't understand how this could be possible.

Thanks!

[2017-10-04 01:06] TodesBrot commented on #223
@JimBobSquarePants I've totally forgotten about this, so I haven't investigted anything. I'm still having trouble getting an emulator to work, but I've confirmed that the bug still happens with the current beta release of ImageSharp.

[2017-10-04 01:13] antonfirsov commented on #353
@prw56 are you sure you're using Mutate/Clone properly? Have you read [this blogpost](https://sixlabors.com/blog/announcing-imagesharp-beta-1/)?

[2017-10-04 01:16] JimBobSquarePants commented on #353
I figured it out....

You're not supposed to use using aliases for namespaces, they're for classes.

e.g.

`using IS = SixLabors.ImageSharp` is incorrect.

`using IS = SixLabors.ImageSharp.Image` is correct.

[2017-10-04 01:18] JimBobSquarePants commented on #223
@TodesBrot Bugger... Zero idea what could cause this. 😞

[2017-10-04 08:07] KLuuKer commented on #223
Maybe check if this also happens when running on mono

[2017-10-04 18:00] prw56 commented on #353
@antonfirsov I'm certain I was using it correctly, b/c the method was present and the code worked when I did not alias the namespace.

@JimBobSquarePants Why is it not correct to alias entire namespaces? Its valid C# syntax and I can still reference the proper classes by prefixing them with the alias (e.g. IS.Image).

[2017-10-04 18:18] tocsoft commented on #353
@prw56 its not a case if it being incorrect to alias a namespaces its just not going to work (easily) for you due to the way we deigned our APIs.

Our API is build around extension methods, explicitly so that it can be easily expanded upon by third party developers in a first class manor, but as extension methods are only available (as extensions) if you have the correct using statement included i

[2017-10-04 18:22] tocsoft commented on #353
Also closing this as its not actually an issue with ImageSharp but a side effect of how extension methods are handled in c# as a language.

[2017-10-04 18:22] #353 closed

[2017-10-05 10:18] xakep139 opened #358 "PNG decoder allocates a lot of memory on corrupted chunk"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-10-05 12:59] JimBobSquarePants commented on #358
@xakep139 Thanks for raising this with hall the info.  👍

You were pretty close with the fix. We just had to handle negative numbers also and reverse the stream so we can handle corruption in between chunks anywhere in the image.

[2017-10-05 21:26] #358 closed

[2017-10-06 03:26] xakep139 commented on #358
@JimBobSquarePants thanks for this quick fix!

[2017-10-06 03:44] JimBobSquarePants commented on #358
@xakep139 No worries 😄

[2017-10-06 04:54] JimBobSquarePants commented on #260
@MeLikeChoco Finally got around to fixing this.

Re your question.. You could always add random noise to individual pixels.

[2017-10-06 05:42] JimBobSquarePants commented on #186
I'm closing this. As @blackcity correctly states, it's not our responsibility to handle network streams.
No other graphics library would be expected to either.

We only copy to a MemoryStream if the given stream is not seekable so I wouldn't be inclined to make this async internally. Nothing to stop calling code from being async though.

[2017-10-06 05:42] #186 closed

[2017-10-06 05:45] JimBobSquarePants commented on #245
I think we've done enough work now to ensure adequate accuracy for our decoder.

Different decoders yield different results with varying levels of consistency per image. We're well within acceptable parameters.

[2017-10-06 05:45] #245 closed

[2017-10-06 06:00] JimBobSquarePants commented on #129
@vinhhrv

We now have ICC preservation within our codebase but the library will still be incorrect as there is a conversion from CMYK to RGB taking place within the decoding process. (This is the same as libjpeg)

We do have a work-in-progress PR in place which will allow us to use the embedded ICC profile to perform a more accurate color conversion. #273

Once that's in we should be able to repli

[2017-10-06 07:54] vinhhrv commented on #129
@JimBobSquarePants
Thanks

[2017-10-06 17:32] chausner commented on #186
I remain convinced that the current way how components read from streams is incorrect and should be avoided. While it may "work in practice" in 99% of all cases, it is still wrong. I am not sure if any changes have been made since I reported this issue but last time I checked, ImageSharp would not recognize invalid, truncated images, for example, due to exactly that issue.

[2017-10-06 17:58] chausner commented on #186
Instead of internally copying non-seekable streams to a MemoryStream, why not simply throw an exception when CanSeek is false? Let the API caller be responsible for passing a seekable stream to ImageSharp. If the caller has a non-seekable stream, they can decide themselves whether to copy synchronously or asynchronously to a MemoryStream first.

[2017-10-06 20:51] JimBobSquarePants commented on #186
Hi @chausner

I'm afraid you thought exactly wrong. ImageSharp failed to read some images incorrectly because it was failing to recover from invalid data or missing data within poorly encoded or corrupt images. I actually fixed an issue within the png decoder to better handle that [yesterday](https://github.com/SixLabors/ImageSharp/pull/359/files#diff-b4f626cf509fdbafd46cc45da8aed941R1127). We've

[2017-10-06 21:27] #268 closed

[2017-10-06 22:27] #260 closed

[2017-10-08 01:37] JimBobSquarePants commented on #142
@antonfirsov I think we should try and make this a priority now if we're gonna get it in for V1.

[2017-10-08 18:04] antonfirsov commented on #142
@JimBobSquarePants hmm .. originally I wanted to polish + standardize our memory management in the next few months, but there are many uncertainties around that topic, so maybe I'll grab this one instead.

There is a lot of work here though, but maybe we can make it into 1.0.

[2017-10-08 21:51] JimBobSquarePants commented on #142
@antonfirsov Have a look and estimate it then. Looking at it myself I'm envisaging quite a lot of API changes to allow it which makes me think maybe it's for V2 instead.

[2017-10-09 08:31] georgexcollins commented on #323
I have added this, pull request will be coming. I'm not a Git user though so we'll see how that goes.

[2017-10-09 09:57] JimBobSquarePants commented on #323
@georgexcollins Ace! My advice, use Github Desktop, takes the complexity away

[2017-10-09 14:20] devedse commented on #323
Ah that's nice, I'll rerun my tests after to verify if this solves the problems I had for this image.

[2017-10-11 08:36] #252 closed

[2017-10-11 08:55] #255 closed

[2017-10-11 12:36] #323 closed

[2017-10-11 20:56] devedse opened #369 "BMP (Probably RLE encoded) has Alpha 0 instead of 255"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-10-12 05:42] #369 closed

[2017-10-12 18:24] cecilphillip opened #371 "Question: Any plans HEIC support?"
### Prerequisites

- [x] I have written a descriptive issue title
- [ ] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-10-12 18:41] tocsoft commented on #371
We don't currently have any plans but if someone was to send in a pull request we probably wouldn't turn it down.

[2017-10-12 18:54] tocsoft commented on #371
Actually, after having done some research on this format, I doubt we would ever add support for this to the core ImageSharp product.

The reason being is that the codec that HEIC uses (HEVC) is covered by patents that would require licensing thus we probably wouldn't be able to ship this as a core software component. Me might be able to be work something out to be able to provided as an add-on pac

[2017-10-12 21:21] cecilphillip commented on #371
Thanks for the response.

[2017-10-16 00:12] rimutaka opened #372 "AWS Lambda support? (netcoreapp1.0)"
Is it possible to roll back to netcoreapp1.0 to make it work on AWS Lambda?

AWS Lambda doesn't support 1.1 or later.

Are there any critical features in Core or ImageSharp namespaces that rely on post 1.0 features?

[2017-10-16 01:38] rimutaka commented on #372
Sorry for asking stupid questions.
A simple downgrade of NETStandard.Library 1.6.1 to NETStandard.Library 1.6.0 did the trick.

[2017-10-16 01:38] #372 closed

[2017-10-19 13:36] jsfeldman opened #373 "Images created via safari's/iOS's implementation of HTMLCanvasElement.toBlob cannot be loaded"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-10-20 00:29] JimBobSquarePants commented on #373
I've handled this before, we just need to add a few more header identifiers. Will update asap.

[2017-10-22 19:34] georgexcollins commented on #31
Just to check my understanding of the ResamplingWeightedProcessor: you can cheaply calculate the fractional offset of destination pixel when translated from source, because for a resize the horizontal offset is the same for every pixel in a column, and the vertical offset is the same for every pixel in a row. Is that correct?
For a rotation, this is not the case, every pixel has a different fracti

[2017-10-23 19:28] johannesegger opened #374 "Remove stylecop.json from SixLabors.ImageSharp.Drawing NuGet package"
I guess you mistakenly added it anyway. The core package SixLabors.ImageSharp doesn't have it.

![image](https://user-images.githubusercontent.com/237707/31908695-0178a78c-b838-11e7-87b4-b2dad25a21c0.png)

[2017-10-23 22:25] JimBobSquarePants commented on #374
Thanks, @johannesegger, appreciate it!

We'll get that updated. In the future can you please raise issues using the issue template we provide. It just makes things a little easier for us to keep track of.

Cheers

James

[2017-10-26 13:05] CDDelta opened #375 "Wrapped text should not include space at start of new line"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-10-26 14:00] tocsoft commented on #375
moved to SixLabors/Fonts#47 as this is a bug/issue with the layout engine built into SixLabors.Fonts

[2017-10-26 14:00] #375 closed

[2017-10-26 14:01] tocsoft commented on #375
thanks for reporting this, I've 'moved' this over to the other repository as its specifically an issue in that component.

[2017-10-26 14:02] CDDelta commented on #375
Thanks for the swift reply!

[2017-10-29 14:50] naveedahmed1 commented on #375
@tocsoft can you please guide where can I find documentation of this plugin. I want to add some text on an image, but couldn't find any documentation or tutorial.

[2017-10-29 15:33] tocsoft commented on #375
@naveedahmed1 as linked from our readme our [samples repository](https://github.com/SixLabors/Samples/tree/master/ImageSharp) has 2 different examples of drawing text on images. The [Draw watermark on image](https://github.com/SixLabors/Samples/blob/master/ImageSharp/DrawWaterMarkOnImage/Program.cs) and [Draw text along a path](https://github.com/SixLabors/Samples/blob/master/ImageSharp/DrawingTex

[2017-10-29 20:33] naveedahmed1 commented on #375
Thank you so much @tocsoft :)

[2017-10-30 10:14] naveedahmed1 commented on #375
I am using the latest version but its not recognizing `SixLabors.Fonts`

[2017-10-30 16:40] tocsoft commented on #375
@naveedahmed1 make sure you have a dependency on `SixLabors.ImageSharp.Drawing` this is the package that enables drawing onto images.

[2017-10-31 11:32] sla1k opened #378 "Incorrect nuget dependencies for SixLabors.ImageSharp.Web package"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-10-31 11:36] tocsoft commented on #378
this should have been posted at
https://github.com/SixLabors/ImageSharp.Web/issues as ImageSharp.Web has its own repositroy.

FYI we have already fixed this in source and will be resolved when we push out a beta2.

[2017-10-31 11:36] #378 closed

[2017-11-05 09:26] krystyna93 opened #380 "Failing installation of SixLabors.ImageSharp in NuGet VS 15.4.2"
I have been having issues with the installation of this package.
I have updated to Visual Studio 15.4.2, but I am still getting the same error below in the error list as well as in my previous version of VS 15.4.0. I have also uninstalled and reinstalled numerous time, but to no avail.

Error		Package restore failed. Rolling back package changes for 'myprojectname'.

I am also receiving the follow

[2017-11-08 06:41] JimBobSquarePants commented on #380
Hi @krystyna93 The error message is telling exactly what the problem is.

You are trying to install the library into an unsupported environment (NETCore 2.0)

You need to target a .NETStandard target.

See the chart here

https://docs.microsoft.com/en-us/dotnet/standard/net-standard

Cheers

James

[2017-11-08 06:41] #380 closed

[2017-11-08 06:46] #325 closed

[2017-11-08 06:47] #224 closed

[2017-11-08 06:48] #151 closed

[2017-11-13 03:07] irium opened #381 "Make ColorSpaces and conversion public"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-11-13 03:10] JimBobSquarePants commented on #381
Hi @irium

They're internal at the moment for precisely that reason. We want to do some API and optimization work first to ensure that what we release is both usable and performant. As soon as we're happy we'll make the namespace public.

Cheers

James

[2017-11-14 15:11] naveedahmed1 commented on #375
@tocsoft can you please guide whats wrong with below code:

[code]

I am receiving below error:

[code]

[2017-11-14 16:22] dlemstra commented on #375
You should not `Dispose` the `outputImageStream` passed to the `FileStreamResult` object. That class becomes the owner and will release it themselves.

[2017-11-14 23:23] naveedahmed1 commented on #375
Thank you so much @dlemstra it was really helpful :)

[2017-11-16 08:48] pammann-work commented on #305
GetRowSpan is no longer part of the public API, so this issue makes no longer sense

[2017-11-16 09:42] JimBobSquarePants commented on #305
It will most likely be for v1 though so I'd like to keep it open and see if anything has changed by then.

[2017-11-16 11:51] antonfirsov commented on #305
@pammann-work Is this about assertions failing (and not Span-related exceptions and crashes) right?
Can you do a favor for us, and try changing your test to use the `image[x, y]` indexer instead of row span? :)

If my assumptions are right right, this has nothing to do with `Span<T>`. It is a strange pixel conversion issue we experience on Linux. I'm quite sure we already have an open issue for th

[2017-11-16 11:55] antonfirsov commented on #305
Wait ... I just realized this issue has been opened in August. So .. *this* is the issue was talking about. Need more cofee ..

[2017-11-20 04:00] TechnikEmpire commented on #130
Loading a 1080p jpeg on i7-6700 .NET 4.6.2 Win 10 x64, compiled as x64 takes almost 400mec just to clear the `Image.Load(...)` process. Is this normal?

[2017-11-20 06:44] JimBobSquarePants commented on #130
I don't know. You haven't supplied a version number, dimensions, colorspace info, whether it's baseline or progressive, nor the image itself.

[2017-11-20 08:31] Lapinou42 opened #383 "Crash when running in AOT-only mode (Release mode) in SixLabors.ImageSharp.PixelAccessor"
### Prerequisites

- [x] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-11-20 09:53] Lapinou42 commented on #383
It seems to be a runtime error when reflection is used.
I got an error of this kind with EF Core. I wrote a linker.xml file for this. Maybe I could solve this issue by using this linker file, but a don't know of to write this.

I tried something like :

[code]

But it does nothing.

[2017-11-20 10:09] JimBobSquarePants commented on #383
Hi @Lapinou42

We're not using actually reflection in that method.

Could you please attempt to narrow down the issue by creating a simple application that calls only `Unsafe.Add(ref byte, int)`

If that throws then you will need to raise an issue with Xamarin.

Cheers

James

[2017-11-20 10:28] Lapinou42 commented on #383
Hi @JimBobSquarePants ,

Thank you for your reply.
I tried to call this method but it doesn't crash and I have no exception.

Chris.

[2017-11-20 10:29] JimBobSquarePants commented on #383
Thanks. Can you post the code you used to narrow it down please?

[2017-11-20 10:46] Lapinou42 commented on #383
Hmmm... Finally, It seems the crash comes from this method :

[code]

I'm investigating to understand what's going wrong.

[2017-11-20 11:25] antonfirsov commented on #383
@Lapinou42 @JimBobSquarePants
I think the AOT compiler somehow fails to discover, that on [this execution path](https://github.com/SixLabors/ImageSharp/blob/master/src/ImageSharp/Formats/Jpeg/GolangPort/JpegEncoderCore.cs#L327) it has to compile [`Unsafe.Add<T>(ref T, int)`](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.

[2017-11-20 11:44] TechnikEmpire commented on #130
Well you've got most of that information but hey just the suggestion that baseline or progressive might mean the difference between loading a picture before the heat death of the universe or not answers my question.

I went through other remarks here by other people and they expressed the same thing, this library being several times slower than other code. It was simply a question I asked after sp

[2017-11-20 12:08] Lapinou42 commented on #383
@antonfirsov
I think you are right.
Thank you for your investigation. It helped me to understand what's wrong ;)

[2017-11-20 12:21] antonfirsov commented on #130
@TechnikEmpire please, post your image here, and I will investigate it! Our jpeg decoder is strongly optimized with SIMD for a certain super-common category of images, but not yet for others. There is a lot of work here, and we are a very small team.

*Reacting your deleted post:*
Yeah, @JimBobSquarePants was a bit rude here, but let's not start flaming each other here, and get back to a construct

[2017-11-20 12:28] TechnikEmpire commented on #130
@antonfirsov I deleted my post because even though I still think it was condescending because 1) I tend to get mouthy too fast for which I apologize and 2) it appears that an in-progress hardware failure I was unaware of till now is to blame. It was the IO process itself that was taking roughly 350 msec and not your library. I have a data drive where I store masses of image data for various classi

[2017-11-20 12:37] antonfirsov commented on #130
@TechnikEmpire no worries, I'm glad, you figured it out!

Also good to know, if you have have came across the posts of a guy on StackOverflow evangelizing that the library is slow: he was "benchmarking" it in Debug mode.

[2017-11-20 12:42] TechnikEmpire commented on #130
@antonfirsov of course, stack overflow is a hole. Perf isn't bad, I'm scaling down images to 220 square before running my algo ported from using opencv and I'm only losing a few msec that way. Again I eat my words and honestly I should have figured that such atrocious load times was due to something else.

[2017-11-20 12:46] JimBobSquarePants commented on #383
Thanks @antonfirsov I was thinking the same after a bit of reading.

[2017-11-20 13:03] JimBobSquarePants commented on #130
@TechnikEmpire Sorry if I came across as condescending, it's been a rough couple of weeks and I'm not great at online conversation at times. I'm glad you found the solution and I hope the hardware will not be too expensive to replace.

Your assistance at any time would be, of course, most welcome.

[2017-11-20 13:08] Lapinou42 commented on #383
@antonfirsov

I tried your workaround but it doesn't work.

Sorry for this post that actually doesn't related to ImageSharp.

Btw, do you have post the issue on [Xamarin Bugzilla](https://bugzilla.xamarin.com/enter_bug.cgi?product=iOS) or must I do ?

Kind regards,
Chris.

[2017-11-20 13:08] TechnikEmpire commented on #130
@JimBobSquarePants No worries, apologies for being a snarky jerk. I'm on a mission to create a binary image classification library, but it's a low priority in the mountain of work I have to do. If I can make time and find something I can contribute, I definitely will. Thanks for publishing your hard word.

[2017-11-20 23:43] antonfirsov commented on #383
@Lapinou42 thanks for opening the issue on Xamarin Bugzilla! I also posted a comment, hope it helps.

I suppose, the workaround does not work, because the `Unsafe.Add` method is `AggressiveInlined`.

[2017-11-21 16:18] antonfirsov commented on #383
@Lapinou42 I've seen your latest comment on Bugzilla. Regarding this comment:

I'm being curious about your native image pixel format, and how do you implement conversion from `Image<Rgba32>` to native image objects? :)

[2017-11-21 16:37] Lapinou42 commented on #383
@antonfirsov

This is the code I mean :

[code]

But, the peace of code is really fast:

[code]

[2017-11-21 17:28] antonfirsov commented on #383
@Lapinou42 the `NSImage.AsJpeg()` -> ImageSharp jpeg decoding step seems unnecessary.

If you are familiar with the underlying `UIImage` + `CGImage`  + `CGContext...` API-s, you can try extracting the pixel data into a `byte[]` array of Rgba32 format or into an `Rgba32[]` array directly. Then you can use our `Image.LoadPixelData<Rgba32>(data)` to construct an ImageSharp image in a more efficient w

[2017-11-21 17:43] tocsoft commented on #383
you want to access the raw byte array from the UIImage directly instead of converting back and fourth in jpeg format.

This looks like some sample code that can help you access image data https://forums.xamarin.com/discussion/comment/60985/#Comment_60985
_disclaimer: not been tested, not an IOS developer._

Then as @antonfirsov suggests call `var img = Image.LoadPixelData<Rgba32>(rawData, width, h

[2017-11-22 12:47] houseme-brandon commented on #248
I am getting this issue as well
Running 1.0.0-beta0002 with dotnet core 2.0 hosted on Azure

We are calling the image operations concurrently. Does this affect the memory allocation?

Is there some work around we can use?
Is it related to Png only?
[code]

[code]

[2017-11-22 12:58] JimBobSquarePants commented on #248
@houseme-brandon

Looking at the stacktrace that error is throwing in the jpeg decoder, it hasn't hit png yet.

What's your `Base64StreamToByteArray` method doing? are you pooling arrays or creating a new one each time?

[2017-11-22 13:04] houseme-brandon commented on #248
Thanks @JimBobSquarePants here is the method you asked about.

[code]

I have not configured anything regarding arrays so I assume it is doing the default. Not sure what that would be?
Sorry I am not clued up on the concept of pooling arrays vs creating new ones. Happy to do my research if you could point me in the right direction.

[2017-11-22 13:12] antonfirsov commented on #248
@houseme-brandon looks like your doing a long chain of unnecessary transformations on very large data streams. Can you try [CryptoStream](https://stackoverflow.com/a/2525559/797482) to decode your base64 input, and feed the result stream to `Image.Load()`?

[2017-11-22 13:17] JimBobSquarePants commented on #248
@houseme-brandon  I can immediately see two  non-pooled arrays both in `Convert.FromBase64String` and `ToArray`

That will be where you are using up all your memory.

Look up `ArrayPool<T>` in `System.Buffers` you should be able to use that to at least copy the input stream to. Removing the allocation from decoding the encoded string though I don't know.

[2017-11-22 13:19] antonfirsov commented on #248
[ The example I found is not the best one, because it's writing the stream, you need to read it :) ]

[2017-11-22 13:37] #374 closed

[2017-11-22 14:26] glocom opened #385 "System.AccessViolationException when Loading a jpg image"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-11-22 14:32] houseme-brandon commented on #248
I have implemented the CyrptoStream which removes the non-pooled arrays as far as I can see.

I am handling the disposing of objects as far as I can see.
I can not see an efficient use of ArrayPool after the CryptoStream change

[code]

Still getting the out of memory exception. The only option I can see is to use an ArrayPool directly as I retrieve the image. Am I still missing something?

[2017-11-22 14:49] antonfirsov commented on #248
@houseme-brandon have you any information about the typical sizes of the images you test your application with? Can you share some of them?

Also: can you try to attach a memory profiler to your application [following these instructions](https://msdn.microsoft.com/en-us/library/ms182372.aspx), and share your results with us? (Make sure you choose "Memory usage" instead of CPU). It would be very he

[2017-11-22 16:08] houseme-brandon commented on #248
@antonfirsov typical sizes is difficult to say. But I have an example of a batch of images that I got permission to share.
Most of the images are 4032 x 3024 and about 4 MB
There are a few that are much larger.

This is a link to the pictures I was talking about with an image of azure's memory profile.
https://mega.nz/#F!5wJVgCzJ!u7JVdAFKxnA9QAFTxEK9gw

The memory profile does seem to peak at abou

[2017-11-22 17:09] antonfirsov commented on #248
@houseme-brandon those are pretty large images! After a quick calculation, it seems that each `Image<Rgba32>` would consume about `50MB` after decompression! There is nothing to do about this, this is the cost of an uncompressed in-memory representation of an RGBA image.

What is the memory limit of your VM/app service? Also: Make sure you are running it in a 64 bit process.

My current assumption

[2017-11-23 01:29] JimBobSquarePants commented on #31
@alex-birch It's been almost a year but I've finally cracked it!

[2017-11-23 02:27] JimBobSquarePants commented on #155
I'm gonna close this. Our testing shows a massive improvement

[2017-11-23 02:27] #155 closed

[2017-11-23 09:11] houseme-brandon commented on #248
The server has 7GB ram. I did set it to run as a 64 bit process but the fact that it is running out of memory at 40% makes me think it is actually running as a 32 bit process. I just checked and it is starting the as x86 even though I specified x64 in azure and built it as AnyCpu. Makes sense that these issues are happening in azure and not on my local PC.

I am struggling to get it to start it as

[2017-11-23 11:54] JimBobSquarePants commented on #248
@houseme-brandon If you're running in 32bit mode it will be a lack of contiguous memory that's your issue. Shift to 64bit and you should be fine.

I'm actually impressed that we were able to run images of those dimensions. I've seen System.Drawing balk at less in 32bit mode.

[2017-11-23 12:41] houseme-brandon commented on #248
Thanks! So the issue started by changing to dotnet core. We were System.Drawing successfully on dotnet framework because it was running as a 64 bit process. It lost the runtime environment when we changed to dotnet core. Now that it is finally able to start as a 64 bit process again it seems to run flawlessly!

Sorry for hikackjing this issue since it turned out to not be related . . . or even an

[2017-11-23 12:47] JimBobSquarePants commented on #248
Discussions like this are great for other readers who run into the same problem. I'm just glad you got it sorted. 😄

[2017-11-30 17:47] fdncred opened #388 "1bpp Support?"
I can't find any support for bitonal 1bpp support. Is that correct? If so, are there plans to add support?

[2017-11-30 20:49] antonfirsov commented on #388
@fdncred unfortunately, it's not possible to define pixel types with size below 1byte with our current architecture. We may consider it for `2.0`. However, we have a
May I ask you about your use case and goal? Maybe there is a workaround for you :)

[2017-11-30 20:53] antonfirsov commented on #388
I mean: a custom pixel type with bi-level behavior (but 8bpp physical memory density) might be good enough for you.

[2017-11-30 20:58] fdncred commented on #388
Most SDKs/APIs do 24bpp and 32bpp, sometimes 8bpp, rarely 1bpp. In my environment we process millions of 1bpp images daily. I'm always looking for a better, faster, cheaper way to do image processing. Things from simple image processing like rotate and crop to more extravagant convolutional image processing, fourier, blob/connected component, histograms, computer vision, etc. I'd rather process wh

[2017-11-30 21:24] antonfirsov commented on #388
If your primary goal is processing speed, those 8-32bpp pixel formats perform better usually, because you have to run less packing/unpacking operations.
I'm not saying that it's impossible to do those processing operations efficiently with 1bpp, but it's really hard, and it is a very specific area. Our engine is usually packing/unpacking pixel rows into `Vector4` (`_m128`) blocks before doing the

[2017-12-01 08:03] kentcb opened #389 "Behavior of DrawText unclear"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-12-01 15:28] TodesBrot opened #390 "GIF Artifacts"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-12-02 00:12] TodesBrot commented on #390
I just noticed the second GIF file also appears to be faster than the first one.

[2017-12-02 01:28] TodesBrot commented on #223
After way too much time, I finally got Mono working on Windows. The bug occurs on Windows too when using Mono, so it is a framework issue rather than a platform one.

@KLuuKer I have confirmed that this is purely a decoding issue. The bottom rows are still missing when saved as a BMP file.

[2017-12-02 02:10] TodesBrot commented on #223
I edited the PncDecoderCore code so that every time it tries to process a chunk, the chunk type gets written to the console. On .NET this results in the output "IHDR, IDAT, IDAT, IEND", but on Mono between the last IDAT and IEND, it tries to process 686 chunks with the type null. These chunks all have random lengths, such as -1763762839 or 1856068475. The amount of chunks, 686, also corresponds wi

[2017-12-02 03:40] JimBobSquarePants commented on #223
Thanks @TodesBrot this is really useful! 👍 There's two things we need to do then.

1. Report this upstream in the Mono bugtracker.
2. See if there is a way to force your zlib wrapper to read the last bytes (could you perhaps experiment with that?)

[2017-12-04 11:17] JimBobSquarePants commented on #390
@TodesBrot I can't replicate this in the current master. Here's the output from there.

![giphy](https://user-images.githubusercontent.com/385879/33550063-b61fbcba-d940-11e7-8a2f-38c7a2909087.gif)

[2017-12-04 11:52] #385 closed

[2017-12-04 11:55] TodesBrot commented on #390
@JimBobSquarePants I have noticed some weird behavior. When I create a new project and load the image, it loads just fine, but in my old project it has the buggy output. However, if I move the line that loads and saves the file to the beginning of the project, it works fine. It seems like something in my project changes something somewhere that causes the bug to occur. I'll have to do some more in

[2017-12-04 12:12] JimBobSquarePants commented on #390
Thanks, let us know how you get on.

[2017-12-04 12:15] TodesBrot commented on #390
@JimBobSquarePants Okay, now this is a weird one. Loading this specific image:
![icon](https://user-images.githubusercontent.com/8228822/33552173-410fe630-d8f4-11e7-8b12-f4f195fc8e3d.png)
and saving it again before loading the GIF leads to the corruption shown above. Additionally, loading it and not saving it beforehand leads to a different corruption.

Code example: (The GIF is called "Kumin.gif"

[2017-12-04 12:24] TodesBrot commented on #390
It seems like loading and saving any 256x256 image causes this bug. I created one with only blue and green stripes in it, and it caused blue and green stripes to appear.

[2017-12-04 12:33] JimBobSquarePants commented on #390
I think this might be an array pooling thing as the LZW decoder doesn't use clean arrays to read from.

Would you be able to alter the code locally in [GifDecoderCore](https://github.com/SixLabors/ImageSharp/blob/7bd6225366b586007954a81b092f20a7527e14e5/src/ImageSharp/Formats/Gif/GifDecoderCore.cs#L324) to clear the array before decoding? Also the global color table?

[2017-12-04 12:35] antonfirsov commented on #390
@JimBobSquarePants I had the same idea

[2017-12-04 12:50] JimBobSquarePants commented on #390
@TodesBrot I've actually just pushed a [branch](https://github.com/SixLabors/ImageSharp/compare/js/fix-390) that should fix this for you, could you please dl, build it and test against it?

[2017-12-04 17:59] fdncred commented on #388
Thanks for the info.

[2017-12-04 17:59] #388 closed

[2017-12-05 03:58] Spawnkid opened #391 "Ambiguous ImageExtensions reference"
### Prerequisites

- [x ] I have written a descriptive issue title
- [x ] I have verified that I am running the latest version of ImageSharp
- [x ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure

[2017-12-05 04:47] JimBobSquarePants commented on #391
Hi @Spawnkid

We probably should reorganize the namespaces for the two libraries but I'm a little confused by the approach you're taking.

Extension methods (hence the namespace) are most commonly used as extensions to method instance and are not called via static invocation.

e.g.

[code]
You'll get no ambiguity doing it properly like that.

Hope that makes sense.

Cheers

James

[2017-12-05 05:27] Spawnkid commented on #391
Hi, Thanks for the suggestion.

It's because I need to save the Rgba64 from ZXing.ImageSharp.BarcodeWriter to a stream that I passed. Here is the method:
`   private static void ApplyBarcode(Stream img, BarcodeFormat barcodeFormat, string value, int width, int height)
        {
            var bcWriter = new ZXing.ImageSharp.BarcodeWriter<SixLabors.ImageSharp.PixelFormats.Rgba64>
            {

[2017-12-05 05:36] Spawnkid commented on #391
Nevermind, I think I found an solution.

`   bcWriter.WriteAsImageSharp<SixLabors.ImageSharp.PixelFormats.Rgba64>(value).SaveAsPng(img);`

Thanks!

[2017-12-05 05:36] #391 closed

[2017-12-05 05:38] JimBobSquarePants commented on #391
Glad you found an answer.  I think perhaps you should have raised this on the issue tracker for ZXing.

Anyway...  In regards to your question.

`bcWriter.Write(value)` is of type `Image<Rgba64>` yeah?

If so.... Why not?

[code]

Btw, there's no reason to use `Rgba64` as your pixel format type. The png encoder will convert that to `Rgba32`.

[2017-12-05 05:48] Spawnkid commented on #391
bcWriter.Write(value) is of type Image<Rgba64> yeah? -> Yes. I also changed the param name (Thank you for the free code review 👍  )

Anyway, I will let ZXing know about the issue. Thank You for your help and very quick response Jim!

[2017-12-05 06:10] JimBobSquarePants commented on #391
Happy to help, any other issues please let me know 😄

[2017-12-05 06:11] JimBobSquarePants commented on #223
Looks like raising Mono issue is gonna get easier 😄

https://twitter.com/migueldeicaza/status/937769295723089921

[2017-12-06 14:55] rdcm commented on #151
@antonfirsov did you mean SixLabors.ImageSharp 1.0.0-beta0002?

[2017-12-06 22:02] JimBobSquarePants commented on #151
Beta 1 contained the relevant changes, beta 2 builds on those changes

[2017-12-08 11:45] J0nKn1ght opened #394 "ImageFormatException: 'Bad Th value' on jpeg image"
Hi,

I have a problem loading a specific jpeg image using ImageSharp.  The code is in an ASP.Net MVC Core application, and is loading the image data from an IFormFile stream.
The image is available at the following url:

[http://www.edenamps.com/images/eden_terra_nova_10-crop-u182927.jpg](http://www.edenamps.com/images/eden_terra_nova_10-crop-u182927.jpg)

Are you able to see if there's any way to

[2017-12-08 11:49] dlemstra commented on #394
Could you add a small code sample so we can easily reproduce your issue?

[2017-12-08 12:10] J0nKn1ght commented on #394
Sure. Just download the file in my original post locally, and then pass the path to the following .Net Core 2 console app:

[code]

[2017-12-08 14:38] JimBobSquarePants commented on #394
I know what's causing this and it's an easy fix.

We're incorrectly limiting the possible huffman table count to 2 for non-progressive jpegs. It's actually ok to have up to 4 dc and 4 ac tables.

https://github.com/SixLabors/ImageSharp/blob/f49bd9bec547dbdb4ab5fd581a47f8cd428683c0/src/ImageSharp/Formats/Jpeg/GolangPort/OrigJpegDecoderCore.cs#L691

Deleting the conditional after the logical OR oper

[2017-12-08 16:15] #394 closed

[2017-12-08 21:09] 777olexandr opened #396 "Artifacts after resizing"
### Description
Image resizing works worse than when done with imagemagick php library and generally cannot be moved to production with that quality.

### Steps to Reproduce
I'v used three mods: pad, boxpad and max. Passed only width so to save original aspect ration.

See links of original and resized images:

Original: https://ibb.co/npKCFG
Resized to 350px: https://ibb.co/doeCFG

### System Con

[2017-12-08 21:39] JimBobSquarePants commented on #396
Hey @777olexandr

There's nothing wrong with our resampling algorithms, what your are seeing is the result of the default jpeg encoding quality options. If you change them, then the artifacts will go away.

We've chosen those options as default as they work well for photos (which is what jpeg is designed for) you'd be much better off saving an image with crisp lines like that as a 24 bit png, it's

[2017-12-08 21:57] 777olexandr commented on #396
@JimBobSquarePants I'm grateful for your fast reply. Could you please clarify what code should I use? Currently I have such method:

`public Stream Get()
        {
            Stream stream = new MemoryStream();
            IImageEncoder encoder = null;

            switch (_extension)
            {
                case ImageExtension.JPEG:
                    encoder = new SixLabors.ImageSharp.Fo

[2017-12-08 22:13] 777olexandr commented on #396
Tried another code and the same - the Load method returns null when passing same stream second time =( Maybe I do something wrong, I'm newbie in c# but cloning the stream didn't help.

[2017-12-08 22:33] JimBobSquarePants commented on #396
@777olexandr

No worries, happy to help. 😄

I would never rely on the image extension over the file headers to determine the format. The header will return the correct value and it's all too easy for someone to save a file with the wrong extension.

Here's a bulletproof way if saving the files with the correct format.

[code]

Regarding your second issue I imagine it is because you haven't reset t

[2017-12-08 23:31] 777olexandr commented on #396
This line

var config = Configuration.CreateDefaultInstance();

Creates an error "..does not contain a defination for CreateDefaultInstance". It finds the Configuration class but no such method.

Also in my code the Load method is used in constructor and Save in a method "Get" because I'v wrapped it in a class that has multiple methods with chain like functionality. So the Get method is last point

[2017-12-08 23:55] 777olexandr commented on #396
Figured out with format and now my method became 3x time slimmer by removing the switch. Nice! But still can't solve config problem. And is it possible to set up quality in Save method?

[2017-12-09 02:42] JimBobSquarePants commented on #396
@777olexandr Sorry, I forgot that method was internal, I've updated the sample for you and that should now work.

Doing it on save won't work unless you used a switch again which is what we want to avoid.

[2017-12-09 10:20] tocsoft commented on #396
@777olexandr
The easiest way to configure the default encoder options  is to do it like this:
https://github.com/SixLabors/Samples/blob/d8959156c24b671be13cd345ac50d3dbe967dd7d/ImageSharp/ChangeDefaultEncoderOptions/Program.cs#L14-L20

That way you shouldn't need to fight with creating a custom configuration and will be the version thats automatically used when using the named formats.

@JimBobSqu

[2017-12-09 10:43] JimBobSquarePants commented on #396
@tocsoft I completely forgot about that API!

Yeah, that's definitely the best way to go.

[2017-12-09 15:56] 777olexandr commented on #396
Excellent! Thank you guys!

[2017-12-09 15:56] #396 closed

[2017-12-13 16:58] mgrishkov opened #400 "Remove EXIF from image"
Dear team, can you please describe how can I remove EXIF information from image or rotate it based on EXIF data?

[2017-12-13 23:54] #390 closed

[2017-12-14 00:45] JimBobSquarePants commented on #390
@TodesBrot Version has gone out of whack for our CI server so SixLabors.ImageSharp.1.0.0-ci0030 will contain the fix.

[2017-12-14 06:05] JimBobSquarePants commented on #400
Hi @mgrishkov

Normally we use this issue tracker for issues (bugs) only and our [Gitter](https://gitter.im/ImageSharp/General) chatroom for questions but I'll answer here for brevity.

If you want to auto rotate an image based on its EXIF metadata you can use the `AutoOrient` method

e.g.

[code]
To alter or remove EXIF data (if it exists) is a case of setting either the `image.MetaData.ExifProfi

[2017-12-14 06:05] #400 closed

[2017-12-15 02:23] JimBobSquarePants opened #401 "Refactor solution namespaces and classes"
### Problem

Currently most of the existing types are located within a flat namespace `SixLabors.ImageSharp`. Many of our extension methods share a single class `ImageExtensions`.

This is detrimental for several reasons:

- Discoverability. Having all the types in a single namespace pollutes intellisense.
- Bugs. Using classes with the same name and namespace in both `ImageSharp` and `ImageSharp.

[2017-12-15 02:38] JimBobSquarePants opened #402 "Create API Documentation"
### The Problem

Currently we have no API documentation. This harms library adoption and testing and also limits our visibility of the project.

Initially we planned to add the API documentation directly to the [SixLabors](https://sixlabors.com/) site but I now believe that proposal is now too complicated and will not only cause further delay but prevent the community from giving documentation ass

[2017-12-15 21:38] iamcarbon opened #403 "IndexOutOfRangeException in ReadFrameColors when processing Gif"
### Prerequisites

- [x] I have written a descriptive issue title
- [ ] Only tested in RELEASE mode (Linux + Windows)
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it has not already been repor

[2017-12-15 22:47] JimBobSquarePants commented on #403
@iamcarbon I'll have a look at this with our latest build, I just did some work on the gif decoder. Hopefully it's simple enough to fix.

[2017-12-16 00:43] antonfirsov commented on #402
@JimBobSquarePants for me it feels much simpler to maintain a single repo for all the docs.

I think we should host manual and generated documentations on the same site. ([Just as Velrid docs do.](https://mellinoe.github.io/veldrid-docs/))

[2017-12-16 00:45] JimBobSquarePants commented on #402
I'm up for that also if that's easier. We can keep the Six Labors site more marketing based.

[2017-12-18 21:05] iamcarbon opened #405 ""Image cannot be loaded" for valid GIFs"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] Only checked in Release
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it has not already been reported

### Description

[2017-12-18 23:27] JimBobSquarePants commented on #405
@iamcarbon I've had a quick look and have identified the issue.

Those two images have Application Extension Blocks with an incorrect length of 252. I checked the spec and it should be 11.

Here's a great description.
http://www.matthewflickinger.com/lab/whatsinagif/bits_and_bytes.asp#application_extension_block

Anyway, it's an easy fix as the header actually tells us what length to skip so I've

[2017-12-18 23:33] iamcarbon commented on #405
@JimBobSquarePants -- awesome, I suspected there was a specification violation in how these were encoded. And good to know that there's an easy fix!

[2017-12-19 00:04] JimBobSquarePants commented on #403
@iamcarbon Turns out this one has a left offset + width for the ImageDescriptor on frame 1 that is greater than the actual image width. Easy fix again thankfully 😄

BTW this tool is super useful for looking at individual frames.

https://github.com/ata4/gifiddle

[2017-12-19 00:59] #403 closed

[2017-12-19 00:59] #405 closed

[2017-12-20 02:26] Menighin opened #407 "DrawText with border?"
Hi guys,

This is more of a doubt (by the way, is there a specific forum for question or something?):

I have dynamic text over dynamic backgrounds. Im always writing the text in white but depending on the background and text length it may cause some issues writing white text over white background.

**I was wondering: is there a simple way to add borders to my text? Or maybe some shadow or some ki

[2017-12-20 03:14] JimBobSquarePants commented on #407
Hi @Menighin

Yeah we do have a forum for general chat. It's highlighted in the contribution guidelines that pop up when you raise an issue. You're not the first to miss it so no worries 😄

https://github.com/SixLabors/ImageSharp/blob/deb1c9c8a6c0e09219e36edc12c49cb1aaf4fc60/.github/CONTRIBUTING.md#do-you-have-questions-about-consuming-the-library-or-the-source-code

In answer to your question. Ye

[2017-12-20 03:14] #407 closed

[2017-12-21 01:45] robertbaker opened #409 "Out of Memory Exception when resizing image"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-12-21 01:53] JimBobSquarePants commented on #409
Hi @robertbaker

I can see in your stacktrace you are running in Azure. (Thanks for that!)

Are you running in 32bit mode? If so I cannot recommend that as you will too easily run out of contiguous memory.

Cheers

James

[2017-12-22 15:47] zeus82 opened #410 "Image.Load<Rgba32> Results in 'Bad compression method for ZLIB header: cmf=237' Exception"
### Prerequisites

- [ X] I have written a descriptive issue title
- [ X] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure

[2017-12-23 15:18] JimBobSquarePants commented on #410
Hi @zeus82

Thanks for the detail and the input image. It turns out that image is not a valid png.

![cgbi](https://user-images.githubusercontent.com/385879/34320495-b3783640-e84f-11e7-8f45-470cbbb1c28b.PNG)

http://iphonedevwiki.net/index.php/CgBI_file_format

There's quite a few differences between the format

- extra critical chunk (CgBI)
- byteswapped (RGBA -> BGRA) pixel data, presumably for

[2017-12-23 16:40] tocsoft commented on #410
seeing as chrome doesn't seem to even seem to render it then i'm inclined to think we should defiantly push it past v1 and even then see how much of an issue its causing in the future and make a another call then.

[2017-12-23 22:26] JimBobSquarePants commented on #410
Ha! Doesn't it! I only have Edge installed at the mo cos I had to get my laptop replaced. That renders something but it ain't pretty. Yeah let's leave it for now then.

[2017-12-23 23:01] antonfirsov commented on #410
Only Windows + GDI based decoders seem do decode it properly. For now I consider this issue as low-priority.

[2017-12-23 23:54] antonfirsov opened #411 "Create developer-friendly documentation with examples"
# The Problem
I strongly believe that -  in order to improve our adoption rates - a well structured sample-based documentation is at least as important as an auto-generated API documentation (#402). It would also save us significant amount of time, because most of the questions could be answered using a link to a paragraph.

I want to do most of this job for the 1.0 release, but I need your help i

[2017-12-24 01:37] kentcb opened #412 "Disabling AA can result in "missed" lines"
### Description

When disabling antialiasing, drawing lines that are partway between pixels can result in them not being rendered at all.

### Steps to Reproduce
[code]

The output looks like this:

![image](https://user-images.githubusercontent.com/1901832/34323642-c151cc82-e89e-11e7-8583-d4e32f550fb8.png)

### System Configuration

- ImageSharp version: `1.0.0-beta0002`
- Other ImageSharp packag

[2017-12-24 02:34] JimBobSquarePants commented on #410
Ok, have moved it to futures. Gonna do a little cleanup in the png decoder around the zlib headers to remove an allocation I saw that we don't need anyway.

[2017-12-24 03:46] JimBobSquarePants commented on #411
@antonfirsov Top notch suggestions; I completely agree.

I know how to setup the docfx stuff (except git submodules but I can read up on that)

I want to refactor the namespaces for the API docs but work on other docs can start as soon as anyone has an opportunity.

[2017-12-25 11:51] #412 closed

[2017-12-27 01:47] cheesebar opened #416 "Image.Load<Rgba32> Exception 'Bad RST marker'"
### Prerequisites

- [x] I have written a descriptive issue title
- [ ] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-12-27 01:49] JimBobSquarePants commented on #416
Hi @cheesebar

Can you please add the missing version information and also the image in question.

[2017-12-27 02:26] cheesebar commented on #416
@JimBobSquarePants This JPG image is one of a number of photos I took with my mobile phone

[2017-12-27 02:26] #416 closed

[2017-12-27 12:12] JimBobSquarePants commented on #416
@cheesebar Thanks for the additional information. Did the issue go away?

If you don't fancy sharing an image publicly you can email me one and we can still try to work out the problem.

[2017-12-29 06:34] asterixorobelix opened #417 "SVG encoding?"
### Description
Thanks for the great package!
Encoding and decoding of images in the SVG format?

[2017-12-29 07:20] JimBobSquarePants commented on #417
Hi @asterixorobelix

I'm very glad you like the package.

We don't support non-raster image formats like SVG and it's unlikely that we will add the format to the core library.

It's more likely that someone would use ImageSharp as a basis for rendering SVG, in fact, someone has already suggested doing such with a popular library.  https://github.com/vvvv/SVG/issues/346

Cheers

James

[2017-12-29 07:20] #417 closed

[2017-12-29 10:08] asterixorobelix opened #418 "Load existing PNG from filesystem and access image pixels"
### Description
I am writing a .net core 2 class library. I would like to load a png from the filesystem (the name of the file is specified in the UI). I would then like to have access to the individual pixels of the image.

However, the Image object does not have a Load method associated with it?

From API documentation on github
`// Image.Load(string path) is a shortcut for our default type. Oth

[2017-12-29 10:13] tocsoft commented on #418
Your not using our package.. you are using a package some third-party uploaded without our permission. Make sure your using the SixLabors.ImageSharp package.

[2017-12-29 11:15] asterixorobelix commented on #418
Thanks @tocsoft

I am reasonably sure that I am using the official package. The url below:
[https://sixlabors.com/blog/announcing-imagesharp-beta-1/](url)

points directly to this github repository.

The nuget package which I downloaded mentions JimBobSquarePants (James Jackson-South) @JimBobSquarePants  as the Author(s). See attached.
![image](https://user-images.githubusercontent.com/20531795/34

[2017-12-29 11:23] tocsoft commented on #418
Nope that is not the office package like I said the official package is `SixLabors.ImageSharp` https://www.nuget.org/packages/SixLabors.ImageSharp your need to make sure you tick the **Include preview** checkbox as we are still in beta at the moment thus have yet to produce a fist full release.

The one you have found is a package a third-party unofficially released without our consent without the

[2017-12-29 12:05] asterixorobelix commented on #418
Thank you - possibly, the contents of this issue should be placed on the Readme.md of this github repository in order to prevent more confusion.

[2017-12-29 12:16] JimBobSquarePants commented on #418
Nuget really need to fix this. I'll nag again.

[2017-12-29 12:16] #418 closed

[2017-12-29 12:54] asterixorobelix commented on #411
@antonfirsov @JimBobSquarePants

It has begun: https://github.com/SixLabors/ImageSharp/wiki/Questions-and-Answers

[2017-12-29 13:13] asterixorobelix opened #419 "Accessing individual pixel of an image"
### Description
I'm a bit of a noob, but I am hopefully making up for it by documenting my questions in the wiki: https://github.com/SixLabors/ImageSharp/wiki/Questions-and-Answers

### Steps to Reproduce

Let us say that I have the following code:
[code]
Does imageHeight contain the height of the image in pixels? What is the information contained in pixel2? By the way, it is a black and white ima

[2017-12-29 13:41] JimBobSquarePants commented on #411
Hi @asterixorobelix

Thanks for taking the effort and time to add that page but we do not intend to use the wiki pages for documentation. Rather we plan to use [docfx](https://dotnet.github.io/docfx/) as described in #402 to host both Q&A style documentation as well as API documentation.

This allows us to maintain a single location for our documentation for both cases which makes our work a lot e

[2017-12-29 13:53] JimBobSquarePants commented on #419
Hi @asterixorobelix

I don't know if you read the [Contribution Guidelines](https://github.com/SixLabors/ImageSharp/blob/master/.github/CONTRIBUTING.md) when you raised this and your previous issue but we actually have a [Gitter](https://gitter.im/ImageSharp/General) chatroom for questions. This tracker is for issues only.

In answer to your question. The width and height, represent the width and

[2017-12-29 13:53] #419 closed

[2017-12-29 15:33] asterixorobelix commented on #419
Thanks James.

Sorry about that, will ask my dumb questions on gitter

[2017-12-29 19:15] feliwir opened #420 "SaveAsBmp doesn't write correct BPP into the Header"
### Description
When having image data with an alpha channel (for example Rgba32 or Argb32) the Bmp Header produced by SaveAsBmp does specify 24bpp. This results in the alpha value being ignored by image viewers

### Steps to Reproduce
[code]

Looking at the image data now shows that the Bmp Header is incorrect. Instead of the expected 32bpp the header does contain 32bpp.

Thanks and with best reg

[2017-12-30 00:02] JimBobSquarePants commented on #419
No such thing as dumb questions. Ask away! 😄

[2017-12-30 00:07] JimBobSquarePants commented on #420
Hi @feliwir

What you are seeing is actually correct behaviour. ImageSharp supports about 20 different pixel formats and as such the encoders and decoders are format agnostic.

What you need to do is to pass a new instance of the `BmpEncoder` class as the second parameter when saving the image with the `BmpBitsPerPixel` property set to `BmpBitsPerPixel.Pixel32`.

Hope that makes sense

Cheers

Jam

[2017-12-30 00:07] #420 closed

[2017-12-31 19:20] TheBlueSky opened #421 "Inconsistent behaviour between TextMeasurer and the result text size when DPI is specified"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2017-12-31 19:30] tocsoft commented on #421
The `DrawText` command currently always draws at 72 dpi ignoring the images configured dpi so that it will consistently produce a well know pixel height based for a specific point size, as this produces a more consistent output for most users.

If you want to measure the text for drawing always use 72 when measuring or just skip the dpi as it will default to 72dpi when omitted.

[2017-12-31 19:40] TheBlueSky commented on #421
Thanks for clarifying.
2 questions:

- By "currently", do you mean that there is a plan to change this behaviour so that `DrawText` to respect the image DPI? If not, then what would be the situation where I want to measure the text in certain DPI but draw it in 72 DPI anyway?
- Maybe unrelated to this issue, but the drawn text (72 DPI) is not correctly centred vertically... I hope it isn't my eyes

[2018-01-01 18:46] martonx opened #422 "Animated gif stops looped animation after resizing and bad quality"
Hi all,

I have an endless looped example gif file:
![tictoc_balance_1024x1024](https://user-images.githubusercontent.com/407433/34470175-e14c1766-ef2b-11e7-98fe-3438292c24d8.gif)

When I resized this with code (asp.net core 2.0), I have two issues:

1. the endless loop stops after the first animation
2. the image quality is very bad

![tictoc_balance_500x500](https://user-images.githubusercontent

[2018-01-01 22:12] musukvl opened #423 ""Value should be an unsigned short" exception on image with EXIF rotate."
### Description
The image I want to resize has EXIF and ImageSharp tries to update it with new Width/Height values on rotating.
I have "Value should be an unsigned short" on following code:
[code]
![1](https://user-images.githubusercontent.com/3954761/34471309-d6e17a3e-ef56-11e7-8ff1-135a3961998a.jpg)

### Analytics
Looks like problem in RotateProcessor
[code]
It expects source.Width as `ushort`,

[2018-01-02 15:47] garethterrace commented on #409
Is there any way of detecting the maximum image size supported in 32bit instances so we can catch this?  I'm having the same issue on 32bit azure and don't want to switch to 64bit

[2018-01-02 21:22] Badflar opened #425 "Errors on Setting up a ImageCore file for a Discord Bot"
### Prerequisites

- [X ] I have written a descriptive issue title
- [X ] I have verified that I am running the latest version of ImageSharp
- [X ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X ] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure

[2018-01-02 23:59] vpenades opened #426 "Make pixel blenders public"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-01-03 00:29] JimBobSquarePants commented on #425
It's that RevStackCore ImageSharp library that is the problem. It's a copy of an early alpha of the library that some prat decided to publish without our permission and have refused to remove. Nuget have also been utterly useless so far in removing it for us.

Delete that junk and you'll be fine.

[2018-01-03 00:29] #425 closed

[2018-01-03 00:38] JimBobSquarePants commented on #409
No. I'm afraid not. You have a maximum amount of contiguous memory, 1Gb i think, in 32bit mode that is shared across any running applications. We work hard to limit our usage but can only ask out of what is available. I would never recommend running a website that did any image processing in 32bit mode.

Why would you not want to switch?

[2018-01-03 03:37] Badflar commented on #425
Thanks JimBobSquarePants,

That did the trick. Sorry to hear that. That is dickish to have that when it even breaks the SixLabors nuget too.

[2018-01-03 15:39] vpenades commented on #410
I would detect this specific format, but just to throw a more specific exception, like "malformed iPhone PNG detected", I think it's Apple's responsability to write proper PNGs, not the responsability of others to read their malformed files.

[2018-01-03 19:13] IldarKhayrutdinov commented on #244
@JimBobSquarePants @atruskie if the task Is not assigned, please assign it to me.

[2018-01-03 19:16] antonfirsov commented on #244
@IldarKhayrutdinov there's no need for such formalities! :)
Feel free to submit a PR, we will review, and most likely accept it (probably after a few change requests).

[2018-01-03 19:23] IldarKhayrutdinov commented on #244
@atruskie Ok ) I did not want a few people to do the same task.

[2018-01-03 19:35] antonfirsov commented on #373
@jsfeldman what is your OS + .NET Framework version to run ImageSharp?

[2018-01-03 20:17] jsfeldman commented on #373
I believe I was using Safari 10 and 1.1 or 2.0-preview of .NET Core at the time.

Because I was using ImageSharp only for resizing images I wrote my code to catch any errors ImageSharp throws and just save the image without resizing it if ImageSharp errors out. However, for a while now I haven't seen any errors in the logs and I receive requests from a variety of devices. I was thinking you all ha

[2018-01-03 22:56] antonfirsov commented on #373
@jsfeldman an I mean the OS you use to run `dotnet` to read the image, not the software you use to save it. I can't find this information in your report.

Someone reported a similar issue on our [gitter channel](https://gitter.im/ImageSharp/General), and I have a suspicion that the issue is specific to Unix-based systems.

Please don't close the issue :) We need to find out if it's ImageSharp-rela

[2018-01-03 23:25] jsfeldman commented on #373
Oh haha, I see. I was experiencing the issue on Windows 10. I think it might have occurred on Windows Server 2016 as well, but can't be sure.

[2018-01-04 01:44] JimBobSquarePants commented on #373
I wasn't able to replicate this with the given image btw.

[2018-01-04 05:37] JimBobSquarePants commented on #425
Yeah, frustrating 😦

[2018-01-04 18:28] binuwu commented on #411
Please do, documentation is life.

[2018-01-04 20:25] robertbaker commented on #409
Thank you, I was running in 32bit, I switched to 64 bit mode and no problems.

[2018-01-05 00:21] vpenades commented on #426
After reviewing how ImageSharp handles pixel operations, here's a proposal:

[internal PixelBlender<TPixel>](https://github.com/SixLabors/ImageSharp/blob/6f438dac852c5d7408161e1afa034984671257f4/src/ImageSharp/PixelFormats/PixelBlender%7BTPixel%7D.cs#L12) should implement a public IPixelBlender<TPixel> that, at least, has the `public abstract TPixel Blend(TPixel background, TPixel source, float am

[2018-01-05 01:09] #409 closed

[2018-01-05 03:02] antonfirsov commented on #426
@vpenades we need to do a performance review of these API-s before turning them public. This issue is very similar to #381.
@JimBobSquarePants should we add this on our `1.0` milestone?

[2018-01-05 06:40] JimBobSquarePants commented on #426
@antonfirsov I think the blend implementation we have that takes `Span<T>`already caters for any performance implications. If we offer an additional per-pixel API that should be ok.

[2018-01-05 10:04] vpenades opened #427 "Feature proposal: handling tileable images"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-01-06 22:19] vpenades opened #428 "Incorrect color bleed when applying processors to images with alpha"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-01-06 22:29] JimBobSquarePants commented on #428
Hi @vpendes,

Thanks for all the detail. Can you do me a favour and add something that is missing though? Reference output of equivalent operations created with another library or two?

Without such we have no indicator of what the correct output should be, only your expectation.

Cheers

James

[2018-01-06 22:57] vpenades commented on #428
Here's the examples:

OriginalTransparentWhite and OriginalTransparentBlack are, from the user's perspective, essentially the same.

OriginalTransparentWhite: transparent pixels are white color.
OriginalTransparentBlack: transparent pixels have black color.
GaussianRadiusOne: Applying GaussianBlur filter of radius 1 in Photoshop (same result both images)
DownsizedOnePixel: Resized from 256x256 to

[2018-01-06 23:19] JimBobSquarePants commented on #428
Thanks for the images. I appreciate it.

I would argue that should not actually be a hard rule. You can lose pixel information that could be important further down the line.

We'd have to check the `W` property on the expended `Vector4` itself as anything else would require double unpacking which would be computationally infeasable.

What I think we are looking at here as a solution is premultipli

[2018-01-06 23:24] JimBobSquarePants commented on #428
Interestingly LibVips has added Premultiply and Unpremultiply methods to the image itself. That definitely the simplest solution! (Though maybe no the most performant)

https://github.com/jcupitt/libvips/issues/291#issuecomment-100172537

[2018-01-06 23:29] vpenades commented on #428
@JimBobSquarePants I feel like the Premultiply/Unpremultiply trick would degrade the color precission if applied to 8 bit component pixels... it's something that can only be done at full Vector4 precission.

[2018-01-06 23:31] JimBobSquarePants commented on #428
@vpenades Good point. We'll have to go with the first approach of working directly on the `Vector4` within the algorithms.

[2018-01-06 23:36] vpenades commented on #428
@JimBobSquarePants Also, I feel like the algorythms for BoxBlur and GaussianBlur would have to take a different approach than premultiply/unpremultiply.

In the case of blur, you actually blur only the visible pixels.

[2018-01-06 23:37] JimBobSquarePants commented on #428
@vpenades I disagree. If you look at the links issues it's blur they specifically mention.

[2018-01-07 00:48] vpenades commented on #428
@JimBobSquarePants A well, yes, they also mention Blur.

Anyway, the premultiply trick is something used for realtime rendering, because it's indended to be a "final effect", and the loss of quality/accuracy is acceptable.

For proper image processing, I feel like the main processing path should be accurate and strict on the results... after than it's fine to add faster paths on special cases (lik

[2018-01-07 11:22] JimBobSquarePants commented on #422
Hi @martonx,

I've just tested both the image and the resampler using the latest beta on Nuget

https://www.nuget.org/packages/SixLabors.ImageSharp/1.0.0-beta0002

and I was able to resize the image without issue.

![rings](https://user-images.githubusercontent.com/385879/34648955-d84d3be6-f3f8-11e7-92f5-23f16ba7cf14.gif)

Since you did not provide a version number as requested in the contribution

[2018-01-07 11:22] #422 closed

[2018-01-07 13:27] martonx commented on #422
Oh man, you are totally right! Now I checked nuget package and I used RevStackCore-ImageSharp. Thank you very much!

[2018-01-07 23:10] JimBobSquarePants commented on #422
I'm hoping Nuget will help us remove it eventually. I am trying to do so.

[2018-01-08 22:17] Svetomech commented on #183
Where are the results? Am I better off running the project myself?

[2018-01-09 00:19] dannyrb commented on #183
@Svetomech I can make an in progress PR if you want to see how far I made it? Life happened, so I only have a couple of benchmarks in place, but it might make a nice starting place if someone else wants to carry the torch.

[2018-01-09 18:50] JulianRooze commented on #225
Some feedback on this: we currently use ImageSharp for all our image resizing needs in a cloud application and the optimization of speed over memory usage seems to run counter to the idea of horizontal scaling, because of how it holds onto memory. We'd like to provision many containers with a 2 GB memory limit, but currently if we do that, we'd end up with all those containers using 2 GB all of th

[2018-01-09 20:00] antonfirsov commented on #225
@JulianRooze I plan to realize my roadmap in February, so it will be part of our `1.0` release or maybe even some beta. Is this late for you?
The only thing I can propose as a quickfix is is to add a temporal configuration API to control the behavior of `PixelDataPool` for beta-3:

[code]

@JimBobSquarePants what do you think?

[2018-01-09 20:23] vpenades commented on #225
Question: I thought the behaviour of ArrayPool was to keep the returned arrays as weak references, so if not used, or the GC needs memory, these arrays would be released at some point.

But from what I am reading, does this means the ArrayPool keeps the arrays forever??

[2018-01-09 20:42] antonfirsov commented on #225
@vpenades

The GC runs quite frequently, which means that in this case the "pooled" arrays would be released instaneously in most cases. This would go against the whole concept of pooling.

@JimBobSquarePants an other (less dirty) proposal:
By lowering the value of [`MaximumExpectedImageSize`](https://github.com/SixLabors/ImageSharp/blob/284f446d6a9356231a244bfe3312d63576df6332/src/ImageSharp/Memo

[2018-01-09 20:55] vpenades commented on #225
@antonfirsov So, from what you're saying, I understand the only proper way to use ImageSharp is in a short lived command line application that starts, does some image processing, and exits soon after?

What about these use cases:

- Game App uses ImageSharp to procedurally generate textures at startup, them runs for four hours, without using ImageSharp anymore.
- Paint Application, running for hou

[2018-01-09 21:02] JulianRooze commented on #225
@antonfirsov Thanks for the quick reply! No that's not late at all, much sooner than I expected it to be completed 👍

And in the meantime the `PoolConfiguration` class would be a very welcome addition.

Limiting `MaximumExpectedImageSize` would also help, but the effect would be smaller as `Block8x8` buffers seem to make up the majority of cached buffers (at least in our use case of decompress JPE

[2018-01-09 23:39] JimBobSquarePants commented on #225
@antonfirsov @vpenades @JulianRooze

This is all great input, thanks for contributing!

Regarding `PoolConfiguration` I don't think adding a temporary API would be a wise idea. I'd much rather we focused on getting the design right with the help of the community.

If we continue our design discussion here and also ensure that the PR is delivered as WIP so that interested parties can chip in as it'

[2018-01-10 00:22] vpenades commented on #225
@JimBobSquarePants @antonfirsov Just think that one of the case scenarios in which we wanted to use ImageSharp was on an android App that is required to do some image processing at startup and then carry on with other stuff.

On 1Gb Ram Android devices, apps throw OufOfMem when they go close 700mb usage, So after ImageSharp processing is completed at startup, we need the GC to free every single us

[2018-01-10 00:45] antonfirsov commented on #225
@vpenades you are totally right about the issues you pointed out! I share all your concerns and fixing up our internal memory management is my top priority as soon as I get back to work on ImageSharp in February!

I just want to point out that having expensive resources retained by a pool for a longer period is just normal pooling behavior by definition. (Just have a look at other pooling mechanis

[2018-01-10 00:49] antonfirsov commented on #225
Re `ArrayPool<T>.Shared`:
For me it was clear from the beginning, that it's a design mistake :P We are not using it AFAIK. We concentrated all our "Memory as a Resource" logic into `PixelDataPool` and `Buffer<T>` classes, so it would be easier to refactor + customize this behavior library-wide.

[2018-01-10 00:50] antonfirsov commented on #225
@JulianRooze it's strange to see Jpeg decoder to still eat up that much. Are you using beta-2?

[2018-01-10 01:05] antonfirsov commented on #225
Btw. the logic in [`CalculateMaxArrayLength`](https://github.com/SixLabors/ImageSharp/blob/284f446d6a9356231a244bfe3312d63576df6332/src/ImageSharp/Memory/PixelDataPool%7BT%7D.cs#L44) is totally stupid. Gonna replace it in a lightweight PR in a way that will also help on the jpeg decoder + `Block8x8` issue.

[2018-01-10 07:42] tocsoft opened #429 "Pixel Blenders not producing correct output"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-01-10 07:46] tocsoft commented on #429
We need to make sure we are fully compliant with the css compositing spec https://www.w3.org/TR/compositing-1/

[2018-01-10 10:27] JimBobSquarePants commented on #429
Bugger... Is it just that method?

[2018-01-10 10:35] tocsoft commented on #429
No its anywhere using the pixel blenders... but its most noticeable in that method as we are doing whole buffer effects.

Also don't think its all of the effects just a couple of them but I need to investigate some more to figure out the full scope of the issue.

[2018-01-10 10:50] JimBobSquarePants commented on #429
Ok, fingers crossed it's something simple. The equations are all in the spec for comparison as I recall.

[2018-01-10 11:23] JulianRooze commented on #225
@antonfirsov yes, we're running beta-2. It's a rather extreme image though, at 8000x5000.

[2018-01-10 12:54] JimBobSquarePants commented on #225
@antonfirsov I'm hoping some of the new SIMD API's coming will allow us to run DCT without having to use singles. We could drop the whole thing by 75% then.

[2018-01-11 06:23] denisivan0v commented on #225
@antonfirsov When you expect to do this?

In my case the problem is the same - we run a web service in Docker container with very limited memory resources, so I will be highly appreciated for a quick changes. We're mostly using png and jpeg decoders.

For now is there any way for me to make some kind of `PoolConfiguration` (as you proposed earlier) and make a private build?

[2018-01-11 10:53] vpenades opened #430 "interfaces for Image"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-01-11 12:55] antonfirsov commented on #427
@vpenades interesting proposal, but really not easy to implement because of the cross-library architectural impact it brings. Might be a candidate feature for 2.0, but with our current focus, I'm afraid it's a bit off the radar, unless someone from the community takes care of it.

But we really want to hear the voice of the users, so anyone else having interest in this, please vote/leave your comm

[2018-01-11 13:26] JimBobSquarePants commented on #427
I'd say it only affects only the convolution based processors so theoretically shouldn't be too big a deal. That said a PR would be most welcome.

[2018-01-11 13:29] antonfirsov commented on #430
@vpenades I agree that we should introduce a base interface.
However, exposing anything over `Width`, `Height` and `MetaData` brings non-trivial API design questions. For example `PixelType` should be a `PixelTypeInfo` instead of `System.Type` (see #292).

Regarding the indexer in your proposed `IImage<TPixel>` interface:
It will perform very poorly, because of the per-pixel virtual calls. I'd rat

[2018-01-11 13:32] JimBobSquarePants commented on #430
Tut tut, what happened to Gitter :smile:

Interesting proposal, something I've never considered as I try to avoid having many images on the go at the same time. Line queries like that could be terribly expensive.

[2018-01-11 13:34] antonfirsov commented on #427
It probably also affects drawing.

[2018-01-11 13:42] JimBobSquarePants commented on #427
You reckon? I don't think any of the drawing stuff really cares about edge pixels. I could be wrong though, it's not an area I've looked at in a while.

[2018-01-11 15:00] vpenades commented on #430
@JimBobSquarePants with ImageSharp you're going to experience developers stretching the library to its limits.

In some cases it's going to be developers handling extremely large images.
In some others, they'll want to handle thousands of very small images.

Image collections have it's own uses: for example, finding a specific image on a collection, or looking for repeated images, etc.

One of the

[2018-01-11 18:44] tocsoft commented on #430
I agree `IImage` sounds fine to me 👍 Also yes I agree that we should probably not expose the per pixel access directly on an interface.

[2018-01-11 18:47] tocsoft commented on #427
Only thing that could be effected in drawing is the `ImageBrush` and that already tiles the fill image.

[2018-01-11 19:03] antonfirsov commented on #427
Supporting tiling would mean to me that we need to support "cross boundary" drawing in a way like this:
![image](https://user-images.githubusercontent.com/6835152/34841984-60d8a46e-f70a-11e7-92d7-87005ca0816c.png)

Black lines represent image boundary, the green hearth represents the shape drawn by `ImageSharp.Drawing`.

[2018-01-11 19:07] tocsoft commented on #427
no don't think we would need/should to support that scenario. It would be trivial to just draw the shape yourself with applying a transform the make it offset to each side.

[2018-01-11 19:40] tocsoft commented on #225
The way I had envisoned the updated `IMemoryManager` based api working would be as so.

We would add a new interface `IMemoryManager` and expose a public property on `Configuration` called `MemoryManager`. Also add to `IImageEncoder` `IMemoryManager MemoryManager {get;set;}` for overriding the memory manager on a per encoder bases.

Place that currently call `Buffer<T>` or `Buffer2D<T>` should be

[2018-01-11 19:43] tocsoft commented on #225
As we would be required to expose `IBuffer<T>` on the public API then we should probably add new constructor to Image<T> allowing to pass in a buffer to be used as the images backing store. (this would then allow us to have images that are backed by memory owned by other processes.)

[2018-01-11 19:55] rytmis commented on #225
Nice. @tocsoft, the thing that jumps at me is the SwitchBuffer API, though -- given that an `IBuffer<T>` can come from any number of sources, does it make sense for a MMF backed IBuffer to switch backing buffers with an ArrayPool backed IBuffer?

[2018-01-11 20:03] tocsoft commented on #225
Basically if the 2 `IBuffer<T>` instances where sourced from a single `IMemoryManager` then I would expect then to be able to switch out some internal store reference, but if they where sourced from different `IMemoryManager` instances then they would probable do the pixel copy instead of fail/return false if the copy can't happen because the left hand buffer doesn't have the internal capacity to

[2018-01-11 20:46] antonfirsov commented on #225
@tocsoft @rytmis There are a few non-trivail limitations making it impossible to back everything with `byte[]` + single `ArrayPool<byte>` + unsafe cast:
- Currently we need an API *to extract, or mimick the extraction of a `T[]` array from `IBuffer<T>`* * because several API-s need it (SIMD, streams). Newer, `Span<T>` and `Memory<T>` based API-s are on the way, but not yet ready + unsupported in c

[2018-01-11 20:50] tocsoft commented on #426
Our blend providers currently support single pixel operations.. The API to access the pixel blenders currently is:

[code]
We would need to expose `PixelOperations<TPixel>.GetPixelBlender()` as a public API + make make at least part of the `PixelBlender<TPixel>` class public too,

[2018-01-11 21:09] antonfirsov commented on #225
Actually .. we can probably make this work! Or at least if it's true that all our decoders read their data into temporal `byte[]` arrays, and we don't need that `IBuffer<T> <-> Stream` interop, we can get rid of all array usages, and go with `Span<T>` everywhere!

@tocsoft @rytmis If you also think it's possible, than never mind my previous comment :)

[2018-01-12 02:16] endink opened #432 "how to get image format from an Image<Rgba32> instance"
if use System.Drawing，  Image.RawFormat poperty can do it.

and how to do it, if use Image&lt;Rgba32&gt;

thanks!

[2018-01-12 02:33] JimBobSquarePants commented on #432
There's an overload for `Image.Load` that passes an `IImageFormat` as an out parameter which will give you what you need.

P.S. We have a Gitter channel for questions. 😄

[2018-01-12 02:33] #432 closed

[2018-01-12 05:23] JimBobSquarePants commented on #426
Remind me to go through the codebase and standardize any `Instance` `Current` properties.

[2018-01-12 11:40] JulianRooze commented on #225
I haven't worked with `Span<T>` yet, but doesn't it have the limitation of a stack-only type? Meaning, the compiler won't let you have an `IBuffer<T>` interface that exposes a `Span<T>` because it would be stored on the heap and `Span<T>` could be a wrapper around stack allocated bytes. You can only return it from methods or inside value types that are also stack only. But I could be wrong here, t

[2018-01-12 11:47] vpenades commented on #225
@JulianRooze I think you're right... I have the feeling that Span<T> is intended to be used internally to improve performance by advanced developers, but not to be used as a type to be passed around as part of a public API.

[2018-01-12 11:50] JulianRooze commented on #225
@vpenades I think `Memory<T>` is supposed to serve that purpose:

https://github.com/dotnet/corefxlab/blob/master/docs/specs/memory.md

[2018-01-12 11:52] antonfirsov commented on #225
@JulianRooze @vpenades Yeah `Memory<T>` rocks!

`Span<T>` should be always constructed on the fly when returned from properties/methods, this way you can ensure it's kept on stack. We have to be very careful: in order to never store it as a member + never capture it by a lambda.

The official guide on perf-centric API-s:
- Use `Span<T>` on synchronous API surfaces
- Use `Memory<T>` on asynchronous

[2018-01-12 13:55] JimBobSquarePants commented on #429
@tocsoft I've not looked at the formulas but these lines looks incredible suspicious to me.

https://github.com/SixLabors/ImageSharp/blob/8899f23c1ddf8044d4dea7d5055386f684120761/src/ImageSharp/PixelFormats/PixelBlenders/PorterDuffFunctions.Generated.cs#L81

https://github.com/SixLabors/ImageSharp/blob/8899f23c1ddf8044d4dea7d5055386f684120761/src/ImageSharp/PixelFormats/PixelBlenders/PorterDuffFun

[2018-01-12 14:10] rytmis commented on #225
@denisivan0v, take a look at #431 -- if you set `Configuration.Default.MemoryManager = new NullMemoryManager();`, all allocations should be regular GC heap allocs with no pooling. Note that currently this PR comes with no warranty attached. ;)

[2018-01-13 19:11] Latency opened #433 ".NET Standard issues on .NET Framework 4.7.1"
### Prerequisites

My project can be found on my github [here](https://github.com/Latency/Hearthstone-Deck-Tracker).

- [Reference] [#567](https://github.com/dotnet/standard/issues/567)

### Description
I am just trying to run it as native 4.7.1 without CORE for Main UI.. I have my dependancy libs x-targeted for both Core2.0 and 4.7.1 but that shouldnt do anything. Im sure the problem is with Imag

[2018-01-13 19:42] antonfirsov commented on #433
@Latency I'm not able to build your project, half of the solution is reported being missing.

Installing and using ImageSharp in an empty `4.7.1` project works perfectly for me! Have you tried cleaning/reinstalling your NuGet stuff?

[2018-01-13 19:55] tocsoft commented on #433
I concur I have no problem installing ImageSharp in a new 4.7.1 project in either csproj based `PackageReference` or the older `packages.config` style of reference.

Like @antonfirsov I also can't get the project to run.. even after running the bootstrap.bat and even trying to build all the projected individually.

[2018-01-13 22:56] JimBobSquarePants commented on #433
I'm adding a link here to a Windows classic desktop app targeting NET 4.7.1 running beta 2 built using VS 15.5.3

I'm able to resize a png (thus touching compression at runtime) without issue.

https://1drv.ms/u/s!AhWs_teP7rZGwdMRLgclPUcb4E4mMA

[2018-01-14 03:03] JimBobSquarePants commented on #433
Here's another console app this time targeting both NetCore 2.0 and NetFramework 4.7.1

https://1drv.ms/u/s!AhWs_teP7rZGwdMbfM4EwwueQkiCow

[2018-01-14 12:09] Latency commented on #433
Yes, there are 4 projects split up in HearthSim to make this one work.
I have bundled everything together to replicate in this zip file [here](https://github.com/Latency/Hearthstone-Deck-Tracker/blob/master/Hearthstone-Deck-Tracker.zip).

I have confirmed that in fact it IS the build and release from your package.
After spending a day to repack it.. It is now working as the dependencies and refere

[2018-01-14 12:34] antonfirsov commented on #433
@Latency your bundled solution works perfectly for me! Looks like, the problem is related to your environment. Might be a .NET Framework / .NET Standard issue. I suggest to ask for help on Microsoft forums.

Please check out our latest comments on gitter and #434! We are not going to accept your PR-s.

[2018-01-14 13:03] tocsoft commented on #433
I'm closing this as can't reproduce. If you believe this is closed in error please provide a simpler solution/project that reproduces the error.

[2018-01-14 13:03] #433 closed

[2018-01-15 15:32] tocsoft opened #435 "Library Inter-op extensions"
ImageSharp should provide an initial standard structure for adding library inter-op apis.

* [ ] ImageSharp <=> System.Drawing interop
** Simple API the allows for converting `System.Drawing.Image` into an `ImageSharp.Image<TPixel>`.
** Simple API the allows for converting an `ImageSharp.Image<TPixel>` into a `System.Drawing.Image` .
** Simple API for creating an `Image<TPixel>` that wraps the mem

[2018-01-15 17:36] jsmarcus commented on #423
I'm also having this problem.

[2018-01-16 11:23] Gillardo opened #437 "Anything similar to ColorTranslator.FromHtml for colors?"
I have searched the repo and cannot seem to find anything, but i need something like `ColorTranslator` from `System.Drawing` to convert a HTML colour into a Color, then lighten the color and convert that into a html string.  As long as i can start with a string and end with a string, i dont mind how it is done.

Is there anything like this within this project to do this??

[2018-01-16 11:53] tocsoft commented on #437
Please note the issue tracker is for reporting issues only, not for general questions. If you had read our contribution guidelines (linked from the 'new issue' screen) or attempted to fill out our issue template then you would have noticed that. In future please direct questions like this to our [gitter channel](https://gitter.im/ImageSharp/General).

For brevity the API you are looking for is `Co

[2018-01-16 11:53] #437 closed

[2018-01-16 13:14] mikegoatly commented on #198
@vpenades apologies for adding to a closed issue, but was the bug you raised with Microsoft publicly trackable somewhere? As soon as I add ImageSharp code to my UWP project, I'm still getting this null ref exception when compiling to native x86. I'm using the latest VS2017 (15.5.3) and I've even tried the latest preview 15.6.0 Preview 2 with the same results.

Given that targeting all architecture

[2018-01-16 14:09] vpenades commented on #198
@mikegoatly As far as I know, no, I reported it through an unofficial channel, and I was told the issue was already solved in the first version of Vs2017... and that was the case since the moment we moved to VS2017 the problem disappeared.

To correctly identify the issue, be sure that you get different results when compiling in 32 and 64 bits... if it fails on both then it's another kind of bug t

[2018-01-16 16:46] mikegoatly commented on #198
@vpenades Thanks- yeah, I've just done some more investigation and it looks like the problem only manifests itself with the latest beta version of the ImageSharp package.
A simple repro is:
- New project
- add reference to ImageSharp v1.0.0-beta0002
- Create x86 store packages
- Compilation fails

Using ImageSharp 0.9.0 or just compiling x64/ARM *does not* cause the error to occur.

I'll get an is

[2018-01-16 16:56] vpenades commented on #198
@mikegoatly notice that this issue is deeply related to this one: #146

If you read it, Matt Whilden suggest to write directly to dotnetnative@microsoft.com , dunno if it's still the right channel to solve this.

Also I would suggest to create a repo with a small project that reproduces the issue so others can check if it can be reproduced.

[2018-01-16 17:10] mikegoatly commented on #198
Cool, thanks for the pointer @vpenades - I'll do that. I'll also have a play with different versions of the `Microsoft.NETCore.UniversalWindowApplication` package to see if that provides any more clues.

[2018-01-16 17:12] vpenades commented on #225
I've been trying to understand how ArrayPools are being used along ImageSharp... and I would be glad to get some more insights on it...

For example, I've seen they're extensively used in `OrigHuffmanTree` , they're statically created, so once you create a single OrigHuffmanTree tree, they're created and there's no way of disposing them, even if you're not going to load any JPEG for the rest of th

[2018-01-16 17:27] antonfirsov commented on #225
@vpenades I think you're really missing the concept of pooling. Lifecycle of a pool should be bound to session or application lifecycle. For per request object-reusing: I won't call it a pooling.

Don't get me wrong, we have several issues with our current implementation which are gonna fixed with #431. I'm quite sure that in a server application, you don't need stuff like temporal "pooling" or di

[2018-01-16 17:42] vpenades commented on #225
@antonfirsov I'm not working with servers, actually. My two main use cases with ImageSharp are these:

SmartDevice game development: Use ImageSharp at application startup to procedurally generating some textures (by combining, blending, resizing and all sorts of transforms), while presenting a progress bar to the user. Then, run the game for hours. With ImageSharp's current behaviour, the pools wo

[2018-01-16 17:46] antonfirsov commented on #225
I think we need something like `MemoryManager.ReleaseAllRetainedResources()` method for this :)

[2018-01-16 18:01] antonfirsov commented on #225
@tocsoft do you have any concrete suggestions on implementing your `MemoryUsageHint` proposal with `ArrayPoolMemoryManager` ? I can't see any actual differences in the lifecycle for the (Temporary/Process/Image) cases.

[2018-01-16 19:32] tocsoft commented on #225
Not really in terms of specific, I think i'm trying to future proof the API somewhat (for when we decide to introduce memory mapped files as an alternative backing store) and let anyone who wants to tweek how memory is allocated and/or retained (i.e. custom managers) have the most information to help drive in decisions about how memory will be used to help then decide where the buffer should be so

[2018-01-16 20:42] antonfirsov commented on #225
I see, thanks!

Good question if this model is future-proof enough however, because:
1. In case of Memory Mapped Files it might be more efficient to [read/write blocks](https://docs.microsoft.com/en-us/dotnet/api/system.io.unmanagedmemoryaccessor.readarray) into a temporal buffer, than use `Span<T>`-s [pointing right into the MMF](https://stackoverflow.com/a/31181010). I don't know however, becaus

[2018-01-16 20:56] antonfirsov commented on #225
I've been also thinking on the `Buffer<T>.Array` topic.
It seems that we need it only in special cases, to interop with `Stream` API-s, which are always using `byte[]` across their full API surface. In these cases, MemoryManager **must** return an buffer backed by a managed byte array regardless of the MemoryManager implementation.

I think we need a type-safe solution for this, distingushing temp

[2018-01-16 21:07] mikegoatly commented on #198
[Repro created](https://github.com/mikegoatly/x86-netnative-error) and email sent. I'll update here if I hear anything.

[2018-01-16 21:17] antonfirsov commented on #198
If this issue is actually related to multithreading, I wonder if this workaround helps:
[code]

[2018-01-17 22:32] vpenades commented on #225
Okey, there's yet another thing I wanted to do that might bomb the ArrayPools. I wanted to experiment with [(software based) Anisotropic Filtering](https://en.wikipedia.org/wiki/Anisotropic_filtering) , for that I need to create several mimpaps of a image at different sizes, in fact, for a 256x256 image, if in normal mipmapping you would need 8 more variations down to size 1x1 , with anisotropic y

[2018-01-17 23:16] antonfirsov commented on #225
@vpenades I would be more than happy to have a look at your experiments. Could be a good basis for benchmarks. Is it possible to pack your code into a standalone demo console app?

[2018-01-18 00:32] vpenades commented on #225
@antonfirsov Some of it is located [here](https://github.com/vpenades/UberFactory) but it's missing documentation, so I don't think you can use it straight away.

Long story short, ÜberFactory is one of my pet projects, it's like a content processor you build by connecting nodes hierarchically, here's a screenshot:

![uberfactory imagesharp example](https://user-images.githubusercontent.com/543382

[2018-01-18 01:11] antonfirsov commented on #225
Looks cool! :) Reminds me [Project Gemini](https://github.com/tgjones/gemini) a bit, but your focus is quite different.
The best thing is that it builds without issues for me! :) Let me know if you can share some code + reproduction steps which could be used to stress ImageSharp with mipmap generation.

[2018-01-18 11:53] TodesBrot opened #439 "Images get loaded incorrectly on Mono"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-01-18 11:59] antonfirsov commented on #439
Gonna check this out in February. I also want to setup CI with Mono.

[2018-01-18 12:12] vpenades commented on #225
@antonfirsov I've added a small step by step guide [here](https://github.com/vpenades/UberFactory/issues/1) , Alternatively, you can checkout the latest version and after building, load `Epsylon.UberFactory.Editor.Tests\ImageSharp Plugin Tests.uberfactory`

If it's UberFactory related, feel free to open issues or comment there! 😄

[2018-01-18 12:19] JulianRooze commented on #225
An update on our situation:

I created a custom NuGet package of ImageSharp where I introduced that `PoolConfiguration` that @antonfirsov suggested as a workaround (but ultimately decided not to pursue) and configured it as such:

[code]

The values were arbitrarily chosen, but this seems to work well for us, idle memory use is never over 500 MB. The containers still regularly get killed by Docker

[2018-01-18 12:36] JimBobSquarePants commented on #439
I guarantee it's something different with the zlibstream implementation in Mono. It's the only wildcard in the entire decoder.

[2018-01-18 12:36] antonfirsov commented on #225
@JulianRooze I think merging #436 should lead to very similar results, but in a future-proof way, with no temporal API-s.

Is your package on your own MyGet feed, or is it a public package on nuget.org? If it's on nuget.org, can you please remove it, and move to MyGet? We are strongly against unofficial packages, because we have no control over them.

The official solution is on the way the offici

[2018-01-18 13:04] antonfirsov commented on #225
@JulianRooze sorry, stupid me, haven't noticed your link, need more ☕️. Nevermind my previous comment!

[2018-01-19 12:40] JimBobSquarePants commented on #258
Fixed with #292

[2018-01-19 12:40] #258 closed

[2018-01-19 12:41] JimBobSquarePants commented on #430
Fixed with #292

[2018-01-19 12:41] #430 closed

[2018-01-19 16:54] vpenades commented on #428
@JimBobSquarePants After reviewing the code, I think the color bleeding issue could be fixed here:

[ResamplingWeightedProcessor.Weights.cs L94](https://github.com/SixLabors/ImageSharp/blob/master/src/ImageSharp/Processing/Processors/Transforms/ResamplingWeightedProcessor.Weights.cs#L94
)

By changing this line: `result += v * weight;`
to: `if (v.W >0) result += v * weight;`

Similarly, here:

[Co

[2018-01-19 19:41] mikegoatly commented on #198
Ok, a quick update on this: It's a new compiler issue - the team at Microsoft are hoping to get it fixed for the next release.

[2018-01-19 20:21] justintubbs opened #440 "Progressive jpeg with missing EOI marker throws EOFException (Part 2)"
Similar to [this previously closed Issue](https://github.com/SixLabors/ImageSharp/issues/18), I have JPG files from iPhone 3 and other devices that still gets this error:

**Example JPG images:**
[image1.jpg](http://justintubbs.com/files/image1.jpg)
[image2.jpg](http://justintubbs.com/files/image2.jpg)

Using ImageSharp nightly dev NuGet (also tried stable/release which has same issue)
[code]

**S

[2018-01-19 20:30] justintubbs opened #441 "Image.Load() on PNG sometimes results in NULL return, no exception"
I have PNG files that when used with `Image.Load()` return a NULL with no indication of what the error or issue might be.

**Example PNG images:**
[image1.png](http://justintubbs.com/files/image1.png)
[image2.png](http://justintubbs.com/files/image2.png)

Using ImageSharp nightly dev NuGet (also tried stable/release which has same issue)
[code]

**Code I'm using:**
[code]

[2018-01-19 21:52] vpenades commented on #198
@mikegoatly thanks, did you got some insight of the compiler issue?

It's funny to see how imagesharp is prone to hit msbuild compiler bugs... 😂

[2018-01-19 23:34] JimBobSquarePants commented on #428
@vpenades Some pixels formats, e.g `Short4` operate in the vector range `-37267` to `37267`so we can't do that.

[2018-01-19 23:41] JimBobSquarePants commented on #440
Hi @justintubbs

Thanks for the info, Can you fix those image links please so I can have a look at them. I'm getting a 403 error.

@antonfirsov Looking at the codebase it looks like we are not calling the `EnsureNoEOF` at any point but rather `EnsureNoError` without checking to see wther we have image data first.

[2018-01-19 23:43] JimBobSquarePants commented on #441
Hi @justintubbs

As with #440 I cannot access the images to investigate them. Could you please allow access.

Cheers

James

[2018-01-19 23:44] JimBobSquarePants commented on #198
It's cos we're so cutting edge 😄

[2018-01-19 23:47] saucecontrol commented on #428
@JimBobSquarePants  Not sure if you've got this covered, but hopefully this helps...

@vpenades  Your proposed solution essentially treats all transparent pixels as being black.  That is, if `currentColor` is 0, the result of multiplying by the kernel weight is also 0, so it doesn't matter whether you add it to the destination accumulator or not.  Of course, if there's random color data in there,

[2018-01-20 05:44] saucecontrol commented on #428
Oops, I didn't see you had replied while I was typing all that out.  But man, I love it when writing something out makes me see something I hadn't before.  As I was sitting down to dinner this evening, it occurred to me I wasn't handling partially-transparent pixels correctly, because they need to have their weight reduced proportionally as well.  I'll be pushing some updated code to reflect that,

[2018-01-20 09:00] vpenades commented on #428
@JimBobSquarePants what about defining a threshold value for every pixel format, that tells at which point the pixel becomes fully transparent? It could even be disabled by passing a negative infinity.

@saucecontrol the RGB elements of a fully transparent pixel should be treated as **irrelevant**, not as **black**

For simplicity, let's assume two images of 2x1 pixel, and we want to reduce them t

[2018-01-20 09:11] dlemstra commented on #441
This will happen when there is no data chunk in the file. I think this PR will fix the issue: #442.

[2018-01-20 09:11] mikegoatly commented on #198
The only detail was that it was likely something to do with the use of Memory and Span<T>, so yeah I guess it's the cutting edge element!

[2018-01-20 09:16] endink opened #443 "resize output some wrong"
it for 30px

![avatar_30](https://user-images.githubusercontent.com/240164/35181890-9c963d20-fe05-11e7-853c-0dcad72ac98a.png)

it for 80px
![avatar_80](https://user-images.githubusercontent.com/240164/35181891-9cdcbb7e-fe05-11e7-9ce5-df7b02bd073a.png)

it for 150px
![avatar_150](https://user-images.githubusercontent.com/240164/35181892-9d1cf05e-fe05-11e7-8750-f4687317a846.png)

looks like miss som

[2018-01-20 09:19] dlemstra commented on #443
And it looks like you deleted the issue template. Could you please provide is with some instructions on how to reproduce this?

[2018-01-20 09:30] endink commented on #443
@dlemstra
[code]

[2018-01-20 09:31] JimBobSquarePants commented on #443
@endink  Please resubmit this using the issue template. We cannot help you without one.

[2018-01-20 09:32] endink commented on #443
@JimBobSquarePants OK

[2018-01-20 09:33] JimBobSquarePants commented on #443
Thanks, we're also going to require the source image.

[2018-01-20 09:48] endink opened #444 "resize an image from byte[] to byte[] may lose pixels"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-01-20 09:49] #443 closed

[2018-01-20 09:58] saucecontrol commented on #428
@vpenades That's correct.  I was pointing out that the code changes you suggested have the same result as treating the pixel as black -- or reading an actual black pixel.

Imagine a simple averaging filter applied to that image.  The kernel would be defined as [0.5, 0.5].

So you multiply the first image by the kernel and you get [127, 127, 127, 127] + [0, 0, 0, 0] = [127, 127, 127, 127].
If you s

[2018-01-20 10:37] JimBobSquarePants commented on #444
Hi @endink

I'm able to resize and save the image to 150 x150 without issue. Are you sure all your variables are correct?

![splash](https://user-images.githubusercontent.com/385879/35182471-f1714dd4-fe29-11e7-9fd1-42cf35b4fcb7.png)

[2018-01-20 10:43] endink commented on #444
@JimBobSquarePants well, I'll check my code again, and if possible, I'll extract my main code and package it up and upload it.

[2018-01-20 10:57] endink commented on #444
@JimBobSquarePants sorry, it works well now, my code writes less bytes when I write a byte array to a file

[2018-01-20 10:57] #444 closed

[2018-01-20 10:58] JimBobSquarePants commented on #444
No worries, glad you found a solution. 👍

[2018-01-21 19:43] justintubbs commented on #441
Is anyone else having issues getting to these photos?  I can view them in multiple browsers, even in Incognito/Private browsing mode

[2018-01-21 19:43] justintubbs commented on #440
Is anyone else having issues getting to these photos?  I can view them in multiple browsers, even in Incognito/Private browsing mode

[2018-01-21 19:48] tocsoft commented on #441
I'm even getting it when just navigating to http://justintubbs.com/

[2018-01-21 19:49] justintubbs commented on #441
![image](https://user-images.githubusercontent.com/12716768/35198286-ea87c43e-feb1-11e7-8e06-a2e42e1cab27.png)

[2018-01-21 19:49] justintubbs commented on #441
![image](https://user-images.githubusercontent.com/12716768/35198288-f4f8195a-feb1-11e7-8592-7a006718768a.png)

[2018-01-21 19:50] justintubbs commented on #441
I'm just using Windows "Snipping Tool" and saving as PNG or JPG format here...you should be able to replicate yourself.

[2018-01-21 19:51] justintubbs commented on #440
![image](https://user-images.githubusercontent.com/12716768/35198295-1b4cd91a-feb2-11e7-8763-ad012a2c7f44.png)

[2018-01-21 19:51] justintubbs commented on #440
![image](https://user-images.githubusercontent.com/12716768/35198297-23de33d0-feb2-11e7-9661-ad3d3c743cd5.png)

[2018-01-21 22:21] JimBobSquarePants commented on #440
@justintubbs Those attached images are pngs?

[2018-01-21 22:28] JimBobSquarePants commented on #441
I'm unable to replicate this using the current repository codebase with any of your posted images nor with any new images generated using the Window Sipping Tool.

[2018-01-22 02:01] antonfirsov commented on #418
@tachyon1337 looks like you are the maintainer of the package in question. We have regular issues because people are downloading your package by mistake. (See: #425 #422)

It was an early & unstable version of our library. Since then, we improved our implementation a lot, and our API went under a significant change. Keeping the alpha package online is really unprofessional, and it hurts everyone.

[2018-01-22 06:02] flemingm commented on #371
ON iOS and macOS HEIC reading is supported natively and some version of Windows 10 (not all version) have support.

https://developer.apple.com/documentation/avfoundation/avfiletype/2873439-heif

Also :
https://github.com/nokiatech/heif (requires license for commercial use)

HEIF is a media container format. It is not an image or video encoder per se. Hence, the quality of the visual media depends

[2018-01-22 13:55] #31 closed

[2018-01-22 16:00] vpenades commented on #428
I took the liberty to prepare this image as a test case:
![michaelangelo](https://user-images.githubusercontent.com/5433822/35229853-bec7c9d2-ff94-11e7-8bed-a3932b6358b7.png)

At first sight it looks like Sistine Chapel painting.  @JimBobSquarePants I would suggest to add it to the test images.

I've only tried with Resize and GaussianBlur, most probably, all convolutional filters are affected, bu

[2018-01-22 16:06] justintubbs commented on #441
I'll try to put an example together to see what is going on.  Since I'm using .NET Core 2.0 to upload a file, it might be different than loading a file from disk.

[2018-01-22 23:59] JimBobSquarePants commented on #428
@saucecontrol Many thanks for your input here, I had not covered the weight normalization requirements and they are vital to producing the correct output. What I'll look at is per-row (or per-pixel if I can't do row) premultiplication and reversal within the algorithms themselves to that I'm always working in floating point and do not lose precision. A couple of extension methods to `Vector4` shou

[2018-01-23 01:20] JimBobSquarePants commented on #428
@vpenades Here's the result of blurring your test image using premultiplication (dead easy to add to the source since they all use convolution base classes) Is this the output you would expect? If so I can fix resize also.

![imageshouldapplygaussianblurfilter_rgba32_splash_3](https://user-images.githubusercontent.com/385879/35253047-7ab219fc-0037-11e8-884f-76ad5a7d5707.png)

[2018-01-23 02:10] JimBobSquarePants commented on #428
Haha! @vpenades you're a genius! 🤣

This should be a standard test image for all libraries.

![kaboom!](https://user-images.githubusercontent.com/385879/35254493-92bd4164-003e-11e8-86ec-b9c17271095b.png)

[2018-01-23 02:57] saucecontrol commented on #428
Oh man, that image is great :D

@vpenades Do you mind if I steal that for my test image suite as well?

@JimBobSquarePants I'm happy if I was able to help, although it seems you had everything under control with your premultiplication plan.  And thanks for the kind words re: the blog.  I keep thinking of things to write about and can never find the time.  I'm sure you can relate :)

[2018-01-23 06:44] JimBobSquarePants commented on #428
@saucecontrol I'm terrible for blogging. I know I should do more but I find it so difficult to string enough of what is going on in my head together to be meaningful.

[2018-01-23 09:02] vpenades commented on #428
@JimBobSquarePants that image was the best way I could think to make the problem apparent, sometimes it's not easy to explain with words 😄

@saucecontrol Sure you can use it. 👍

[2018-01-23 10:10] IldarKhayrutdinov commented on #244
Hi, I implement interlaced algorithm for pixels, but there are bugs with the writing of chunks. Continue working. Unfortunately, there is little time free from the main work.

[2018-01-23 10:22] JimBobSquarePants commented on #244
@IldarKhayrutdinov Thanks! :smile: It's a start which I'm sure we can help with.

If you can open a Work-In-Progress PR against our repo with the check box checked that allows us to push to your PR we should be able to figure this out together.

[2018-01-23 21:40] GeorgePlotnikov opened #447 "Image.Load(byte[]) throws Method not found System.ReadOnlySpan.get_Item(Int32)"
### Description

Image.Load on method below throws `Method not found: '!0 System.ReadOnlySpan`1.get_Item(Int32)'.` with the stack trace

[code]

### Steps to Reproduce
[code]

- ImageSharp version: 1.0.0-beta0002
- Environment (Operating system, version and so on): win10-x64
- .NET Framework version: netcore2.1

![1](https://user-images.githubusercontent.com/22812032/35302348-276b113c-009f-11e8-92

[2018-01-23 22:31] dlemstra commented on #447
Looks like this is related to this issue: https://github.com/dotnet/coreclr/pull/14727. Seeing that exception in one of the comments.

[2018-01-23 22:47] JimBobSquarePants commented on #447
@dlemstra Yeah, that looks like the issue, good work.

@GeorgePlotnikov It looks like you are also using the preview of NETCore 2.1 Have you tried the 2.0 release? The library should be stable against that.

I'm not sure what (or even if) we will have to do when 2.1 reaches RTM but I'll ask around.

[2018-01-23 23:31] GeorgePlotnikov commented on #447
@dlemstra, @JimBobSquarePants thanks guys for the quick response, fixed via moving to netcore2.0

[2018-01-23 23:31] #447 closed

[2018-01-24 01:35] #428 closed

[2018-01-24 01:36] JimBobSquarePants commented on #428
Aaaaaand it's in, thanks for the suggestion and excellent testing image.

[2018-01-24 08:30] #423 closed

[2018-01-24 11:01] vpenades commented on #435
Microsoft has recently released [System.Drawing.Common](https://www.nuget.org/packages/System.Drawing.Common/) , which is a  cross platform and NetStandard compatible package of the classic NetFX exclusive System.Drawing.Bitmap namespace.

So maybe it's worth to take into account too.

[2018-01-24 22:05] nla-brandonjames opened #449 "Feature Request: Save Progressive jpeg"
### Description
I can't find an API in ImageSharp to save my images in the progressive jpeg format. It is a requirement for my application. I am capable of saving as a baseline image.

- ImageSharp version: 1.0.0-beta2
- Other ImageSharp packages and versions:
- Environment (Operating system, version and so on): Windows 10 (dev) Ubuntu 16.04 (prod)
- .NET Framework version: .NET Core 2.0.5

[2018-01-24 23:10] JimBobSquarePants commented on #449
@nla-brandonjames

Unfortunately we don't have support for saving progressive jpegs. See #10 It's something I REALLY want though.

We'd need support from someone in the community if we are in any way likely to get it for v1.0 as jpeg is.... complicated. At the moment you would have to post process the images using something like mozjpeg.

Cheers

James

P.S In the future could you please ask quest

[2018-01-24 23:44] nla-brandonjames commented on #449
@JimBobSquarePants Okay, will do. I have a couple more things to add to this.

[2018-01-24 23:46] JimBobSquarePants commented on #449
Thanks! 👍

[2018-01-25 03:43] saucecontrol commented on #441
Oh hey, just butting in again with some [potentially helpful] info.  I can report the following:

1. I was able to download the files linked in the original issue
2. The files attached later appear to be re-encoded versions of those images
3. Both the original and the re-encoded files load fine in 1.0.0-beta0002.

@justintubbs Looking at your example code, it appears you simply forgot to reset the

[2018-01-25 03:52] saucecontrol commented on #435
The sad thing is, the majority of devs will continue using System.Drawing because that's what they know.  And a large percentage of them will take a Microsoft-authored package over literally anything else.  One could at least hope that easy integration and a couple of unique features would tempt some devs to dip a toe in the ImageSharp waters.  Maybe then they'll see the light :)

[2018-01-25 04:19] JimBobSquarePants commented on #441
@saucecontrol Thanks for that! I couldn't see the wood for the trees there.

@justintubbs The way you are loading the images is unconventional. Normally you would use the `Image<TPixel>.Load(Stream)`. That method attempts to identify the correct codec to use and will throw an exception if it cannot do so.

We've already opened #442 that will add throwing an exception if there is not data contained

[2018-01-25 04:19] #441 closed

[2018-01-25 12:00] justintubbs commented on #441
@JimBobSquarePants I tried changing my code implementation to not specify a decoder when using `Image.Load()`:
[code]

[2018-01-25 12:00] justintubbs commented on #441
![image](https://user-images.githubusercontent.com/12716768/35387364-a8b88470-018c-11e8-9dc7-c055a2ebb98c.png)

[2018-01-25 12:08] justintubbs commented on #441
@saucecontrol Your post was helpful, as I checked the `ms` MemoryStream in the above error and saw that it's Position == Length.

In all the .NET Core examples of uploading files, nobody is telling people to rewind the MemoryStream using .Seek():
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads
https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/uploading-files#a

[2018-01-25 13:07] dlemstra commented on #441
Checking if `Position == Length` sounds like a good plan to aid developers. But we will need to check if we can use those properties. Not sure what we need to check for that though.

[2018-01-25 13:16] JimBobSquarePants commented on #441
No one in those examples is copying one stream to another. If you copy to a memory stream it's gonna be at the length position in copy completion. I'm not sure why you are not using the filestream directly.

We can check if the position is equal to the length and throw there but nothing more.

[2018-01-25 13:49] antonfirsov commented on #441
We can add hints and remarks in docs, and maybe in exception messages when we fail to recognize the header.

[2018-01-25 15:01] justintubbs commented on #441
Thanks all, appreciate the quick feedback and responses.  (Apologies for creating the issue...)

[2018-01-25 16:10] vpenades commented on #225
Elavorating what I've posted [here](https://github.com/SixLabors/ImageSharp/pull/431#issuecomment-360502778) , I think it's not that bad an idea, I'ts a huge breaking change, but I will also be future proof:

- Make Image<> constructor internal.
- Make image creation and load to be methods or MemoryManager.

So instead of doing:

var image = new Image<Rgba32>(ArrayPoolMemoryManager.Default, 512,51

[2018-01-25 18:20] tocsoft commented on #225
No don't like it. Thats why we have the option of passing a custom configuration into load/constructors etc.

If you want to load a custom set of memory for the lifetime of a single image then you would create a custom configuration with a new specific memory manager for that image and then free up any resources yourself when you release the image.

[2018-01-25 18:48] vpenades commented on #225
@tocsoft my feeling is that the default "easy to use" API favours a certain use case of ImageSharp, which is running continuously as a web service, and makes it utterly complicated for all other use cases. It might happen that the current, default use case is exactly what you need... but it's miles away from what I need, and what I am proposing is something that I think is neutral for all users.

[2018-01-25 19:16] antonfirsov commented on #225
@vpenades it's definitely not worth for us to introduce breaking changes of this manner for 1.0.
There's nothing you won't be able to solve by using a custom `Configuration` instead of the default one.

"Temporal pools", releasing memory, isolation of multiple different memory managers in a single process - all possible. Gonna add docs and samples for these scenarios.

[2018-01-25 19:56] JimBobSquarePants commented on #225
[code]

This API is semanticly troublesome and unintuitive. If someone came to the library as a first time user I would be incredibly surprised if they logically surmised loading images in this way.

It's a graphics library, and, as such, the semantic focus has to centre around the `Image<T>` class.

I strongly disagree here. Your proposed API gives us no advantage, that I can fathom, over passing

[2018-01-25 20:52] vpenades commented on #225
Okey then, I'll give it a try

[2018-01-26 01:05] JimBobSquarePants commented on #441
Och, no need for an apology at all! It's taught us that we need to make our error messages more developer friendly and add that check. 😄

[2018-01-30 20:22] mfe- opened #451 "ImageSharp can't handle InputStreamInvoker with Android.OS.ParcelFileDescriptor.AutoCloseInputStream (Xamarin.Android)"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-01-30 23:36] JimBobSquarePants commented on #451
Hi @mfe-

That looks like a Mono issue to me. We don't and shouldn't need to do anything special since we are building to the .NET Standard.

Perhaps @TodesBrot can shed some light on the difference between the two stream types? I have never used Xamarin.

[2018-02-01 20:13] Menighin commented on #407
Hi Jim, sorry to bother again. This time I tried the Gitter but didnt get any response... Can you answer me?

[2018-02-01 20:47] vpenades opened #453 "Crash when resizing an image"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-02 08:19] mfe- commented on #451
Hi @JimBobSquarePants,

I just tested the linked [repository](https://github.com/mfe-/App1Android/blob/master/App1Android/MainActivity.cs) on a Samsung Galaxy A3 with an Image of size {Image<Rgba32>: 4128x3096}.

Loading the Image took about 3 Minutes. Maybe the crash was related to the emulator.

[2018-02-02 12:56] antonfirsov commented on #451
Unfortuanately Xamarin runtime lacks SIMD support + has poor Generics implementation at the moment. ImageSharp performance relies heavily on these fetures. Hope they gonna improve this in the future.

[2018-02-02 20:03] dlemstra commented on #439
@TodesBrot Could you give me some instruction on how to compile and run an application that uses ImageSharp with Mono on Ubuntu 16.04.3? Would like to debug the problem but I am unable to get an application running.

[2018-02-02 21:03] antonfirsov commented on #439
I wonder if we actually need the Linux component to reproduce the issue? Isn't just Mono + Windows enough?

[2018-02-03 08:45] TodesBrot commented on #439
I haven't been able to reproduce the bug on Windows using Mono, I have only managed to reproduce it on Android and using the Linux subsystem on Windows. As for @dlemstra, installing Xamarin Studio on Ubuntu should be the easiest option. I can't actually help you beyond that though, as I only develop on Windows.

[2018-02-03 09:40] dlemstra commented on #439
@TodesBrot I don't have any Mono experience so forgive me for asking dumb questions. How do I get a simple application that only reads the image with ImageSharp running on Ubuntu? Can I just run the Windows executable with Mono?

[2018-02-03 09:51] TodesBrot commented on #439
@dlemstra That should work too, depending on the libraries you use. Most of Windows.Forms works on Mono too, in case you want to use it.

[2018-02-03 10:03] dlemstra commented on #439
I tried to run a simple executable on Mono that uses ImageSharp (netstandard 1.3 build) to read an image but I got the following error:

[code]

[2018-02-03 10:18] antonfirsov commented on #439
@dlemstra what version of mono have you tried? [You need at least 5.2.0](https://stackoverflow.com/questions/48061333/using-net-standard-2-0-with-mono) as far as I understand.

[2018-02-03 10:21] antonfirsov commented on #439
But ... earlier versions [should be able](https://docs.microsoft.com/en-us/dotnet/standard/net-standard) to run .NET Standard 1.*
Not easy to figure this out :(

[2018-02-03 10:22] dlemstra commented on #439
Using a very recent one:

[code]

I also did an `sudo apt-get install mono-complete` but I don't think this gets the `System.Memory` library on the system. Not sure how to do that though.

[2018-02-03 11:02] JoshaMunnik commented on #453
I had the same problem. The bug is caused because ExifValue.CheckValue expects an uint for the Exif Long type when ResizeProcesser.AfterImageApply stores the dimensions. However Image uses int for Width and Height.

I'll try to do a pull/push.

[2018-02-04 23:24] JimBobSquarePants commented on #451
Ouch!

[2018-02-06 15:17] vpenades commented on #453
@dlemstra @JimBobSquarePants Additionally, if EXIF metadata is going to be affected by resizes, crops and other transformations, I would request as a feature, to also handle `SubjectPosition ` and `SubjectArea` tags , since they also contain pixel based, positional information within the image.

This is obvious from the [image ](https://github.com/ianare/exif-samples/blob/master/jpg/Konica_Minolta

[2018-02-06 22:54] JimBobSquarePants commented on #453
@vpenades Good catch

We should strip out the following tags on all transforms
- SubjectLocation
- SubjectArea

And possibly strip out the following on scale/crop (not sure about these)
- SubjectDistance
- SubjectDistanceRange

[2018-02-07 02:28] mphipps1 opened #458 "Looking for methods to Plot Single Pixel"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-07 03:49] JimBobSquarePants commented on #458
Hi @mphipps1

Normally we would use our [Gitter](https://gitter.im/ImageSharp/General?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) channel for questions such as this. It helps us stay on top of issues.

Setting individual pixels is performed via the indexer on `Image<TPixel>`

[code]

Hope that helps,

James

[2018-02-07 06:02] #458 closed

[2018-02-07 06:04] JimBobSquarePants commented on #440
@justintubbs Can you provide the appropriate jpegs please? Otherwise I'm going to have to close this issue.

Thanks!

[2018-02-07 09:12] vpenades commented on #453
@JimBobSquarePants SubjectDistanceRange is an Enum, and my guess SubjectDistance is the depth from the camera in metres , so they should not be affected by transforms (unless we're talking about 3D transforms...)

By strip the tags, you mean remove them? or adjust the values? I have some utilities to easily access the Subject information [here ](https://github.com/vpenades/UberFactory/blob/master/

[2018-02-07 11:15] antonfirsov commented on #458
@mphipps1 a little note about manipulating individual pixels:

our `image[x,y]` indexer is way faster than the same feature in `System.Drawing`, but it's still not the most efficient way, if want to touch 120k pixels. We will provide lower level API-s for this through [`Memory<T>`](https://msdn.microsoft.com/en-us/magazine/mt814808.aspx) as soon as the newest version of the `System.Memory` module

[2018-02-07 11:42] JimBobSquarePants commented on #453
Yeah, you're right, we don't need to touch SubjectDistance and SubjectDistanceRange.

I meant remove them as I don't know how feasible it would be to recalculate them based on the transform. We're gonna have unlimited composable affine transforms in the next beta. Happy to take suggestions though if you can think of something better?

That's some great code you have there btw, stuff we should prob

[2018-02-07 11:52] JimBobSquarePants commented on #453
@vpenades You and I need to chat about those [suggestions](https://github.com/vpenades/UberFactory/blob/acd15cb792fcd590fdaa3636740ad9df075b85b5/src/Epsylon.ImageSharp.Procedural/Readme.txt) in your repo btw, would love your help implementing some of the changes. We need people like you writing code based on our work to help us make sure it does what you need/expect it to do. 👍

[2018-02-07 14:53] mphipps1 commented on #458
Using the indexer took my code from 25 seconds to < 100ms. That's OUTSTANDING!
From an API design point of view, it's a little unusual to have Draw* commands and then use a different mechanism for points; maybe a good note for the documentation? Or maybe DrawPoint that is a wrapper around [x,y]?

Thanks!

[2018-02-07 16:32] msmolka opened #459 "Add support for .NET Core 2.1"
### Description
I've recently upgrade my system to ASP.NET Core 2.1.0-preview2-30045
This libraries are using System.Memory 4.5.0-preview2-26202-05

After update I'm not able to load image any more:
`using (var image = Image.Load<Rgba32>(pictureDataBytes, new PngDecoder()))`

this is throwing exception:
[code]

### Steps to Reproduce
use ` System.Memory` `4.5.0-preview2-26202-05` and try to load P

[2018-02-07 17:34] antonfirsov commented on #459
@msmolka the 4.5 version of `System.Memory` used by .NET Core 2.1 [is not yet available on NuGet](https://www.nuget.org/packages/System.Memory/4.4.0-preview1-25305-02), thus we are not able to support it in our beta ImageSharp package published on NuGet.

This means that we only support .NET Core <= 2.0 at the moment. I hope 2.1 [reaches preview state soon](https://github.com/dotnet/core/blob/mast

[2018-02-07 18:02] msmolka commented on #459
Thanks, I understand
I have web core app, which is using this library. I need to add SignalR, which is on preview right now, which then breaks this lib.

Fighting with manual binding redirects and codeBase, a lot of manual work. Had to switch off automatic binding redirects.

Maybe it will finally work. Started looking promising.

[2018-02-08 08:30] msmolka commented on #459
Just a comment if somebody will need to work with version 2.1 and ImageSharp
Binding redirects are working in .NET Core (in unit tests as well).
This issue can be workaround by disabling
`<AutoGenerateBindingRedirects>false</AutoGenerateBindingRedirects>`

Then get latest `4.4.0` `System.Memory` from nuget
put it in some folder and specify all redirects manually and create entry for previous versi

[2018-02-08 12:32] JimBobSquarePants commented on #458
I've wondered before whether we should create `GetPixel` `SetPixel` methods to act as syntactic sugar but I've never managed to convince myself that they're worth it. We're basically dealing with a 2D array so the indexer semantically works well.

The `Draw-` commands are specialist functions that require additional computation so I wouldn't classify them as the same API-wise.

[2018-02-08 12:40] antonfirsov commented on #458
Manipulating individual pixels should be really considered as a primitive operation. Attempts to handle it as a high-level drawing operation will most likely end up introducing significant overhead in any image processing library :)

[2018-02-08 16:19] vpenades commented on #251
As an API suggestion:

Custom PNG chunks can be very large, I've seen some applications that use a custom chunk to store the actual data in a PNG container that uses the PNG image as the thunbnail of the actual content.

So, since these chunks can only be useful for those that specifically want to load them, I would suggest to set a programmable filter in PNGDecoder, so only the chunk tags that ar

[2018-02-08 16:28] vpenades opened #460 "Allow decoders to load metadata only"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-08 16:42] antonfirsov commented on #460
@vpenades we have `Image.Identify()` for this since the merging of #292. Do you lack some other functionality here, or just missed it? :)

[2018-02-08 16:47] antonfirsov commented on #460
@vpenades see [this spontaneous design discussion](https://github.com/SixLabors/ImageSharp/pull/292/files/9f719d5b9423083c112a69144e98a15bbb8c9409#diff-70bebbed1a8bf52bdf94497d7856525eR14) to see API choices we made.

[2018-02-08 17:08] vpenades commented on #460
@antonfirsov ahhh, I didn't know about that one!

[2018-02-08 22:43] JimBobSquarePants commented on #251
I'll have to have a good read of the spec again to determine what is what.

[2018-02-08 22:46] JimBobSquarePants commented on #460
That would be a very nice bonus. Probably for V2, Lets close this issue and open another for that specific functionality.

[2018-02-08 22:46] #460 closed

[2018-02-09 01:08] alexsorokoletov commented on #440
Sorry for my 2c, I was looking for issues on github similar to what we had with JPEG and stumbled on this thread.

Thanks for the great library!

Looks like links from the opening comment are working and there are JPEG images there. Not sure if these are the images that caused issue.

[2018-02-09 01:11] JimBobSquarePants commented on #440
@alexsorokoletov You can see them? Great!

Can you do me a huge favor and add them in a zip file to this thread? We're all getting 403 Forbidden statuses when trying to view the images.

[2018-02-09 02:55] alexsorokoletov commented on #440
Here you go :)
[Image1and2.zip](https://github.com/SixLabors/ImageSharp/files/1709634/Image1and2.zip)

[2018-02-09 03:21] alexsorokoletov commented on #248
Wondering if anyone solved that for Azure AppService running .NET Core 2 (not 2.1). Looks like having 64bit Core runtime requires some effort and not just a toggle in AppService properties
https://blogs.msdn.microsoft.com/webdev/2018/01/09/64-bit-asp-net-core-on-azure-app-service/

[2018-02-09 03:26] JimBobSquarePants commented on #440
Thanks for that! I can confirm that both images work perfectly with the latest nightlies.

Closing this issue.

[2018-02-09 03:26] #440 closed

[2018-02-09 03:30] JimBobSquarePants commented on #248
We've got #431 in the works just now which should dramatically reduce the amount of memory we consume when pooling plus give some options to configure your own memory providers.

That said, I'd always recommend 64bit for anything that requires working with images in the megapixels.

[2018-02-09 03:35] alexsorokoletov commented on #248
I see. Thing is it's crashing now :) so I can't wait for 431 though I would appreciate it by updating NuGet next release 👏

My image is small in size (2.8M) but large in pixels - 7500x5000. Also looking at the code and comparing how people do resize images using this library, I want to try another trick - if that helps, I'll be good.

Since we're here, the issue itself was annoying not because of

[2018-02-09 03:39] JimBobSquarePants commented on #248
Are you using the beta2 release? @antonfirsov did some interim work in a recent nightly to reduce pooling consumption that might help you. I would grab that from MyGet and see if it helps.

Also, if you can get away without transparency try loading the image in `Rgb24`.

That's a big image though which will always cause problems on 32bit systems due to the limits on available contiguous memory.

[2018-02-09 03:50] antonfirsov commented on #248
@alexsorokoletov are you using our nightlies? If not, can you try them? There was some improvement with #436.

If yous still have the crashes with the nightlies, can you help us by describing your use case? How many requests do you have before the crash? Are those large images outliers or typical?

[2018-02-09 03:54] antonfirsov commented on #248
https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp

[2018-02-09 03:54] alexsorokoletov commented on #248
Meanwhile, I've refactored code and instead of using Clone + Resize to generate multiple sizes of the image I start with the largest needed size and use Mutate + Resize going down to smaller.

Deployed and so far runs good in Azure 32bit on this image (for now).

I can try nightly builds, yes.

On your questions, Anton:

Users upload pictures for avatars to the website, we keep large and small thu

[2018-02-09 04:20] #453 closed

[2018-02-09 04:21] JimBobSquarePants commented on #453
@vpenades I've pushed a quick fix for your resize issue to the nightlies. If you can open a new issue regarding `SubjectDistance` and friends we can have a separate discussion there and hopefully incorporate some of your work.

[2018-02-09 05:34] alexsorokoletov commented on #248
I did some really simple tests on nightly 1.0.0-dev000706 and beta 1.0.0-beta0002 with Rgba32 and Rgb24:

Nightly:

Job=Nightly1.0.0-dev000706  LaunchCount=1  RunStrategy=ColdStart
TargetCount=10  WarmupCount=3

 Method |    Mean |    Error |   StdDev |     Gen 0 |     Gen 1 |     Gen 2 | Allocated |
------- |--------:|---------:|---------:|----------:|----------:|----------:|----------:|
 Rgba32

[2018-02-09 06:50] JimBobSquarePants commented on #248
You can't stay on beta forever... 😄

If you read #431 You'll understand why there is more memory allocated for your benchmark.

We were creating too large an object pool in the beta so while you are seeing only low allocations in your benchmark, you're not seeing the pre-allocated memory that was set aside for the array pool. Memory that is locked away for nothing else but ImageSharp to use for th

[2018-02-09 09:40] daniherculano84 opened #462 "Image resolution read is upside down"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-09 09:45] JimBobSquarePants commented on #462
Hi there,

That version number looks suspicious, have you downloaded the official SixLabors package? It should be beta2.

Cheers

James

[2018-02-09 10:12] daniherculano84 commented on #462
Hi Jim,
I've changed RevStackCore-ImageSharp 0.9.0 DLL to SixLabors.ImageSharp 1.0.0-beta0002.
The problem persists.

The new code is
[code]

[2018-02-09 10:16] JimBobSquarePants commented on #462
I'll need to see the image in question before I can make any judgement so could you please upload it?

If you're looking for the imageformat btw there's an overload for Load that has an out parameter.

[2018-02-09 10:19] daniherculano84 commented on #462
This is the image:
https://ibb.co/j0KgTx

Thank you

[2018-02-09 10:52] vpenades opened #463 "Feature Request: handle Subject* metadata in Resize/Crop/Rotate transforms"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-09 19:30] JimBobSquarePants commented on #462
Hi @daniherculano84

I posted an answer hours ago but somehow GitHub didn't actually save it. 🙁

I tested your image with the latest nightly and although I don't recall any changes between that and the beta (I haven't tested against the beta) you will see from the screenshot that the image dimensions are reported correctly.

![size](https://user-images.githubusercontent.com/385879/36045981-8e1f893

[2018-02-09 19:30] #462 closed

[2018-02-14 07:52] denisivan0v opened #464 "Jpeg image decoded as grayscale"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-14 08:04] valse opened #465 "Create image strip"
Hi,
  I'd like to merge some images (same size side by side) and I tried the DrawImage method:

[code]

but the output image width is not like expected (image1.Width * 2) but it keeps the image1 width.

To solve this I make first a Resize of first image adding padding on the right side:

[code]

Is it the right solution or the DrawImage must work resizing the final output too?

Thanks
Marco

[2018-02-14 11:19] JimBobSquarePants commented on #464
Thanks @denisivan0v  for all the info and the sample program. We really, really, appreciate it when people like you make the extra effort. 👍

@antonfirsov This is an odd one.

JpegSnoop is reporting a YCCK color profile same as our YCCK sample in the repo so I don't know off the top of my head what the cause would be.

[code]

Could you have a look when you can?I'm not gonna have a chance for at l

[2018-02-15 02:56] antonfirsov commented on #464
Maybe I can check this in the next few days. Will definitely do it for beta3.

[2018-02-15 18:48] OscarCanek opened #466 "Change background color when ResizeMode.Pad"
### Description
It's possible to change the background color when resizing image with mode Pad. Now is always black, but I would like to change it to other colors.

### Steps to Reproduce
[code]

- ImageSharp version: 1.0.0-beta0002
- Environment (Operating system, version and so on): Windows/Linux
- .NET Framework version: .net core 2.0

[2018-02-15 19:05] OscarCanek commented on #466
#### Solution
Searching inside the package I found the following extension "BackgroundColor" that meet my needs.

#### Example
[code]

[2018-02-15 20:09] Krakean commented on #158
+1 for psd support!
Also would be nice to support DDS files

[2018-02-15 22:27] GeorgePlotnikov commented on #225
Hi all, I faced with this memory consuming issue (you can see details [here](https://github.com/GeorgePlotnikov/ImageBlendingAlgorithms/issues/34)). If you need some help with the implementation I can grab some.

[2018-02-15 22:49] JimBobSquarePants commented on #225
Hi @GeorgePlotnikov ,

@antonfirsov is point on this issue and is planning on working on it in the latter half of this month, I'm sure he'll welcome any use-case information you can provide. 👍

[2018-02-15 22:57] JimBobSquarePants commented on #158
Updated link for GitHub repo.

https://github.com/PsdPlugin/PsdPlugin

While this is most certainly something for the future. We should actually have a look at our API now to ensure that we can implement layering in a sane way that works with our existing codecs.

CC/ @tocsoft @antonfirsov @dlemstra

[2018-02-15 23:30] vpenades commented on #158
I would suggest splitting formats by usage:
- Main "consumer" formats like GIF, PNG, JPEG, would stay in the main assembly.
- `ImageSharp.EditableFormats` for Edition/proffesional formats, like PSD, Krita, etc...
- `ImageSharp.LegacyFormats` for PCX, TGA, etc
- `ImageSharp.GPUFormats` for hardware accelerated formats like DDS

That would allow adding specialised support for each format group, with

[2018-02-16 23:12] rspeele commented on #401
Just want to let you know this might be more important than you think.

I'm in .NET framework land, so it might be different on Core. But as far as I can tell, the ambiguous references make it **impossible** to call `ImageExtensions` methods from any code that references `SixLabors.ImageSharp.Drawing`.

I know in #391 you suggested this was due to calling the methods as regular old static methods

[2018-02-17 00:03] JimBobSquarePants commented on #401
Thanks @rspeele

Rest assured we'll be refactoring all those issues away and everything will live neatly in their own namespaces for beta3.

Just to note though, we'll probably be dropping netstandard 1.1 support so your NET 4.5.2 program will not be possible, you'll have to bump up to NET 4.6.1

[2018-02-17 19:29] antonfirsov commented on #225
@GeorgePlotnikov even answering a few questions would be very helpful:
- Do you use beta-2 or nightlies? If you work with beta, can you try nightlies, and report back? There was some improvement with #436!
- Based on your screenshots, it looks to me that your app's memory consumption stops growing at 160MB. Is my understanding correct? Or have you just stopped stressing your application?
- This is

[2018-02-17 19:47] antonfirsov commented on #225
For everyones invormation:

The work started with #431 is now being continued on the [feature/memory-manager branch](https://github.com/SixLabors/ImageSharp/tree/feature/memory-manager).

**This is the API I'm targeting currently:**
[code]

@tocsoft I suggest adding `MemoryUsageHint` later, when we are more familiar with specific solutions like unmanaged memory and MMF.

[2018-02-18 19:38] wozzo opened #468 "Read keyword metadata"
### Description
I've been through every bit of Metadata I can see on an Image, but am unable to find the keywords I know to be stored on the image. Is it possible to add the list of keywords as a property on Metadata? Or is there an alternative means of accessing the keywords I've missed?

[2018-02-18 22:27] JimBobSquarePants commented on #468
Hi @wozzo

At present we do not support reading/writing either IPTC or XMP metadata which both support keywords. EXIF does not have such a tag.

We're always looking for contributions though to add those metadata specifications.

Hope that clears it up.

Cheers

James

[2018-02-18 22:27] #468 closed

[2018-02-19 11:25] vpenades commented on #225
Some considerations:

What about the newly introduced Memory&lt;T&gt; as a wrapper of Span&lt;T&gt;  , wouldn't IBuffer&lt;T&gt;  and IManagedByteBuffer  be a redundancy of Memory&lt;T&gt;??

[Memory&lt;T&gt; article here.](https://msdn.microsoft.com/en-us/magazine/mt814808.aspx)

What about mixing memory managers? As I understand from past conversations, if you want to create an image with a cust

[2018-02-19 13:07] antonfirsov commented on #225
@vpenades

`Memory<T>` is not a wrapper of `Span<T>`. They are technically different views of the same thing. `IBuffer<T>` is the counterpart of [`OwnedMemory`](https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L263). I will consider switching to `OwnedMemory` as soon as it's on NuGet + I see more use cases & docs to understand it's reference counting logic better

[2018-02-20 10:25] vpenades commented on #225
@antonfirsov

The worst case scenario I can foresee in the long run is this:

Let's say ImageSharp suceeds, and it leads to an explosion of ImageSharp based libraries; Obviously, it's up to how sloppy the developers of these ImageSharp derived libraries are, but you might end having derived libraries with these behaviours:

- Derived libraries using the default memory manager.
- Derived libraries

[2018-02-20 11:08] antonfirsov commented on #225
The situation is not that bad. I guess there is a solution evolving on my branch:
- The method `MemoryManager.Release()` is gone now. `IBuffer<T>` implementations are now [coupled to their MemoryManagers](https://github.com/SixLabors/ImageSharp/blob/4e515a858142473686ae0120cd3f1dfc0e0f73ce/src/ImageSharp/Memory/ArrayPoolMemoryManager.Buffer%7BT%7D.cs#L35), containing their own dispose/release logi

[2018-02-20 13:47] #465 closed

[2018-02-20 16:56] vpenades commented on #225
@antonfirsov Another curve ball (sorry, doing lots of tinkering with images lately)

I'm developing a small 3D scene structure, basic geometry, transforms, materials and textures for in-memory manipulation.

The scene contains nodes, the nodes contain materials and the materials contain textures, the graph allows things like two different materials sharing the same texture, The idea is that everyt

[2018-02-20 17:10] antonfirsov commented on #225
@vpenades the method you are looking for is `Image.LoadPixelData<TPixel>(data, width, height)`!

Later, it will be also possible to wrap an existing memory area to be able to temporarily manage it as an "Image". `Dispose()` will have no effect in the case if memory ownership is external. This feature requires the availability of `Memory<T>`, so we can have a clean & standard API for that.

[2018-02-20 17:38] vpenades commented on #225
@antonfirsov Okey, I've tinkered a prototype of the managed image class I would use [here](https://github.com/vpenades/UberFactory/blob/master/src/Epsylon.ImageSharp.Procedural/ManagedImage.cs).

[2018-02-20 17:48] benwilliamson opened #470 "Vertical Central Text Alignment - Text is cut off or too low"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-20 20:07] GeorgePlotnikov commented on #225
Hello @antonfirsov, apologise for the delay in the reply.
1. Currently, I'm using a beta
2. Yes I stopped stress my application
3. I think I don't want to consume more than 200 MB in single thread mode

[2018-02-20 20:47] antonfirsov commented on #225
@GeorgePlotnikov thanks for the answers!

Can you try if it's any better for you with the latest nightlies? Would be very helpful information for future fine-tuning tips!

[2018-02-20 21:08] GeorgePlotnikov commented on #225
@antonfirsov, okay will do it and come back with a feedback.

[2018-02-20 23:09] GeorgePlotnikov commented on #225
@antonfirsov below the result

![image](https://user-images.githubusercontent.com/22812032/36454121-b48d69a8-16ab-11e8-914a-dd0f3310a059.png)
the process was finished with

[code]

[2018-02-21 00:15] antonfirsov commented on #225
Thanks!

That's still quite too much of memory being eaten up :(

The exception that ended your experiment might be a Jpeg bug ... or a totally corrupt "jpeg", that can't be loaded by any library. Can you share the file?

[2018-02-21 04:10] JimBobSquarePants commented on #464
I've just checked this using the PDFJS port and it decodes correctly. I should be able to use it as a reference for the Golang one.

[2018-02-21 05:22] JimBobSquarePants commented on #464
Ok.... The conversion algorithm itself looks correct, the input data less so.

For `[0,0]` the `k` value should be `255` but we're getting `128`. The Golang port is simply too complicated for me to understand without a lot of picking apart and testing so I don't know why that is the case. Maybe we are pulling the wrong component list somehow. `cb` and `cr` are both `128`.

I still find the readabi

[2018-02-21 09:16] valse commented on #465
Hi,
   I saw a strange memory behavior about DrawImage: in my project I take about 20 Full HD video thumbnails (1920x1080) that I merge together like this result image (that I created empty :-P referring my previous post):

![test](https://user-images.githubusercontent.com/1492995/36471532-0d816724-16ef-11e8-94e8-db6e411632d5.jpg)

Each thumb will be resized to 110x62 but if I let this job to the

[2018-02-21 13:50] antonfirsov commented on #465
@valse thanks that's very useful feedback! 👍 Normally, the memory usage should not grow with your use case, so this might be a bug. Gonna try to investigate it during my work on #225.

It's a huge job however, so I really need all the help the community can provide! I you could make a small, self containing console app reproducing this issue, there is higher chance I'll be able to fix the issue an

[2018-02-21 17:03] antonfirsov commented on #464
@JimBobSquarePants I will also try to check it as soon as I'm finished with the `MemoryManager` stuff.

Can you point me to the code parts you investigated? ("`k` value")

[2018-02-21 18:58] valse commented on #465
Hi @antonfirsov sure I attached my [demo web app](https://github.com/SixLabors/ImageSharp/files/1745325/test-imagesharp.zip); it takes images from a folder inside the wwwroot one and merge together.
The output is on the http context response stream.

[2018-02-21 20:36] antonfirsov commented on #465
@valse thanks! Gonna memory profile it within a few days.

@JimBobSquarePants I think `SixLabors.ImageSharp.Web.Memory.BufferDataPool` shouldn't be public! It's  has all the drawbacks of an uncofigurable/unreplaceable singleton!
(I don't think it's the main issue in this example however.)

[2018-02-21 20:58] GeorgePlotnikov commented on #225
@antonfirsov sorry, but not. I fetch files randomly 😄

[2018-02-21 20:59] valse commented on #465
I used BufferDataPool because I made my own resolvers implementation (Amazon S3, Google Cloud Storage and Highwinds) for the ImageSharp.Web library... and they return a buffer array like the PhysicalFileResolver do.

I made a dotnet core web app using the ImageSharp.Web middleware and reading from an Amazon S3 bucket the original images... But with a massive stress test the memory still growing up

[2018-02-21 21:20] antonfirsov commented on #465
@valse can you also try with the [newest](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp) [nightlies](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp.Drawing)? I'm curious if it's any better.

Finishing #225 should provide a solution for this. There will be a PR this week, and I hope it will be merged before the end of the next week.

[2018-02-21 23:39] JimBobSquarePants commented on #464
@antonfirsov Yeah of course.

The PDFJs method that I used to determine the correct `k` value is here.

https://github.com/SixLabors/ImageSharp/blob/98a777322f548a2a193bcf7bf31f6ca4d348cd67/src/ImageSharp/Formats/Jpeg/PdfJsPort/Components/PdfJsYCbCrToRgbTables.cs#L102

For the Golang port we are looking here.

https://github.com/SixLabors/ImageSharp/blob/98a777322f548a2a193bcf7bf31f6ca4d348cd67/sr

[2018-02-21 23:40] JimBobSquarePants commented on #465
@antonfirsov Crikey! I didn't realise it was, will fix now.

[2018-02-21 23:46] JimBobSquarePants commented on #465
(I don't think it's the main issue in this example however.)

Ah... How do you suggest we make it possible for devs implementing `IImageResolver` to use pooling then? We use the pool to allow reading of input streams for the `PhysicalFileSystemResolver` without allocation.

[2018-02-21 23:57] antonfirsov commented on #464
@JimBobSquarePants as far as I understand, the conversion methods are correct in both decoders, they are just the consuming the wrong "k" in the "golang" case. I guess the "golang" spectral data is wrong for the input provided in this issue (the "pdfjs" one is inaccurate for others).

[We have these tests](https://github.com/SixLabors/ImageSharp/blob/master/tests/ImageSharp.Tests/Formats/Jpg/Spect

[2018-02-21 23:59] JimBobSquarePants commented on #465
@antonfirsov @valse

In `DrawImage` we're making a [deep clone](https://github.com/SixLabors/ImageSharp/blob/98a777322f548a2a193bcf7bf31f6ca4d348cd67/src/ImageSharp.Drawing/Processors/DrawImageProcessor.cs#L71) of the input image if the dimensions don't match. It looks like we're cleaning up after ourselves but that's gonna create a whole heap of extra memory pressure if those images are large.

I

[2018-02-22 00:01] JimBobSquarePants commented on #464
@antonfirsov Yeah that's right, the maths is correct, just the input is funky. I'll see what I can do.

[2018-02-22 00:54] JimBobSquarePants commented on #465
Just created a PR to remove the clone. Making the pool configurable sounds like a plan, I'll do that next.

[2018-02-22 04:57] valse commented on #465
@antonfirsov I tried the latest nightlies but the issue still exists.

[2018-02-22 07:10] JimBobSquarePants commented on #465
@valse #471 will get rid of the issue.

[2018-02-22 07:47] tocsoft commented on #465
The cloning is necessary in `DrawImage` otherwise we don't have the source pixels being the correct size for the drawing operation. Only way to remove the clone from that operation is to remove the ability to specify the destination size and draw the image at source dimension size.

[2018-02-22 16:42] vpenades commented on #225
@antonfirsov

Checking the implementation of Buffer&lt;T&gt; IDisposable and Finalizer, I've noticed the finalizer is not disposing everything it should.

The current finalizer implementation [here](https://github.com/SixLabors/ImageSharp/blob/master/src/ImageSharp/Memory/Buffer%7BT%7D.cs#L77) only unpins the GCHandle, but it doesn't free the actual buffer as the Dispose method does.

I am aware t

[2018-02-22 17:09] antonfirsov commented on #225
@vpenades [It's not allowed](https://blogs.msdn.microsoft.com/tom/2008/04/25/understanding-when-to-use-a-finalizer-in-your-net-class/) to touch managed objects in a finalizer! It's only here to free up the unmanaged handles if the developer forgot to call `Dispose()`.

A developer should not rely on finalizers, you should properly manage the disposal of your objects.

[2018-02-22 17:48] vpenades commented on #225
@antonfirsov Indeed!, that's precisely my point!

[2018-02-22 18:11] antonfirsov commented on #225
Sorry, misunderstood you're comment. It's a bug in my code! Gonna be fixed.

[2018-02-23 01:13] antonfirsov commented on #225
I'm almost done, a PR is coming soon.
However .. I'm not yet happy. Based on the feedback in this + other threads, there is some strange behavior I haven't understood yet. 👻 The memory keeps growing for users even when I supposed it should stop doing so!

We need to do a proper load testing investigation before releasing beta-3.

[2018-02-23 11:11] JimBobSquarePants commented on #470
@tocsoft What's your thoughts on this? I've seen it pop up a few times now. Where should I be looking to investigate?

[2018-02-23 11:38] tocsoft commented on #470
It will be an issue inside `SixLabors.Fonts` if its anywhere.
This method is the layout engine bit that decides exactly where text is placed.. https://github.com/SixLabors/Fonts/blob/master/src/SixLabors.Fonts/TextLayout.cs#L27

Thing to note about this is I'm pretty sure its setup to render glyphs in relation to their internal default line height not the actual vectors used to draw the glyph (bas

[2018-02-23 14:04] bvandier opened #473 "ResizeOptions instance can't be reused"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-24 13:48] JimBobSquarePants commented on #473
Hi @bvandier

I've been meaning to refactor that particular section of code for a while now. Once #474 is merged the options will be reusable.

Cheers

James

[2018-02-25 12:58] JimBobSquarePants commented on #470
I think we need to create reference implementations to compare against. I have no real idea what the correct behavior should be.

[2018-02-26 13:06] bvandier commented on #473
Thanks for taking the time to fix this!

[2018-02-27 18:55] vpenades opened #476 "Simplify Configuration by decoupling formats management into its own class."
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-27 19:35] antonfirsov commented on #459
Looks like we've [got a green light to fix this](https://www.nuget.org/packages/System.Memory/4.5.0-preview1-26216-02).
We just need to update the package reference + adopt a few API changes like `span.DangerousGetPinnableReference()` -> `MemoryMarshal.GetReference(span)`. @JimBobSquarePants should we add this to the beta-3 milestone?

[2018-02-27 23:59] ambroselittle opened #477 "Unexpected Behavior using Image.Load(Stream) with AWS S3 Source"
### Description
I am using the .NET AWS SDK to load from S3 using their GetObject, but I had to do "extra" work to get it to work with ImageSharp, while System.Drawing.Image.FromStream worked without that extra work.

### Steps to Reproduce

1. I added a package dep via nuget to the current latest (1.0.0-beta0002).
2. Using v3.3.17 of AWS S3 SDK, I call their GetObject method and attempt to load t

[2018-02-28 02:55] JimBobSquarePants commented on #459
@antonfirsov Yeah, let's add it, it should be a quick win.

[2018-02-28 03:51] antonfirsov commented on #459
According to gitter news a PR is actually being prepared for this :)

[2018-02-28 12:50] JimBobSquarePants commented on #477
Hi @ambroselittle

We chose to not automatically seek to the beginning of the stream for consumers because we wanted to be able to read streams where the image might not be at the beginning of the stream (This happens).

That behaviour catering for the minority makes it cumbersome for developers who don't want to have to set the position so should change.

**What we can do:**
I can make it so that

[2018-02-28 13:08] KANekT opened #481 "Bad RST marker For Mobile Jpeg Images"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-02-28 13:58] #464 closed

[2018-02-28 15:14] ambroselittle commented on #477
Hi @JimBobSquarePants,

Thanks for the help.

The code looks like this:
[code]

[2018-02-28 16:16] ambroselittle commented on #411
As a n00b to ImageSharp (and long-time commercial API guy), I can definitely say having even some basic docs goes a very long way. Prioritize: 1) a samples collection of the most common tasks, 2) good API docs.

Am I right that I currently need to browse the code to figure things out, or am I missing some docs somewhere?

[2018-02-28 17:32] antonfirsov commented on #411
@ambroselittle we have a few sample projects [in a separate repository](https://github.com/SixLabors/Samples/tree/master/ImageSharp), but yeah that's not well visible.

[2018-02-28 18:12] ambroselittle commented on #411
After inspection, it turns out my use case appears to be the default (for resize), so yay for good defaults! Thanks. 🎉

[2018-02-28 18:19] antonfirsov commented on #477
@JimBobSquarePants based on this answer, I don't think auto seeking is what the "just work" behavior meant to do here.
Looks like we just fail to copy the contents of the `MD5Stream ` to `MemoryStream` internally for some reason.

[2018-02-28 23:51] JimBobSquarePants commented on #477
@antonfirsov

OK.... This is getting a little confusing now. I wrote the following test code to consume an `MD5Stream` and run it past our copying code. It all seems to just work.

@ambroselittle Have you tried the nightlies from MyGet? I'm wondering whether we have changed something since the beta? And, I know this is a daft question but the response stream is definitely an `MD5Stream`?

Is there

[2018-03-01 02:49] ambroselittle commented on #477
Doh. My bad. Yup, definitely missing context that would prevent the repro. In my effort to simplify the code sample..

Bottom line is my `using` was in a method that assigned/returned a reference to the `MD5Stream`. I'm assuming that `Dispose` must mark the stream as unreadable, which is odd considering that copying it, it was still actually readable--even though I have to reset the position (whic

[2018-03-01 04:49] JimBobSquarePants commented on #477
@ambroselittle I'm just glad we figured this out! 😄

I don't know why System.Drawing would have worked on a disposed stream, maybe they don't do our additional check. We don't want to remove that `CanRead` check though as it eliminates potential bugs.

I think this discussion has proved fruitful though and the addition of reading control for seekable streams is a good one.

I'll close this once th

[2018-03-01 04:53] ambroselittle commented on #477
I think because it was inline there where you see it in the sample, i.e., inside the using. I tossed that in there without thinking about the different context myself, though it's obvious to me now..

[2018-03-01 04:54] JimBobSquarePants commented on #477
Ah of course!

[2018-03-01 06:43] JimBobSquarePants commented on #481
@antonfirsov

I checked the first image and we're throwing because when we check for the first expected RST marker we get 255,255 instead of 255,208.

https://github.com/SixLabors/ImageSharp/blob/bc65aead9b04bb911236f3b1fc67bd08773c8c2b/src/ImageSharp/Formats/Jpeg/GolangPort/Components/Decoder/OrigJpegScanDecoder.cs#L207

What I don't know is what we should do here. Do we rewind and continue? Shou

[2018-03-01 06:46] KANekT commented on #481
more foto/images: https://yadi.sk/d/dQ0zVKFu3StT7w

[2018-03-01 07:57] #473 closed

[2018-03-01 11:01] #477 closed

[2018-03-01 15:01] antonfirsov commented on #481
@JimBobSquarePants Depends on what RST marker is. Wish I knew, need to check it 😃

[2018-03-01 23:22] JimBobSquarePants commented on #481
RST markers are used to resync decoding of scan data when the image is corrupt.

They're distributed at an interval defined in the DRI (Define Restart Interval) marker. This means that every n MCU blocks a RSTn marker can be found. The first marker will be RST0, then RST1 etc, after RST7 repeating from RST0.

How you actually use them do do so is a mystery to me. I think however I've found the log

[2018-03-02 02:29] antonfirsov commented on #481
What happens if we ignore the verification?

[2018-03-02 02:30] JimBobSquarePants commented on #481
You get a partially decoded image. Same as PdfJs version.

[2018-03-03 07:17] #481 closed

[2018-03-04 07:56] KANekT commented on #481
My i use it in Nightly ? And since Version ?

[2018-03-04 10:25] JimBobSquarePants commented on #481
No worries.

Yeah, just grab the latest from here.

https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp

[2018-03-04 13:20] JimBobSquarePants commented on #223
@TodesBrot Would you be able to run a test against the latest nightly. We discovered a Mono bug which we reported and found a workaround for. I think it should have squashed the issue.

[2018-03-04 13:23] JimBobSquarePants commented on #248
Can someone test this issue please against the latest nightlies. We've squashed several png bugs and completely rewritten memory management to half the memory used by default.

[2018-03-04 13:25] JimBobSquarePants commented on #327
@antonfirsov is this still relevant?

[2018-03-05 15:49] vpenades commented on #435
There's much more image interops than just these, and imho, some critical ones that are worth of attention;

- DirectX, OpenGL and Vulkan textures.
- GPU Computing: OpenCL, OpenCV, Cuda, etc
- UWP has its own device image format called `Windows.Graphics.Imaging.SoftwareBitmap`, that is typically used along with `System.Windows.Media.Capture` namespace. To make things worse, the whole `System.Windo

[2018-03-05 19:17] TodesBrot commented on #223
@JimBobSquarePants I can confirm that the bug is gone now. Works like a charm! Great work!

[2018-03-05 19:17] #223 closed

[2018-03-06 00:30] JimBobSquarePants commented on #223
You can thank the wizard that is @dlemstra for that one!

[2018-03-06 00:35] JimBobSquarePants commented on #435
We're only writing these to help migration. I think it's up to individual library providers to create interop solutions. DirectX, OpenGL and Vulkan textures are going to be included in gaming engines and will be specific to their API's.

[Veldrid](https://github.com/mellinoe/veldrid/blob/master/src/Veldrid.ImageSharp/ImageSharpTexture.cs) for example has managed it without us having to write a lin

[2018-03-06 13:46] molinch commented on #447
@JimBobSquarePants @dlemstra  I have the same issue on .NET 4.6.2 do you have any advise in that case?

[2018-03-06 13:55] antonfirsov commented on #447
@molinch what version of [`System.Memory`](https://www.nuget.org/packages/System.Memory/) does does your project refer to? It's current (`4.5`) API is not backwards compatible with the previous `4.4` preview.

I assume your project is referencing the `4.5` preview, while ImageSharp beta has been compiled against `4.4`. In that case the solution is easy however: just check out our latest nightlies,

[2018-03-06 14:04] molinch commented on #447
In fact I was not using System.Memory before, it has been pulled when I got the latest prerelease for ImageSharp. So now I have System.Memory 4.5.0-preview1-26216-02

My assembly bindings got updated for some assemblies: System.Runtime, System.Runtime.Extensions, System.Reflection and some got added: System.Numerics.Vectors, System.Runtime.CompilerServices.Unsafe, System.Memory, System.Diagnostics

[2018-03-06 14:08] molinch commented on #447
Sorry I understand what you meant now :+1:
I will try to downgrade System.Memory then, I'd rather not use a nightly in production

[2018-03-06 14:14] antonfirsov commented on #447
NuGet is pulling the newest version by default as far as I understand.

@JimBobSquarePants this is a very serious issue, All new users + all users doing a NuGet update will encounter it. Fortunately *beta-3* is coming very soon.

[2018-03-06 14:19] molinch commented on #447
I agree for new users it's really a pain, even though it's Microsoft's fault since they unlisted their package...
For reference I ended up doing in my projects:
```Update-Package -ProjectName MyProjectName -Id System.Memory -Pre -Version 4.4.0-preview2-25405-01```

[2018-03-07 00:01] JimBobSquarePants commented on #447
Tut tut... You shouldn't be using a beta in production! 😉

Progress is moving swiftly with beta3 and we should have it out in the next few days - a week max.

We will be moving your cheese around though with lots of namespace changes (sensible ones). We should have API docs though to help you migrate.

[2018-03-07 07:24] molinch commented on #447
Yes you are right, I meant "future release" which will eventually go to production.
The thing is there are not so many alternatives when you need to process images on ASP.NET: System.Drawing shouldn't be used, WPF libs should of course not be used, ... What's left?

I think that I will anyway revert back to System.Drawing temporarily, even though that's a bad idea, since I added ImageSharp I have

[2018-03-07 11:38] KANekT opened #484 "How Add WaterMark"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-03-07 12:18] JimBobSquarePants commented on #484
Hi @KANekT

The issue tracker should only be used for issues, not questions (please read the contribution guidelines).
I'll answer though since it's your first offence 😝

We removed the size parameter from `DrawImage` because the internal clone required used too much memory.

See https://github.com/SixLabors/ImageSharp/pull/471

Instead you now have to resize the image before passing it to the oth

[2018-03-07 12:18] #484 closed

[2018-03-07 12:22] JimBobSquarePants commented on #447
We'll get there soon. It's difficult to build something like this when the goalposts are moved so often upstream.

Nothing simple about a thumbnail Have you seen the code in that class. Resizing it hard! 😄

[2018-03-09 17:02] cemalpolat opened #485 "İmage file size problem after image.save(...) is this problem coming from OS or do we need to change something in the code..?"
### Prerequisites

- [ ] I have written a descriptive issue title
- [ ] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-03-09 17:59] tocsoft commented on #485
please direct questions to our gitter channel as it says in our readme

[2018-03-09 17:59] #485 closed

[2018-03-09 18:26] cemalpolat commented on #485
Thank you,  Scott, for the answer so quick.  I am very new to using this channel. Please accept my excuse.:)
So the question for me was .. when I save the image, the size of a saved image is not the correct size.
I think this problem probably comes from my OS(Windows 10).  I wanted to know if is there another way to save the image in your library. Thank you very much.

[2018-03-09 18:46] cemalpolat commented on #485
This problem I have faced before. When I tried to save image as an object directly, no matter bitmap or image object in windows forms by c#, I had the problem.  The size of the saved image was always wrong. I do not remember but I think I have solved by using file stream class.. It may give a clue. I will try to find a way base on this experience.  Not sure If I can.

[2018-03-09 19:13] antonfirsov commented on #485
@cemalpolat can you be more specific? We hardly understand your issue.
When getting incorrect results: Are you trying to resize + save your image with `System.Drawing`? Or are you trying ImageSharp? (We do not depend on OS services at all btw.)
If you are looking for basic ImageSharp resize examples, just go through [our main README](https://github.com/SixLabors/ImageSharp#api).