[2022-05-12 08:00] brianpopow commented on #2117
Visually, I cant tell the difference, but the report says 30% of the pixels are different.

Expected:
![Skew_IsNotBoundToSinglePixelType_Bgra32_TestPattern100x50_20_10](https://user-images.githubusercontent.com/38701097/168021123-b515e569-a062-41ed-a7b0-3723a5a55299.png)

Actual:
![Skew_IsNotBoundToSinglePixelType_Bgra32_TestPattern100x50_20_10](https://user-images.githubusercontent.com/38701097/1

[2022-05-12 11:39] dfornero commented on #2115
Hi; Unfortunely I can not send you the original images; they are confidential information. I send you two jpg just to ilustrate what happen in this case.

[2022-05-12 11:43] JimBobSquarePants commented on #2115
Then I’m afraid the only way this potential issue could be fixed is by someone from your side submitting a PR with the fix. Without a means to replicate we have nothing to debug.

[2022-05-12 11:45] dfornero commented on #2115
Ok, thanks any way.

[2022-05-12 13:13] Alik2015 opened #2118 "net core 6 rending issue of Barcode"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-12 13:38] tocsoft commented on #2118
@Alik2015 this is most likely an issue on the https://github.com/micjahn/ZXing.Net/ end of things you should probably be raising an issue over there as we don't own ZXing,Net .

If it turns out to be an issue with ImageSharp itself I would expect the ZXing devs to raise an issue/PR to fix the issue so i'm closing this until its been looked at on the ZXing side first.

PS. when you raise issues on

[2022-05-12 13:38] #2118 closed

[2022-05-12 13:45] Alik2015 commented on #2118
Appreciate the suggestion and fixed by actually putting testable code.  I do believe the issue is with ImageSharp as it is responsible for the rendering and as you can tell from my code if Ssystem.Drawing is used all is well.

[2022-05-13 11:29] JimBobSquarePants commented on #2117
The difference is that the RGB components in the actual output for transparent areas are `255,255,255` vs `0,0,0`

![image](https://user-images.githubusercontent.com/385879/168273874-e2c747e2-a748-4e2b-b978-6437e3e0813a.png)

That it fails for skew and not rotate is confusing as the code differs only on the transform (_though that might make it possible to identify a cause_).

[2022-05-13 11:34] JimBobSquarePants commented on #1762
We're .NET 6 now so if someone wants to update the code to reflect the new pattern you have my blessing.

[2022-05-13 11:38] gfoidl commented on #1762
I can look into this next week.

[2022-05-13 12:21] JimBobSquarePants commented on #2117
I cannot replicate this locally. 😔

![image](https://user-images.githubusercontent.com/385879/168281880-2bdeaee9-b1a3-4bf8-9cf9-3493d31cc376.png)

[2022-05-13 12:28] JimBobSquarePants commented on #1762
Awesome @gfoidl thanks!

[2022-05-13 12:41] brianpopow commented on #2117
I can replicate it locally, but it seems not to happen always (but very often).

[2022-05-13 13:56] JimBobSquarePants commented on #2117
Intermittent! Whoa that’s weird!

[2022-05-14 14:16] brianpopow commented on #2117
To add another weird observation to the list: When executing the test via visual studio they always pass. Only executing the tests via command line fails occasionally.

[2022-05-14 20:07] marklonquist commented on #2107
That's awesome - any idea if there will be a 2.1.2 update where this might be in, or is this gonna be part of 3.0.0? 😄 Awesome work you guys are doing!

[2022-05-15 04:47] JimBobSquarePants commented on #2107
Thanks!

3.0.0 I’m afraid. Only super critical security issues will be back ported to 2x now. It’s too much effort to maintain multiple majors.

[2022-05-16 18:34] jsheely commented on #802
Did anyone figure out how to do it so it works like how Photoshop does hue processing. I'm not getting any yellow.

I'm not sure I understand how to use the Fix Colors Filters PR if that is a fix or not

[2022-05-17 18:15] jsheely commented on #802
@Nacimota Would you be able to post a function that handles the filter processing you were able to come up with?

[2022-05-17 22:10] #802 closed

[2022-05-17 22:11] JimBobSquarePants commented on #802
Hey @jsheely can you please stop spamming closed issues. If you have a problem report it properly like a professional

[2022-05-18 11:56] JimBobSquarePants commented on #2104
Hey @HappyCatKitten can you please answer the above question?

[2022-05-18 12:13] gfoidl opened #2121 "Vector{128,256} operations that use MmShuffle fall back to method call"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-18 13:57] JimBobSquarePants commented on #2121
@gfoidl This has been on my mind for a long while and I was actually thinking about it the other day.

Ideally I'd like to be able to keep using MMShuffle in some manner as it helps visual the operation and helps porting.
I was thinking maybe we could generate a bunch of constants for that using either T4 or source generators. Maybe even a full collection like the following.

https://github.com/jo

[2022-05-18 14:02] tannergooding commented on #2121
Another option is to use binary literals. `0b10_11_00_01` is a bit more readable and `0xB1` but less than `MmShuffle(2, 3, 0, 1)`

Defining constants like `public const int MmShuffle_2301 = 0b10_11_00_01` would also be viable and allow the optimization.

-- Getting the JIT to handle this properly is still on my radar, but its not "simple" and probably won't make .NET 7 unfortunately.

[2022-05-18 14:55] tannergooding commented on #2121
This pattern could be changed to effectively expose `Shuffle(op1)`, `Shuffle(op1, op2)` methods instead and those could themselves do `Shuffle(op1, MmShuffle_0123)` which would get optimized as expected.

The current issue in the JIT is that we are making a decision during "import" on whether or not a given call should be an intrinsic or left as a call. For most APIs this is "always intrinsic", fo

[2022-05-20 00:45] botinko opened #2123 "AccessViolationException when loading TIFF image"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-20 08:37] brianpopow commented on #2123
@botinko is it ok, if we use the provided image in unit tests?

[2022-05-20 09:00] botinko commented on #2123
Sorry, but this is an image from our client and it didn't give permission for that.

[2022-05-20 09:04] brianpopow commented on #2123
ok no problem, I will try to create a similar one with the same properties.

[2022-05-20 12:00] brianpopow commented on #2123
I think I found the reason for the Exception: See branch [FixIssue2123](https://github.com/SixLabors/ImageSharp/tree/bp/Issue2123)

While the image decodes now without errors, the colors seem to be wrong. The image is all pink. This indicates the wrong colorspace is determined. The image uses Jpeg compression and the `Photometric Interpretation` is YCbCr. It seems this should be decoded as RGB ins

[2022-05-20 14:54] brianpopow commented on #2123
tiffinfo is from libtiff, yes. The component id's of the jpeg data are 1, 2 and 3, which according to [jpeg_metadata](https://docs.oracle.com/javase/7/docs/api/javax/imageio/metadata/doc-files/jpeg_metadata.html#color), also indicates it should be YCbCr instead of RGB. So I also think there is something wrong with the image, but imagemagick can convert this image also without problems. Im not sure

[2022-05-20 15:00] br3aker commented on #2123
It's not that simple, component id is a 'hint' that this may be a YCbCr encoded image. Adobe APP14 marker decides what exact ebcoding was used, i.e.

[code]

[2022-05-20 16:30] botinko commented on #2123
Thank you, guys! For us, it was enough that there was no `AccessViolationException`, which causes the application to crash. I would like to get the Exception, which I can catch in case if image have wrong header.

[2022-05-20 19:13] brianpopow commented on #2123
Ok, I think I do understand now what is going wrong here with the colors:

The image has PhotometricInterpretation set to YCbCr and is JpegCompressed. What is happening now is that decompressor (jpeg decoder) will decompress the data and converts it from YCbCr to RGB, then the Tiff Decoder again converts to YCbCr, because the PhotometricInterpretation is YCbCr (which is one time too much). If the

[2022-05-21 01:54] christallire opened #2125 "[WEBP] SaveImage is taking more than x100 times slower in AWS Instance than my local machine"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-21 07:42] brianpopow commented on #2125
From your pod info it seems its running on ARM devices, the architecture is: `AArch64`. We heavily rely on hardware intrinsics only available for x86/x64 (SSE, AVX) for speed, with ARM we cannot use  those. That is very likely the reason for that.

We have a branch for adding some [ARM hardware intrinsics support](https://github.com/SixLabors/ImageSharp/tree/arm), but porting all webp intrinsics t

[2022-05-21 13:14] JimBobSquarePants commented on #2125
It's not just WebP, none of our custom intrinsics support ARM at the moment. Now we've dropped a bunch of targets I hope to greatly simplify a lot of our pipeline processes and add ARM intrinsics in the process.

[2022-05-23 01:53] christallire commented on #2125
Yup, I've expected that. since the dawn of .net core arm64 support, I've been poking everywhere around to get arm support ASAP👍🏿

[2022-05-24 13:11] br3aker commented on #2115
@brianpopow wait, TIFF images can be encoded with jpeg YccK color, right?

Usually such 'inverted' images could be generated via invalid rgb -> ycck conversion formula:

[code]

We also don't write APP14 marker for CMYK images which can be misinterpreted by some image showing software. CMYK/YccK is the only part in the jpeg format which can cause this (is given images actually used jpeg compressio

[2022-05-26 12:24] brianpopow commented on #2123
With #2124 merged, this issue is fixed. There is a new nuget version 2.1.2 of ImageSharp with this fix.

[2022-05-26 12:24] #2123 closed

[2022-05-26 13:49] JimBobSquarePants commented on #2117
I think it's got something to do with the way we unpremultiply `Vector4` instances in `Numerics` where the `W` value is `0`.

We actually get 1 of two possible values from both the scalar and simd versions.

If the input `XYZ` values are `0` then you get `<NaN, NaN, NaN, 0>`
If the values are greater than `0` then you get `<∞, ∞, ∞, 0>`

Now what I think is happening is that when we are converting

[2022-05-27 09:38] brianpopow commented on #2117
Maybe handling of NaN/Infinite has changed in .Net7.0? It's still weird that this does not always happens.

[2022-05-27 11:51] arklumpus opened #2129 "Infinite loop when calling GenerateOutline with width=0 and a dash pattern"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-27 11:52] JimBobSquarePants commented on #2129
Wrong repository. I'll move it.

[2022-05-28 00:33] gabrielmaldi opened #2131 "Base Image<IPixel> type for methods such as ProcessPixelRows"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-28 11:04] br3aker commented on #2131
I can't understand the problem here. How can we define `ProcessPixelRows` at the base class where we don't know the exact pixel type? What would be the delegate type for this? Right now it's defined this way:

[code]

In `Image<TPixel>` we know a `TPixel` type. The whole point of base `Image` class is the you don't know/care about the specific pixel type used. So there's no way to provide a 'base'

[2022-05-28 16:32] gabrielmaldi commented on #2131
@br3aker, thank you. I think I presented this issue in the wrong way by proposing a specific solution (i.e. defining the method in the base class) instead of stating the problem I'm facing.

My processing code is the same for all pixel types. Currently, I resorted to creating this generic method:

[code]

And I'm using it like this:

[code]

But it feels like there might be a better way in the lin

[2022-05-28 18:29] br3aker commented on #2131
@gabrielmaldi there's actually the only way to implement it, you have your own pixel type and want to map it to ImageSharp pixel type.

`Image<IPixel>` cannot be declared because all pixel types are value types.

[2022-05-28 18:38] #2131 closed

[2022-05-28 18:53] TonyValenti opened #2132 "Loading TIFFs is 50x Slower"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-28 19:36] brianpopow commented on #2132
@TonyValenti If you buy a license, I could take a look into this. I have some idea's why this might be slow.

[2022-05-28 19:58] TonyValenti commented on #2132
@brianpopow Done!  I'd be surprised if you got a 50x speedup as well, but I'd be quite happy with 49x.  :-)

[2022-05-28 20:12] br3aker commented on #2132
Won't be surprised if SDI uses the same 'optimization' technique as in jpeg decoder-encoder with caching the initial file if image wasn't changed. I'll actually test it right now.

[2022-05-28 21:26] brianpopow commented on #2132
@TonyValenti Is it ok for you, if we use the image you have provided in our benchmarks?

[2022-05-28 22:29] TonyValenti commented on #2132
Yep!

[2022-05-29 00:54] JimBobSquarePants commented on #2131
Use this.

https://docs.sixlabors.com/articles/imagesharp/pixelbuffers.html#parallel-pixel-format-agnostic-image-manipulation

[2022-05-29 01:55] TonyValenti commented on #2132
Also, I'm sure you've noticed, but it seems like memory usage explodes too.

[2022-05-29 02:57] JimBobSquarePants commented on #2132
Let’s do some proper benchmarking. Those tests above will be wildly inaccurate

[2022-05-29 04:00] gabrielmaldi commented on #2131
@JimBobSquarePants, thank you! Looks promising, will take a look.

[2022-05-29 07:58] lifeglam opened #2133 "2.1.2: Jpeg YCbcr encode cause pink color blur"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-30 04:06] w-michal opened #2136 "InvalidImageContentException "Input stream does not have enough bytes to parse declared contents of the 00 marker" when loading JPG created by Brother scanner"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-30 08:52] br3aker commented on #2136
Yes, your file is corrupted but it still can be decoded. For whatever reason scanner appends some data to scan segment - 'N extraneous' in each restart marker ('0xd0-0xd7). But it's not that bad, the real problem lies in the last bytes of the image:

[code]

According to the specs, any FFXX hex sequence out of scan segment is considered a marker which is not true in this specific situation. Most l

[2022-05-30 12:36] antonfirsov commented on #2131
Note that `ProcessPixelRowsAsVector4` can be a bit more expensive for this use case. Another way is to implement a custom `IImageProcessor`, but it's quite complex since it was designed for exposing library features.

The easiest trick to do generic pixel processing code is to implement an `IImageVisitor`:

[code]

[2022-05-30 12:47] gabrielmaldi commented on #2131
@antonfirsov, thanks!

I tried `ProcessPixelRowsAsVector4`:

[code]

But for some reason my QR is not generated correctly (full vertical stripes across the image). I didn't want to spend more time on this so I stuck with my earlier solution.

I agree that an ImageVisitor is perhaps overkill for my current use-case, but it's good to know about it for future use!

Thanks again.

[2022-05-30 12:53] brianpopow commented on #2133
closed via #2135

[2022-05-30 12:53] #2133 closed

[2022-05-31 15:16] JimBobSquarePants commented on #2075
It’s more than a little disappointing that you took so long to get back to us. I’m not sure what you expect us to be able to do.

[2022-05-31 16:08] alex-jitbit commented on #2075
@JimBobSquarePants Sorry about that. It's OK I'll just stick to v1 then. JFYI it appears it's not related to some particular image, but to a high-load scenario with ~15k requests per minute. Must be the new pooling/pool trimming mechanisms.

[2022-06-01 16:43] antonfirsov commented on #2075
@alex-jitbit you can't stay on 1.0 forever, so it would be great to give another try to figure this out :)

Is 2 days the actual up-time before your high-load service dies? What does your service do? (=what ImageSharp API-s are called).

[2022-06-01 18:40] arklumpus opened #2406 "ImageProcessingException when using DrawImage to draw an image outside of the original image's bounds"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-06-02 08:56] alex-jitbit commented on #2075
@JimBobSquarePants I will add an AppDomain.UnhandledException handler and try to gather more info and get back to you.

@antonfirsov [here](https://github.com/SixLabors/ImageSharp/issues/2075#issuecomment-1079727642) is the code we use. Our app a is CRUD business app with file attachments, that simply generates thumbnails for UGC images before storing those on CDN.

[2022-06-03 00:43] ethanrushh opened #2139 "Memory allocation oversight when processing Image types"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-03 08:55] br3aker commented on #2139
Managed types can't be leaked, only if they were allocated by `ArrayPool`, can you check their root object holding them?

[2022-06-03 13:02] Hellobaka opened #2140 "System.ArgumentOutOfRangeException when draw a text contains "/""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-03 13:06] JimBobSquarePants commented on #2140
Wrong repository (should be Fonts repository) and also a duplicate.

[2022-06-03 13:06] #2140 closed

[2022-06-03 14:59] jaddie commented on #2107
Wait V2 has only just come out and its already going to end up with rather critical bugs in it like this that basically render the use of webp pointless? This is a bit of a shame as Umbraco has just in V10 which is about to be released upgraded to V2 of ImageSharp & now its going to have a defective webp implementation all the way until V3 comes out presumably?

Apologies if I am being daft & miss

[2022-06-03 15:19] ethanrushh commented on #2139
I'm not 100% sure what you mean by that but this is the code thats calling my script. Its a public class with nothing in it really except that method (it could be static but I'm planning to add features that would mess that up)

[code]

It should be noted that `generator.Dispose()` does nothing currently however the function being called by `generator.GenerateExample` is precisely the same as the

[2022-06-03 15:24] JimBobSquarePants commented on #2107
It’s not a critics bug. Color profiles are optional.

We don’t want to support legacy target frameworks. It’s a ton of work that we don’t get paid to do nor are obligated in any way to do.

[2022-06-03 15:26] JimBobSquarePants commented on #2140
If you target the latest version of the fonts library it will go away.

[2022-06-03 15:29] br3aker commented on #2107
You can backport it to v2.0 it if you need/want to.

[2022-06-03 15:30] br3aker commented on #2139
That's strange, `GC.Collect()` does a full gen0-gen2 collection so if they has no root - they should be collected. Can you please attach a couple of example images so I can test it locally?

[2022-06-03 15:44] jaddie commented on #2107
So what needs to be done to fix the bug in ImageSharp that means its not generating the webp image correctly, an example case as attached:
[New folder (3).zip](https://github.com/SixLabors/ImageSharp/files/8833441/New.folder.3.zip)

The webp file in there, is generated at a width of 1500px from a webp file as the source by ImageSharp.
The jpg file in there is also generated from the same source we

[2022-06-03 16:06] jaddie commented on #2107
Just to put a note here in case it helps anyone else, albeit not an ideal solution, in the mean time it seems that V3 does not suffer this issue, for any Umbraco users, if you upgrade your own project to the pre-release V3 of ImageSharp while still using ImageSharp.Web 2, the site will work fine and load but without this bug happening, hope that helps someone out! 👌

[2022-06-03 16:18] JimBobSquarePants commented on #2107
That is not a wise solution. There is guaranteed breaking changes to V3 including license changes.

You can follow PRs linked to this issue to see required changes. If you want to put the effort in, we’ll accept that, otherwise this is just unhelpful noise.

[2022-06-03 17:22] marklonquist commented on #2107
Just out of curiosity; what kind of license changes? Anything us business users need to be aware of?

[2022-06-03 23:10] JimBobSquarePants commented on #2107
Nothing. Because business users should be buying commercial licenses

[2022-06-04 01:19] Hellobaka commented on #2140
thank you, I install the latest `SixLabors.Fonts` nuget and the problem has gone.

[2022-06-04 03:51] ethanrushh commented on #2139
Sure thing.
https://drive.google.com/file/d/11uurQMojLmGc2eoEbS89oPL7c3s9divS/view?usp=sharing
There is a compressed folder of example images. I tested with those and the program did what I expected it to do just fine (including the proposed memory leak still)

[2022-06-04 13:53] CryShana opened #2141 "Reading incorrect color data when JpegColorType is Rgb."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-04 14:00] brianpopow commented on #2141
@CryShana this is probably already fixed with #2135. Can you try our nightly build form the [MyGet feed](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp)?

[2022-06-04 14:05] CryShana commented on #2141
Ah, you are correct. I just checked out the `3.0.0-alpha.0.11` version of ImageSharp and it works now.

Do I close this issue?

[2022-06-04 14:17] #2141 closed

[2022-06-04 20:55] br3aker commented on #2139
Okay, tested it locally - allocations are small enough to fit into ,net builtin `ArrayPool` allocator:

![image](https://user-images.githubusercontent.com/20967409/172024994-c3636726-3655-4894-a7cd-dadaca65b7c6.png)

@JimBobSquarePants this can be closed as invalid as it's working as intended but it got me thinking maybe we should make this unmanaged allocator ctor public?

[code]

Or add a flag o

[2022-06-05 03:08] ethanrushh commented on #2139
We need a flag to turn off memory allocations. This isn't a memory leak then however it is still a bug as it will crash before reusing its own pools. If you run that enough times it'll keep filling up until there is no memory left and the application crashes instead of freeing up space.

We need either a flag to disable the memory pool or a way of reliably resetting/clearing it.

[2022-06-05 11:20] br3aker commented on #2139
No, it won't 'crash'. You didn't provide a code to actually crash or even test such behaviour. `ArrayPool` allocates up to X amount of buffers for an app lifetime and reuses them. If you don't like this behaviour - report it to the dotnet team then, this repo has nothing to do with dotnet internals.

This isn't a:

1. memory leak as `byte[]` buffers are managed and retained by `ArrayPool` which is

[2022-06-05 12:58] ethanrushh commented on #2139
My apologies if that came across as hostile, it really wasn't meant to. I think the project is really awesome and fills a gap in .NET and I'm just looking to make this work for my project. Once again, apologies.

That is the expected behaviour but not what I'm seeing. They don't get freed for me like they do for you they just keep building up until all my 32GB of memory has been allocated and the

[2022-06-05 13:13] br3aker commented on #2139
Test on a very basic scenario without any callbacks or UI. Just plain:

[code]

Otherwise we can catch some non-related memory leaks.

BTW it's really strange that you have these objects alive after GC collections and dispose:
![image](https://user-images.githubusercontent.com/20967409/172051834-eddcf2d7-de9c-4f31-a765-89b55cca46e9.png)

----------------------

For your project code you can also d

[2022-06-05 13:25] ethanrushh commented on #2139
Looks like when not hooked up to any UI at all it doesn't happen. Sorry for my misunderstanding here. How would you suggest I get around that? I'm not entirely sure how I would dissociate the event handler from the instance of the generator from the perspective of the garbage collector. Any ideas?

Thanks so much for your time thus far, it means a lot that you'd look into this.

I did try doing th

[2022-06-05 13:43] br3aker commented on #2139
It does matter if you catch variables from outer scope.

Wild guess: event handler memory leak.

If you have something like this:

[code]

First of all, if you have dotMemory - take a couple of snapshots and look at the 'Event handlers leak', if you have increasing number of subscribers - most likely it's the only cause of this memory leak.

[2022-06-05 16:49] br3aker commented on #2136
Found a problem, scan segment has a lot of unused bytes starting from this position:

[code]

[2022-06-06 01:53] ethanrushh commented on #2139
I'm not catching any variables from an outer scope. My workflow consists of never touching any imagesharp functions outside of the method I shared with you. Instead, I save as a PNG and then load that using Avalonia's Bitmap toolkit (which can handle PNG files) *so that* none of the variables could be being used in an outer scope.

I'll play around with it and see what I can do with some memory pr

[2022-06-06 01:53] #2139 closed

[2022-06-06 09:19] #2136 closed

[2022-06-06 09:33] brianpopow commented on #2136
@w-michal thanks to @br3aker this is fixed now with #2147, but maybe you should report that to the brother scanner support. Those jpeg's are weird.

[2022-06-09 00:57] TonyValenti opened #2148 "ImageSharp generates Fatal error. Internal CLR error. (0x80131506)"
### Prerequisites

- [X] I have bought a Commercial License
- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%

[2022-06-09 00:58] TonyValenti commented on #2148
Also, please note, this only affects executables published with ReadyToRun.  "Regular" DEBUG and RELEASE executables work fine.

[2022-06-09 02:42] brianpopow commented on #2148
This could be related to https://github.com/SixLabors/ImageSharp.Drawing/issues/93

The error message in [ImageSharp.Drawing-Issue93](https://github.com/SixLabors/ImageSharp.Drawing/issues/93) and the stack trace in [.Net-Issue70341](https://github.com/dotnet/runtime/issues/70341) both suggest that it has something to do with `System.ValueTuple`, but I am not sure how.

[2022-06-09 03:08] brianpopow commented on #2148
@TonyValenti I am not sure what we can do about this issue. This looks for me like an upstream issue.

[2022-06-09 07:46] JimBobSquarePants commented on #2148
@TonyValenti has kindly already reported this upstream for us. Good to have a tracking issue I think for stuff like this despite us being unable to do much about it.

[2022-06-09 16:22] brianpopow commented on #2132
With #2134 merged to main, the image linked here should decode much faster. The image uses Fax4 compression, but all fax de-compression should be faster now.

You can try it out with our latest [nightly](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp)

[2022-06-09 16:22] #2132 closed

[2022-06-10 17:14] brianpopow commented on #2115
@CREFaulk without the image, it's nearly impossible to tell what's wrong (I guess something goes wrong while decoding).

What happens, when you convert the image to a png with imagemagick?

`magick convert image.tiff image.png`

Does the resulting png look as you expect? Is it different from what ImageSharp produces when you save it as a PNG?

[2022-06-10 17:22] CREFaulk commented on #2115
Here is the image info from imagemagick. https://pastebin.com/eaB7puQ6

If I convert to a png it looks as it should although obviously as separate images.

[2022-06-10 17:41] brianpopow commented on #2115
Thanks for the image info. Nothing too fancy there. Endianess is lsb, tiff:photometric: min-is-black and compression is group4. We have such test images in our unit tests working.

How did you convert it? Does converting with imagemagick work as expected or converting with ImageSharp to PNG also works as expected, but not when you encode it as Tiff?

[2022-06-10 18:05] CREFaulk commented on #2115
`public byte[] PdfFromImage( string fileName, byte[] documentBytes )
{
	byte[] byteResult;

	using ( var ms = new MemoryStream( documentBytes ) )
	{
		var document = new Aspose.Pdf.Document();
		ms.Position = 0;
		IImageFormat format;
		var imageHeight = 0;
		var imageWidth = 0;
		var bytes = ms.ToArray();
		using ( SixLabors.ImageSharp.Image bitmap = SixLabors.ImageSharp.Image.Load( ms, out forma

[2022-06-10 20:19] TonyValenti opened #2149 "Regression in TIF image loading"
### Prerequisites

- [X] I have bought a Commercial License
- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%

[2022-06-10 20:20] brianpopow commented on #2115
That means the decoder could be the problem. Again without a test image, I cannot do much.

Most of the code has nothing to do with ImageSharp, try simplify the example.

[2022-06-10 20:41] brianpopow commented on #2149
The commit causing this seems to be: 57349fd0

Not sure why the tests did not catch this one.

[2022-06-10 21:26] TonyValenti commented on #2149
@brianpopow Is it an easy fix?  If so, can you let me know when you push the update?  I'm working on a time-sensitive project.

[2022-06-10 22:14] CREFaulk commented on #2115
Well, I guess I could have tried the obvious...
if(format.Name.Equals("TIFF"))
{
    frame.Mutate( x => x.Invert() );
}

I'm getting images from a third party repository and in my case they have social security numbers and whatnot in them so creating a test image that matches the original might be tricky. Pretty sure the issue is with the original PhotoMetric setting.

I'll see if I can reproduce

[2022-06-11 10:29] JimBobSquarePants commented on #2149
I’ll create a PR later.

[2022-06-11 14:05] brianpopow commented on #2149
I think we need to clear the destination for the decompressed data here to fix it: https://github.com/SixLabors/ImageSharp/blob/a194b9ead7e6a930f9545f63545ef7bc6bf8c96f/src/ImageSharp/Formats/Tiff/Compression/Decompressors/T6TiffCompression.cs#L54

[2022-06-11 15:46] brianpopow commented on #2149
The issue only happens when there are multiple strips in the image. The current test images only have one strip.

Here is a test image replicating the issue:
[Group4CompressionWithStrips.zip](https://github.com/SixLabors/ImageSharp/files/8884253/Group4CompressionWithStrips.zip)

[code]

[2022-06-12 11:37] brianpopow commented on #2149
I have opened a PR to fix this: #2150

[2022-06-12 14:00] TonyValenti commented on #2149
Thank you so much!

I'm not sure how imageSharp manages the PR > commit > beta build process but I'll check in on the MyGet page throughout the day and hopefully a new build will appear soon!

[2022-06-12 14:21] brianpopow commented on #2149
There will be a new MyGet beta version, once the PR is merged to the main branch.

[2022-06-12 15:32] TonyValenti commented on #2149
Thanks!  Do the PRs merge automatically or manually?  I noticed that the PR says it is unable to merge.

[2022-06-12 16:12] brianpopow commented on #2149
Its manually, another one from the ImageSharp team needs to review the changes first.

[2022-06-13 01:35] #2149 closed

[2022-06-13 10:36] brianpopow commented on #2149
@TonyValenti there is now a `alpha.0.20` version with the fix.

[2022-06-13 12:19] hey-red opened #2152 "Wrong colors when saving image"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-13 12:26] brianpopow commented on #2152
This could be a duplicate of #2141. Can you try our latest beta version from our [MyGet Feed](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp)?

[2022-06-13 12:31] hey-red commented on #2152
@brianpopow Yes, it's works. Sorry, I didn't see that PR.

[2022-06-13 12:31] #2152 closed

[2022-06-13 15:18] TonyValenti commented on #2149
@brianpopow Thank you so much!  I'm testing it now.

[2022-06-14 12:36] #1762 closed

[2022-06-16 00:44] Hellobaka opened #2154 "When load an animated webp image throws "SixLabors.ImageSharp.ImageFormatException: Unexpected chunk followed VP8X header" exception."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-16 05:48] brianpopow commented on #2154
Decoding animated webp images is not supported in 2.1.2, but the error message is wrong though. The expected error message should have been `NotSupportedException`, but the `ANIM` chunk is not recognized as an optional VP8X chunk.

The error does not occur in `main`. Decoding animated webp images was added recently with #1985. For missing webp features see #1802.

You can try our [nightly build](h

[2022-06-16 07:37] sarunsankar opened #2155 "Add Custom Parameter to the request url for caching"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-16 10:35] urcllr opened #2156 "Get wrong RGB value"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-16 11:36] brianpopow commented on #2156
This could be a duplicate of #2141. Can you try our latest beta version from our [MyGet Feed](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp)?

[2022-06-16 14:02] #2154 closed

[2022-06-17 04:09] urcllr commented on #2156
I read that post before but I dont think my problem is not so significant as his. Now the best way is to try beta version. Thanks all helpers and sorry for my bother.

[2022-06-17 04:09] #2156 closed

[2022-06-17 13:23] JimBobSquarePants commented on #2107
Fixed in v3 alpha

[2022-06-17 13:23] #2107 closed

[2022-06-17 13:28] br3aker commented on #2156
@urcllr be aware that your image has ICC profile which ImageSharp doesn't take into account during color conversions yet.

[2022-06-19 18:40] br3aker opened #2158 "Do tests really use images from 'ReferenceOutput' folder?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-20 01:38] vindhya124 opened #2159 "image sharper throws invalidimagecontentexception"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-20 06:30] br3aker commented on #2159
Reupload the image please, you have a corrupted link.

[2022-06-20 07:05] vindhya124 commented on #2159
Below is the image.

![fa0c158e-1c82-40fb-808e-aea100dbfeeb](https://user-images.githubusercontent.com/38023844/174543954-32856074-eb03-4333-b5ba-b34b24a2f44e.jpg)

[2022-06-20 07:42] br3aker commented on #2159
Can't reproduce it. Most likely it was fixed in some of the `2.1.X` versions, [can you check newest 2.1.3 version](https://github.com/SixLabors/ImageSharp/releases/tag/v2.1.3)?

[2022-06-20 08:52] vindhya124 commented on #2159
It worked with the latest version. Thank you mate.

[2022-06-20 08:53] vindhya124 commented on #2159
Visual studio is showing 2.1.0 as the latest version.

[2022-06-20 08:53] #2159 closed

[2022-06-20 21:33] antonfirsov commented on #2158
Nice catch! Looks like a bug sneaked into our `PngEncoderTests` code and we are comparing the image to itself instead of the reference file :)

https://github.com/SixLabors/ImageSharp/blob/75dc96a27f5120451a5a8c00c75d0eaeff68437c/tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs#L624-L628

Other encoder tests seem to be correct.

[2022-06-20 21:50] antonfirsov commented on #2158
Most tests are using a utility method `VerifyEncoder`:

https://github.com/SixLabors/ImageSharp/blob/2aa150c28bfcc0bf3238a4b39d8a3a667f3f9f53/tests/ImageSharp.Tests/Formats/Bmp/BmpEncoderTests.cs#L364-L365

It compares the original image to the one re-decoded from the ImageSharp encoder output by a reference decoder, therefore doesn't need reference images. Questionable approach for Jpeg, but stil

[2022-06-21 05:04] Kimi-Arthur opened #2163 "Why doesn't Image.Save have an overload for Save(Image, string, IImageFormat)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-21 05:06] JimBobSquarePants commented on #2163
Don’t use the issue tracker for questions. See the readme.

[2022-06-21 05:06] #2163 closed

[2022-06-22 05:54] 929496959 opened #2164 "*. Png the value of "resolution" attribute obtained from "system.drawing.bitmap" and "image.metadata" is different"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-06-22 05:56] 929496959 commented on #2164
![1655877357601](https://user-images.githubusercontent.com/49754986/174954008-1d388f88-ccef-4a5e-b16a-6e7b9a4313f2.png)

[2022-06-22 05:59] 929496959 commented on #2164
`

HttpClient client = new HttpClient();
//https://up.enterdesk.com/edpic_source/f9/95/bc/f995bc5dde86c8a32c478ac2e4ba6bd0.jpg
//http://img2.3png.com/70ee2b9d2f33557d693baccdf7a79bcda3de.png
//http://i.qqkou.com/i/1a2152275414x3673602278b26.jpg
//http://img2.3png.com/b6004052068d422d69c02d1c1e3de494f5d5.png
var imagebytes = client.GetByteArrayAsync("http://img2.3png.com/b6004052068d422d69c02d1c1e3

[2022-06-22 06:09] JimBobSquarePants commented on #2164
Given `http://img2.3png.com/b6004052068d422d69c02d1c1e3de494f5d5.png` (_which is actually a jpeg_) and testing the file independently with [ExifTool](https://exiftool.org/) we can see that System.Drawing is incorrect in this case.

`X Resolution`  and `Y Resolution` properties both match our output. That would indicate that the `Metadata.ResolutionUnits` property is `PixelResolutionUnit.AspectRati

[2022-06-22 06:55] 929496959 commented on #2164
Sorry, I didn't expect that the extension and file header don't correspond

[2022-06-22 06:56] #2164 closed

[2022-06-22 13:24] JimBobSquarePants commented on #2158
@antonfirsov We actually do the same in the Bmp Encoder tests for quantized images.

[2022-06-24 03:13] JimBobSquarePants commented on #1433
I might be missing something but I'm a little concerned about the `Rgba32` requirement here. We're going to need 16bit precision per component.

[2022-06-24 12:09] antonfirsov commented on #1433
Yeah, internally we would have to convert the components to 16bit just like most jpeg calculations do. This means that it might make sense to expose an `Rgba64` API and do the widening/narrowing on the call site, or we can even consider making the API generic and enabling individual porter duff implementations through `PixelOperations<T>`, or a parallel type.

We will know better when we'll have a

[2022-07-06 11:17] Bxaa opened #2168 "Decoding DXT\Uncompressed SRGB DDS is broken"
<a href="https://ibb.co/GTXbcLz"><img src="https://i.ibb.co/GTXbcLz/Wrong-Decode.jpg" alt="Wrong-Decode" border="0"></a>

Example DDS:
https://drive.google.com/file/d/1pPE6i9f1EIstbKnXi61xQZLB8OBrXqyb/view?usp=sharing

[2022-07-06 11:24] tocsoft commented on #2168
Can I ask why you thought it was appropriate to completely disregard our issue template? so much so you filled it in then promptly edited your ticket to remove it all?

if you don't have the respect for us to fill in a simple form which will help us reproduce your issue then what makes you think you will receive any kind of support for your issue.

[2022-07-06 11:24] #2168 closed

[2022-07-06 11:51] Bxaa commented on #2168
Because I am using your latest version and platform of your version
Apparently I would not have reported the error if I was using an older version or a different platform for example.

I attached a texture for you to reproduce the problem. What else do you need? The title explicitly states that all srgb is not decoded correctly

[2022-07-07 12:50] JimBobSquarePants commented on #2168
This post is not constructive and will only serve to undermine a focus on actual technical concerns.

Please don't post issues like this. We have locked this issue and banned this account.

[2022-07-08 08:45] uihyeon22 opened #2170 "Different Size Tiff to Jpg"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-07-13 02:41] MrZnake opened #2171 "Webp with lossy conversion weighs a lot more than lossless."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-07-13 10:43] brianpopow commented on #2171
Thanks @MrZnake for this bug report. I am working on a fix for this.

[2022-07-14 07:58] teamnimbus opened #2174 "Jpeg loaded with pink color blur"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-07-14 10:08] brianpopow commented on #2174
The image has 3 components with no subsampling, that's why ImageSharp deduces the colorspace to RGB. It seems it should be YCbCr instead, but I am not sure how we can come to this conclusion from the components info's. The component Id's are 0, 1 and 2.

I wish the jpeg spec would define the color space properly. This guessing the colorspace from the component info's really gets out of hand.

[2022-07-14 11:26] br3aker commented on #2174
Actually it should be ycbcr regardless of the components' ids: 3 components without APP14 marker is YCbCr. RGB colorspace is defined by App14 marker with `flag=0`.

AFAIR we had this check did we change it some time ago?

[2022-07-14 12:52] br3aker commented on #2174
I guess we just need to remove final if check here and return ycbcr as a fallback colorspace:

https://github.com/SixLabors/ImageSharp/blob/e7a10b0c23bc4dfe4e7254a17068234f9ed7b673/src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs#L534-L540

[2022-07-14 13:11] JimBobSquarePants commented on #2170
Duplicate of #2113

As the exception describes. Tiff files with frames of different dimensions are not currently supported.

[2022-07-14 13:11] #2170 closed

[2022-07-14 13:12] JimBobSquarePants commented on #2117
We need to add a bunch of diagnostic information to the output when something fails. I'm going to write some code to do this.

[2022-07-14 13:21] JimBobSquarePants commented on #2174
Was just reading through the decoder there as the condition looked incorrect. Agreed on the fix.

[2022-07-15 06:25] br3aker commented on #2174
I'll open PR today.

[2022-07-16 04:20] JimBobSquarePants commented on #2117
@brianpopow I managed to capture the environmental values for the Windows failure.

[code]

[2022-07-16 08:47] brianpopow commented on #2117
The spec of this [processor](https://ark.intel.com/content/www/de/de/ark/products/192475/intel-xeon-platinum-8276l-processor-38-5m-cache-2-20-ghz.html) says it has AVX and AVX2, so this seems a different issue then the one reported in #2173.

I still believe it has something to do with how NaN is handled, but it baffles me that this is only happening occasionally.

[2022-07-16 08:49] JimBobSquarePants commented on #2117
Yep. Definitely different.

What I don't understand is why `Bgra32` only? I couldn't find anything in our pipeline that would make conversion from `Vector4` different. We just shuffle the values first.

[2022-07-16 12:16] br3aker opened #2178 "Possible false positive memory leak reports in tests"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-07-16 15:36] br3aker opened #2179 "Tiff tests failure in Debug mode"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-07-16 15:36] br3aker commented on #2179
@brianpopow

[2022-07-18 02:31] #2174 closed

[2022-07-18 04:47] JimBobSquarePants commented on #2178
I think you are onto something here. The concurrent dictionary does not protect us in this case.

[2022-07-24 02:11] The-MAZZTer opened #2188 "Nuget Page License is Wrong"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-07-24 02:47] JimBobSquarePants commented on #2188
No it’s not. That’s v2. Please read #2151

[2022-07-24 02:47] #2188 closed

[2022-07-27 07:32] JimBobSquarePants commented on #2178
I wonder if we can simply get away with sticking a lock round it.

[2022-07-27 09:11] br3aker commented on #2178
Yes I believe but it can downgrade test performance. Situation when two threads access same image reference should be fairly rare to use a lock here. Maybe we can use something like this?

[code]

Yes, this still allows same image to be loaded multiple times but we don't introduce a lock for every test which uses this image. Lock doesn't really cost much if nobody actually waits on it but problem

[2022-08-03 12:16] brianpopow commented on #2171
@MrZnake this should be fixed with #2173. If you have time could you confirm that with our nightly [MyGet](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp) build?

[2022-08-03 12:34] MrZnake commented on #2171
@brianpopow it looks like it's okay now. Output files looks like this:
![image](https://user-images.githubusercontent.com/20782978/182608794-50a233f3-63f4-403e-ab51-662895f65089.png)

[2022-08-03 12:36] brianpopow commented on #2171
Ok, thanks for confirming, closing this then.

[2022-08-03 12:36] #2171 closed

[2022-08-04 17:04] sescandell opened #2198 "Loading a GIF results in a bigger file"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-08-06 22:47] EgorBo commented on #2117
The `PlatformNotSupportedException` issue on Avx1-only CPU was fixed in .NET 7.0 (should make it to RC1) via https://github.com/dotnet/runtime/pull/72522

[2022-08-07 13:09] brianpopow commented on #2117
@EgorBo thanks for the feedback, happy to see the `Vector256.Create` issue to be fixed!

I think there is another issue with the two `Skew_IsNotBoundToSinglePixelType` tests failing, maybe unrelated to AVX1 since it was reported on a machine with AVX1 and AVX2 available.

[2022-08-09 10:44] brianpopow commented on #2179
closed via #2201

[2022-08-09 10:44] #2179 closed

[2022-08-11 13:14] JimBobSquarePants commented on #1476
Fixed via #2120

[2022-08-11 13:14] #1476 closed

[2022-08-11 13:15] JimBobSquarePants commented on #808
Fixed via #2120

[2022-08-11 13:15] #808 closed

[2022-08-11 13:15] JimBobSquarePants commented on #1713
Fixed via #2120

[2022-08-11 13:15] #1713 closed

[2022-08-11 13:16] JimBobSquarePants commented on #1238
Fixed via #2120

[2022-08-11 13:16] #1238 closed

[2022-08-12 16:29] tinyTarrasque opened #2202 "Resizing from PNG to JPG is done poorly in 2.0.0 and higher. It worked alright in 1.0.4"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-08-12 16:31] tinyTarrasque commented on #2202
Unsure if the image uploaded properly. Here's the URL where you can get it:

https://theecontentstorage.blob.core.windows.net/tecs-imagenes/7506475103718_L5.png

[2022-08-12 17:27] sescandell commented on #2198
Hi @JimBobSquarePants

It's a mix of random GIFs from Giphy for example and some made with the tool [Canva](https://www.canva.com/fr_fr/creer/gif-maker/)

[2022-08-12 18:00] brianpopow commented on #2202
@tinyTarrasque It seems that the metadata is causing this. The XMP Profile is 4MB large. If you set it to null:
[code]

the image size will be ok again.

[2022-08-12 18:06] brianpopow commented on #2202
Now that I am thinking about it, there is maybe an issue here. The XMP profile should actually not exceed 65533 bytes.

[2022-08-12 18:40] brianpopow commented on #2202
@tinyTarrasque Is it ok, if I use your image in a unit test?

[2022-08-12 18:44] tinyTarrasque commented on #2202
@brianpopow Of course!

[2022-08-14 12:25] br3aker commented on #2202
@tinyTarrasque can you please specify what's the exact problem you've encountered?
I've reencoded your image with current `main` branch build and got valid output jpeg image.

[2022-08-14 19:20] tinyTarrasque commented on #2202
@br3aker How is converting an image to a 150kb file JPEG and then one version after (with exactly the same code) converting the same source image to a 4.5Mb file JPG "working as intended"?

And yes, the workaround does the job.

[2022-08-14 19:33] brianpopow commented on #2202
@br3aker thanks for double checking this, I also think everything works as intended. My initial thought that the XMP data should be capped at 65k bytes was wrong.

@tinyTarrasque are you not reading what we are commenting here? We said multiple times now, that the reason for the filesize being so big is mainly because of the 4 MB XMP data (XMP support was introduced with 2.0.0). What should we do

[2022-08-14 19:33] #2202 closed

[2022-08-19 02:02] JimBobSquarePants commented on #2198
Thanks. I'll have a dig into our LZW encoder

[2022-08-19 02:26] Seishiin opened #2209 "GetPngMetadata does not set HasTransparency correctly for palette-based PNGs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-08-22 16:00] lmerino-ep opened #2212 "IPTC tags written on jpg files that contains non-English characters can't be correctly displayed on external apps"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-08-22 16:28] tocsoft commented on #2212
@lmerino-ep thanks for finding this. Please feel free to open a PR with the fix.

[2022-08-24 14:12] auyargicoglu opened #2214 "In a Blazor Web Assembly project, async function calls are blocking the execution of UI side"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-08-24 14:57] #2212 closed

[2022-08-24 15:08] JimBobSquarePants commented on #2214
I'd raise this with the dotnet team.

[2022-08-24 15:48] louisjrdev commented on #2214
Maybe not 100% the solution you are after, but perhaps move all that code into a [WebWorker](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers), the browser only runs JS on a single thread ordinarily

[2022-08-24 16:15] Webreaper commented on #2214
This will likely improve once the .Net Blazor WebAssembly Multi-threading issue is completed (https://github.com/dotnet/aspnetcore/issues/17730). I haven't read the whole thread, but I think it might not make it into .Net 7 this year, but it is coming...

[2022-08-24 18:28] brianpopow commented on #2115
Closing this now, because without a test image this can not be reproduced. @CREFaulk feel free to open/comment here again, if you manage to get a image with that issue (which can be shared).

[2022-08-24 18:28] #2115 closed

[2022-08-25 06:27] JimBobSquarePants commented on #2214
That's the exact issue I was thinking about. We can't do anything about this here. If we're lucky we'll get out of band support but I think .NET 8 is more likely.

I'm gonna close this and mark as an upstream issue.

[2022-08-25 06:27] #2214 closed

[2022-08-28 00:28] BowserKingKoopa opened #2216 "Webp Image failing to compress properly"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-08-28 10:41] brianpopow commented on #2216
This seems to be a duplicate of #2171. Can you try our [nightly build](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp) to confirm?

[2022-08-28 12:09] mjeanrichard opened #2217 "AdaptiveThresholdProcessor throws IndexOutOfRangeException"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-08-28 14:34] BowserKingKoopa commented on #2216
Yes you are right. That nightly build fixes the issue. ImageSharp produces a beautiful 240k image just like Sqoosh. Awesome. Thank you so much.

[2022-08-28 14:38] #2216 closed

[2022-08-29 01:06] #2209 closed

[2022-08-29 14:53] tannergooding commented on #2117
Saw this on Twitter, gave some replies there going to paste them here as well...

At first glance, I don't see anything obvious. The algorithm for division hasn't changed here in a long time.

Conversion of `NaN` to `byte` has been zero for a long time as well. Well, at least for x86/x64, since `NaN` to integral returns `0x8000_0000` then truncate to byte gives `0x00` On Arm64 I believe it saturat

[2022-08-29 21:56] JimBobSquarePants commented on #2117
Thanks @tannergooding for having a look at this!

@brianpopow The intermittent replication on your machine has me thoroughly stumped.  I cannot understand why would be the case at all.

Setting the environmental setting `SIXLABORS_TESTING_PREVIEW` to true will also enable .NET 7 without having to adjust the `csproj`.

[2022-08-30 11:26] brianpopow commented on #2117
I have updated to `7.0.100-preview.7.22377.5` and it seems now to happen more frequently. I have run the tests in a loop of 20 iterations and the issue occurred in 19 / 20 cases.

[2022-08-30 13:32] brianpopow commented on #2158
What would be a solution to fix this issue?

- Use `VerifyEncoder` in `TestPngEncoderCore` and delete the PngEncoder reference images or
- Assume the reference images are correct and use `CompareToReferenceOutput()` instead?

[2022-08-31 12:53] JimBobSquarePants commented on #2117
Well that's interesting! And it only happens during release?

[2022-08-31 13:05] brianpopow commented on #2117
Yes, only in Release mode.

[2022-09-02 13:09] brianpopow commented on #2217
closed via #2221

[2022-09-02 13:09] #2217 closed

[2022-09-09 16:55] klou456 opened #2223 "CRC Error. PNG IDAT chunk is corrupt"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-09-09 17:22] brianpopow commented on #2223
@klou456 Is that Blazor Server code really necessary to trigger the issue? Would just loading the image trigger this? It would be good to have a simpler reproduction, I am not familiar with blazor.

[2022-09-09 17:41] brianpopow commented on #2223
There is maybe an issue on how you read the data from the stream:

`await inStream.ReadAsync(buffer, 0, buffer.Length)`

You should check the return value to actually match the number of bytes you want to read. From the documentation:

[code]

[2022-09-09 21:09] JimBobSquarePants commented on #2223
That’ll be exactly the issue. Stream reading was changed in .NET in a manner which enforced the need to use the APIs properly.

Why are you allocating and reading to that intermediate buffer? Use `Image.LoadAsync`

[2022-09-09 23:04] JimBobSquarePants commented on #2104
I'm gonna close this. It's been months without reply

[2022-09-09 23:04] #2104 closed

[2022-09-10 11:51] klou456 commented on #2223
Jim,
what I try to do is uploading image files and resize them if sizes are bigger than 1600 X 1200 (for example) in a Blazor Server .Net 6.0 app. The the same code works on .Net 5.0.
So what is your suggestion? Is it possible to send me a piece of code you think will resolve my issues? Anything I can change However I have to use  Blazor Server .Net 6.0. Thanks

[2022-09-10 11:57] JimBobSquarePants commented on #2223
Both the problem and solution have been described above. You’re expecting the stream read to always return the desired length which, as documented in the MS docs is an incorrect assumption.

You can avoid the issue entirely by reading the stream directly using `LoadAsync` instead of reading to the `byte[]` buffer.

[2022-09-10 13:11] klou456 commented on #2223
Thanks Jim, It works!

[2022-09-10 13:35] #2223 closed

[2022-09-12 02:54] JimBobSquarePants commented on #814
Fixed via #2219 !

[2022-09-12 02:54] #814 closed

[2022-09-12 06:14] JimBobSquarePants commented on #2178
Was going to have a look at this but realized `var img = Interlocked.Read(this.image);` doesn't compile.

[2022-09-12 06:32] br3aker commented on #2178
Hi! Well, I was sure it existed :P
I guess we can just use `private volatile Image<Rgba32> image;` and 'normal' load instead:

[code]

Whole idea with `Interlocked.Read` was about cache coherency which even if failed would be corrected by `Interlocked.CompareExchange` line.

[2022-09-13 16:11] tannergooding commented on #2117
A bug was found and fixed for floating-point corruption on MacOS: https://github.com/dotnet/runtime/pull/75440

But this was reproing on Windows as well, so its likely not the root cause.

[2022-09-13 19:51] saucecontrol opened #2227 "[Chore] Remove NoInlining from ThrowHelper methods"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-09-14 10:31] brianpopow commented on #2198
This is only a guess, but maybe the issue is not the LZW encoder and rather the how the quantization is done? I have checked the provided test image. It has only 253 color. Maybe in those cases (< 256 colors), we should not quantize the image again and go with the colors the image has.

[2022-09-14 10:48] JimBobSquarePants commented on #2198
Interesting… I thought both palettes were full.

I can do a test by encoding using the input palette to confirm

[2022-09-14 12:19] JimBobSquarePants commented on #2117
@tannergooding  Maybe actually. We're seeing the issue manifested during skew on Windows exclusively.

[2022-09-14 22:21] brianpopow commented on #2117
I have tried `7.0.100-rc.1.22431.12` and unfortunately still see this issue.

[2022-09-15 12:50] tannergooding commented on #2117
Ok, so I could reliably repro on RC1, but I cannot repro on RC2 (nightly build `7.0.100-rc.2.22464.26`).

There were ~161 commits between these two: https://github.com/dotnet/runtime/compare/release/7.0-rc1...release/7.0-rc2

Of those commits, the most likely to impact this would have been:
* https://github.com/dotnet/runtime/pull/74880 - Fix use of uninitialized memory for Vector3 constants
* htt

[2022-09-15 12:53] tannergooding commented on #2117
Hmmm, maybe I spoke too soon.

I'm still seeing the following in a clean build, but it won't repro after having been hit once:
[code]

[2022-09-15 15:10] tannergooding commented on #2117
I've root caused the bug. There looks to be a bug with `maxps` and `minps`.

This is the disassembly for `Bgra32.FromVector4` in .NET 6:
[code]

This is the codegen for the same method in .NET 7:
[code]

You'll note that these are basically identical (you can ignore the `GETSHARED_NONGCSTATIC_BASE` difference) except .NET 6 does (simplified):
[code]

But .NET 7 is doing (simplified):
[code]

This

[2022-09-15 17:01] brianpopow commented on #2117
@tannergooding: very happy to see, that you found the root cause of this. Thanks a lot for working on this issue and providing a fix!

[2022-09-16 05:17] JimBobSquarePants opened #2231 "Enable Nullable Reference Types"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-09-16 05:29] JimBobSquarePants opened #2232 "Performance optimization opportunities in common pixel formats."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-09-16 08:55] JimBobSquarePants commented on #2231
Thanks for the update. I thought they were two separate properties.

[2022-09-16 16:59] tannergooding commented on #2232
ImageSharp is .NET 6+ now, correct?

If you want to assign this to me, I can work on getting a fix up and take a peek at some of the other SIMD code for other .NET 6+ specific improvements.

[2022-09-16 20:02] blouflashdb commented on #2227
I would like to work on this.

[2022-09-16 20:14] brianpopow commented on #2227
@blouflashdb: Thank you, I have assign you to this task.

[2022-09-16 20:16] brianpopow commented on #2232
@tannergooding yes it's .NET6+ now. I have assigned you to this task, thanks!

[2022-09-16 20:31] JimBobSquarePants commented on #2232
@tannergooding Any and all suggestions will be deeply appreciated 😄

[2022-09-17 03:28] tannergooding commented on #2232
Few questions...
1. How would you like me to structure the PR(s)?
2. What's the consideration for `#ifdef` vs providing helper methods?
3. What's the recommended way to benchmark and present numbers as part of a PR?
4. How much "freedom" is there in changing internal implementation details of structs/methods?

For 1, I'm mostly asking as I can try and do several "smallish" PRs each targeting a spe

[2022-09-18 12:46] #2227 closed

[2022-09-18 22:21] JimBobSquarePants commented on #2232
Apologies for the slow reply, was offine this weekend.

I'll try to summarise a response to each question for you.

1. Since the focus is mostly on pixel formats here, I think we can err towards the larger side. I can see a lot of repitition on the horizon so it should be ok to review.
2. I'd like to avoid `#ifdef` where possible since we are only targetting the single framework. If we add `Arm64

[2022-09-18 23:25] tannergooding commented on #2232
Thanks a lot for the responses, they all make sense to me!

[2022-09-19 21:24] joaovsoares opened #2238 "Can't open some TIFs files (System.NotSupportedException: The specified TIFF compression format 'OldJpeg' is not supported)"
### Prerequisites

- [x] I have bought a Commercial License
- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%

[2022-09-20 10:19] brianpopow commented on #2238
I always hesitated to add support for decoding tiff's with "old jpeg" compression, because of ambiguity of the specification.
This ambiguity will make it hard to add support for this, since there can be multiple interpretations of the spec and this
will lead to many special case and headache's.

This "old jpeg" compression was ultimately dropped from the spec, because of the ambiguity. See this li

[2022-09-20 10:34] JimBobSquarePants commented on #2238
I’ll be honest here and say that I’m pretty unhappy with the approach taken here by the OP. Software development takes time and such time should not be given on the pretext that a software license may be bought. The demands are, to put it mildly, unreasonable.

Our issue tracker should also not be abused. Given that the OP does not hold a license they should not have opened a commercial issue.

De

[2022-09-20 12:26] joaovsoares commented on #2238
@brianpopow thanks for the answer.

Old scanner software... :/
To put it simple, our company has many "special" scanners that scan with high speed.
It is an expensive component to replace and they are scattered across the country.

@JimBobSquarePants thanks for the answer.

I'm very sorry about the start approach. And I'll agree at some point with you, but still at this moment, we need a component

[2022-09-22 12:40] tocsoft commented on #2231
I'll drop the comment in here to, for high level general approach on how to take the task.

This issue will need to be tackled in a few phases.

1. **Enable nullability checks globally _(single PR)_**
    update `csproj`s but inline disable the check for any/all files that are reporting warning because of it.
    This enables us to get new code checked correctly and/or existing code that is alread

[2022-09-22 17:18] bkolo commented on #1129
how about the ability to fingerprint image for a large library of images to identify similar images  using a  stored hash in a database

[2022-09-22 18:21] brianpopow commented on #2117
closing this now with #2230 merged

[2022-09-22 18:21] #2117 closed

[2022-09-22 21:56] antonfirsov commented on #1129
ImageComparer intends to define a numeric similarity metric to measure difference between two images, it's primary usage is testing.

Image fingerprinting / hashing is a different feature. If this is something you are seriously interested in and you can give us ideas with specific algorithms or examples from other projects in mind, I recommend [opening an Idea Discussion](https://github.com/SixLab

[2022-09-25 01:35] JimBobSquarePants commented on #1129
@coenm wrote a library for hashing years ago.

https://www.nuget.org/packages/CoenM.ImageSharp.ImageHash

[2022-09-26 01:26] JimBobSquarePants commented on #2198
Looks like there is an issue with compression.

I'm using a cool little app called [gifiddle](https://github.com/ata4/gifiddle) to compare the output having hacked our code to always preserve the global palette.

As you can see from the metrics the palette is the same, but we are failing to compress it as well as the input.

<img alt="image" src="https://user-images.githubusercontent.com/385879/19

[2022-09-26 05:22] JimBobSquarePants commented on #2198
I rewrote the LzwEncoder based on https://github.com/deanm/omggif and was able to make a couple of very minor savings (62 bytes) due to the fact that we max out our subblock sizes at 254 instead of 255 bytes. I may actually switch it out because it's about half the code of our existing implementation.

However, that doesn't actually begin to touch the difference. I can only surmise that it must be

[2022-09-27 02:20] jmilbrandt2 opened #2242 "GrayScale Image with high dynamic range being treated as binary"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-09-27 02:21] BowserKingKoopa opened #2243 "ImageSharp can't load Photoshop webp images"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-09-27 02:21] jmilbrandt2 commented on #2242
this image is in Tiff format

[2022-09-27 04:25] JimBobSquarePants commented on #2243
Stick the image in a zip file. We can’t do much without it.

[2022-09-27 04:47] BowserKingKoopa commented on #2243
[photoshop-webp.zip](https://github.com/SixLabors/ImageSharp/files/9651573/photoshop-webp.zip)

The webp image zipped and attached, saved from the latest version of Photoshop with default settings.

[2022-09-27 04:51] JimBobSquarePants commented on #2242
By default, the TiffDecoder will decode images as `Rgba32` when using the non-generic API, (_something we can look into updating for v3 based upon the bit depth_), so you will not be capturing the image information since you are squashing 16bpp info into 8bpp.

Currently you can use `Image.Identify(...)` to determine the correct bit depth and make intelligent decoding choices, however, given that

[2022-09-27 04:51] #2242 closed

[2022-09-27 11:32] brianpopow commented on #2243
output from webpinfo:
[code]

[2022-09-27 11:44] brianpopow commented on #2243
Yes we can skip this, should be an easy fix (if the length is correct)

[2022-09-28 00:17] #2243 closed

[2022-09-28 16:57] joaovsoares commented on #2238
@brianpopow and @JimBobSquarePants
**Update**: As I said before, we had commercial intentions. Last Monday we bought an ImageSharp license.  \o/

By the way, I've noticed from the commits that you're putting effort into this implementation, and we really appreciate it. Thank you very much. If you need, I can provide more example files. I don't know if just the one I provided helped...

[2022-09-28 17:57] brianpopow commented on #2238
@joaovsoares Thanks for buying a license and yes I have started working on this. Decoding the provided image works so far.

Having more example images maybe from different scanner vendors would help, because there are different variations of this compression.

By the way: Can I use the image you have provided here in a unit test or is that confidential?

[2022-09-28 19:06] joaovsoares commented on #2238
@brianpopow I'll look for more examples.
But maybe I can't guarantee they are from different vendors.

It's some sort of confidential.
BUT, if you can hide the "Aluno" field (first field), it's OK.

[2022-09-28 19:19] brianpopow commented on #2238
BUT, if you can hide the "Aluno" field (first field), it's OK.

Cannot do that without re-encoding. Maybe you can provide another black and white example, which can be used for unit tests? Maybe from the same scanner? I dont have a black and white example besides the one you have provided here.

[2022-09-28 19:31] joaovsoares commented on #2238
I'm going to ask them to scan a blank form. But as I said, they are spread across the country, so it might take a while.

[2022-10-04 01:26] enkodellc commented on #2223
I am getting this error with a png on my server side blazor / .net core 6. I tried LoadAsync as well with no luck.

[2022-10-04 22:14] JimBobSquarePants commented on #2232
Congratulations on the house!

No worries, enjoy your break. Looking forward to seeing what you come up with!

[2022-10-06 08:28] lennart02 opened #2255 "TiffEncoder with TiffCompression throws System.IndexOutOfRangeException"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-10-06 12:36] brianpopow commented on #2255
The problem is that the `BitsPerPixel` is not choosen correctly here. Its not `TiffBitsPerPixel.Bit1`, which it should be for this compression method.

You can enforce it to be 1 Bit by setting the encoder option `BitsPerPixel = TiffBitsPerPixel.Bit1`, which should fix your issue, but we should change the encoder to choose 1-Bit, when the compression is one of the 1-Bit type.

Also note: `Compress

[2022-10-07 06:04] lennart02 commented on #2255
Thank you, that really helped my problem.

[2022-10-08 12:33] xpetrik opened #2257 "Broken image conversion from WebP to PNG format"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-10-09 10:17] #2255 closed

[2022-10-09 11:33] #2257 closed

[2022-10-09 13:02] neilgd opened #2259 "Loading image from a stream doesn't start at the current position"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-10-10 09:31] hamarb123 commented on #1202
I think I have a solution that could work, here's how it could work.

Basically we can use `Unsafe.As` and `Unsafe.SizeOf` to re-interpret the pixel type to an unmanaged type whenever required (along with checking that types are valid with `IsReferenceOrContainsReferences`). Depending on which APIs you use this may or may not require knowing the possible sizes in advance (this would only really be

[2022-10-10 13:18] antonfirsov commented on #1202
If anything, a solution should be an external utility IMO. Maintaining workarounds for an unmaintained language is hardly worth the efforts.

[2022-10-10 14:30] joaovsoares commented on #2238
@brianpopow , I just attached examples of images from 2 different scanners models. I'm looking for more exemples, but we can start with this. You can use this images in your tests.

[Scanner1.zip](https://github.com/SixLabors/ImageSharp/files/9746742/Scanner1.zip)
[Scanner2.zip](https://github.com/SixLabors/ImageSharp/files/9746743/Scanner2.zip)

[2022-10-10 20:40] hamarb123 commented on #1202
I looked through the code and found only 1 instance where `unmanaged` was actually required for compilation, it was [here](https://github.com/SixLabors/ImageSharp/blob/b4556632d7b5e33cc6c3d29a7866901412ca4fc1/src/ImageSharp/Memory/UnmanagedMemoryManager%7BT%7D.cs#L51). This can easily be replaced with `return new MemoryHandle((byte*)this.pointer + (elementIndex * Unsafe.SizeOf<T>()), pinnable: thi

[2022-10-11 08:40] The-MAZZTer commented on #2188
Ah sorry. I was a bit confused and panicked since my coworkers at work have
been pushing ImageSharp and I am certain we have no commercial license.
Thanks for clarifying. Should have realized someone else would have
reported something like this already.

On Sat, Jul 23, 2022, 10:47 PM James Jackson-South ***@***.***>
wrote:

[2022-10-11 08:42] JimBobSquarePants commented on #2188
No worries. You’re coworkers are wise to push ImageSharp though. It’s awesome 😉

[2022-10-11 13:17] aistvan opened #2263 "Can't open some TIFs files (System.NotSupportedException: The specified TIFF photometric interpretation is not supported: Separated)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-10-11 21:52] hamarb123 commented on #1202
Fair enough, I do think it is a shame though, and basically blocks me from using this library for quite some time since I have a large amount of pre-existing VB.NET code that is slowly being converted to C#.

Also, I don't think most people who have this issue would have upvoted this issue btw (e.g. I hadn't even thought to do it until you mention it now). So it is likely many, many more than 3 (e

[2022-10-12 11:39] brianpopow commented on #2238
@joaovsoares: Thanks, good news, we can decode all of those. I have added now a test for this.

[2022-10-12 20:01] antonfirsov commented on #1202
Obviously, upvotes do not represent absolute truth, but it's useful as a relative metric, together with the activity of the discussion board. Note that this issue is a significant blocker for VB users who want to adapt ImageSharp, which means that I would expect them to land on this issue and complain, but - honestly - there wasn't much traffic since we opened it. This is another indicator that -

[2022-10-13 01:58] JimBobSquarePants commented on #2238
Fixed via #2266

[2022-10-13 01:58] #2238 closed

[2022-10-14 10:42] brianpopow commented on #2263
Closing with #2268 merged

[2022-10-14 10:42] #2263 closed

[2022-10-14 11:34] aistvan commented on #2263
Yes, I'm serious. I think an image handling lib's one of the most important goal must be to support the image hanling itself.
And yes, I read the exception, but for me, who is not an "imaging" developer, it doesn't say anything.

Nice. I tried to keep myself away from tiff images, but we have marketing and they used it a lot.
I must support them. If ImageSharp doesn't work for me, I have to look f

[2022-10-14 11:35] JimBobSquarePants commented on #2263
Do you pay for this? Does marketing?

[2022-10-14 11:42] aistvan commented on #2263
No. Wife.

[2022-10-19 21:48] Jacbo1 opened #2273 "PNG can only save as R8 for 1 component formatting but Images only support A8"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-10-20 02:57] JimBobSquarePants commented on #2273
We need a lot more information here. I do not understand the issue you have raised.

[2022-10-20 03:00] Jacbo1 commented on #2273
Images only have 1 pixel format that supports a single color component (A8) and PngEncoder also only has one pixel format that supports a single color component which is R8 (named Grayscale). When ImageSharp tries to save A8 as R8, it sets every pixel in the new image to 255 instead of the alpha value. This is true for trying to load an R8 png. It just loads an image of the same resolution with ev

[2022-10-20 03:05] JimBobSquarePants commented on #2273
Image? What images.

[2022-10-20 03:05] Jacbo1 commented on #2273
The Image class

[2022-10-20 03:08] Jacbo1 commented on #2273
The Image class e.g. `Image<A8>`

![image](https://user-images.githubusercontent.com/86734639/196847031-c4abd379-eea7-4975-8825-61c982b52ab0.png)
Grayscale is the only one that supports 1 color component and it is incompatible with `Image<A8>`

[2022-10-20 03:16] JimBobSquarePants commented on #2273
There are currently 3 pixel-formats that hold a single component.

1. `A8` (Alpha 0-255)
2. `L8` (Luminance 0-255)
3. `L16` (Luminance 0-65535)

Both `L8` and `L16` calculate the luminance based upon the formula defined by ITU-R Recommendation BT.709

There's no such thing as `R8`. Nor does the png specification support such a thing. For bit depths of less than 8 you must use `PngColorType.Palette

[2022-10-20 03:20] Jacbo1 commented on #2273
I mean... that's how the png encoder in Unity saves them. And that's how they seem to be stored. ImageSharp certainly isn't loading them properly when stored to A8.

[2022-10-20 03:20] JimBobSquarePants commented on #2273
If what you are looking for is new pixel formats to represent the separate R, G, and B components then that is a feature request, and you should not have opened an issue.

[2022-10-20 03:24] Jacbo1 commented on #2273
![brush_circle](https://user-images.githubusercontent.com/86734639/196849111-afe10a9c-1e23-4306-8925-4995475b054b.png)

[2022-10-20 03:24] Jacbo1 commented on #2273
Loading this as A8 and drawing to an Image<Argb32> just draws a black square

[2022-10-20 03:39] JimBobSquarePants commented on #2273
Which is absolutely expected since the alpha component of each pixel in the image at 8 bits is 255 and there is no information for the R-G-B components.

[code]

I've independently verified our image and it is an 8-bit image encoded with grayscale format. `L8` would be the most appropriate pixel format to use as it was designed specifically for that scenario.

<img width="528" alt="image" src="htt

[2022-10-20 03:41] Jacbo1 commented on #2273
Alright that works. I had no idea what L8 was and the description made it seem like some advanced format with complicated operations.

[2022-10-20 03:41] #2273 closed

[2022-10-24 11:00] #2259 closed

[2022-10-25 12:12] jez9999 commented on #138
@KLuuKer All the same, it still doesn't reproduce that pixel-perfect aligned text produced by System.Drawing, does it?  I totally know what you mean by that, it makes Arial look just perfect.

@tocsoft Was this ever fixed with ImageSharp?  I've been experimenting with the latest (1.0.0-beta15) and as this issue above says, antialiased looks alright (though not the same as the "pixel perfect" look,

[2022-10-25 12:32] JimBobSquarePants commented on #138
Try the latest MyGet build with hinting enabled. I’ve just done a ton of work there.

[2022-10-25 12:50] jez9999 commented on #138
Wasn't intended as a negative, more as a factual description of how difficult it is to actually read. :-)

Sorry, I don't know what you mean by the MyGet?

[2022-11-01 18:53] pha3z opened #2287 "IccProfile Comment is Incorrect"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-11-03 00:55] JimBobSquarePants commented on #2287
Thanks for this. Please open a PR.

[2022-11-03 14:21] SigmundurMorkore opened #2288 "Gifs sometimes get optimized incorrectly"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-11-06 16:32] bjh0 commented on #1992
I came here to make a similar report, and found this issue already open.  @dlemstra's comment is not true for me: ExifTagValue.InteroperabilityIndex has the value that I would expect to find in ExifTagValue.GPSLatitudeRef, and ExifTagValue.GPSLatitudeRef has no value at all.

[2022-11-07 01:50] JimBobSquarePants commented on #1992
We should split up the enum for V3.

[2022-11-07 04:06] JimBobSquarePants commented on #2288
I think the issue here is that we always encode the GraphicsControlExtension even though it is optional. I should be able to code up a workaround to prevent this.

[2022-11-07 06:56] JimBobSquarePants commented on #2198
I had another look at this using https://ezgif.com/ to experiment. The original is definitely using lossy encoding. It's the only way to make those saving.

[2022-11-07 10:48] SigmundurMorkore commented on #2288
@JimBobSquarePants awesome :D

Is the weird artifacting (around the "V") in the second example a separate issue?

[2022-11-07 10:58] JimBobSquarePants commented on #2288
Ah... Didn't spot that. Separate issue. Not sure what the cause is there....Yet

[2022-11-07 11:38] JimBobSquarePants commented on #2288
OK. The issue there is that the image contains both global and local color tables but we only support one or the other.

BTW. I wouldn't currently recommend resizing/cropping multi-frame gifs in this manner with ImageSharp. Unfortunately, a current architectural limitation requires that all frames are the same size so each frame is padded if smaller to match. This can lead to multi-frame images be

[2022-11-07 13:02] SigmundurMorkore commented on #2288
Aah I see, makes sense 👍

Is it possible for ImageSharp to implement support for gifs with both kinds of color tables?
I may want to look into a tool that can convert gifs with both global and local color tables to just use one or the other.

Thanks for the info on resizing/cropping!

[2022-11-07 14:29] JimBobSquarePants commented on #2288
It's absolutely possible. Working on a fix just now. Might take me a few days though.

[2022-11-07 15:13] JimBobSquarePants commented on #2288
![OptionalExtensionsShouldBeHandledProperly_Rgba32_issue_2288_2](https://user-images.githubusercontent.com/385879/200345287-327698ac-69f2-46b9-9347-3a54e3e985f4.gif)

Got some cleanup and investigation to do but this is major progress

[2022-11-07 16:56] SigmundurMorkore commented on #2288
That looks perfect! ❤️

[2022-11-08 14:18] SigmundurMorkore opened #2293 "ProPhoto RGB images converted to WebP have incorrect colors"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-11-08 15:35] brianpopow commented on #2293
The issue is, that the color profile is not preserved with version 2.1.3. This was already fixed with [PR-2109](https://github.com/SixLabors/ImageSharp/pull/2109), but is not yet released with a stable version.

You can try our nightly builds from [MyGet](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp)

[2022-11-15 01:49] #2288 closed

[2022-11-16 16:53] MaciejSzulborski opened #2297 "created/overwritten/copied TIFF images are invalid for Adobe Premiere Pro"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-11-16 17:14] brianpopow commented on #2297
What is the memory stream used for in your repro? Seems unnecessary.

The following should be enough:
[code]

I kind of doubt that there is an issue with "the file header" of ImageSharp tiff's.
`tiffinfo` from `libtiff` does not report any errors. ImageMagick with `imagemagick identify -verbose` does not report any error.

Also I can open ImageSharp Tiff images with any viewer I have:
- gimp
- pan

[2022-11-17 10:00] MaciejSzulborski commented on #2297
Hi,

Thank you for a prompt reply.

The memory stream was my bad, I forgot to delete it after simplifying my
example.

I have to agree with you about the header, I took the stream of the file to
decode the header into hexdec string, and read about tiff format headers.
It all seems fine. I also read on various blogs that Premiere Pro "header
error" is an unhandled exception for any issues when impo

[2022-11-17 13:48] brianpopow commented on #2297
Maybe try a 1x1 pixel image. Save a 1x1 black pixel image with ImageSharp and again with another program you know is working with PremierePro. Then compare those binary and see what the difference is.

Maybe it's as simple as the file extension is not as expected? Tiff instead of Tif?
A quick google search shows that this indeed can cause this issue.

Other then that, I am not sure what we can do

[2022-11-17 15:50] MaciejSzulborski commented on #2297
I created 2 1px files:
-1pxPaint.tif
-1pxImageSharp.tif

1pxImageSharp was created like so:
[code]
Encoder was needed because Paint creates Tiff with LZW Compression by default, and I wanted files to be identical.

Comparing 2 files I can see:
 - Different file size: ImageSharp 221KB, Paint 222KB
 - Difference in **header** and the entire byte array (I read that header is first 8 bytes)

1pxPaint:

[2022-11-17 16:39] brianpopow commented on #2297
paint:
4949 byteorder
2A00 magick byte
0E00 FirstIfdOffset

imagesharp:
4949 byteorder
2A00 magick byte
0D00 FirstIfdOffset

The difference is that imagesharp ifd offset starts at offset 13 and paint starts at 14. After double checking the spec, this could be indeed a violation of the spec: "The directory may be at any location in the file after the header but must begin on a word boundary."

[2022-11-17 19:54] brianpopow commented on #2297
@MaciejSzulborski can you try opening the following tiff with premiere pro:

[1pxImageSharp.zip](https://github.com/SixLabors/ImageSharp/files/10035065/1pxImageSharp.zip)

I have adjusted the ifd offset there to start at the word boundary.

[2022-11-18 08:57] MaciejSzulborski commented on #2297
Unfortunately Premiere Pro throws the same error.

[2022-11-18 11:38] JimBobSquarePants commented on #2297
If the adjusted tif has exactly the same bytes as the paint one then that sounds like a bug in premier pro.

[2022-11-18 11:39] brianpopow commented on #2297
That's really unfortunate, I really thought this should work now. The header looks the same as from paint now:

4949 byteorder
2A00 magick byte
0E00 FirstIfdOffset

[2022-11-18 11:47] MaciejSzulborski commented on #2297
I have decoded .tiff file you attached and it looks like header is identical now, but there are still differences in the full byte array.
1pxPaint:
49492A000E0000008000205010000F00FE00040001000000000000000001040001000000010000000101040001000000010000000201030003000000C80000000301030001000000050000000601030001000000020000001101040001000000080000001501030001000000030000001601040001000000010000001701

[2022-11-18 12:05] JimBobSquarePants commented on #2297
Ok so still differences. Thanks!

[2022-11-18 12:24] brianpopow commented on #2297
The header is identical, though.

@JimBobSquarePants: Is the rest of the lzw compressed data really expected to be identical? It can be a different lzw implementation and still be valid if I am not mistaken.

It would be easier to compare against uncompressed data, but I dont see any option to change that in paint.

[2022-11-18 13:40] brianpopow commented on #2297
Ok I have compared the lzw pixel data, it looks exactly the same:

Compressed lzw pixel data bytes:
128
0
32
80
16

The difference comes from different properties. For example ImageSharp writes the "Software" Property and set's it to "ImageSharp".

[2022-11-18 15:27] MaciejSzulborski commented on #2297
Ok, I see we've hit a brick wall with LZW.

Before trying out ImageSharp, I used to create .tiff images with `System.Windows.Media` which is unfortunately not a part of .net 6. So I went back to the old .Net Framework 4.8 and created a .tif file there. It can be imported with Premiere Pro and has 222 Bytes just like the one from Paint (with LZW).

Creating "1pxSystemWindowsMedia.tif"  with .Net Fr

[2022-11-18 19:34] brianpopow commented on #2297
@MaciejSzulborski can you try open this image here again with adobe premiere:
[imagesharp.zip](https://github.com/SixLabors/ImageSharp/files/10044292/imagesharp.zip)

We are storing SamplesPerPixel as Long instead of Short, maybe that's what trips of adobe premiere.

[2022-11-18 19:47] MaciejSzulborski commented on #2297
File you shared was successfully imported by Adobe Premiere Pro. SamplesPerPixel type must have been an issue.

When can you implement changes in ImageSharp?

[2022-11-18 19:51] brianpopow commented on #2297
Great to hear, thanks for testing and providing the example data.

I have already a branch with the changes, but I want to double check one last thing tomorrow before opening up a PR.

[2022-11-18 19:54] MaciejSzulborski commented on #2297
That's great news. Thank you for working on this with me, and fixing this issue.

[2022-11-18 20:05] JimBobSquarePants commented on #2297
Great work @brianpopow !! 😍

[2022-11-18 21:13] dlemstra commented on #2297
It should be a short according to the specs: https://www.awaresystems.be/imaging/tiff/tifftags/samplesperpixel.html

[2022-11-21 05:12] #2297 closed

[2022-11-23 14:19] Kiritsu commented on #138
Hey @jez9999, have you found a good configuration to make it render as good as possible?

I've tried lots of different fonts (including "pixel-like" fonts), playing with the Brushes/Pens and Hinting. Probably a me-problem but I couldn't manage to play with aliasing's options.

I couldn't get something clearer than this:
![image](https://user-images.githubusercontent.com/22667054/203568485-48173d04

[2022-11-24 06:56] JimBobSquarePants commented on #138
What do you mean by this? Are you using the [1.0.0-beta19](https://www.nuget.org/packages/SixLabors.Fonts/1.0.0-beta19). The hinter has been fixed and works the same as Freetype's one now.

That's more an issue than the font rendering IMO. You always need tolerance when doing color replacement. ImageSharp.Drawing has a `RecolorBrush` to do this.

Though of course the smart thing to do would be to

[2022-11-30 10:24] sedjura opened #2300 "SixLabors create an invalid file after conversion"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-11-30 12:46] tocsoft commented on #2300
could there be a rouge null byte in the header somewhere that causes paint to freak out... and could posibly be the cause on the s3 stream failing too when it reaches that byte?

[2022-11-30 12:48] JimBobSquarePants commented on #2300
In the XMP chunk header? Yeah maybe. Odd that s3 would parse that far though.

[2022-11-30 13:05] sedjura commented on #2300
Thanks a lot for a quick answer.
Actually I tried setting XMP profile to null but error still shows up. After that I also set ExifProfile to null and everything worked.
For proper conversion I need to set both of them.
`        sixLaborsImage.Metadata.ExifProfile = null;
        sixLaborsImage.Metadata.XmpProfile = null;`

[2022-11-30 14:32] JimBobSquarePants commented on #2300
That doesn’t reflect what I am seeing. EXIF works fine for me.